<h2 class="textbook-section-title" id="title3"><strong>3 : 總結</strong></h2>
        <h4 id="chapter4-3">
          網站在，<strong><u>保存利用者發信的資料到資料庫裡，之後顯示這些保存的資料。</u></strong>
          <br><br>
          所以要做網站的話，<strong class="little-remarkable"><u>先作資料庫之後，在保存資料。</u></strong>
          <hr class="red-hr">
          框子的詳細的設定<a href="/zh-TW/mugcups/4#title1-4" target="_blank"><strong>參考這裡</strong></a>、
          <br>
          內容的操作<a href="/zh-TW/mugcups/4#title2-4" target="_blank"><strong>參考這裡</strong></a>。
          <hr>
          <i class="fa fa-star color-blue"></i>
          <strong>
          　到這裡，關於資料的保存的內容大概做完了。
          <br>
          　　 下章，咱們顯示網頁！
          <br><br>
          　　設定的內容<a href="/zh-TW/codes/4" target="_blank">從這裡看</a>。
          </strong>
        </h4>