<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
        <h4 id="chapter4-0">
        <i class="fa fa-bookmark color-red"></i>　<strong>學習，在資料庫裡保存資料的方法。</strong>
        <hr>
        到這裡咱們學習了用Ruby on Rails作網站跟打開網站的方法。從這個章開始學習<strong><u>怎麼設定網站的詳細</u></strong>。
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong><u>咱們複習一下吧。</u>用Ruby on Rails做網站的時候，要設定什麼呢？</strong>
          <br><br>
          那個是<a href="/zh-TW/mugcups/2#title1-1" target="_blank"><strong>網頁的顯示</strong></a>跟<a href="/zh-TW/mugcups/2#title1-2" target="_blank"><strong>資料的保存</strong></a>。（<a href="/zh-TW/mugcups/2#title1" target="_blank"><strong>請參考第二章</strong></a>）
          <br><br>
          這個可以換成說，要設定
          <strong>
          <ul class="number_ul">
            <li>網站提供者的網頁的顯示</li>
            <li>利用者的資料的發信</li>
          </ul>
          </strong>
          這個兩個。
          <br>
          <small>※　內容<a href="/zh-TW/mugcups/1#title2" target="_blank"><strong>請參考第一章</strong></a>。</small>
          <hr class="red-hr">
          <strong><u>詳細的說明這個網頁的顯示跟資料的保存</u></strong>，
          <br><br>
          <ul class="number_ul">
            <strong class="color-red"><li>網頁的顯示</li></strong>
            隨着操作資料的方法，<strong><u>設定「資料的顯示・新增・編輯・刪除」四種網頁</u></strong>。
            <br><br>
            <strong class="color-blue"><li>資料的保存</li></strong>
            <strong><u>先設定資料的構造之後，各個網頁上設定資料的操作「資料的顯示・新增・編輯・刪除」</u></strong>
            <br><br>
            這個資料的保存的設定裡有
            <br>
            <strong><u>⑴ : 資料庫的構造的設定　⑵ : 保存資料方法的設定</u></strong>
            <br>
            這個兩種。
            <br><br>
            <strong class="color-red">在「資料庫構造的設定」</strong>，決定資料庫要保存這麼樣子的資料(決定Excel表的第一行)，
            <br>
            <strong class="color-blue">在「保存資料方法的設定」</strong>，決定資料的顯示跟保存的方法「資料的顯示・新增・編輯・刪除」。
          </ul>
          <small>※　詳細的內容<a href="/zh-TW/mugcups/2" target="_blank"><strong>請參考第二章</strong></a></small>
          <hr class="red-hr">
          在這個章解釋<strong>「<u>資料的保存</u>」</strong>。
          <br><br>
          <strong>那麽先開始學習「<u>作資料庫構造的方法</u>」吧！</strong>
</h4>