<h2 class="textbook-section-title" id="title2"><strong>2 : 保存資料</strong></h2>
        <h4 id="chapter4-2">
        到這裡我們作了資料庫的構造。在這裡、<strong><u>在資料庫裡保存資料！</u></strong>
        </h4>
        <%= render "page4/zh-TW/title2_1" %>
        <hr>
        <%= render "page4/zh-TW/title2_2" %>
        <hr>
        <%= render "page4/zh-TW/title2_3" %>
        <hr>
        <%= render "page4/zh-TW/title2_4" %>