        <h4 id="chapter4-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 編輯資料庫的構造</strong></p>
        <br>
        到這裡、解釋了作資料庫的方法。
        <br><br>
        但是，剛開始就作好完成的資料庫是有一點難。<u>弄錯設定想追加或者刪除框子的時候</u>要這麼辦呢？
        <br>
        <strong class="little-remarkable"><u>在這裡，解釋編輯框子的方法。</u></strong>
        </h4>
        <hr class="red-hr">
        <%= render "page4/zh-TW/title1_3_1" %>
        <hr>
        <%= render "page4/zh-TW/title1_3_2" %>