<h2 class="textbook-section-title" id="title1"><strong>1 : 网路是做什么呢？</strong></h2>
<h4 id="chapter1-1">
  日常我們在用的网路。知道它是怎么动吗？
  <hr>
  <ul>
    <li>投稿的文章是去哪里呢？</li>
    <li>在微博上，送去的图像在哪里呢？</li>
    <li>网站是在做什么呢？</li>
  </ul>
  <hr>
  不知道事情应该很多。
  <br>
  <br>
  可是，在网路上做的事情只有<strong class="remarkable">两个</strong>。
  <br>
  那是，<strong class="remarkable">资料（文章，图像，动画...）的现实跟保存</strong>。
</h4>