<h4 id="chapter1-2-2">
          <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 资料的保存</strong></p>
          <br>
          到这里，简简单单的解释了<strong><u>网路上资料的显示</u></strong>。
          <hr class="red-hr">
          但是，网路不只是在显示资料。
          <br><br>
          比如说像<strong> Facebook的投稿 </strong>，利用的人可以发信自己的讯息。网站不只在做网站作者的资料的显示，还在做利用者的发信。
          <br>
          <strong class="little-remarkable color-red">提供者的资料的显示</strong>跟<strong class="little-remarkable color-blue">利用者资料的发信</strong>这个双方的资料在构成网路。
          <br><br>
          提供者的资料是用上次解释的HTML文件显示。
          <br>
          <strong>呢么，利用者发信的资料是去哪里呢？</strong>
          <hr>
          <i class="fa fa-question-circle color-green"></i>
          <strong class="little-remarkable">利用者发信的资料是去哪里呢？</strong>
          <br><br>
          用 Facebook 的投稿，解释吧。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Post.png",
                                :width => "90%",
                                :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Post.png",
                      :target => ["_blank"] %>
          点击「投稿」的时候，关于这个投稿的资料会送到<strong><u>动网站的机器（服务器）</u></strong>。用上面的投稿的画面说的话，<span class="color-red">「会员是'山田太郎'、内容是'Hello World'、地方是'東京都新宿'」</span>等等...
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_Before.png",
                                :width => "90%",
                                :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_Before.png",
                      :target => ["_blank"] %>
          这样送过去的资料会怎么样呢？
          <br>
          送过去的资料会保存在，动网站的机器（服务器）里面的<strong><u>像Excel软件的表一样保存资料的表（资料库）</u></strong>里面。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_After.png",
                                :width => "90%",
                                :class => "textbook-title-img hover_img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Save_Data_After.png",
                      :target => ["_blank"] %>
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/FB_database.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/FB_database.png",
                      :target => ["_blank"] %>
          这样子，<strong><u>用户发信的资料就保存在动网站的机器（服务器）里面的Excel软件的表（资料库）</u></strong>。
          <br><br>
          使用这个保存在资料库里的资料，显示利用者的资料。Facebook的话是主页、Twitter的话是推特。
          <br>
          <small>※　在这里保存的资料不只是新增，还可以更新，删除</small>
</h4>