          <h2 class="textbook-section-title" id="title3"><strong>3 : 总结</strong></h2>
          <h4 id="chapter1-3">
          <i class="fa fa-star color-blue"></i>　<strong>网路上做的事情只有<u>资料的显示跟保存</u></strong>
          <br><br>
          <i class="fa fa-star color-blue"></i>　<strong><u>显示提供者的资料跟保存利用者的资料</u>这个两个资料的往还，在做提供者跟利用者的交流。</strong>
          </h4>
          <hr>
          <h4 class="little-remarkable">
          <strong>
            在下章，解释作网站的软件「Ruby on Rails」。
          </strong>
          </h4>