<h4 id="chapter1-2-1">
  <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 资料的显示</strong></p>
  <br>
  网站在显示资料。在这里，看看网站是怎么样显示画面吧！
  <br><br>
  首先打开Facebook吧！<strong><u>Facebook的主页，大概是这样吧。</u></strong>
  <br>
  <%= link_to (image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB1.png",
                         :width => "90%",
                         :class => "textbook-title-img hover_img"),
               "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB1.png",
               :target=>["_blank"] %>
  <br>
  呢么，我們看看什么东西在显示这个网站！
  <hr>
  如果你在使用 Chrome 浏览器 的话，
  <br>
  选择在上面的<strong class="little-remarkable color-blue">「View > Developer > ViewSource」</strong>(参考下面的图像)。
  <%= link_to (image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/Chrome_View_Developer_ViewSource.png",
                         :width => "90%",
                         :class => "textbook-title-img hover_img"),
               "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/Chrome_View_Developer_ViewSource.png",
               :target=>["_blank"] %>
  <br>
  会显示像下面的网页。
          <%= link_to (image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB_Code.png",
                                 :width => "90%",
                                 :class => "textbook-title-img hover_img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB_Code.png",
                      :target=>["_blank"] %>
  这个长长的文章在决定网站里显示的文章，图画，动画 等等。
  <br>
  <small>※ 如果一个一个找的話，您可以找到您的名字。</small>
          <br><br>
          在显示文章，图画，动画的东西叫<strong class="little-remarkable"><u>HTML文件</strong></u>。
          <hr>
          </h4>