<h4 id="chapter2-1-2">
        <p id="title1-2"><i class="fa fa-tags color-blue"></i>　<strong class="remarkable">② : Railsのデータ</strong></p>
        <br>
        Railsでは、データの表示と保存の方法に応じてページに役割が振り分けられていることを説明しました。
        <br>
        では、そのデータとはどのようなものなのでしょうか？
        <hr class="red-hr">
        <a href="/pages/1">前の章</a>で、それはウェブページを動かしている機械（サーバー）の中にあるデータベースに保存される利用者が発信した情報だと説明しました。
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/FB_Save_Data.png",
                              :width => "90%",
                              :class => "textbook-title-img hover_img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/FB_Save_Data.png",
                    :target => ["_blank"] %>
        <br>
        例えばFacebookの投稿であれば、<span class="color-red">利用者の投稿が「投稿した人の名前は山田太郎、投稿した内容は"Hello world"、場所は東京都新宿、画像はなし...」</span>のような情報でサーバーに送信され、それが<strong><u>サーバー内のデータベース（Excelの表）</u></strong>に保存されます。
        <br><br>
        <i class="fa fa-play-circle color-blue"></i>　<strong>Railsで保存されるデータもこれと同じで、利用者が発信した情報をウェブページの機械（サーバー）の中のデータベースに保存し、それがページに表示されます。</strong>
        <hr>
        Railsでは、利用者が発信した情報が保存される<strong><u>⑴データベースの枠組みの定義</u></strong>（Facebookの例でいうと、名前・内容・場所など）と、ページで入力され送信されたデータの<strong><u>⑵データベースへの代入と保存</u></strong>を行います。
        <hr class="red-hr">
        <%= render "page2/title1_2_1" %>
        <hr>
        <%= render "page2/title1_2_2" %>
</h4>