<h4 id="chapter2-2-1">
        <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : ターミナル</strong></p>
        <br>
        まずは開いてみましょう！下の画像を参考に開いてみてください
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open.png",
                    :target => ["_blank"] %>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open_Done.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open_Done.png",
                    :target => ["_blank"] %>
        ターミナルは開けたでしょうか？
        <br>
        このターミナルはなんなのでしょうか？
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>ターミナルはどのようなアプリケーションなのか？</strong>
        <br>
        <br>
        ターミナルとは、コンピューターに命令を与えるアプリケーションです。
        <br>
        Ruby on Railsのウェブページもターミナルの命令で作ります。
        <hr class="red-hr">
        <i class="fa fa-exclamation-circle color-red"></i>　<strong>ターミナルを使って、デスクトップ内を移動しよう！</strong>
        <br><br>
        半角英数字で「<strong><u>cd Desktop</u></strong>」と入力して、Enterを押してみましょう。
        <br>
        下のように１行追加されて表示されたでしょうか？
        <br>
        下の画像の赤線が現在の場所を示しています。今は、<strong class="color-red">Desktop</strong>にいますね。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_cd_desktop_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_cd_desktop_after.png",
                    :target => ["_blank"] %>
        「cd」を使えば、現在のフォルダ内にある<strong><u>指定されたフォルダに移動できます</u></strong>。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_desktop.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_desktop.png",
                    :target => ["_blank"] %>
        <i class="fa fa-folder color-red"></i>　<strong>「cd」で、デスクトップ内の好きなフォルダに移動しよう！<br>
        　　「open ファイル名」で、ファイルを開くこともできます。
        </strong>
        <br>
        <small>※「cd ..」と入力すれば前のフォルダに、「cd ~/Desktop」と入力すればデスクトップに移動できます。</small>
        <br>
        <small>※　半角英数字で入力して下さい</small>
</h4>