<h4 id="chapter2-2-2">
        <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : Railsのインストール</strong></p>
        <br>
        <strong>では下のリンクにあるインストールの方法にしたがい、Railsのインストールをしてみましょう！</strong>
        <br><br>
        <a href="http://techacademy.jp/magazine/4630" target="_blank"><i class="fa fa-download"></i>　Railsのインストール方法</a>
</h4>