 <h4 id="chapter2-2-3">
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : Sublime Textのインストール</strong></p>
        <br>
        設定ファイルを編集するためのファイルの編集ソフト、<strong><u>Sublime Text</u></strong>もインストールしましょう。
        <br>
        <br>
        <a href="http://techacademy.jp/magazine/3060#se2" target="_blank"><i class="fa fa-download"></i>　Sublime Textのインストール方法</a>
</h4>