<h4 id="chapter2-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : まとめ</strong></p>
        <br>
        <strong>Railsでは、出来上がった雛形の上にどのようなページを表示させ、どのようなデータを保存させるか・ページとデータの操作をどう振り分けるかを設定していくことでウェブページを作っていく。</strong>
</h4>