<h4 id="coffee-chapter3-2-1-5">
  <p id="title2-1-5" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑸ : edit</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>「<u>rooms</u>」データベースの「<u>edit</u>」ページを作ってみます！</strong>
  <hr class="red-hr">
  ページを作るには、
  <strong>
  <ul class="number_ul">
    <li>データ操作（rooms_controller.rb）</li>
    <li>ページ表示</li>
  </ul>
  </strong>
  の2つをやります。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>まずはデータ操作からやってみましょう！</strong>
  <br><br>
  <strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>を開いて、内容を下のように変更してみましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（22行目を追加）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>21
<strong class="color-red">22</strong>
23
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line remarkable-code'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  ここで編集する<strong>「<u>rooms</u>」データ</strong>を選択しています。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>次はページ表示をやってみましょう！</strong>
  <br><br>
  <strong>「<u>app > views > rooms > edit.html.erb</u>」</strong>を開いて、下のように変更してみましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>edit.html.erb</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h2</span>&gt;チャット情報を編集する&lt;/<span class='word-red'>h2</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;%= f.label <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class="word-purple">:name</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"名前を入力して下さい"</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;%= f.label <span class='word-purple'>:explain</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:explain</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class="word-purple">:size</span> =&gt; <span class="word-yellow">"30x10"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"説明を入力して下さい"</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"変更する"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-success"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/rooms/&lt;%= @room.id %&gt;"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;チャット情報に戻る&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  今回は、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>8
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:explain</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class="word-purple">:size</span> =&gt; <span class="word-yellow">"30x10"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"説明を入力して下さい"</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  に
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'> , <span class="word-purple">:size</span> =&gt; <span class="word-yellow">"30x10"</span>
</td>
</tr>
</table>
  <br>
  の設定を加えました。
  <br>
  ここで文字の入力をする<strong>「text_area」</strong>の大きさをしていしています。
  <br><br>
  今回は<strong>「<u>横30文字・縦に10行</u>」</strong>の設定になります。
  <br><br>
  これで<strong>「<u>@room</u>」</strong>を使った<strong>入力欄</strong>と <a class="btn btn-success">変更する</a> の設定ができました。
  <hr class="red-hr">
  設定したページを見てみましょう！
  <br><br>
  これで<strong>「<u>@rooms</u>」</strong>の繰り返しの表示を設定できました。
  <hr class="red-hr">
  一回<strong>「<u>rails s</u>」</strong>で動かしたサーバーを<strong><u>「Command」と「c」</u></strong>を一緒に押して止めてから、もう一度<strong>「<u>rails s</u>」</strong>を入力して下さい。
  <br><br><br>
  <p class="alert alert-success">
    <i class="fa fa-windows color-blue"></i>　<strong>Windowsをご利用の方は、
    <br>
    　「<u>rails s</u>」で動かしたサーバーを<u>「ctrl」と「c」を一緒に押して</u>止めてから、もう一度「<u>rails s</u>」を入力して下さい。</strong>
  </p>
  <br>
  ブラウザで「<a href="http://0.0.0.0:3000/rooms/1/edit" target="_blank"><strong>0.0.0.0:3000/rooms/1/edit</strong></a>」を開いてみて下さい。
  <br>
  <small>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「<a href="http://localhost:3000/rooms/1/edit" target="_blank"><strong>localhost:3000/rooms/1/edit</strong></a>」を開いてみて下さい。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_edit.png",
              :target => ["_blank"] %>
  このようなページは表示されたでしょうか？
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>次は「update」ページを設定します</strong>
</h4>