<h4 id="coffee-chapter3-1-2">
  <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : roomsデータベース</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>次に「rooms」データベースの作成をしてみましょう！</strong>
  <br><br>
  <strong>rooms</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th style="background-color: #f2dede;">id</th>
        <th style="background-color: #f2dede;">name</th>
        <th style="background-color: #f2dede;">explain</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;font-size:12px;">新規チャット</td>
        <td style="background-color: #f2dede;font-size:12px;">説明を入力</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  <hr class="red-hr">
  データベースの作成は、<strong><u>ターミナルで作成する設定ファイル</u></strong>に内容を設定して行います。
  <br>
  ターミナルで下の入力をしましょう！
  <br>
  <small>※　データベースの作成は<a href="/mugcups/4#title1-2" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g model room</span>
</td>
</tr>
</table>
  <br>
  これで作成された<strong>「<u>db > migrate」フォルダ</u>にある「日時_create_rooms.rb」</strong>を下のように変更して下さい。
  <br>
  <small>※　内容は<a href="/mugcups/4#title1-2" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>日時_create_rooms.rb（5、6行目を追加）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5
6</strong>
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>CreateRooms <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line'>    create_table <span class='word-purple'>:rooms</span><span class='word-red'> do</span> |t|</span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>      t.string     <span class='word-purple'>:name</span>, <span class='word-purple'>default:</span> <span class='word-yellow'>"新規チャット"</span></span>
<span class='code-line remarkable-code'>      t.text       <span class='word-purple'>:explain</span>, <span class='word-purple'>default:</span> <span class='word-yellow'>"説明を入力"</span></span>
<span class='code-line'>
<span class='code-line'>      t.timestamps <span class='word-purple'>null:</span> <span class="word-purple">false</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  今回は<strong>「<u>name</u>」「<u>explain</u>」</strong>がそれぞれ
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>t.string     <span class='word-purple'>:name</span>, <span class='word-purple'>default:</span> <span class='word-yellow'>"新規チャット"</span></span>
</td>
</tr>
</table>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>t.text       <span class='word-purple'>:explain</span>, <span class='word-purple'>default:</span> <span class='word-yellow'>"説明を入力"</span></span>
</td>
</tr>
</table>
  <br>
  のように後ろに
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>, <span class='word-purple'>default:</span> <span class='word-yellow'>"文字"</span></span>
</td>
</tr>
</table>
  <br>
  がついていますね。
  <br><br>
  これはなにも入力されなかった時に、枠組みに入れる<strong><u>初期値の文字</u></strong>を設定しています。
  <br>
  <strong>「<u>default</u>」</strong>とも書いてあるので分かりやすいのではないかと思います。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>では<u>「短い文字列（string）」が入る「file」の枠組みの初期値を「新規ファイル」にする</u>には、どのような設定をすればいいでしょうか？</strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="答えを入力して下さい">
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>t.string      <span class='word-purple'>:file</span>, <span class='word-purple'>default:</span> <span class='word-yellow'>"新規ファイル"</span></span>
</td>
</tr>
</table>
  <hr class="red-hr">
  最後に設定を適用させるために、ターミナルで
  <br><br>
  <strong>ターミナル</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「コマンドプロンプト」をご利用下さい。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　動かない場合は、<strong>「bundle exec」</strong>を前につけ、<strong>「bundle exec rake ...」</strong>で入力して下さい。
  </small>
  <br><br>
  を入力して下さい。これで設定が適用され、<strong>「<u>rooms</u>」データベース</strong>が作成されました。
  <br><br>
  <strong>最後に<u>Sequel Pro</u>で内容の確認をしてみましょう！</strong>
  <br>
  <small>※　Sequel Proの開き方は<a href="/mugcups/how_to_open#title3" target="_blank"><strong>こちら</strong></a>を、SqliteBrowserの開き方は<a href="/mugcups/how_to_open#title4" target="_blank"><strong>こちら</strong></a>を参考</small>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定した内容は<a href="/codes/c_3#title1-2" target="_blank">こちら</a>にまとめてあります。</strong>
</h4>