<h4 id="coffee-chapter3-1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : messagesデータベース</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>データベースの変更の前に、まずはすでに保存されているデータを削除しましょう！</strong>
  <br><br>
  まずは、Sequel Proで<strong>「messages-app_development」</strong>を開いて、その中の<strong>「messages」データベース</strong>のデータを下の手順で削除してみましょう。
  <br>
  <small>※　Sequel Proの開き方は<strong><a href="/mugcups/how_to_open#title2" target="_blank">こちら</a></strong>を参考にして下さい</small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Sequel_Pro_destroy.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Sequel_Pro_destroy.png",
              :target => ["_blank"] %>
  これで<a href="/coffee_cups/2" target="_blank"><strong>前章</strong></a>で作った<strong>「<u>messages</u>」データ</strong>は全て削除して下さい。
  <hr class="red-hr">
  <strong><i class="fa fa-play-circle"></i>　ここまでできたら、「<u>messages</u>」データベースを下のように変更しましょう！</strong>
  <br><br>
  <strong>messages</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th>id</th>
        <th>content</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>1</td>
        <td style="font-size:12px">おはよう！</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="font-size:11px;">2016-04-12 20:33:43</td>
        <td style="font-size:11px;">2016-04-12 20:33:43</td>
      </tr>
    </tbody>
  </table>
  データベースの変更は、<strong><u>ターミナルで作成する設定ファイル</u></strong>を使って行います。
  <br>
  まずはターミナルで下の入力をしましょう！
  <br>
  <small>※　データベースの変更方法は<a href="/mugcups/4#title1-3" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class="code-line">cd message-app</span>
</td>
</tr>
</table>
  <br>
  これで<strong>「<u>message-app</u>」</strong>に移動できました。ここでデータベース変更の設定ファイルを作成します。
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g migration changeColumnMessages</span>
</td>
</tr>
</table>
  <br>
  これで<strong>「<u>db > migrate</u>」フォルダに「<u>日時_change_column_messages.rb</u>」</strong>が作成されました。
  <hr class="red-hr">
  この<strong>「<u>日時_change_column_messages.rb</u>」</strong>の設定を下のように変更してみましょう！
  <br>
  <small>※　内容の説明は<a href="/mugcups/4#title1-3-1" target="_blank"><strong>こちら</strong></a>を参考</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>日時_change_column_messages.rb（3、4行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4</strong>
5
6
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>ChangeColumnMessages <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line remarkable-code'>    add_column <span class='word-purple'>:messages</span>, <span class='word-purple'>:room_id</span>, <span class='word-purple'>:integer</span></span>
<span class='code-line remarkable-code'>    remove_column <span class='word-purple'>:messages</span>, <span class='word-purple'>:receiver</span>, <span class='word-purple'>:integer</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  これで
  <strong>
  <ul class="number_ul">
    <li>「room_id」の枠組みの追加</li>
    <li>「receiver」の枠組みの削除</li>
  </ul>
  </strong>
  の2つの設定ができました。
  <hr class="red-hr">
  終わったら、設定内容を導入します。ターミナルで下の入力をして下さい
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
  <br>
  これで設定内容が適用されました。
  <br><br>
  <strong>最後に<u>Sequel Pro</u>で内容の確認をしてみましょう。</strong>
  <br>
  <small>※　Sequel Proの開き方は<a href="/mugcups/how_to_open#title2" target="_blank"><strong>こちら</strong></a>を参考</small>
  <hr class="red-hr">
  ここまでで、
  <br>
  <ul class="number_ul">
    <strong><li>「<u>receiver</u>」の削除</li></strong>
    <strong><li>「<u>room_id</u>」の追加</li></strong>
  </ul>
  をしたので、<strong>「<u>messages_controller.rb</u>」</strong>の内容もそれに合わせて変更します。
  <br><br>
  <strong>「<u>app > controllers > messages_controller.rb</u>」</strong>を下のように変更しましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>messages_controller.rb</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
<strong class="color-red">6</strong>
7
8
9
10
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>MessagesController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line'>  before_action <span class='word-purple'>:authenticate_user!</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:create</span>]</span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line remarkable-code'>    @message <span class="word-red">=</span> <span class='word-blue'>Message</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:message</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:content</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:user_id</span> => current_user.id))</span>
<span class='code-line'>    redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>6
</td>
<td class='code-content'><span class='code-line'>.permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:content</span>, <span class='word-purple remarkable-code'>:room_id</span>)...</span>
</td>
</tr>
</table>
  <br>
  の部分で<strong>「<u>receiver</u>」</strong>を削除し、<strong>「<u>room_id</u>」</strong>を追加しました。
  <br><br>
  これでデータベースの変更だけでなく、<strong>「<u>messages</u>」データベースのデータ操作の設定</strong>もできるようになりました。
</h4>