<h2 class="textbook-section-title" id="title2"><strong>2 : Facebook的結構</strong></h2>
  <h4 id="chapter1-2">
  <i class="fa fa-star color-blue"></i>　我們先用Facebook去解釋<strong class="little-remarkable"><u>資料的顯示跟保存</u></strong>
  <hr>
  </h4>
  <%= render "page1/zh_TW/title2_1" %>
  <%= render "page1/zh_TW/title2_2" %>