        <h4 id="chapter2-2-5">
        <p id="title2-5"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">⑤ : Sequel Pro的安裝</strong></p>
        <br>
        在这里咱們安裝，简单的显示资料库里面的表的软件<strong><u>Sequel Pro</u></strong>吧。
        <br><br>
        <a href="https://github.com/sequelpro/sequelpro/releases/download/1.1.1/sequel-pro-1.1.1.dmg"><i class="fa fa-download"></i>　下载Sequel Pro（点击之后下载会开始）</a>
        <br><br>
        下载完了之后，请打开下载的文件（普通的话，文件在download文件夾里）。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Open.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Open.png",
                    :target => ["_blank"] %>
        打开之后会出现像下面一样的画面、参考下面的图像点击「Connect」。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                    :target => ["_blank"] %>
        显示下面的画面的话OK！
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Main_Page.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Main_Page.png",
                    :target => ["_blank"] %>
        </h4>