        <h2 class="textbook-section-title" id="title1"><strong>1 : Ruby on Rails </strong></h2>
        <h4 id="chapter2-1">
        この章から、実際のウェブページの作成の方法を説明していきます。
        <br>
        ここでは <strong class="color-red">Ruby on Rails</strong> というソフトウェアを使い、ウェブページを作っていきます。
        <br><br>
        前の章で<u>「ウェブページはデータの表示と保存」</u>をしていると説明しましたが、Ruby on Rails では、<strong class="little-remarkable">出来上がっている雛形に「データの表示と保存」を自分で設定</strong>していくことでウェブページを作っていきます。
        <br>
        <br>
        <i class="fa fa-star color-blue"></i>　<strong>Ruby on Railsではデータの表示と保存を自分で設定しながら、ウェブページを作る。</strong>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>Ruby on Railsではなにを「自分で設定」しなければならないのでしょうか？</strong>
        <br><br>
        自分で設定するものは２つあります。
        <br>
        １つ目は<strong class="little-remarkable color-red">ページ</strong>、２つ目は<strong class="little-remarkable color-blue">データ</strong>です。
        <hr>
        <%= render "page2/title1_1" %>
        <hr>
        <%= render "page2/title1_2" %>
        <hr>
        <%= render "page2/title1_3" %>
        </h4>