        <h4 id="chapter2-2-5">
        <p id="title2-5"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">⑤ : Sequel Proのインストール</strong></p>
        <br>
        データベースの中身（あのExcelの表）を簡単に表示させてくれるソフトウェアである<strong><u>Sequel Pro</u></strong>をインストールしましょう。
        <br><br>
        <a href="https://github.com/sequelpro/sequelpro/releases/download/1.1.1/sequel-pro-1.1.1.dmg"><i class="fa fa-download"></i>　Sequel Proをダウンロード（クリックすると始まります）</a>
        <br><br>
        ダウンロードができたら、ダウンロードされたファイル（普通ならダウンロードフォルダにあります）を開いてみてください。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Open.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Open.png",
                    :target => ["_blank"] %>
        開くと、下の画像のようなウィンドウが表示されるので、画像の手順にしたがい「Connect」を押して下さい。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro.png",
                    :target => ["_blank"] %>
        下のように表示されれば大丈夫です。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Main_Page.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Sequel_Pro_Main_Page.png",
                    :target => ["_blank"] %>
        </h4>