<h4 id="chapter2-1-2-1">
        <p id="title1-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 作资料库</strong></p>
        <br>
        为了资料库里保存资料、先决定好要打入这么样的资料。
        <br>
        用 Excel 软件的时候打入资料之前，也先決定好最上面的一行吧？
        <br><br>
        跟这个一样，<strong><u>作资料库的时候要先作好最上面的一行</u></strong>。
        <br>
        使用这个一行，保存利用者打入的资料。
        <br>
        Ruby on Rails上保存资料的时候，必须要<strong class="little-remarkable color-red"><u>決定好最上面的一行</u></strong>。
        <br>
        <br>
        我們用 amazon 的商品解释。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/amazon_expensive.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/amazon_expensive.png",
                    :target => ["_blank"] %>
        amazon的商品上有「商品的名字・价钱・图画・消费者评鉴」等等的资料，这些资料会保存在资料库里。
        <br>
        基本的简单的资料库会是下面的样子吧。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Amazon_database.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Amazon_database.png",
                    :target => ["_blank"] %>
        <br>
        <i class="fa fa-star color-blue"></i><strong>　在Ruby on Rails，要自己设定这样子资料库的最上面的一行。</strong>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i><strong>　想想看 Twitter 的第一行是这么样子设定吧。</strong>
        </h4>