        <h2 class="textbook-section-title" id="title1"><strong>1 : Ruby on Rails </strong></h2>
        <h4 id="chapter2-1">
        從这个章，我們解释作网站的方法。
        <br>
        在这里，我們使用 <strong class="color-red">Ruby on Rails</strong> 的软件作网站。
        <br><br>
        在上章解释了<u>「网路在作资料的显示跟保存」</u>。
        <br>
        Ruby on Rails 是会先做好简单的网站。然后<strong class="little-remarkable">在这个做好的网站上自己设定「<u>资料的显示跟保存</u>」，作自己的网站。</strong>
        <br>
        <br>
        <i class="fa fa-star color-blue"></i>　<strong>在 Ruby on Rails是，自己设定「资料的显示跟保存」作网站的软件。</strong>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>Ruby on Rails 是要设定什么呢？</strong>
        <br><br>
        自己设定的內容有两个。
        <br>
        第一个是<strong class="little-remarkable color-red">网页</strong>，第二个是<strong class="little-remarkable color-blue">资料</strong>。
        <hr>
        <%= render "page2/zh-CN/title1_1" %>
        <hr>
        <%= render "page2/zh-CN/title1_2" %>
        <hr>
        <%= render "page2/zh-CN/title1_3" %>
        </h4>