        <h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
        <h4 id="chapter2-0">
        <i class="fa fa-bookmark color-red"></i>　<strong>Ruby on Railsを使ったウェブページ作成について大まかな理解を得て、Ruby on Railsの環境構築を終了させる。</strong>
        </h4>