<h4 id="chapter2-1-2-1">
        <p id="title1-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 作資料庫</strong></p>
        <br>
        為了保存資料庫裡的資料、先決定好要打入這麼樣的資料。
        <br>
        用 Excel 軟件的時候也、打入資料之前先決定好最上面的一行吧？
        <br><br>
        跟這個一樣，<strong><u>作資料庫的時候要先做好最上面的一行</u></strong>。
        <br>
        使用這個一行，保存利用者打入的資料。
        <br>
        Ruby on Rails上保存資料的時候，必須要<strong class="little-remarkable color-red"><u>決定最上面的一行</u></strong>。
        <br>
        <br>
        我們用 amazon 的商品解釋。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/amazon_expensive.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/amazon_expensive.png",
                    :target => ["_blank"] %>
        amazon的商品上有「商品的名字・價錢・圖畫・消費者評鑑」等等的資料，這些資料會保存在資料庫裡。
        <br>
        基本的資料庫應該會是下面的樣子。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Amazon_database.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Amazon_database.png",
                    :target => ["_blank"] %>
        <br>
        <i class="fa fa-star color-blue"></i><strong>　在Ruby on Rails，要自己設定這樣子資料庫的最上面的一行。</strong>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i><strong>　想想看 Twitter 的第一行是這麼樣子。</strong>
        </h4>