<h4 id="chapter2-1-2-2">
        <p id="title1-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : 资料的保存</strong></p>
        <br>
        网站上按着打入的资料，新的资料会保存在资料库里。
        <br>
        用Facebook投稿的例子说的话，利用者投稿后，资料库会有新投稿的资料。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/FB_database.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/FB_database.png",
                    :target => ["_blank"] %>
        虽然Ruby on Rails的网站是随着資料保存的方法，指定各个资料保存的網頁，<u>但是资料的保存要跟资料的显示另外设定。</u>
        <br><br>
        所以除了网页的显示以外，各个网页上要设定
        <strong>
        <ul style="margin:15px 0">
            <li>「<u>显示</u>什么资料」</li>
            <li>「<u>新增</u>什么资料」</li>
            <li>「<u>编辑</u>什么资料」</li>
            <li>「<u>删除</u>什么资料」</li>
        </ul>
        </strong>
        等等<u>要这么样操作资料（资料的显示，新增，编辑，删除）</u>的设定。
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>Ruby on Rails上的资料的保存是、先作资料库之后，自己设定要这么操作资料。</strong>
</h4>