<h4 id="chapter2-2-1">
        <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : terminal</strong></p>
        <br>
        先打開「terminal」的應用程序。參考下面的圖像打開看看。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open.png",
                    :target => ["_blank"] %>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open_Done.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_Open_Done.png",
                    :target => ["_blank"] %>
        「terminal」有打開了嗎？
        <br>
        這個「terminal」是在做什麼呢？
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>「terminal」是這麼樣的應用程序？</strong>
        <br>
        <br>
        「terminal」是，給電腦命令的應用程序。
        <br>
        Ruby on Rails 的網站是用「terminal」的命令作。
        <hr class="red-hr">
        <i class="fa fa-exclamation-circle color-red"></i>　<strong>用terminal，移動桌面（Desktop）裡吧！</strong>
        <br><br>
        用半角字母数字打入「<strong><u>cd Desktop</u></strong>」之後，按「Enter」吧。
        <br>
        像下面的樣子，下面顯示新的一行嗎？
        <br>
        下面圖像的紅線在表現現在的位置。現在在<strong class="color-red">Desktop</strong>。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_cd_desktop_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Terminal_cd_desktop_after.png",
                    :target => ["_blank"] %>
        用「cd」、可以移動到<strong><u>指定的文件夾</u></strong>。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_desktop.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Finder_desktop.png",
                    :target => ["_blank"] %>
        <i class="fa fa-folder color-red"></i>　<strong>用「cd」，移動到「Desktop」裡的自己喜歡的文件夾。<br>
        　　打入「open 文件的名字」，可以開指定的文件。
        </strong>
        <br>
        <small>※　打入「cd ..」可以移動到前面的文件夾、打入「cd ~/Desktop」可以移動到「Desktop」。</small>
        <br>
        <small>※　請使用羅馬字</small>
</h4>