        <h4 id="chapter4-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : データベースの枠組みを変更する</strong></p>
        <br>
        ここまでで、データベースの枠組みの作り方について説明しました。
        <br><br>
        でも、最初から完成された枠組みを作るのは難しいです。<u>枠組みを間違えて設定した時や、後から枠組みを追加したり削除したい時</u>はどうすればいいのでしょうか？
        <br>
        <strong class="little-remarkable"><u>ここでは、枠組みの変更について説明したいと思います。</u></strong>
        </h4>
        <hr class="red-hr">
        <%= render "page4/title1_3_1" %>
        <hr>
        <%= render "page4/title1_3_2" %>