<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
        <h4 id="chapter4-0">
        <i class="fa fa-bookmark color-red"></i>　ウェブページ作成に必要になるデータベースへのデータ保存について学ぶ。
        <hr>
        Railsでウェブページの雛形を作りそれを開くことができましたので、この章から<strong><u>ウェブページの設定の方法</u></strong>について学んでいきましょう！
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong><u>少し復習をしましょう。</u>Railsでのウェブページ作成では、なにを自分で設定しなければならないのでしょうか？</strong>
          <br><br>
          それは<a href="/pages/2#title1-1" target="_blank"><strong>ページの表示</strong></a>と<a href="/pages/2#title1-2" target="_blank"><strong>データの保存</strong></a>でしたね。（<a href="/pages/2#title1" target="_blank">第２章</a>の内容を参照）
          <br>
          これは言い換えれば、<u>ウェブページ提供者が行うページの表示と利用者の行う情報発信を自分で設定する</u>（<a href="/pages/1#title2" target="_blank">第１章</a>の内容を参照）ということにもなります。
          <br><br>
          ページの表示とデータの保存についてRailsで行うことを少し復習しましょう！
          <br><br>
          <ul class="number_ul">
            <strong class="color-red"><li>ページの表示</li></strong>
            データの操作の方法に応じて、<strong><u>「データの表示・作成・変更・削除」の４種類のページを設定</u></strong>します。
            <br><br>
            <strong class="color-blue"><li>データの保存</li></strong>
            <strong><u>データの操作「データの表示・作成・変更・削除」は、ページとは別に設定します。</u></strong>またデータの保存をするには、<strong><u>どのようにデータの枠組みにデータを保存するかを設定する</u></strong>必要があります。
            <br><br>
            つまり、データの保存の設定には、
            <br>
            <strong class="little-remarkable"><u>⑴ : データの枠組みの定義　⑵ : データの操作の方法</u></strong>
            <br>
            の２種類があります。
          </ul>
          <small>※　詳しい内容は<a href="/pages/2" target="_blank">第２章</a>に書いてあります。</small>
          <hr class="red-hr">
          ページの表示はデータの操作の方法と絡んでくるので、この章ではまず<strong>「<u>データの保存</u>」</strong>について学んでいきます！
          <br><br>
          <strong>まずはデータの枠組みの定義からやっていきましょう！</strong>
        </h4>