<h2 class="textbook-section-title" id="title3"><strong>3 : まとめ</strong></h2>
        <h4 id="chapter4-3">
          ウェブページは、<strong><u>利用者の発信した情報をデータベースという表に保存しそれを表示させている。</u></strong>
          <br><br>
          なのでウェブページを作るためには、<strong class="little-remarkable"><u>データベースの表の枠組みを決め、実際にそこにデータを入れていきます。</u></strong>
          <hr class="red-hr">
          枠組みの細かい設定は<a href="/pages/4#title1-4" target="_blank"><strong>こちらのまとめ</strong></a>を、
          <br>
          内容の操作は<a href="/pages/4#title2-4" target="_blank"><strong>こちらのまとめ</strong></a>をそれぞれみて下さい。
          <hr>
          <i class="fa fa-star color-blue"></i>
          <strong>
          　ここまででデータの保存に関することはひととおり終了です。
          <br>
          　　 次の章ではページを表示させましょう！
          </strong>
        </h4>