<h2 class="textbook-section-title" id="title1"><strong>1 : データの枠組みの定義</strong></h2>
<h4 id="chapter4-1"></h4>
          <%= render "page4/title1_1" %>
          <hr>
          <%= render "page4/title1_2" %>
          <hr>
          <%= render "page4/title1_3" %>
          <hr>
          <%= render "page4/title1_4" %>