<h4 id="chapter10-4-3-3">
  <p id="title4-3-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : 总结</strong></p>
  <br>
  到这里
  <br>
  <strong>不能让全部的会员打开的<u>「users」「posts」</u>的
  <ul class="number_ul">
    <li>「<u>edit</u>」</li>
    <li>「<u>update</u>」</li>
    <li>「<u>destroy</u>」</li>
  </ul>
  网页上追加了「正确的会员」的检查。</strong>
  <br>
  <br>
  为了这个，使用
  <strong>
  <ul class="number_ul">
    <li>条件判别（if/else）</li>
    <li>网页移动（redirect_to）</li>
  </ul>
  </strong>
  设定內容。
  <br>
  在这里解释，各个设定。
  <br><br>
  <strong>设定的內容，<a href="/zh-CN/codes/11" target="_blank">请参考这里</a></strong>
  <hr class="red-hr">
  <ul class="number_ul">
    <strong><li>条件判別（if/else）</li></strong>
    <br>
    判别条件有沒有成立，做编辑网页的显示・资料的操作的设定。
    <br>
    请参考<a href="/zh-CN/mugcups/9#title2-2-2" target="_blank"><strong>if</strong></a>跟<a href="/zh-CN/mugcups/10#title3-3-3" target="_blank"><strong>else</strong></a>。
    <br><br>
    这一次设定了判别条件一不一样的內容。
    <br>
    判别一不一樣用
<pre>
要判別的东西 == 要判別的东西
</pre>
    设定。
    <hr class="red-hr">
    设定，请参考下面的內容吧。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
<strong class="color-red">7</strong>
8
9
<strong class="color-red">10</strong>
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>h4</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>small</span>&gt;&lt;%= @post.created_at %&gt;：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>small</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主页&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;% <span class="word-red">if</span> @post.user_id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;编辑投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-danger"</span>&gt;删除投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
    <br>
    <strong><li>移动网页（redirect_to）</li></strong>
    <br>
    「controller」文件上的網頁移動要
<pre>
redirect_to "移动到的网页"
</pre>
    设定。
    <hr class="red-hr">
    使用这个的设定的方法，请参考下面（里面还设定了显示通知<strong>「<a href="/zh-CN/mugcups/9#title2-2-2" target="_blank">flash</a>」</strong>）。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>28
29
30
31
32
33
<strong class="color-red">34
35</strong>
36
37
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(@post.user_id)</span>
<span class='code-line'>    <span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
<span class='code-line'>      @post.update(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>      redirect_to <span class='word-yellow'>"/posts"</span></span>
<span class='code-line remarkable-code'>      flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"无效的会员"</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
    <hr class="red-hr">
  </ul>
  <strong>
    到这里用户管理也做好了。
  </strong>
</h4>