<h4 id="chapter10-4-2">
  <p id="title4-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">⑵ : 资料操作跟网页显示的设定</strong></p>
  <br>
  到这里更改了框子的內容了，所以随着更改的內容必须<strong><u>编辑资料操作跟显示网页的设定</u></strong>。
  <br>
  「name」的框子在<strong><u>操作资料・显示网页这个两个</u></strong>使用，所以在这里设定用<strong>「<u>user_id</u>」</strong>的內容。
  <hr class="red-hr">
  <%= render "page11/zh-CN/title4_2_1" %>
  <hr class="red-hr">
  <%= render "page11/zh-CN/title4_2_2" %>
  <hr class="red-hr">
  <%= render "page11/zh-CN/title4_2_3" %>
</h4>