        <h2 class="textbook-section-title" id="title1"><strong>1 : Ruby on Rails </strong></h2>
        <h4 id="chapter2-1">
        從這個章，我們解釋作網站的方法。
        <br>
        在這裡，我們使用叫做 <strong class="color-red">Ruby on Rails</strong> 的軟件作網站。
        <br><br>
        在上章解釋了<u>「網路在作資料的顯示跟保存」</u>。
        <br>
        Ruby on Rails 是會先做好簡單的網站。然後<strong class="little-remarkable">在這個做好的網站上自己設定「<u>資料的顯示跟保存</u>」，作自己的網站。</strong>
        <br>
        <br>
        <i class="fa fa-star color-blue"></i>　<strong>在 Ruby on Rails是，自己設定「資料的顯示跟保存」作網站的軟件。</strong>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>Ruby on Rails 是要設定什麼呢？</strong>
        <br><br>
        自己設定的內容有兩個。
        <br>
        第一個是<strong class="little-remarkable color-red">網頁</strong>，第二個是<strong class="little-remarkable color-blue">資料</strong>。
        <hr>
        <%= render "page2/zh-TW/title1_1" %>
        <hr>
        <%= render "page2/zh-TW/title1_2" %>
        <hr>
        <%= render "page2/zh-TW/title1_3" %>
        </h4>