<h4 id="chapter2-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 總結</strong></p>
        <br>
        <strong>Ruby on Rails是先做好的簡單的網站之後，在這裡設定網頁的顯示跟資料的操作。</strong>
</h4>