<h4 id="chapter2-1-1">
        <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : Ruby on Rails的網頁</strong></p>
        <br>
        為了作網站，Ruby on Rails上必須要自己設定這麼樣顯示網頁。
        <br><br>
        可是<u>網站不只是在顯示網頁，還必須要保存資料</u>。在 Ruby on Rails 上，<strong class="color-red">隨着資料顯示跟保存的方法，有幾個作網頁的方法。</strong>
        <br>
        用 Ruby on Rails 作網站的時候要用這個資料的顯示跟保存的方法，自己設定網頁。
        <br><br>
        <strong>我們用Twitter的例子，解釋 Ruby on Rails 上的資料的顯示跟保存的方法跟設定的網頁吧。</strong>
        <hr class="red-hr">
        <i class="fa fa-check-square color-red"></i>　<strong>資料的顯示</strong>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_index_and_show.png",
                              :width => "90%",
                              :class => "textbook-title-img hover_img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_index_and_show.png",
                    :target => ["_blank"] %>
        在這個網頁，<strong class="remarkable color-red">顯示</strong>在資料庫裡保存的資料。
        <br>
        顯示的方法有兩個。一個是顯示資料庫裡全部的資料的方法，另一個是<strong class="little-remarkable"><u>選擇</u></strong>資料庫裡的資料的方法。
        <br><br>
        有兩種的是，可以說是<strong class="color-blue">推特的主頁</strong>跟<strong class="color-red">推特</strong>的差別。
        <hr class="red-hr">
        <i class="fa fa-check-square color-red"></i>　<strong>作資料</strong>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_new.png",
                              :width => "90%",
                              :class => "textbook-title-img hover_img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_new.png",
                    :target => ["_blank"] %>
        在這個網頁，<strong class="remarkable color-red">保存</strong>利用者打入的資料。
        <br>
        這裡有打入內容的網頁跟保存資料的網頁。
        <hr class="red-hr">
        <i class="fa fa-check-square color-red"></i>　<strong>編輯資料</strong>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_edit.png",
                              :width => "90%",
                              :class => "textbook-title-img hover_img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_edit.png",
                    :target => ["_blank"] %>
        在這個網頁，隨着打入的內容，<strong class="remarkable color-red">更新利用者選這的資料</strong>。
        <br>
        這裡也有打入內容的網頁跟隨着打入的資料更新資料的網頁。
        <hr class="red-hr">
        <i class="fa fa-check-square color-red"></i>　<strong>刪除資料</strong>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_destroy.png",
                              :width => "90%",
                              :class => "textbook-title-img hover_img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page2/Tweet_destroy.png",
                    :target => ["_blank"] %>
        在這個網頁，<strong class="remarkable color-red">從資料庫裡刪除</strong>選擇的資料。
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　Ruby on Rails上，自己設定這麼樣顯示<strong class="little-remarkable"><u>資料的顯示，新增，編輯，刪除</u></strong>的四種網頁。
</h4>