<h4 id="chapter2-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 總結</strong></p>
        <br>
        <strong>Ruby on Rails是做好的簡單的網路上，自己設定這麼顯示網頁跟這麼操作資料去作網站。</strong>
</h4>