<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
  <h4 id="chapter2-0">
    <i class="fa fa-bookmark color-red"></i>　<strong>理解用 Ruby on Rails 作網路的方法、作 Ruby on Rails 的動作環境。</strong>
  </h4>