<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
<h4 id="chapter8-0">
<i class="fa fa-bookmark color-red"></i> 學習<strong>在「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」上設定主頁的方法跟用CSS設定圖像的方法。</strong>
<hr>
到這裡作的網頁都是，在遊覽器上打入「<a href="http://0.0.0.0:3000/posts" target="_blank"><strong>0.0.0.0:3000/posts</strong></a>」或者「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」等等很長的url才可以打開的網頁。
<br><br>
可是在這個網站上，作網頁的主頁「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」要怎麼設定好呢？
<br>
這一次設定用「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」的url，顯示下面圖像一樣的網頁吧。
<br>
<small>※　還沒設定好主頁，現在打開「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」也只能看到<a href="/zh-TW/mugcups/3#title2-3" target="_blank"><strong><u>剛開始用Ruby on Rails作的主頁</u></strong></a>。</small>
<%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page8/Chrome_posts_root.png",
                    :width => "90%",
                    :class => "hover_img textbook-title-img"),
            "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page8/Chrome_posts_root.png",
            :target => ["_blank"] %>
<strong>出現這樣子的主頁的話，比較像網站吧？
<br>
那麽開始作吧！</strong>
</h4>