<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
<h4 id="chapter8-0">
<i class="fa fa-bookmark color-red"></i> <strong>「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」にページを設定し、CSSで画像を表示させる方法について学ぶ。</strong>
<hr>
今まで作ってきたページは全て「<a href="http://0.0.0.0:3000/posts" target="_blank"><strong>0.0.0.0:3000/posts</strong></a>」や「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」などの少し長い入力をブラウザにしなければいけないページでした。
<br><br>
これだと少し長くて面倒ですよね。
<br>
今回は「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」という簡単な入力で、下のようなトップページ風なページを表示してみたいと思います。
<br>
<small>※　まだページを作っていないので、今は<a href="/mugcups/3#title2-3" target="_blank"><strong><u>Railsの雛形のページ</u></strong></a>が出てくると思います。</small>
<%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page8/Chrome_posts_root.png",
                    :width => "90%",
                    :class => "hover_img textbook-title-img"),
            "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page8/Chrome_posts_root.png",
            :target => ["_blank"] %>
<strong>これでなんとなくウェブページっぽくなるのではないでしょうか？
<br>
ではやってみましょう！</strong>
</h4>