<h4 id="chapter8-1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : まとめ</strong></p>
  <br>
  この章では、
  <ul class="number_ul">
    <strong><li>データ操作をしないページ設定</li></strong>
    <strong><li>「<a href="http://0.0.0.0:3000" target="_blank">0.0.0.0:3000</a>」のページ設定</li></strong>
    <strong><li>CSSを使った画像表示と<a href="/mugcups/css#title1-3" target="_blank">Padding</a></li></strong>
  </ul>
  の３つについて説明した。その内容についてまとめる。
  <br><br>
  <strong>設定した内容は<a href="/codes/8" target="_blank">こちら</a>を参考にしてみて下さい</strong>
  <hr class="red-hr">
  <strong class="little-remarkable"><u><i class="fa fa-play-circle"></i> データ操作をしないページ</u></strong>
  <br><br>
  データベースへの保存などを使ったデータ操作をしないようなページを設定するには<strong>「<a href="/mugcups/5#title1-2" target="_blank">index</a>」</strong>ページを使う。
  <br>
  ページ設定をするにはまず、
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g controller ページ名（単数形）</span>
</td>
</tr>
</table>
  <br>
  で設定ファイル<strong>（<u>viewとcontroller</u>）</strong>を作成する。
  <br><br>
  これが終わったら、データ操作は行なわなくても<a href="/mugcups/5#title1" target="_blank"><strong>３つの設定</strong></a>をする必要がある。
  <ul class="number_ul">
    <hr class="red-hr">
    <strong><li>どのページを使うかの設定</li></strong>
    <br>
    データ操作をしないので、<strong>「<u>config > routes.rb</u>」</strong>に<strong>「<a href="/mugcups/5#title1-2" target="_blank">index</a>」</strong>だけを設定する。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>routes.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>resources <span class='word-purple'>:welcome</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:index</span>]</span>
</td>
</tr>
</table>
    <br>
    <strong><li>データ操作の設定</li></strong>
    <br>
    データ操作はしなくても、<strong>「<u>app > controllers > 名前_controller.rb</u>」</strong>に<strong>「<u>def index</u>」</strong>を設定する。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>welcome_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>WelcomeController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
    <br>
    <strong><li>ページの設定</li></strong>
    <br>
    <strong>「<u>app > views > 名前</u>」</strong>のフォルダに<strong>「<u>index.html.erb</u>」</strong>を保存し、好きに設定する。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>index.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"header-image"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>h1</span><span class='word-green'> class</span>=<span class='word-yellow'>"text-center"</span>&gt;&lt;<span class='word-red'>strong</span>&gt;ようこそ&lt;/<span class='word-red'>strong</span>&gt;&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;投稿一覧を見る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  </ul>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i><strong class="little-remarkable"><u>「<a href="http://0.0.0.0:3000" target="_blank">0.0.0.0:3000</a>」へのページ表示</u></strong>
  <br><br>
  「<a href="http://0.0.0.0:3000" target="_blank"><strong>0.0.0.0:3000</strong></a>」にページを設定するには<strong>「<u>config > routes.rb</u>」</strong>に
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>routes.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>root <span class='word-yellow'>"使用するviewフォルダ名#ページ名"</span></span>
</td>
</tr>
</table>
  <br>
  を設定する。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i> <strong class="little-remarkable"><u>CSSの設定（画像表示とPadding）</u></strong>
  <br><br>
  <ul class="number_ul">
  <strong><li>CSSでの画像の表示</li></strong>
  <br>
  CSSを適用させるための領域「&lt;div&gt;」のclassで画像を表示させるには、
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>style.scss</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
8
9
10
11
12
13
14
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.header-image</span>{</span>
<span class='code-line'>  <span class="word-blue">background-image</span>: <span class="word-blue">url</span>(<span class="color-orange">/assets/header12.jpg</span>);</span>
<span class='code-line'>  <span class='word-blue'>height</span>:<span class='word-blue'><span class='word-purple'>400</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>  <span class="word-blue">-webkit-background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">-moz-background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">background-size</span>: cover;</span>
<span class='code-line'>  <span class="word-blue">-o-background-size</span>: cover;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <br>
  のように設定する。
  <br>
  <strong><u>画像の名前「header12.jpg」</u></strong>と<strong><u>高さ「height:400px;」</u></strong>以外は基本コピペで問題ない。
  <hr class="red-hr">
  <strong><li>Padding</li></strong>
  <br>
  要素の外の空白は<strong>「margin」</strong>で設定するが、要素の中の空白は<strong>「<a href="/mugcups/css#title1-3" target="_blank">padding</a>」</strong>で設定する。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>style.css</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.example</span>{</span>
<span class='code-line'>  <span class='word-blue'>padding</span>:<span class='word-blue'><span class='word-purple'>150</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <br>
  ここらへんは適宜設定を変えながら試してみましょう！
  <br><br>
  <strong>設定した内容は<a href="/codes/8" target="_blank">ここ</a>にまとめてあるので見てみて下さい</strong>
</h4>