<h2 class="textbook-section-title" id="title1"><strong>1 : 作主頁</strong></h2>
<h4 id="chapter8-1">
  <%= render "page8/zh-TW/title1_1" %>
  <hr>
  <%= render "page8/zh-TW/title1_2" %>
  <hr>
  <%= render "page8/zh-TW/title1_3" %>
</h4>