<h4 id="chapter10-4-2">
  <p id="title4-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">⑵ : 資料操作跟網頁顯示的設定</strong></p>
  <br>
  到這裡更改了框子的內容了，所以隨着更改的內容必須<strong><u>編輯資料操作跟顯示網頁的設定</u></strong>。
  <br>
  「name」的框子在<strong><u>操作資料・顯示網頁這個兩個</u></strong>使用，所以在這裡設定用<strong>「<u>user_id</u>」</strong>的內容。
  <hr class="red-hr">
  <%= render "page11/zh-TW/title4_2_1" %>
  <hr class="red-hr">
  <%= render "page11/zh-TW/title4_2_2" %>
  <hr class="red-hr">
  <%= render "page11/zh-TW/title4_2_3" %>
</h4>