<h4 id="chapter1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 作文件夾</strong></p>
  <br>
  解釋用Windows作「rails_project」文件夾的方法。
  <br><br>
  <ul class="number_ul">
    <li>使用<strong><u>Windows10</u></strong>的話，點擊<strong>「<u>Cortana</u>」</strong></li>
    <li>使用<strong><u>Windows8以下</u></strong>的話，點擊<strong>「<u>搜索框</u>」</strong></li>
  </ul>
  打入「文件資源管理器」，之後選擇結果。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder1.png",
              :target => ["_blank"] %>
  打開之後，從左邊選這<strong>「<u>此電腦</u>」</strong>，打開下面的<strong>「<u>〜（C:）</u>」</strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
              :target => ["_blank"] %>
  打開之後，點擊<strong>「<u>新建文件夾</u>」</strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder3.png",
              :target => ["_blank"] %>
  點擊之後會出現沒有名字的文件夾，打入<strong>「rails_projects」</strong>之後保存。
<br>
  <small>※　如果不能打入<strong>「_」</strong>的話，使用<strong>「<u>railsproject</u>」</strong>的名字。</small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder4.png",
              :target => ["_blank"] %>
  <strong><i class="fa fa-arrow-right"></i>　這樣作好了「rails_projects」的文件夾！</strong>
</h4>