        <h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
        <h4 id="chapter3-0">
        <i class="fa fa-bookmark color-red"></i>　<strong>學習用HTML・Ruby on Rails作網站的方法、用Rails作作看網站。</strong>
        <hr>
        到這裡，作好了 Ruby on Rails 的環境，
          <br>
          <strong class="remarkable">咱們用Ruby on Rails作網路吧！</strong>
          <br><br>
          ・・・想現在就開始作網站，但是開始作網站之前先解釋<u>顯示網頁的時候需要的知識</u>。
          <br>
          <br>
          <i class="fa fa-question-circle color-green"></i>　<strong><u>在這裡想問一個問題。</u>什麼東西在顯示網站呢？</strong>
          <br><br>
          在<a href="/zh-TW/mugcups/1#title2-1" target="_blank"><strong>第1章</strong></a>也有解釋過了，叫做<strong>HTML文件</strong>的文件在決定這麼樣顯示網頁。
          <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB_Code.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB_Code.png",
                      :target => ["_blank"] %>
          這個是Facebook主頁很長的HTML文件。這個文件在決定這麼顯示網頁。
          <br>
          <br>
          雖然Facebook主頁的HTML文件很長，但是<u>更簡單的網頁的話可以更簡單的作。</u>
          <br>
          <strong>咱們先用HTML，作作看網頁吧！</strong>
        </h4>