<h4 id="chapter3-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 總結</strong></p>
        <br>
        <strong>
        網頁是，用顯示文字跟畫面的html文件跟裝飾的CSS文件作。
        <hr class="red-hr">
        <ul class="number_ul">
        <li>html文件的話，基本上是<i>&lt;body&gt;</i>と<i>&lt;/body&gt;</i>的內容</li>
        <li>CSS的話，用{}圍起來的地方</li>
        </ul>
        設定，網頁跟裝飾。
</h4>