<h4 id="coffee-chapter4-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 使用「Paperclip」</strong></p>
  <br>
  在這裡，使用<strong>「<u>Paperclip</u>」</strong>上載圖像。
  <br>
  用<strong>「<u>Paperclip</u>」</strong>設定的內容是
  <ul class="number_ul">
    <strong><li style="margin-bottom:5px">資料庫裡追加框子</li></strong>
    <strong>users</strong>
    <table class="table table-striped" style="width:50%">
      <thead style="font-size:0.5em">
        <tr class="active">
          <th style="background-color: #f2dede;">image_file_name</th>
          <th style="background-color: #f2dede;">image_content_type</th>
          <th style="background-color: #f2dede;">image_file_size</th>
          <th style="background-color: #f2dede;">image_updated_at</th>
        </tr>
      </thead>
      <tbody class="text-center" style="font-size:0.6em">
        <tr>
          <td style="background-color: #f2dede;">sample.jpg</td>
          <td style="background-color: #f2dede;">image/jpeg</td>
          <td style="background-color: #f2dede;">164788</td>
          <td style="background-color: #f2dede; font-size:11px;">2016-04-25 04:45:48</td>
        </tr>
      </tbody>
    </table>
    <strong><li>資料操作的設定</li></strong>
      <p style="margin:10px 0">為了保存圖像，編輯上面的資料的框子。</p>
    <strong><li>網頁顯示的設定</li></strong>
      <p style="margin:10px 0">設定網頁上顯示圖像的內容。</p>
  </ul>
  這個3個。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>那麽做做看吧！</strong>
  <hr class="red-hr">
  <%= render "coffee4/zh-TW/title2_2_1" %>
  <hr class="red-hr">
  <%= render "coffee4/zh-TW/title2_2_2" %>
  <hr class="red-hr">
  <%= render "coffee4/zh-TW/title2_2_3" %>
</h4>