<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
<h4 id="coffee-chapter4-0">
  <strong>
  <i class="fa fa-bookmark color-red"></i>　到<a href="/zh-TW/coffee_cups/6" target="_blank">上章</a>，作了聊天室。
  <br><br>
  在這個章，會員資料上顯示圖像吧。
  <br><br><br>
  <p class="alert alert-danger">
    <i class="fa fa-windows color-red"></i>　使用Windows的話，不能學習這裡的內容。
    <br><br>
    <i class="fa fa-arrow-right"></i>　請看<a href="/zh-TW/coffee_cups/8" target="_blank">下章</a>吧。
  </p>
  <br>
  </strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>解釋在這裡做的網頁吧！</strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　首先在打入編輯的會員資料的<strong>「<u>users</u>」資料庫的「<u>edit</u>」網頁</strong>裡
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
              :target => ["_blank"] %>
  像上面圖像一樣，作
  <input type="file" style="margin:20px 0" class="form-control my-form">
  選擇文件的輸入框。
  <br><br>
  選擇文件之後，點擊 <a class="btn btn-primary">登錄</a> 會顯示
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_upload_image.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_upload_image.png",
              :target => ["_blank"] %>
  像上面圖像一樣上載的圖像。
  <br><br>
  在這裡上載的圖像，可以從別的網頁上看。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>
  在這裡使用「<u>paperclip</u>」的「<a href="/zh-TW/mugcups/3#title2-2-1" target="_blank">gem</a>」，上載圖像。
  <br><br>
  那麽做做看吧！
  </strong>
  <hr class="red-hr">
  <strong>
    <i class="fa fa-arrow-right"></i>　圖像是用<u>河出書房新社的『Tonio Kröger』（トーマス・マン，翻譯 平野卿子）的封面</u>。謝謝！
  </strong>
</h4>