<h4 id="coffee-chapter4-2-2-1">
  <p id="title2-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 編輯資料庫</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>首先在資料庫裡追加圖像的框子吧。</strong>
  <br><br>
  為了追加設定圖像的框子，在terminal上打入
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g paperclip user image</span>
</td>
</tr>
</table>
  <br>
  的命令。
  <br>
  這樣作好了，<strong>「<u>users</u>」資料庫裡追加「<u>image</u>」的框子的設定文件「<u>日子_add_attachment_image_to_users.rb</u>」</strong>。
  <br>
  <small>※　「image」的框子，可以使用「photo」這樣子自己喜歡的名字。</small>
  <hr class="red-hr">
  看看作好的設定文件吧。
  <br>
  打開<strong>「<u>db > migrate > 日子_add_attachment_image_to_users.rb</u>」</strong>，看看內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>日子_add_attachment_image_to_users.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>AddAttachmentImageToUsers <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>self.up</span></span>
<span class='code-line'>    change_table <span class='word-purple'>:users</span><span class='word-red'> do</span> |t|</span>
<span class='code-line'>      t.attachment <span class='word-purple'>:image</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>self.down</span></span>
<span class='code-line'>    remove_attachment <span class='word-purple'>:users</span>, <span class='word-purple'>:image</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  為了適用這個設定，在terminal上打入
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
  <br>
  這個命令吧！
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不動的話，在前面追加<strong>「bundle exec」</strong>，打入<strong>「bundle exec rake ...」</strong>吧。
  </small>
  <br><br>
  這樣，資料庫的設定好了！
  <br>
  用<strong><u>Sequel Pro</u></strong>看看資料庫有沒有作好！
  <br>
  <small>※　打開Sequel Pro的方法，<a href="/zh-TW/mugcups/how_to_open#title1" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  在<strong>「created_at」「updated_at」</strong>的後面，
  <br>
  有沒有追加<strong>「<u>image</u>」的框子</strong>嗎？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee4/Sequel_Pro_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee4/Sequel_Pro_images.png",
              :target => ["_blank"] %>
</h4>