<h2 class="textbook-section-title" id="title1"><strong>1 : トップページを作る</strong></h2>
<h4 id="chapter7-1">
  <%= render "page8/title1_1" %>
  <hr>
  <%= render "page8/title1_2" %>
  <hr>
  <%= render "page8/title1_3" %>
</h4>