<h4 id="chapter1-1">
      <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : コマンドプロンプト</strong></p>
      <br>
      まずは「コマンドプロンプト」を開いてみます。
      <br>
      <ul class="number_ul">
        <li><strong><u>Windows10</u></strong>であれば、<strong>「<u>Cortana</u>」</strong></li>
        <li><strong><u>Windows8以下</u></strong>であれば、<strong>「<u>アプリ検索</u>」</strong></li>
      </ul>
      で、<strong>「<u>コマンドプロンプト</u>」</strong>を検索して、開いてみて下さい。
      <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/terminal1.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/terminal1.png",
                  :target => ["_blank"] %>
      <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/terminal2.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/terminal2.png",
                  :target => ["_blank"] %>
      <i class="fa fa-arrow-right"></i>　この<strong>「<u>コマンドプロンプト</u>」</strong>というアプリケーションを使い、コンピューターに命令を与え、ウェブサイトを作っていきます。
      <hr class="red-hr">
      <i class="fa fa-question-circle color-red"></i>　<strong>ではコマンドプロンプトを使って、デスクトップ内を移動しましょう！</strong>
      <br><br>
      半角英数字で「cd Desktop」と入力して、Enterを押してみましょう。
      <br>
      下のように１行追加されて表示されたでしょうか？
      <br>
      下の画像の赤線が現在の場所を示しています。今は、<strong class="color-red">Desktop</strong>にいますね。
      <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/terminal3.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/terminal3.png",
                  :target => ["_blank"] %>
      「cd」を使えば、現在のフォルダ内にある<strong><u>指定されたフォルダに移動できます。</u></strong>
      <br><br>
      <i class="fa fa-folder color-red"></i>　<strong>「cd」で、デスクトップ内の好きなフォルダに移動しよう！
      <br>
      　　「open ファイル名」で、ファイルを開くこともできます。</strong>
      <br>
      <small>
      ※「cd ..」と入力すれば前のフォルダに移動できます。
      <br>
      ※　半角英数字で入力して下さい。
      </small>
      <br><br>
      <strong class="little-remarkable"><i class="fa fa-arrow-right"></i>　今後<span class="color-red">「ターミナル」</span>という言葉が出てきますが、適宜<span class="color-blue">「コマンドプロンプト」</span>に置き換えて下さい。</strong>
</h4>