<h4 id="chapter1-2">
  <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 「rails_project」の開き方</strong></p>
  <br>
  Windowsでのコマンドプロンプトでの「rails_projects」の開き方を説明します。
  <br><br>
  <ul class="number_ul">
    <li><strong><u>Windows10</u></strong>であれば、<strong>「<u>Cortana</u>」</strong></li>
    <li><strong><u>Windows8以下</u></strong>であれば、<strong>「<u>アプリ検索</u>」</strong></li>
  </ul>
  で「コマンドプロンプト」を検索して開いてみて下さい。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal1.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal2.png",
              :target => ["_blank"] %>
  終わったら、コマンドプロンプトで下の入力をして下さい。
  <br>
  <small>※　<strong>「_」</strong>は、<strong>「<u>Shift</u>」を押しながら「<u>/</u>」を入力</strong>して下さい。</small>
  <br><br>
  <strong>　コマンドプロンプト（半角英数字で入力）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd /rails_projects</span>
</td>
</tr>
</table>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_rails_projects.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_rails_projects.png",
              :target => ["_blank"] %>
  <i class="fa fa-arrow-right"></i>　<strong>これで「rails_projects」をコマンドプロンプトで開くことができました。</strong>
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>次に「myapp」に移動するなら、</strong>
  <br><br>
  <strong>　コマンドプロンプト（半角英数字で入力）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
  <br>
  で移動します。
</h4>