<h4 id="chapter1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : フォルダの作成</strong></p>
  <br>
  Windowsでの「rails_project」の作成の方法を説明します。
  <br><br>
  <ul class="number_ul">
    <li><strong><u>Windows10</u></strong>であれば、<strong>「<u>Cortana</u>」</strong></li>
    <li><strong><u>Windows8以下</u></strong>であれば、<strong>「<u>アプリ検索</u>」</strong></li>
  </ul>
  で「エクスプローラー」を検索して開いてみて下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder1.png",
              :target => ["_blank"] %>
  開けたら、左側にあるスライドバーから<strong>「<u>PC</u>」</strong>を探してクリックして、下にある<strong>「<u>〜（C:）</u>」</strong>を開いて下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
              :target => ["_blank"] %>
  開けたら、右上にある<strong>「<u>新しいフォルダ</u>」</strong>をクリックして下さい。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder3.png",
              :target => ["_blank"] %>
  クリックすると名前の入っていないフォルダが作成されるので、<strong>「rails_projects」</strong>と入力して保存して下さい。
  <br>
  <small>※　「 _ 」は「Shift」と「\」を一緒に押せば出てきます。</small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder4.png",
              :target => ["_blank"] %>
  <strong><i class="fa fa-arrow-right"></i>　これで「rails_projects」のフォルダを作成できました！</strong>
</h4>