<h4 id="chapter10-3-4">
  <p id="title3-4" class="fix-link-nav"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : 總結</strong></p>
  <br>
  在這個章，使用在<a href="/zh-TW/mugcups/9" target="_blank"><strong>上章</strong></a>設定的「devise」的「users」資料庫作網頁。
  <br><br>
  <strong>設定的內容<a href="/zh-TW/codes/10" target="_blank">請參考這裡</a>吧</strong>
  <hr class="red-hr">
  為了設定「users」網頁的內容、首先做<a href="/zh-TW/mugcups/10#title3-1" target="_blank"><strong>用哪一個網頁的設定</strong></a>。
  <br>
  之後在各個網頁上，做<a href="/zh-TW/mugcups/10#title3-2" target="_blank"><strong>顯示網頁・操作資料的設定</strong></a>。
  <br><br>
  網頁的設定也做好了之後，用
  <strong>
  <ul class="number_ul">
    <li>current_user</li>
    <li>user_signed_in?</li>
    <li>&lt;% else %&gt;</li>
  </ul>
  </strong>
  設定遊覽列（詳細的內容<a href="/zh-TW/mugcups/10#title3-3-3" target="_blank"><strong>請參考這裡</strong></a>）。
  <hr class="red-hr">
  到這裡，可以看會員資料了。
  <br><br>
  <strong>接着<u>在投稿的「posts」資料庫裡加會員資料</u>，<u>從投稿的資料看會員的資料</u>吧。</strong>
</h4>