<h2 class="textbook-section-title" id="title3"><strong>3 : 作「users」網頁</strong></h2>
<h4 id="chapter10-3">
到這裡作了、<u>沒有登入的利用者不能看全部的「posts」網頁的網站</u>了。
<br>
<strong><u>用作好的「users」資料庫，接着作「users」資料庫的網頁吧。</u></strong>
<hr class="red-hr">
<strong>
在這個章作的「users」資料庫的網頁的設定是，
  <ul class="number_ul">
    <li><a href="/zh-TW/mugcups/5#title1-1" target="_blank">show</a></li>
    顯示會員的資料
    <li><a href="/zh-TW/mugcups/5#title1-2" target="_blank">index</a></li>
    顯示全部的會員的資料
    <li><a href="/zh-TW/mugcups/6#title1-5" target="_blank">edit</a></li>
    打入編輯的會員的資料
    <li><a href="/zh-TW/mugcups/6#title1-6" target="_blank">update</a></li>
    用「edit」網頁打入的內容，更新會員的資料
  </ul>
這個四個內容。
</strong>
<hr class="red-hr">
<strong>
在這裡，在「users」資料庫上設定
  <ul class="number_ul">
    <li><a href="/zh-TW/mugcups/6#title2-route" target="_blank">七個網頁的設定</a></li>
    <li><a href="/zh-TW/mugcups/6#title2-data-view" target="_blank">操作資料的設定</a></li>
    <li><a href="/zh-TW/mugcups/6#title2-data-view" target="_blank">顯示網頁的設定</a></li>
  </ul>
這個三個內容。
<hr class="red-hr">
首先從<u>「七個網頁的設定」</u>開始做吧！
</strong>
<hr>
<%= render "page10/zh-TW/title3_1" %>
<hr>
<%= render "page10/zh-TW/title3_2" %>
<hr>
<%= render "page10/zh-TW/title3_3" %>
<hr>
<%= render "page10/zh-TW/title3_4" %>
</h4>