<h4 id="coffee-chapter2-2-1">
  <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : route.rb</strong></p>
  <br>
  まずは<strong>「<u>config > route.rb</u>」</strong>を設定します。
  <br><br>
  「messages」は一つ一つのデータを見たり後から変更したり削除したりはしません。
  <br>
  なので今回使うページは、
  <strong>
    <ul class="number_ul">
      <li>index（全データの表示）</li>
      <li>new（新しいデータの記入）</li>
      <li>create（データの作成）</li>
    </ul>
  </strong>
  の3つだけのように思えますが、<strong>今回は<u>「index」と「new」は「users」データベースのページに表示</u>させてみるので、<u>使うのは「create」のみ</u>になります。</strong>
  <br><br>
  これで「route.rb」を下のように設定してみましょう！
  <br>
  <i class="fa fa-file color-red"></i>　<strong></strong>
</h4>