<h4 id="coffee-chapter2-2-2-2">
  <p id="title2-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : users_controller.rb</strong></p>
  <br>
  ここでは<strong>「users_controller.rb」</strong>で、
  <ul class="number_ul">
    <strong><li>「<a href="/mugcups/5#title1-2" target="_blank">全てのデータの表示（index）</a>」</li></strong>
    <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  @messages <span class="word-red">=</span> <span class='word-blue'>Message</span>.where(指定する条件)</span>
</td>
</tr>
</table>
    <br>
    <strong><li>「<a href="/mugcups/6#title1-3" target="_blank">新しいデータの記入（new）</a>」</li></strong>
    <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  @message <span class="word-red">=</span> <span class='word-blue'>Message</span>.<span class='word-red'>new</span></span>
</td>
</tr>
</table>
  </ul>
  を設定してみます。
  <hr class="red-hr">
  では<strong>「<u>app > controllers > users_controller.rb</u>」</strong>を開いて、下のように内容を変更してみましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（7、8行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
<strong class="color-red">7
8</strong>
9
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @user <span class='word-red'>=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line remarkable-code'>    @messages <span class='word-red'>=</span> <span class='word-blue'>Message</span>.where(<span class='word-purple'>:receiver</span> => @user.id)</span>
<span class='code-line remarkable-code'>    @message <span class='word-red'>=</span> <span class="word-blue">Message</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  内容の説明をしましょう！
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>まずは7行目</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
</td>
<td class='code-content'><span class='code-line'>    @messages <span class='word-red'>=</span> <span class='word-blue'>Message</span>.where(<span class='word-purple'>:receiver</span> => @user.id)</span>
</td>
</tr>
</table>
  <br>
  この設定で、
  <br>
  <strong><u>「receiver」が、ページの会員情報「@user」の「id」と一致</u>する「messages」データベースのデータを選択</strong>しています。
  <br>
  <small>※　whereの説明は<a href="/mugcups/4#title2-2" target="_blank"><strong>こちら</strong></a>を参考</small>
  <br><br>
  これで、<strong>表示している会員ページに対応する「messages」データベースのデータを選択</strong>することができました。
  <br><br>
  <strong>ここで設定した標識「<u>@messages</u>」を、伝言板の部分でページで表示させます。</strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_owner_after_posts.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_owner_after_posts.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>最後に8行目</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>8
</td>
<td class='code-content'><span class='code-line'>  @message <span class="word-red">=</span> <span class='word-blue'>Message</span>.<span class='word-red'>new</span></span>
</td>
</tr>
</table>
  <br>
  この設定で、
  <br>
  <strong>入力欄に入れるための、空の「messages」データを作成します。</strong>
  <br>
  <small>※　詳細は<a href="/mugcups/6#title1-3" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  <strong>ここで設定した「@message」で、投稿の入力欄を作成します。</strong>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_owner_after_posts.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_owner_after_posts.png",
              :target => ["_blank"] %>
  ここまででデータ操作は設定できました！
  <br><br>
  <strong>最後に今回説明した内容のまとめをします！</strong>
</h4>