<h4 id="coffee-chapter2-2-3-1">
  <p id="title2-3-1" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 上のバーの設定</strong></p>
  <br>
  設定を始める前に、まずは<strong><a href="/mugcups/css#title2-3" target="_blank">上のバー・navigation-bar</a></strong>に「users」データベースのページへのリンクを追加したいと思います。
  <br>
  <small>※　内容の説明は<a href="/mugcups/7#title2-2-4" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <hr class="red-hr">
  上のバーの設定は、<strong>「<u>app > views > layouts > application.html.erb</u>」</strong>に設定しました。
  <br><br>
  この<strong>「<u>app > views > layouts > application.html.erb</u>」</strong>に設定を追加しましょう！
  <br>
  <small>※　詳細は<a href="/mugcups/10#title3-3-1" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（25、26行目を追加）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>23
24
<strong class="color-red">25
26</strong>
27
28
29
30
31
31
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">if</span> user_signed_in? %&gt;</span>
<span class='code-line remarkable-code'>      &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span>&gt;会員一覧&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line remarkable-code'>      &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= current_user.id %&gt;"</span>&gt;&lt;%= current_user.family_name %&gt;&lt;%= current_user.first_name %&gt;さん&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>li</span>&gt;&lt;%= link_to <span class='word-yellow'>"ログアウト"</span>, destroy_user_session_path, <span class="word-purple">:method</span> =&gt; <span class='word-purple'>:delete</span> %&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_up"</span>&gt;登録する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_in"</span>&gt;ログインする&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>ul</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  この2行で、
  <strong>
    <ul class="number_ul">
      <li>会員一覧ページへのリンク</li>
      <li>ログインしている会員ページへのリンク</li>
    </ul>
  </strong>
  を設定しました。
  <br><br>
  今回は<strong>「<u>ログインしている会員ページへのリンク</u>」</strong>で、<strong><u>ログインしている会員の名前を表示</u></strong>させる設定をしました。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee2/Chrome_messages_users_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee2/Chrome_messages_users_1_no_messages.png",
              :target => ["_blank"] %>
  <strong>次から、「messages」データベースのページ表示を設定してみましょう！</strong>
</h4>