<h4 id="coffee-chapter2-2-3-3">
  <p id="title2-3-3" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : 入力欄・ボタンの表示</strong></p>
  <br>
  ここでは<strong>「<u>users</u>」データベースの「<u>show.html.erb</u>」</strong>で、入力欄・ボタンの表示の設定をしてみたいと思います。
  <br><br>
  入力欄・ボタンの表示の設定は、<strong>「<a href="/mugcups/6#title1-3" target="_blank">新しいデータの記入（new）</a>」</strong>で説明したようなやり方で行います。
  <br><br>
  <strong>「<u>app > views > users > show.html.erb</u>」</strong>をSublime Textで開いて下のように変更してみましょう！
  <br>
  <small>※　Sublime Textの開き方は、<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>を参考にしてください</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
<strong class="color-red">14
15
16
17
18
19</strong>
20
21
22
23
24
25
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;ユーザー情報&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;名前：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;さん（&lt;%= @user.age %&gt;歳）&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;自己紹介：&lt;%= @user.self_introduction %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>h4</span>&gt;伝言板&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'></span>
<span class='code-line'>&lt;% @messages.each <span class="word-red">do</span> |m| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>h5</span>&gt;&lt;%= m.id %&gt; <span class='word-purple'>:</span> &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'><span class='word-yellow'>"/users/&lt;%= m.user.id %&gt;"</span></span>&gt;&lt;%= m.user.family_name %&gt;&lt;%= m.user.first_name %&gt;さん&lt;/<span class='word-red'>a</span>&gt;の投稿&lt;/<span class='word-red'>h5</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;%= m.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'></span>
<span class="remarkable-code"><span class='code-line'>&lt;%= form_for @message <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:content</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"なにか伝言を残そう！"</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:receiver</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"登録する"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'></span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;ユーザー一覧に戻る&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">if</span> @user.id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= @user.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;ユーザー情報を編集する&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  では内容の説明をしましょう！
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>まずは14、19行目から</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（14行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>14
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @message <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
  <br>
  と
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（19行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>19
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  の間で<strong>新しく作成する「@message」のデータの<u>記入欄とデータの送信ボタン</u>を作成</strong>します。
  <br>
  <small>※　内容の詳しい説明は<a href="/mugcups/6#title1-3" target="_blank"><strong>こちら</strong></a>を参考</small>
  <br><br>
  <strong>「<u>messages_controller.rb</u>」で設定した「<u>@messages</u>」を、</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>messages_controller.rb（5〜9行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
<strong class="color-red">8</strong>
9
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @user <span class='word-red'>=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @messages <span class='word-red'>=</span> <span class='word-blue'>Message</span>.where(<span class='word-purple'>:receiver</span> => @user.id)</span>
<span class='code-line remarkable-code'>    @message <span class='word-red'>=</span> <span class="word-blue">Message</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong>一つ一つのデータ「f」に分けて</strong>、それを19行目までの間で記入欄と送信ボタンに変えています。
  <br>
  <small>※　内容の詳しい説明は<a href="/mugcups/5#title1-2-1" target="_blank"><strong>こちら</strong></a>を参考</small>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>次は15〜18行目を説明します。</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（15〜18行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>15
16
17
18
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:content</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"なにか伝言を残そう！"</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:receiver</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"登録する"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  とりあえず<strong><u>15行目</u></strong>で、<u>記入欄を設定している</u>のは分かると思います。
  <br>
  <small>※　詳しい説明は<a href="/mugcups/6#title1-3" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>15
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:content</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"なにか伝言を残そう！"</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  今回は後ろに、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class="word-purple">:placeholder</span> =&gt; <span class="word-yellow">"なにか伝言を残そう！"</span></span>
</td>
</tr>
</table>
  <br>
  が追加されたと思います。
  <br>
  この部分で、入力欄になにも入力されていない時に出す文字を設定します。
  <textarea class="form-control" style="width:500px;margin:30px 0;" placeholder="なにか伝言を残そう！"></textarea>
  ここも適当に覚えてください。
  <hr class="red-hr">
  次に<strong><u>18行目</u></strong>で、ボタンを設定していることも分かると思います。
  <br>
  <small>※　詳しい説明は<a href="/mugcups/6#title1-3" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>18
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"登録する"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  今回は「btn-warning」という黄色のボタンを使っています。
  <div style="margin:30px auto;">
    <a class="btn btn-warning">登録する</a>
  </div>
  <hr class="red-hr">
  最後に<strong><u>16行目</u></strong>を説明しましょう。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>16
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:receiver</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
</td>
</tr>
</table>
  <br>
  ここは今まで説明してこなかった設定ですね。
  <br><br>
  「:receiver」が入っているので、<strong><u>「:receiver」を設定</u></strong>していることはもしかしたらは予測できると思います。
  <br>
  ただ、ページに記入欄は表示されていませんね。
  <br>
  <small>※　<strong>「<a href="http://0.0.0.0:3000/users/1" target="_blank">0.0.0.0:3000/users/1</a>」</strong>で確認してみて下さい。</small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
              :target => ["_blank"] %>
  これは<strong><u>入力欄なしで、</u></strong>「:receiver」の枠組みにページの会員データ「@user」の「id」を入れるための設定になります。
  <br><br>
  今回の「users」データベースの「show」ページでは、<strong><u>元から送信先の会員の情報が分かっている</u>のでそれを入力させる必要はありません。</strong>
  <hr class="red-hr">
  このように<strong><u>入力させる必要がないデータを設定</u></strong>するには、
<pre>
&lt;%= f.hidden_field :枠組みの名前, :value => 入れたい情報 %&gt;
</pre>
  で設定します。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>では、<u>「:place」の枠組みの「@user」の「location」のデータを入れる</u>ための<u>「hidden_field」</u>の設定はどのようなものになるでしょうか？</strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="答えを入力して下さい">
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:place</span>, <span class='word-purple'>:value</span> =&gt; @user.location %&gt;</span>
</td>
</tr>
</table>
  <br>
  ウェブサイトでは、例えば<strong>今回の「<u>hidden_field</u>」を使って入力させる必要のないデータを送信</strong>しています。
  <hr class="red-hr">
  これでページの設定もできました。
  <br><br>
  ここまでできたら、<strong><u>メッセージの作成・表示</u></strong>ができるかを試してみましょう！
  <br>
  <small>※　一回「rails s」で動かしたサーバーを「Command」と「c」を一緒に押して止めてから、もう一度「rails s」を入力して下さい。</small>
  <br><br>
  ブラウザで<strong>「<a href="http://0.0.0.0:3000/users/1" target="_blank">0.0.0.0:3000/users/1</a>」</strong>を開いてみましょう。
  <br><br>
  下のようなページは表示されたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
              :target => ["_blank"] %>
  ここで入力欄に投稿を入力して、<a class="btn btn-warning">登録する</a> を押してみましょう！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_input_message.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_input_message.png",
              :target => ["_blank"] %>
  下のように投稿が表示されたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_after_post_message.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_after_post_message.png",
              :target => ["_blank"] %>
  Sequel Proで、データベースに内容が保存されたかを確認してみましょう！
  <br>
  <small>※　Sequel Proの開き方は<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>を参考</small>
  <br><br>
  <strong>
  ここまででページ表示の設定が完了しました！
  <br><br>
  最後にまとめをしましょう。
  </strong>
</h4>