<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
<h4 id="coffee-chapter2-0">
  <i class="fa fa-bookmark color-red"></i>　
  <strong>
  <a href="/coffee_cups/1" target="_blank">前章</a>で作った「message-app」に実際のメッセージ機能をつける。
  </strong>
  <hr class="red-hr">
  基本的にこれまでで習ってきた内容で、
  <%= link_to image_tag("coffee2/Chrome_messages_users_1_final_version.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "/assets/coffee2/Chrome_messages_users_1_final_version.png",
              :target => ["_blank"] %>
  のような、<strong><u>それぞれのユーザーの「show」ページで表示する伝言板</u></strong>を作ってみます。
  <br><br>
  ここで設定する内容は、
  <strong>
    <ul class="number_ul">
      <li>「messages」データベースの作成</li>
      <li>「7つのページの内、どれを使うか」の設定（route.rb）</li>
      <li>データ操作の設定（controller）</li>
      <li>ページ表示の設定（views）</li>
    </ul>
  </strong>
  の4つになります。
  <br><br>
  全て「posts」データベースでやった内容になると思います。
  <br>
  <strong>では、始めてみましょう！</strong>
</h4>