<h4 id="coffee-chapter2-2-3-4">
  <p id="title2-3-4" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑷ : まとめ</strong></p>
  <br>
  今回新しく、<strong><u>hidden_field</u></strong>を設定しました。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>hidden_field</strong>
  <br><br>
  入力させる必要のない情報を入れるには、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:receiver</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
</td>
</tr>
</table>
  <br>
  を設定します。
  <br><br>
  <strong>今回は<u>「:receiver」に「@user」の「id」を入れる</u>ように設定しました。</strong>
</h4>