<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
        <h4 id="chapter5-0">
        <i class="fa fa-bookmark color-red"></i>　Ruby on Railsはどのような作れるページを作れるかを知り、ページを実際に作ってみる。
        <hr>
        前章では、<u>Ruby on Railsでデータベースを作り、そこに実際のデータを作成しそのデータの変更・削除もしました。</u>
        <br>
        ここまででなんとなくウェブページが裏で行っていたことが、なんとなく理解できたのではないかと思います。
        <hr class="red-hr">
        前章ではFacebookの投稿を例にとりましたが、<u>例えばメッセージアプリでは、</u>
        <br><br>
        <strong>messages</strong>
        <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>id</th>
                <th>user</th>
                <th>send_to</th>
                <th>content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>82903</td>
                <td>山田太郎</td>
                <td>佐藤一郎</td>
                <td>１限の資料取ってくれない？</td>
              </tr>
              <tr>
                <td>82904</td>
                <td>鈴木実</td>
                <td>高橋幸雄</td>
                <td>今日テストだよ笑</td>
              </tr>
              <tr>
                <td>80905</td>
                <td>山本進</td>
                <td>山口浩二</td>
                <td>この前貸した100万返して</td>
              </tr>
            </tbody>
          </table>
          <br>
          みたいな感じのデータベースにデータを保存して、それを表示させています。
          <br>
          もう簡単なデータベースの作り方も分かったのではないかとと思うので、<strong>この章では保存したデータを「<i>rails c</i>」でなく、<u>ブラウザのページに表示・作成・変更・削除させてみることをやってみたいと思います。</u></strong>
          <br>
          <small>※　ページの表示にはhtmlを使うことになりますので、少しだけ<a href="/pages/3#title1" target="_blank"><strong>htmlの内容</strong></a>を見ておいてください。</small>
        </h4>