<h4 id="chapter5-1-1-2">
        <p id="title1-1-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : データ操作の設定</strong></p>
        ７つ全てのページを使うことを設定しましたので、次は<strong><u>データをどのように操作するかを設定</u></strong>しましょう。
        <br>
        ここでは<strong>「<u>１つのデータの表示（show）</u>」</strong>をやってみましょう！
        <hr class="red-hr">
        まずはターミナルを使って、<u>データ操作とページの設定ファイルを作ります。</u>
        <br>
        ターミナルで「myapp」にまで移動しましょう！
        <br><br><br>
        <p class="alert alert-success">
        <span><strong><i class="fa fa-windows color-blue"></i>　Windowsでの移動の方法は<a href="/mugcups/windows_tips#title1-2" target="_blank">こちら</a>を参考</strong></span>
        </p>
        <br>
        <strong>　ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
        <br>
        移動ができたら下の入力をして下さい。
        <br>
        <strong class="little-remarkable"><u>この入力でデータベース「posts」のデータ操作とページの設定ファイルを作ります。</u></strong>
        <br><br>
        <strong>　ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g controller posts</span>
</td>
</tr>
</table>
        <br>
        下のような表示がでてきたでしょうか？この入力で設定ファイルが作成されました。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Terminal_rails_g_controller_posts.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Terminal_rails_g_controller_posts.png",
                    :target => ["_blank"] %>
        では、それを確認しましょう！まずは、Sublime Textで<strong>「<u>myapp</u>」</strong>を開いてみましょう！
        <br>
        <small>
        ※　Sublime Textを使ったフォルダの開き方は<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>を参考にして下さい
        <br>
        <i class="fa fa-windows color-blue"></i>　Windowsでのファイル・フォルダの開き方は<a href="/mugcups/how_to_open#title2" target="_blank"><strong>こちら</strong></a>を参考にして下さい。
        </small>
        <hr class="red-hr">
        ウィンドウが出てきたら<strong>「<u>app</u>」</strong>を開いてみましょう。
        <br>
        下のように、その中に<strong>「<u>controllers</u>」</strong>と<strong>「<u>views</u>」</strong>というフォルダが入っていると思います。
        <br>
        では、それぞれを開いてみましょう。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_controller_folder_and_view_folder.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_controller_folder_and_view_folder.png",
                    :target => ["_blank"] %>
        <strong>「<u>controllers</u>」</strong>には<strong>「<u>posts_controller.rb</u>」</strong>というファイルが、<strong>「<u>views</u>」</strong>には<strong>「<u>posts</u>」</strong>というフォルダがあると思います。
        <br><br>
        これらがさっきの<strong>「<u>rails g controller posts</u>」</strong>で作られたファイル・フォルダになり、それぞれでデータ操作の設定とページの設定をします。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_post_controller_and_post_view.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_post_controller_and_post_view.png",
                    :target => ["_blank"] %>
        長々と説明しても仕方ないので、まずはデータ操作の設定から始めましょう。
        <hr class="red-hr">
        まずは、さっき見てみた<strong>「<i>posts_controller.rb</i>」</strong>のファイルを開いてみましょう。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>PostsController <span class='word-green'>< ApplicationController</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        このような内容になっているでしょうか？
        <br>
        まずは下のように内容を変更してみて下さい。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（半角英数字で入力）</strong>
        <br>
        <small>
        ※　変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        <br>
        <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>PostsController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>destroy</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong>「<i>rails g controller データベース名</i>」</strong>で設定ファイルを作ったら、まずは作った<strong>「<u>データベース名_controller.rb</u>」</strong>に上のような設定を加えて下さい。
        <br>
        この<strong>「<i>def ページ名</i>」</strong>と<strong>「<i>end</i>」</strong>の間に、<u><strong>「routes.rb」</strong>で設定したページごとで行うデータ操作の方法</u>を指定します。
        <br>
        <small>（例えば「Post.all」だったり「Post.create(いろいろ)」だったり「Post.find(番号)」）</small>
        <br><br>
        <i class="fa fa-arrow-circle-right color-red"></i>　なのでもし<strong>「<u>routes.rb</u>」</strong>で<strong>「<u>destroy</u>」</strong>を設定しなかったのであれば、
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>21
22
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>destroy</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        の2行はいりません。
        <br>
        ここらへんは好きなように設定して下さい。
        <hr class="red-hr">
        では、この中にデータの操作の方法を設定していきましょう。
        <br>
        今回は<strong>「<u>１つのデータの表示（show）</u>」</strong>なので、
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        にデータ操作の設定をしていきます。
        <br>
        では設定してみましょう。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（3〜5行目）</strong>
        <br>
        <small>※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        <br>
        <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
4
5
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong>これがページに「<u>１つのデータの表示（show）</u>」をするデータ操作の設定です。</strong>
        <br><br>
        よく見たら、「<u>Post.find(選択するid)</u>」が使われていますね。
        <br>
        後ろの<strong>「<u>params[:id]</u>」</strong>という部分は<strong>「<u>ページからidを取ってくる</u>」</strong>ことを示しているんですが、ここらへんは覚えるなりコピペして下さい。
        <hr class="red-hr">
        <strong class="little-remarkable">では、「@post」はなんなのでしょうか？これはいるのでしょうか？</strong>
        <br><br>
        この「@post」は、<strong><u>ページを表示させるhtmlファイルにデータを表示させる時の標識</u></strong>になります。
        <br>
        <strong>この標識をhtmlファイルの中に入れていくことで、ページにデータを表示させます。</strong>
        <br>
        <small>※　この標識の名前は<strong><u>「@」から始めるものならなんでも大丈夫</u></strong>なのですが、自分が分かりやすい名前にしましょう。</small>
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>「tweets」のデータベースの「<u>１つのデータの表示（show）</u>」の設定を書いてみましょう！</strong>
        <br><br>
        <textarea class="form-control input-code" placeholder="答えを入力して下さい" rows="3"></textarea>
        <br>
        <i class="fa fa-file color-red"></i>　<strong>tweets_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
4
5
</td>
<td class='code-content answer-code'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @tweet <span class="word-red">=</span> <span class='word-blue'>Tweet</span>.find(<span class='word-purple'>:params</span>[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
</h4>