<h4 id="chapter10-4-2">
  <p id="title4-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">⑵ : データ操作とページ表示の設定</strong></p>
  <br>
  枠組みの変更をしたので、データ操作とページ表示の内容を変更する必要があります。
  <br>
  「name」の枠組みはデータ操作・ページ表示の両方で使われているので、この両方を「user_id」を使った設定に変えていきます。
  <hr class="red-hr">
  <%= render "page11/title4_2_1" %>
  <hr class="red-hr">
  <%= render "page11/title4_2_2" %>
  <hr class="red-hr">
  <%= render "page11/title4_2_3" %>
</h4>