<h4 id="chapter10-4-3-2">
  <p id="title4-3-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : データ操作で条件分岐する</strong></p>
  <br>
  正しい会員かどうかの判定が必要になるページは、<u>保存された投稿を変更・削除する</u>
  <strong>
  <ul class="number_ul">
    <li>edit</li>
    <li>update</li>
    <li>destroy</li>
  </ul>
  </strong>
  の3つのページになります。
  <br><br>
  順番は前後しますが、まずは
<pre>
if @post.user_id == current_user.id
  #内容
else
  #内容
end
</pre>
  を使って、正しい会員でなければ「update」のデータ操作をさせないようにしてみます。
  <br>
  <strong>「<u>app > controllers > posts_controller.rb</u>」</strong>を下のように変更してみましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（31、33、34行目を追加）</strong>
  <br>
  <small>※　変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>28
29
30
<strong class="color-red">31
32
33
34</strong>
35
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @post = <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @user = <span class='word-blue'>User</span>.find(@post.user_id)</span>
<span class='code-line remarkable-code'>    <span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
<span class='code-line remarkable-code'>      @post.update(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
<span class='code-line remarkable-code'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  ここでも同じ条件分岐をしていますね。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">31</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'><span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
</td>
</tr>
</table>
  <br>
  の条件に合う場合だけ、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">32</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'>@post.update(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
</td>
</tr>
</table>
  <br>
  でデータの更新をするようにしました。
  <br>
  <small>※　@userを設定しているので条件は下のようなものでも大丈夫です</small>
<pre>
if @user.id == current_user.id
</pre>
<pre>
if @user == current_user
</pre>
  <br>
  <i class="fa fa-question-circle color-green"></i>　
  <strong>「destroy」のデータの削除も条件分岐で、正しい会員でなければ削除ができないようにしましょう！
  <br>（40〜43行目の上にマウスを置けば、答えが出ます）
  </strong>
  <br><br>
  <textarea class="input-code form-control" placeholder="答えを入力して下さい" rows="5"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（37〜44行目）</strong>
  <br>
  <small>※　変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>37
38
39
<strong class="color-red">40
41
42
43</strong>
44
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>destroy</span></span>
<span class='code-line'>    @post = <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @user = <span class='word-blue'>User</span>.find(@post.user_id)</span>
<span class="answer-code"><span class='code-line remarkable-code'>    <span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
<span class='code-line remarkable-code'>      @post.destroy</span>
<span class='code-line remarkable-code'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  ここまででデータ操作を「正しい会員」のみが行えるようになりました。
  <br>
  データ操作はされなくなったので安心なのですが、<strong><u>「正しい会員」でなくてもページには移動できてしまいます。</u></strong>
  <br><br>
  <strong>次は「else」に内容を入れて、<u>条件に合わない時は「posts」データベースの「index」ページに移動させましょう。</u></strong>
  <hr class="red-hr">
  htmlでのページの移動は
<pre>
&lt;a href="移動先のページ"&gt;表示する文字&lt;/a&gt;
</pre>
  で設定しました。
  <br><br>
  <strong>ですがこのページの移動は、htmlファイルだけでなく「controller」でも設定することができます。</strong>
  <br><br>
  「controller」でのページの移動は
<pre>
redirect_to "移動先のページ"
</pre>
  と設定して、これで設定されたページでページの移動をします。
  <br><br>
  これを使って「正しい会員」でなかった場合に、<strong>「<a href="http://0.0.0.0:3000/posts" target="_blank">0.0.0.0:3000/posts</a>」</strong>にページ移動させるようにしましょう。
  <hr class="red-hr">
  <strong>まずは「update」を設定してみます。</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（34、35行目を追加）</strong>
  <br>
  <small>※　変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>28
29
30
31
32
33
<strong class="color-red">34
35</strong>
36
37
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @post = <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @user = <span class='word-blue'>User</span>.find(@post.user_id)</span>
<span class='code-line'>    <span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
<span class='code-line'>      @post.update(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>      redirect_to <span class='word-yellow'>"/posts"</span></span>
<span class='code-line remarkable-code'>      flash[<span class='word-purple'>:alert</span>] = <span class='word-yellow'>"無効なユーザー"</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  ついでに<strong>「<a href="/mugcups/9#title2-2-2" target="_blank">通知</a>」</strong>を出す
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">35</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'>flash[<span class='word-purple'>:alert</span>] = <span class='word-yellow'>"無効なユーザー"</span></span>
</td>
</tr>
</table>
  <br>
  も追加しましたが、下の
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">34</strong>
</td>
<td class='code-content'><span class='code-line remarkable-code'>redirect_to <span class='word-yellow'>"/posts"</span></span>
</td>
</tr>
</table>
  <br>
  で「/posts」つまり<strong>「<a href="http://0.0.0.0:3000/posts" target="_blank">0.0.0.0:3000/posts</a>」</strong>に移動できるようにしました。
  <hr class="red-hr">
  <strong>これと同じように「destroy」も設定しましょう。</strong>
  <br><br>
<i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（45、46行目を追加）</strong>
<br>
<small>※　変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>39
40
41
42
43
44
<strong class="color-red">45
46</strong>
47
48
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>destroy</span></span>
<span class='code-line'>    @post = <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @user = <span class='word-blue'>User</span>.find(@post.user_id)</span>
<span class='code-line'>    <span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
<span class='code-line'>      @post.destroy</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>      redirect_to <span class='word-yellow'>"/posts"</span></span>
<span class='code-line remarkable-code'>      flash[<span class='word-purple'>:alert</span>] = <span class='word-yellow'>"無効なユーザー"</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  これで設定できました。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong><u>「posts_controller.rb」の「edit」に、「正しい会員」でなければ「<a href="http://0.0.0.0:3000/posts">0.0.0.0:3000/posts</a>」に移動させ「無効なユーザー」の通知を出す設定</u>を追加しましょう。</strong>
  <br>
  <small>※　正しい会員の場合は何もする必要はありません</small>
  <br><br>
  <textarea class="input-code form-control" placeholder="答えを入力して下さい" rows="5"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（26〜30行目）</strong>
  <br>
  <small>※　変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>23
24
25
<strong class="color-red">26
27
28
29
30</strong>
31
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>    @post = <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @user = <span class='word-blue'>User</span>.find(@post.user_id)</span>
<span class="answer-code"><span class='code-line remarkable-code'>    <span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
<span class='code-line remarkable-code'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>      redirect_to <span class='word-yellow'>"/posts"</span></span>
<span class='code-line remarkable-code'>      flash[<span class='word-purple'>:alert</span>] = <span class='word-yellow'>"無効なユーザー"</span></span>
<span class='code-line remarkable-code'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong>ここまでで<u>「posts」データベースの「edit」「update」「destroy」ページ</u>には正しい会員しか移動できないように設定できました。</strong>
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>最後に「users_controller.rb」の「edit」「update」に同じような設定を加えましょう！
  <br>
  （マウスを上に乗せれば、答えがでます）
  </strong>
  <br><br>
  <textarea class="input-code form-control" placeholder="答えを入力して下さい" rows="15"></textarea>
  <br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（13〜17行目/22〜27行目）</strong>
  <br>
  <small>※　変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>13
14
<strong class="color-red">15
16
17
18
19</strong>
20
21
22
23
<strong class="color-red">24
25
26
27
28
29</strong>
30
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>    @user = <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class="answer-code"><span class='code-line remarkable-code'>    <span class='word-red'>if </span>@user.id <span class="word-red">==</span> current_user.id</span>
<span class='code-line remarkable-code'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>      redirect_to <span class='word-yellow'>"/posts"</span></span>
<span class='code-line remarkable-code'>      flash[<span class='word-purple'>:alert</span>] = <span class='word-yellow'>"無効なユーザー"</span></span>
<span class='code-line remarkable-code'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @user = <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class="answer-code"><span class='code-line remarkable-code'>    <span class='word-red'>if </span>@user.id <span class="word-red">==</span> current_user.id</span>
<span class='code-line remarkable-code'>      @user.update(params.<span class="word-red">require</span>(<span class='word-purple'>:user</span>).permit(<span class='word-purple'>:first_name</span>, <span class='word-purple'>:family_name</span>, <span class='word-purple'>:self_introduction</span>))</span>
<span class='code-line remarkable-code'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>      redirect_to <span class='word-yellow'>"/posts"</span></span>
<span class='code-line remarkable-code'>      flash[<span class='word-purple'>:alert</span>] = <span class='word-yellow'>"無効なユーザー"</span></span>
<span class='code-line remarkable-code'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong><u>これで「users」ページでも「正しい会員」のチェックを設定することができました。<br><br>最後にまとめをします。</u></strong>
</h4>