<h4 id="chapter10-4-1">
  <p id="title4-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 「posts」データベースの変更</strong></p>
  <br>
  これまでに作った「posts」データベースでは「name」の枠組みがあったので、投稿の作成ページ（<a href="http://0.0.0.0:3000/posts/new" target="_blank"><strong>0.0.0.0:3000/posts/new</strong></a>）には「name」の入力欄がありました。
  <br><br>
  ですがここでは、<strong>会員情報（id）を使った枠組みを追加して<u>名前を表示させる</u></strong>ので、<u>「name」の入力欄はいりません。</u>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>まずは、「name」の入力欄と今残っているデータはいらないので消しちゃいましょう！</strong>
  <br><br>
  <strong class="remarkable"><i class="fa fa-exclamation color-red"></i>　残っているデータ全てを「show」のページの
  <a class="btn btn-danger">投稿を削除する</a>
  で消して下さい。</strong>
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong><u>データを全て消したら、次は枠組みを削除しましょう。</u></strong>
  <br><br>
  枠組みの削除は、削除するための設定ファイルを作りそこに削除の設定をします
  <br>
  <small>※　枠組みの削除の詳細は、<a href="/mugcups/4#title1-4" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>まずはターミナルで「<u>myapp</u>」まで移動して下さい。</strong>
  <br><br><br>
    <p class="alert alert-success">
    <span><strong><i class="fa fa-windows color-blue"></i>　Windowsでの移動の方法は<a href="/mugcups/windows_tips#title1-2" target="_blank">こちら</a>を参考</strong></span>
    </p>
  <br>
  　<strong>ターミナル（半角英数字で入力）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-arrow-right"></i>　<strong>次に設定ファイルを作るために、ターミナルで下の入力をしましょう</strong>
  <br><br>
  <strong>ターミナル（半角英数字で入力）</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「コマンドプロンプト」をご利用下さい。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g migration removeColumnFromPost</span>
</td>
</tr>
</table>
  <br>
  久々ですが、
<pre>
rails g migration 設定ファイル名
</pre>
  で枠組みの変更をする設定ファイルを作りました。
  <br>
  名前はなんでも良いのですが、分かりやすい名前にすることをおすすめします。
  <br><br>
  <strong>「<u>db > migrate > 日時_remove_column_from_post.rb</u>」</strong>が作成された設定ファイルになるので、下のように変更しましょう！
<br><br>
<i class="fa fa-file color-red"></i>　<strong>日時_remove_column_from_post.rb（半角英数字で入力）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3</strong>
4
5
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>RemoveColumnFromPost <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line remarkable-code'>    remove_column <span class='word-purple'>:posts</span>, <span class='word-purple'>:name</span>, <span class='word-purple'>:string</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  この
<pre>
remove_column :データベース名, :枠組みの名前, :データの種類
</pre>
  で枠組みの削除をします。
  <br>
  <small>※　詳細は<strong><a href="/mugcups/4#title1-4" target="_blank">こちら</a></strong>を参考にして下さい</small>
  <br><br>
  設定ができたら設定を適用させるために、
  <br><br>
  <strong>ターミナル</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「コマンドプロンプト」をご利用下さい。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
  <br>
  を入力して下さい。
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　動かない場合は、<strong>「bundle exec」</strong>を前につけ、<strong>「bundle exec rake ...」</strong>で入力して下さい。
  </small>
  <br><br>
  ここまでできたら、<strong><u>Sequel Pro</u></strong>でデータベースを確認してみましょう！
  <br>
  <small>
    ※　Sequel Proの開き方は<a href="/mugcups/how_to_open#title3" target="_blank"><strong>こちら</strong></a>を参考にして下さい。
    <br>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<a href="/mugcups/how_to_open#title4" target="_blank"><strong>SqliteBrowser</strong></a>をお使い下さい。
  </small>
  <br><br>
  <u><strong>「name」の枠組み</strong>は無くなっているでしょうか？</u>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong><u>では、「posts」データベースに会員の情報を入れる枠組みを設定しましょう。</u></strong>
  <br><br>
  先ほど消した「name」の代わりに<u>会員情報「users」データベースの「id」</u>を入れる<strong>会員情報の枠組み「user_id」</strong>を、「posts」データベースに追加します。
  <br><br>
  「users」の「id」と対応させるので、<u>枠組みのデータの種類は<strong>「数字」</strong>・名前は<strong>「user_id」</strong></u>にします。
  <br><br>
  例えば「idが189」の会員が投稿をしたら、<strong>「<u>posts</u>」データベースの「<u>user_id</u>」に「<u>189</u>」のデータが入って、この会員番号を使って名前を表示</strong>させます。
  <hr class="red-hr">
  <strong>ではやってみましょう！</strong>
  <br><br>
  まずは設定ファイルを作ってみます！
  <br>
  <small>※　詳細は<a href="/mugcups/4#title1-4" target="_blank"><strong>こちら</strong></a></small>
  <br><br>
  <strong>ターミナル（半角英数字で入力）</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「コマンドプロンプト」をご利用下さい。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g migration addColumnToPost2</span>
</td>
</tr>
</table>
  <br>
  <small>※　名前がかぶらないように最後に「2」を加えていますが、後で見てなにをしているかが分かれば名前はなんでも大丈夫です。</small>
  <br><br>
  できたら<strong>「<u>db > 日時_add_column_to_post2.rb</u>」</strong>を下のように設定しましょう。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>日時_add_column_to_post2.rb（半角英数字で入力）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3</strong>
4
5
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>AddColumnToPost2 <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line remarkable-code'>    add_column <span class='word-purple'>:posts</span>, <span class='word-purple'>:user_id</span>, <span class='word-purple'>:integer</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  この
<pre>
add_column :データベース名, :名前, :データの種類
</pre>
  で枠組みの追加をします。数字を入れるデータの種類は<strong>「<u>integer</u>」</strong>でした。
  <br>
  <small>※　詳細は<a href="/mugcups/4#title1-3-1" target="_blank"><strong>こちら</strong></a>になります</small>
  <hr class="red-hr">
  設定ファイルができたら設定を適用させるために、
  <br><br>
  <strong>ターミナル</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「コマンドプロンプト」をご利用下さい。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
  <br>
  これで枠組みの変更ができました。
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　動かない場合は、<strong>「bundle exec」</strong>を前につけ、<strong>「bundle exec rake ...」</strong>で入力して下さい。
  </small>
  <br><br>
  こちらも<strong><u>Sequel Pro</u></strong>で内容を確認しましょう
  <br>
  <small>
  ※　Sequel Proは<a href="/mugcups/how_to_open#title3" target="_blank"><strong>こちら</strong></a>を、SqliteBrowserは<a href="/mugcups/how_to_open#title4" target="_blank"><strong>こちら</strong></a>を参考にして下さい。
  </small>
  <br><br>
  <strong>「user_id」は追加されてるでしょうか？</strong>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Sequel_Pro_add_user_id.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page11/Sequel_Pro_add_user_id.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <strong><u>この「user_id」を使って、ページに投稿をした会員の情報を表示させます</u></strong>
</h4>