<h4 id="chapter10-4-3-3">
  <p id="title4-3-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : まとめ</strong></p>
  <br>
  ここでは、
  <br>
  <strong>誰にでもアクセスさせてはいけない<u>「users」「posts」</u>の
  <ul class="number_ul">
    <li>「<u>edit</u>」</li>
    <li>「<u>update</u>」</li>
    <li>「<u>destroy</u>」</li>
  </ul>
  ページに「正しい会員」かどうかのチェックを入れた。</strong>
  <br>
  <br>
  そのために
  <strong>
  <ul class="number_ul">
    <li>条件分岐（if/else）</li>
    <li>ページ移動（redirect_to）</li>
  </ul>
  </strong>
  を使ってそれを設定した。
  <br>
  ここでそれぞれの使い方についてまとめる
  <br><br>
  <strong>今回の設定は<a href="/codes/11" target="_blank">ここ</a>にまとめてあるので、参考にして下さい</strong>
  <hr class="red-hr">
  <ul class="number_ul">
    <strong><li>条件分岐（if/else）</li></strong>
    <br>
    条件に合うかどうかで、ページの表示・データ操作の方法を変更した。
    <br>
    ifは<a href="/mugcups/9#title2-2-2" target="_blank"><strong>ここ</strong></a>を、elseは<a href="/mugcups/10#title3-3-3" target="_blank"><strong>ここ</strong></a>を参考。
    <br><br>
    今回は一致するかどうかの条件を設定した。
    <br>
    一致するかどうかは、
<pre>
判定するもの == 判定するもの
</pre>
    で判定する。
    <hr class="red-hr">
    実際の設定は下のようになる。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
<strong class="color-red">7</strong>
8
9
<strong class="color-red">10</strong>
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;さん&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>h4</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>small</span>&gt;&lt;%= @post.created_at %&gt;：&lt;%= @post.place %&gt;&lt;/<span class='word-red'>small</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;% <span class="word-red">if</span> @post.user_id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;投稿を編集する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-danger"</span>&gt;投稿を削除する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
    <br>
    <strong><li>ページ移動（redirect_to）</li></strong>
    <br>
    「controller」ファイルでのページ移動は、
<pre>
redirect_to "移動先のページ"
</pre>
    で設定する。
    <hr class="red-hr">
    これを使った設定は下のようになる（通知を出す<strong>「<a href="/mugcups/9#title2-2-2" target="_blank">flash</a>」</strong>も入れた）。
    <br><br>
    <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>28
29
30
31
32
33
<strong class="color-red">34
35</strong>
36
37
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(@post.user_id)</span>
<span class='code-line'>    <span class='word-red'>if </span>@post.user_id <span class="word-red">==</span> current_user.id</span>
<span class='code-line'>      @post.update(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line remarkable-code'>      redirect_to <span class='word-yellow'>"/posts"</span></span>
<span class='code-line remarkable-code'>      flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"無効なユーザー"</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
    <hr class="red-hr">
  </ul>
  <strong>
    ここまででユーザー管理も終了です。
    <br>
    なかなかウェブページらしいウェブページになったのではないでしょうか？
  </strong>
</h4>