<h2 class="textbook-section-title" id="title2"><strong>2 : 設定網頁</strong></h2>
<h4 id="coffee-chapter2-2">
  <strong>作好資料庫了，接着設定網頁吧！</strong>
  <hr>
  在網頁的設定裡
  <strong>
  <ul class="number_ul">
    <li>七個網頁的設定（<u>routes.rb</u>）</li>
    <li>資料操作的設定（<u>controller</u>）</li>
    <li>顯示網頁的設定（<u>views</u>）</li>
  </ul>
  </strong>
  做這個三個設定。
  <br><br>
  設定開始之前，<strong><u>作資料操作・網頁顯示的設定文件吧！</u></strong>
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/5#title1-1-2" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
  <strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g controller messages</span>
</td>
</tr>
</table>
  <br>
  用這個打入作了
  <br>
  <strong>
    <ul class="number_ul">
      <li>操作資料的文件「<u>app > controllers > messages_controller.rb</u>」</li>
      <li>顯示網頁的文件夾「<u>app > views > messages</u>」</li>
    </ul>
  </strong>
  這個文件文件夾。
  <hr class="red-hr">
  首先從<strong>「七個網頁裡使用那些網頁的的設定（<u>routes.rb</u>）」</strong>開始做吧！
  <hr>
  <%= render "coffee2/zh-TW/title2_1" %>
  <hr>
  <%= render "coffee2/zh-TW/title2_2" %>
  <hr>
  <%= render "coffee2/zh-TW/title2_3" %>
</h4>