<h4 id="coffee-chapter2-2-3-3">
  <p id="title2-3-3" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : 顯示輸入框・按鈕</strong></p>
  <br>
  <strong>「<u>users</u>」資料庫的「<u>show.html.erb</u>」</strong>裡設定顯示輸入框・按鈕吧。
  <br><br>
  顯示輸入框・按鈕的的設定是，在<strong>「<a href="/zh-TW/mugcups/6#title1-3" target="_blank">打入新的資料（new）</a>」</strong>說明的方法做。
  <br><br>
  用 Sublime Text 打開<strong>「<u>app > views > users > show.html.erb</u>」</strong>文件吧！
  <br>
  <small>※　打開Sublime Text的方法，<a href="/zh-TW/mugcups/how_to_open#title1" target="_blank"><strong>請參考這裡</strong></a>吧。</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
<strong class="color-red">14
15
16
17
18
19</strong>
20
21
22
23
24
25
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;會員資料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;（&lt;%= @user.age %&gt;歲）&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;自我介紹：&lt;%= @user.self_introduction %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>h4</span>&gt;留言版&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'></span>
<span class='code-line'>&lt;% @messages.each <span class="word-red">do</span> |m| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>h5</span>&gt;&lt;%= m.id %&gt; : &lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'><span class='word-yellow'>"/users/&lt;%= m.user.id %&gt;"</span></span>&gt;&lt;%= m.user.family_name %&gt;&lt;%= m.user.first_name %&gt;&lt;/<span class='word-red'>a</span>&gt;的訊息&lt;/<span class='word-red'>h5</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;%= m.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'></span>
<span class="remarkable-code"><span class='code-line'>&lt;%= form_for @message <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:content</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"留下留言吧！"</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:receiver</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"登錄"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'></span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;返回會員資料&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">if</span> @user.id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= @user.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;編輯會員資料&lt;/<span class='word-red'>a</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  那麽解釋內容吧！
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>首先從第14、19行開始</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（第14行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>14
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @message <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
  <br>
  跟
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（第19行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>19
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  之間<strong>用新增的「@message」資料<u>作輸入框跟資料的發信按鈕</u></strong>。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/6#title1-3" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  把<strong>「<u>messages_controller.rb</u>」裡設定的「<u>@message</u>」，</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>messages_controller.rb（第5〜9行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
<strong class="color-red">8</strong>
9
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @user <span class='word-red'>=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @messages <span class='word-red'>=</span> <span class='word-blue'>Message</span>.where(<span class='word-purple'>:receiver</span> => @user.id)</span>
<span class='code-line remarkable-code'>    @message <span class='word-red'>=</span> <span class="word-blue">Message</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong>分成一個一個的資料「f」</strong>、在第19行之前顯示輸入框跟發信按鈕。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/5#title1-2-1" target="_blank"><strong>請參考這裡</strong></a></small>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>接着說明第15〜18行吧。</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（第15〜18行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>15
16
17
18
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:content</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"留下留言吧！"</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:receiver</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"登錄"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  可以理解在<strong><u>第15行</u></strong>，<u>設定輸入框</u>吧。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/6#title1-3" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>15
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.text_area <span class="word-purple">:content</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control my-form"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"留下留言吧！"</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  這一次在後面追加了
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class="word-purple">:placeholder</span> =&gt; <span class="word-yellow">"留下留言吧！"</span></span>
</td>
</tr>
</table>
  <br>
  的內容吧。
  <br>
  在這個部分，設定輸入框裡沒有打入資料的時候顯示的內容。
  <textarea class="form-control" style="width:500px;margin:30px 0;" placeholder="留下留言吧！"></textarea>
  記住這個設定吧。
  <hr class="red-hr">
  接著<strong><u>第18行</u></strong>裡，可以看到按鈕的設定吧。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/6#title1-3" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>18
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"登錄"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  這一次在設定「btn-warning」的黃色的安妮。
  <div style="margin:30px auto;">
    <a class="btn btn-warning">登錄</a>
  </div>
  <hr class="red-hr">
  最後解釋<strong><u>第16行</u></strong>吧。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>16
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:receiver</span>, <span class='word-purple'>:value</span> =&gt; @user.id %&gt;</span>
</td>
</tr>
</table>
  <br>
  這個是沒有解釋過的設定。
  <br><br>
  裡面有「:receiver」，可以推測是<strong><u>在作「:receiver」的輸入框的設定</u></strong>吧。
  <br>
  但是，網頁上沒有顯示輸入框。
  <br>
  <small>※　看看<strong>「<a href="http://0.0.0.0:3000/users/1" target="_blank">0.0.0.0:3000/users/1</a>」</strong>吧。</small>
  <br>
  <small><i class="fa fa-windows color-blue"></i>　看看<strong>「<a href="http://localhost:3000/users/1" target="_blank">localhost:3000/users/1</a>」</strong>吧。</small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
              :target => ["_blank"] %>
  這個是<strong><u>不想用輸入框設定資料庫的內容的時候</u></strong>使用的輸入框。在「:receiver」的框子裡放網頁的會員資料「@user」的「id」的設定。
  <br><br>
  在這個「users」資料庫的「show」網頁上，<strong><u>已經知道要對誰發信</u>所以不用讓利用者打入內容。</strong>所以使用這個內容。
  <hr class="red-hr">
  像這樣，<strong><u>不用讓利用者打入的資料</u></strong>的時候要，
<pre>
&lt;%= f.hidden_field :框子的名字, :value => 要放的資料 %&gt;
</pre>
  這樣設定。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>那麽，在<u>「:place」的框子裡放「@user」的「location」資料</u>的<u>「hidden_field」</u>的設定要怎麼設定好呢？</strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="打入答案">
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:place</span>, <span class='word-purple'>:value</span> =&gt; @user.location %&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong>不用打入的資料要用「<u>hidden_field</u>」發信。</strong>
  <hr class="red-hr">
  這樣做好了網頁的設定了。
  <br><br>
  到這裡，試試看<strong><u>訊息的新增・顯示</u></strong>可不可以做！
  <br>  <br>
  <small>
    ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  做好之後，打開「<a href="http://0.0.0.0:3000/users/1" target="_blank"><strong>0.0.0.0:3000/users/1</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/users/1" target="_blank"><strong>localhost:3000/users/1</strong></a>」吧。
  </small>
  <br><br>
  有沒有顯示下面圖像一樣的畫面嗎？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_no_messages.png",
              :target => ["_blank"] %>
  在這裡的輸入框裡打入資料之後，點擊<a class="btn btn-warning">登錄</a> 吧！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_input_message.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_input_message.png",
              :target => ["_blank"] %>
  像下面的圖像一樣，有沒有顯示訊息了嗎？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_after_post_message.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_after_post_message.png",
              :target => ["_blank"] %>
  在Sequel Pro裡，看看資料有沒有保存在資料庫吧。
  <br>
  <small>※　打開Sequel Pro的方法<a href="/zh-TW/mugcups/how_to_open#title3" target="_blank"><strong>請參考這裡</strong></a>，打開SqliteBrowser的方法<a href="/zh-TW/mugcups/how_to_open#title4" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
  <strong>
  這樣設定好網頁的設定了！
  <br><br>
  最後做總結吧。
  </strong>
</h4>