<h4 id="coffee-chapter2-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 資料操作</strong></p>
  <br>
  接下做<strong><u>資料操作</u></strong>吧。
  <hr class="red-hr">
  資料操作在<strong>「<u>messages_controller.rb</u>」「<u>users_controller.rb</u>」</strong>這個兩個設定文件上設定。
  <br><br>
  <ul class="number_ul">
    <strong><li>messages_controller.rb上</li></strong>
    <br>
    指定「messages」資料庫的<strong>「<a href="/zh-TW/mugcups/6#title1-4" target="_blank">新增資料（create）</a>」</strong>的資料操作。
    <br>
    <small>※　詳細<a href="/zh-TW/mugcups/11#title4-2-1" target="_blank"><strong>請參考這裡</strong></a>。</small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  @message <span class="word-red">=</span> <span class='word-blue'>Message</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:message</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:receiver</span>, <span class='word-purple'>:content</span>).merge(<span class='word-purple'>:user_id</span> => current_user.id))</span>
</td>
</tr>
</table>
    <br>
    <strong><li>users_controller.rb上</li></strong>
    <br>
    <strong>指定「show」網頁的資料操作的設定裡</strong>
    <br><br>
    設定「messages」資料庫的<strong>「<a href="/zh-TW/mugcups/5#title1-2" target="_blank">顯示全部的資料（index）</a>」</strong>跟<strong>「<a href="/zh-TW/mugcups/6#title1-3" target="_blank">打入新的資料（new）</a>」</strong>的資料操作。
    <br><br>
    <strong>「<a href="/zh-TW/mugcups/5#title1-2" target="_blank">顯示全部的資料（index）</a>」</strong>上做，訊息資料的顯示
    <br>
    <strong>「<a href="/zh-TW/mugcups/6#title1-3" target="_blank">打入新的資料（new）</a>」</strong>上做，新的訊息的輸入框的設定。
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_owner_after_posts.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee2/Chrome_messages_users_1_owner_after_posts.png",
                :target => ["_blank"] %>
    <hr class="red-hr">
    訊息資料的顯示，用
    <br>
    <small>※　詳細<a href="/zh-TW/mugcups/5#title1-2" target="_blank"><strong>請參考這裡</strong></a></small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  @messages <span class="word-red">=</span> <span class='word-blue'>Message</span>.where(指定的條件)</span>
</td>
</tr>
</table>
  <br>
  <small>※　使用where，選擇條件成立的資料。詳細<a href="/zh-TW/mugcups/4#title2-2" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  例：選擇「first_name」是「太郎」的資料
<pre>
User.where(:first_name => "太郎")
</pre>
  <br><br>
    作輸入框跟按鈕的資料操作，用
    <br>
    <small>※　詳細<a href="/zh-TW/mugcups/6#title1-3" target="_blank"><strong>請參考這裡</strong></a></small>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  @message <span class="word-red">=</span> <span class='word-blue'>Message</span>.<span class='word-red'>new</span></span>
</td>
</tr>
</table>
  <br>
  </ul>
  這樣子的資料操作設定。
  <br><br>
  <strong>那麽做做看吧！</strong>
  <hr class="red-hr">
  <%= render "coffee2/zh-TW/title2_2_1" %>
  <hr class="red-hr">
  <%= render "coffee2/zh-TW/title2_2_2" %>
  <hr class="red-hr">
  <%= render "coffee2/zh-TW/title2_2_3" %>
</h4>