<h4 id="coffee-chapter1-1-2">
  <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 导入Gem</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>在这里，导入工具・gem吧！</strong>
  <br><br>
  导入，作网站的时候使用的<strong>「<u>Gem</u>」</strong>。
  <br>
  <small>※　不知道內容的话，<a href="/zh-CN/mugcups/3#title2-2-1" target="_blank"><strong>请参考这里</strong></a>吧</small>
  <br><br>
  编辑在设定<strong>「<u>gem</u>」</strong>的<strong>「<u>Gemfile</u>」</strong>的內容吧。
  <hr class="red-hr">
  <span style="font-size:30px;"><i class="fa fa-apple color-red"></i>　<strong>使用Mac的话</strong></span>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile（「<u>gem 'sdoc', '~> 0.4.0', group: :doc</u>」的后面追加內容）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
25
27
28
29
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'therubyracer'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'less-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'twitter-bootstrap-rails'</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'devise'</span></span>
</td>
</tr>
</table>
  <br><br>
  设定好之后，打入下面的內容吧。
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不动的话删除<strong>「Gemfile.lock」</strong>之后，再试试看吧。
  </small>
  <br><br>
  安裝好<strong>「<u>gem</u>」</strong>之后，作<strong><u>Bootstrap</u>的安裝</strong>。
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g bootstrap:install</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-arrow-right"></i>　<strong>这样子做好了，在Mac上的「<u>gem</u>」的导入了。</strong>
  <hr class="red-hr">
  <span style="font-size:30px"><i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话</strong></span>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile（「<u>gem 'sdoc', '~> 0.4.0', group: :doc</u>」后面追加內容）</strong>
  <br>
<small>
  <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
27
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'coffee-script-source', '1.8.0'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'devise'</span></span>
</td>
</tr>
</table>
  <br>
  设定好了之后，在terminal上打入下面的內容吧。
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不动的話，删除<strong>「Gemfile.lock」</strong>之后，再试试看吧。
  </small>
  <br><br>
  <strong>安裝好<u>gem</u></strong>之后，<a href="/zh-CN/mugcups/windows_tips#title1-4" target="_blank"><strong>参考这里</strong></a>安裝<strong><u>Bootstrap</u></strong>吧。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>这样，使用Windows的「<u>gem</u>」的导入完成了。</strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>这样做好了「<u>gem</u>」的设定。</strong>
</h4>