<h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
<h4 id="coffee-chapter1-0">
  <i class="fa fa-bookmark color-red"></i>　
  <strong>
  作网络聊天的网站会使用，在<a href="/zh-CN/mugcups" target="_blank">Mugcup（基础编）</a>里说明的「<a href="/zh-CN/mugcups/3" target="_blank">作作看简单的网站</a>」「<a href="/zh-CN/mugcups/7#title2" target="_blank">Bootstrap</a>」「<a href="/zh-CN/mugcups/8" target="_blank">主页</a>」「<a href="/zh-CN/mugcups/9" target="_blank">用户管理</a>」等等的內容。
  <br><br>
  在这里复习
  <ul class="number_ul">
    <li><a href="/zh-CN/mugcups/3#title2" target="_blank">作刚开始的网站</a></li>
    <li><a href="/zh-CN/mugcups/8#title" target="_blank">作主页</a></li>
    <li><a href="/zh-CN/mugcups/7#title2" target="_blank">Bootstrap</a></li>
    <li><a href="/zh-CN/mugcups/9" target="_blank">用户管理</a></li>
  </ul>
  的內容作作看下面图像一样的网站吧。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee1/Chrome_messages_root_add_nav_users_sign_in_up.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee1/Chrome_messages_root_add_nav_users_sign_in_up.png",
              :target => ["_blank"] %>
  </strong>
</h4>