<h2 class="textbook-section-title" id="title1"><strong>1 : 作刚开始的网站吧！</strong></h2>
<h4 id="coffee-chapter1-1">
  首先作刚开始的网站吧！
  <br>
  <small>※　详细的內容<a href="/zh-CN/mugcups/3#title2" target="_blank"><strong>请参考这里</strong></a></small>
  <hr class="red-hr">
  在这里设定
  <ul class="number_ul">
  <strong>
    <li>rails new</li>
    <li>导入Gem</li>
    <li>准备资料库</li>
  </strong>
  </ul>
  这个三个內容。
  <hr>
  <%= render "coffee1/zh-CN/title1_1" %>
  <hr>
  <%= render "coffee1/zh-CN/title1_2" %>
  <hr>
  <%= render "coffee1/zh-CN/title1_3" %>
</h4>