<h2 class="textbook-section-title" id="title4"><strong>4 : 用户管理</strong></h2>
<h4 id="coffee-chapter1-4">
  最后用<strong>「<a href="/zh-CN/mugcups/9" target="_blank">devise</a>」</strong>，设定用户管理。
  <br>
  <small>※　详细<a href="/zh-CN/mugcups/9" target="_blank"><strong>请参考这里</strong></a>吧</small>
  <hr class="red-hr">
  在这里做
  <strong>
    <ul class="number_ul">
      <li>安裝「devise」（详细<a href="/zh-CN/mugcups/9#title1" target="_blank">请参考这里</a>）</li>
      <li>作会员资料库（详细<a href="/zh-CN/mugcups/9#title1-2" target="_blank">请参考这里</a>）</li>
      <li>装饰注册・登入网页（详细<a href="/zh-CN/mugcups/9#title2-1" target="_blank">请参考这里</a>）</li>
      <li>作会员的网页（详细<a href="/zh-CN/mugcups/10" target="_blank">请参考这里</a>）</li>
    </ul>
  </strong>
  这个四个设定吧。
  <hr>
  <%= render "coffee1/zh-CN/title4_1" %>
  <hr>
  <%= render "coffee1/zh-CN/title4_2" %>
  <hr>
  <%= render "coffee1/zh-CN/title4_3" %>
  <hr>
  <%= render "coffee1/zh-CN/title4_4" %>
</h4>