<h4 id="coffee-chapter1-1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : rails new</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>首先作作看刚开始的网站吧！</strong>
  <hr class="red-hr">
  <strong>「<u>Desktop < rails_project</u>」</strong>里作，网站的设定文件夾<strong>「<u>message-app</u>」</strong>。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>首先移动到「<u>rails_project</u>」吧。</strong>
  <br><br><br>
  <p class="alert alert-success">
  <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移动的方法，<a href="/zh-CN/mugcups/windows_tips#title1-2" target="_blank">请参考这里</a></strong></span>
  </p>
  <br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  那么，在这里作作看<strong>设定「<u>message-app」的网站的文件夾</u></strong>吧！
  <br>
  <small>※　详细<a href="/zh-CN/mugcups/3#title2-1" target="_blank"><strong>请参考这里</strong></a>吧。</small>
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new message-app -d mysql</span>
</td>
</tr>
</table>
  <br><br>
  <p class="alert alert-success">
  <strong><i class="fa fa-windows color-blue"></i>　使用Windows的话，打入下面的命令。</strong>
  </p>
  <br>
  　<strong>命令提示符</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new message-app</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  在Finder的<strong>「<u>Desktop > rails_project</u>」</strong>里面，有沒有作好<strong>「<u>message-app</u>」</strong>的文件夾吗？
  <br>
  这个是设定「message-app」的网站的文件夾。
  <br><br>
  接着做<strong>「<u>导入gem（工具）</u>」</strong>吧！
</h4>