<h4 id="chapter7-2-3">
  <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 总结</strong></p>
  <br>
  在这里解释了<a href="http://getbootstrap.com/" target="_blank"><strong>Bootstrap</strong></a>的用法。
  <br><br><br>
  <p class="alert alert-success">
    <strong>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，<a href="/zh-CN/mugcups/windows_tips#title1-4" target="_blank">请参考这里</a>导入Bootstrap吧。
    </strong>
  </p>
  <br>
  <hr class="red-hr">使用
  <strong>Bootstrap</strong>的时候，先在<strong>「<a href="/zh-CN/mugcups/3#title2-2-1" target="_blank">Gemfile</a>」</strong>里设定內容之后，导入工具的內容。要导入的时候，现在「Gemfile」设定下面的內容。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
27
28
29
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'therubyracer'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'less-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'twitter-bootstrap-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'sprockets'</span>, <span class="word-yellow">'3.6.3'</span></span>
</td>
</tr>
</table>
  <br>
  设定好了之后，打入
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  安装gem之后，打入
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g bootstrap:install</span>
</td>
</tr>
</table>
  <br>
  这样子<strong>「<u>Bootstrap</u>」</strong>的导入完成了。
  <hr class="red-hr">
  另外还解释了用「Bootstrap」作的四个显示的设定。
  <br><br>
  <div class="list-group">
    <a href="/zh-CN/mugcups/7#title2-2-5-container" class="list-group-item" target="_blank"><strong>container</strong></a>
    <a href="/zh-CN/mugcups/7#title2-2-5-btn" class="list-group-item" target="_blank"><strong>btn</strong></a>
    <a href="/zh-CN/mugcups/7#title2-2-5-form" class="list-group-item" target="_blank"><strong>form-control</strong></a>
    <a href="/zh-CN/mugcups/7#title2-2-5-nav" class="list-group-item" target="_blank"><strong>navigation-bar</strong></a>
  </div>
  <strong>Bootstrap里还有別的用法，有兴趣的话自己查查看吧！</strong>
</h4>