<h4 id="chapter7-1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 移动到edit网页的连接</strong></p>
  <br>
  <strong>首先，设定移动到<strong>「<a href="/zh-CN/mugcups/6#title1-5" target="_blank">打入编辑的资料（edit）</a>」</strong>的网页的连接吧！</strong>
  <br><br>
  还记得网页的移动要怎么设定呢？
  <br>
  <small>※　不记得的话，<a href="/zh-CN/mugcups/5#title1-2-2" target="_blank"><strong>请参考这里</strong></a>。</small>
  <br><br>
  在这里设定的是「<a href="/zh-CN/mugcups/5#title1-1" target="_blank"><strong>显示一个资料（show）</strong></a>」的网页上，追加移动到「<a href="/zh-CN/mugcups/6#title1-5" target="_blank"><strong>打入编辑的资料（edit）</strong></a>」的连接。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  这一次要在<strong>「<a href="/zh-CN/mugcups/5#title1-1" target="_blank">显示一个资料（show）</a>」</strong>的网页上设定网页的显示，所以在<strong>「<u>show.html.erb</u>」</strong>上追加设定。
  <br><br>
  用 Sublime Text 打开的<strong>「<u>myapp</u>」</strong>里的<strong>「<u>app > views > posts</u>」</strong>文件夾里，打开<strong>「<a href="/zh-CN/mugcups/5#title1-1-4-view" target="_blank"><u>show.html.erb</u></a>」</strong>吧。
  <br>
  <small>
    ※　使用Sublime Text打开文件的方法<a href="/zh-CN/mugcups/how_to_open#title1" target="_blank"><strong>请参考这里</strong></a>
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打开文件文件夾的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。
  </small>
  <br><br>
  打开之后，按照下面的內容，编辑內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（追加第2、6、8行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
<span class="color-red"><strong>8</strong></span>
9
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.place %&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;返回主页&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span>&gt;编辑投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span>&gt;删除投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  设定好了之后，移动到「myapp」，
  <br><br><br>
  <p class="alert alert-success">
  <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移动的方法，<a href="/zh-CN/mugcups/windows_tips#title1-2" target="_blank">请参考这里</a>。</strong></span>
  </p>
  <br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
  <br>
  那么打开要显示网页的<a href="/zh-CN/mugcups/3#title2-3" target="_blank"><strong>服务器</strong></a>吧！
  <br><br>
  　<strong>terminal</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」吧。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  <hr class="red-hr">
  完了之后，打开看「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开看「<a href="http://localhost:3000/posts/1" target="_blank"><strong>localhost:3000/posts/1</strong></a>」吧。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
              :target => ["_blank"] %>
  画面上有显示连接吗？
  <br>
  连接追加之后，打开看这个连接吧！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
              :target => ["_blank"] %>
  移动到「打入编辑的资料」的网页了吗？
  <hr class="red-hr">
  那么，解释內容吧！
  <br><br>
  「<a href="/zh-CN/mugcups/6#title1-5" target="_blank"><strong>打入编辑的资料（edit）</strong></a>」的网页，从
  <br><br>
  <i class="fa fa-chrome color-red"></i>　<strong>浏览器</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>0.0.0.0:3000/posts/1/edit</span>
</td>
</tr>
</table>
  <br>
  <small><i class="fa fa-windows color-blue"></i>　使用Windows的话，打开<strong>「<a href="http://localhost:3000/posts/1/edit" target="_blank">localhost:3000/posts/1/edit</a>」</strong>。</small>
  <br><br>
  （详细<a href="/zh-CN/mugcups/6#title1-5-2-chrome" target="_blank"><strong>请参考这里</strong></a>）
  <br>
  在这里的连接上也设定这个url。
  <hr class="red-hr">
  连接是
<pre>
&lt;a href="移动到的url"&gt;显示的文字&lt;/a&gt;
</pre>
  设定（详细<a href="/zh-CN/mugcups/5#title1-2-2" target="_blank"><strong>请参考这里</strong></a>）。
  <br><br>
  「0.0.0.0:3000」的网页可以用「/」省略，所以移动到「<a href="http://0.0.0.0:3000/posts/1/edit" target="_blank"><strong>0.0.0.0:3000/posts/1/edit</strong></a>」的连接（点击后会移动网页的文字）要
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/1/edit"</span>&gt;编辑投稿&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  这样子设定。
  <hr class="red-hr">
  在现在的状况，全部的<strong>「显示一个资料（show）」的网页</strong>会移动到「id是1」的「打入编辑的资料」的网页。<strong>可是在「id是2」的网页的连接也<u>只能移动到「id是1」的「打入编辑的资料」的网页</u>。</strong>
  <br><br>
  <strong><u>所以把这个设定，改成可以移动到在打开的网页id的「打入编辑的资料（edit）」的网页吧。</u></strong>
  <br><br>
  那么，设定移动到各个网页id的「打入编辑的资料（edit）」的网页吧。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>
  <strong>
 「显示一个资料（show）」的网页的资料操作，用下面的內容。
  </strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong>
  参考这个，设定看<u>用「@post」移动到各个网页id的「打入编辑的资料（edit）」的网页的连接</u>吧！
  <br>
  <small>※　如果不知道的话，<a href="/zh-CN/mugcups/5#title1-2-3-chrome" target="_blank"><strong>请参考这里</strong></a>吧。</small>
  </strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="打入答案">
  <br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span>&gt;编辑投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
</h4>