<h4 id="chapter7-2-1">
  <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 导入Bootstrap！</strong></p>
  <br>
  首先，导入<strong>「<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>」</strong>吧！
  <br>
  在Ruby on Rails导入<strong>「Bootstrap」</strong>的时候，要用上次<strong>在第三章说明的<a href="/zh-CN/mugcups/3#title2-2-1" target="_blank">「gem」</a></strong>。
  <br><br><br>
  <p class="alert alert-success">
    <strong>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，<a href="/zh-CN/mugcups/windows_tips#title1-4" target="_blank">从这里</a>导入Bootstrap。
    <br><br>
    <i class="fa fa-forward"></i>　完了之后，<a href="#title2-2">从这里</a>看下一个內容。
    </strong>
  </p>
  <br>
  <hr class="red-hr">
  先复习这个「gem」的內容吧。
  <br><br>
  <strong>
  「gem」是，<u>在Ruby on Rails上面做网页的时候使用的工具</u>。用这个可以作「用户管理」或者「保存图像」等等的非常方便的机能。
  <br><br>
  在「<u>Gemfile</u>」上设定使用的工具之后，在terminal上打入「<u>bundle install</u>」之后可以使用了。
  </strong>
  <br><br>
  用这个gem，导入<strong>「<u>Bootstrap</u>」</strong>吧！
  <hr class="red-hr">
  首先在Sublime Text上打开<strong>「<u>myapp</u>」</strong>之后，打开里面的<strong>「<u>Gemfile</u>」</strong>吧！
  <br>
  <small>
    ※　使用Sublime Text打开文件的方法<a href="/zh-CN/mugcups/how_to_open#title1" target="_blank"><strong>请参考这里</strong></a>
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打开文件文件夾的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_Gemfile.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_Gemfile.png",
              :target => ["_blank"] %>
  在这个<strong>「<u>Gemfile</u>」</strong>文件上，追加设定。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
27
28
29
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'therubyracer'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'less-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'twitter-bootstrap-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'sprockets'</span>, <span class="word-yellow">'3.6.3'</span></span>
</td>
</tr>
</table>
  <br>
  <strong><u>在自己喜欢的地方，追加这个4行吧。</u></strong>
  <hr class="red-hr">
  完了之后，在terminal上移动到<strong>「<u>myapp</u>」</strong>之后，
  <br><br>
  <strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
  <br>
  打入<strong>「<u>bundle install</u>」</strong>，安装gem吧！
  <br><br>
  <strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不会动的时候，先删除<strong>「<u>Gemfile.lock</u>」</strong>之后再试试看吧。
  </small>
  <br><br>
  有沒有显示下面图像一样子的显示吗？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Terminal_bundle_install_bootstrap.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Terminal_bundle_install_bootstrap.png",
              :target => ["_blank"] %>
  做完了之后，在terminal上打入
  <br><br>
  <strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g bootstrap:install</span>
</td>
</tr>
</table>
  <br>
  上面的內容吧。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/rails_g_bootstrap_install.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/rails_g_bootstrap_install.png",
              :target => ["_blank"] %>
  有沒有显示跟上面图像一样子的显示吗？
  <br>
  <strong><u>到这里「Bootstrap」的导入完成了！</u></strong>
  <br><br>
  <small>※　在这边作的CSS文件不能从这里看內容，但是可以从<strong><a href="http://getbootstrap.com" target="_blank">Bootstrap的网页</a></strong>下载文件，可以参考。<strong><u>虽然里面的內容是超长・・・</u></strong></small>
  <hr class="red-hr">
  导入之后在terminal上打入<strong>「<u>rails s</u>」</strong>，启动服务器之后在浏览器打开「<a href="http://0.0.0.0:3000/posts" target="_blank"><strong>0.0.0.0:3000/posts</strong></a>」吧！
  <br><br>
  像下面一样，显示的內容有变吗？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_bootstrap_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_bootstrap_1.png",
              :target => ["_blank"] %>
  <strong><u>使用这个「Bootstrap」，吧网页装饰的更漂亮吧！</u></strong>
</h4>