<h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
<h4 id="chapter7-0">
  <i class="fa fa-bookmark color-red"></i>　<strong>把作的网页设定的更方便更好看吧！</strong>
  <hr>
   在<a href="/zh-CN/mugcups/5" target="_blank"><strong>第5章</strong></a>跟<a href="/zh-CN/mugcups/6" target="_blank"><strong>第6章</strong></a>，解释了用Ruby on Rails作网页的方法，使用各个资料的操作作了网页。
   <br>
   <strong><u>可是现在的网页又不方便又不好看。在这里修修这些设定吧！</u></strong>
   <br><br>
   在这个章设定
   <strong>
   <ul class="number_ul">
    <li>网页的移动（使用<a href="/zh-CN/mugcups/5#title1-2-2" target="_blank"><strong>「<u>&lt;a href=""&gt;</u>」</strong></a>）</li>
    <li>网页的装饰（使用<a href="/zh-CN/mugcups/3#title1-2" target="_blank"><strong><u>CSS文件</u></strong></a>跟<a href="/zh-CN/mugcups/3#title1-1" target="_blank"><strong><u>HTML文件</u></strong></a>设定）</li>
   </ul>
   </strong>
   那么，开始设定吧！
</h4>