<h4 id="chapter6-1-5-1">
        <p id="title1-5-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : ページを設定する</strong></p>
        <br>
        <i class="fa fa-question-circle color-green"></i>　<strong>復習から始めます。ページを設定するには、どの設定が必要なのでしょうか？</strong>
        <br><br>
        <strong>
            <ul class="number_ul">
                <li>どのページを使うかの設定</li>
                <li>データ操作の設定</li>
                <li>ページ内容の設定</li>
            </ul>
        </strong>
        <br>
        の３つになります。
        <hr class="red-hr">
        <strong>「<u>編集するデータの記入（edit）</u>」</strong>をするページでは、変更するデータを指定してページの入力欄を作ります。
        <br><br>
        具体的には、
        <strong>
        <ul class="number_ul">
          <li>変更するデータの選択</li>
          <li>データの記入欄・送信ボタンの設定</li>
          <li>変更するデータと記入欄の関連づけ</li>
        </ul>
        </strong>
        をやっていきます
        <hr class="red-hr">
          <i class="fa fa-play-circle"></i>　<strong>まず「７つのページの設定」からやってみましょう！</strong>
          <br><br>
          では、その設定ファイルである<strong>「<u>config > routes.rb</u>」</strong>を開いてみましょう！
          <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（3行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<span class="color-red"><strong>3</strong></span>
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        内容は前に変更しましたよね。
        <br><br>
        <strong><u>上のように３行目に「edit」は追加されていますか？</u></strong>
        <br>
        追加されていれば<strong>「<u>編集するデータの記入（edit）</u>」</strong>をするページを使うことを設定できています。
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>では、「<u>データ操作</u>」の設定をしましょう。</strong>
        <br><br>
        「posts」データベースのデータ操作を設定する<strong>「posts_controller.rb」</strong>ファイルから設定を加えます。
        <br><br>
        <strong>「<u>app > controllers</u>」</strong>フォルダにある「<strong><u>posts_controller.rb</u></strong>」を、Sublime Textで開きましょう。
        <br>
        <small>※　Sublime Textの開き方は<a href="/mugcups/how_to_open" target="_blank"><strong>こちら</strong></a></small>
        <br><br>
        開けたら、<strong><u>「def edit」と「end」の間</u></strong>を下のように設定しましょう。
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb（20行目を追加）</strong>
        <br>
        <small>
        ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        <br>
        <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>19
<span class="color-red"><strong>20</strong></span>
21
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-question-circle color-green"></i>　<strong>この追加した１行では、なにをしているのでしょうか？</strong>
        <br><br>
        <u>この１行で、変更するデータを選択しています。</u>
        <br>
        <small>※　詳細は<a href="/mugcups/5#title1-1-2" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
        <br><br>
        <i class="fa fa-play-circle color-red"></i>　これは<strong>「<u>一つのデータの選択（show）</u>」</strong>でやった、
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        と全く同じことをやっています。
        <br><br>
        変更するデータはここで選択します。
        <br>
        <strong>「<u>編集するデータの記入（edit）</u>」でも忘れずにこのデータの選択をしましょう！</strong>
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　「tweets」データベースの「<u>編集するデータの記入（edit）</u>」はどのように設定すればいいのでしょうか？</strong>
        <br><br>
        <textarea class="input-code form-control" placeholder="答えを入力して下さい" rows="3"></textarea>
        <br>
        <i class="fa fa-file color-red"></i><strong>　tweets_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content answer-code'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>    @tweet <span class="word-red">=</span> <span class='word-blue'>Tweet</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>では、ページの設定をしましょう。</strong>
        <br><br>
        ここでは下のような内容を記入させる画面を設定します。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                    :target => ["_blank"] %>
        まずは、Sublime Textで開いた「myapp」で<strong>「<i>app > views > posts</i>」</strong>を開いてみましょう。
        <br>
        その中に<strong>「<u>edit.html.erb</u>」</strong>ファイルはあるでしょうか？あったら開きましょう！
        <br><br>
        <strong>このファイルに「<u>編集するデータの記入（edit）</u>」をするページを表示する設定を、追加していきます。</strong>
        <br><br>
        <i class="fa fa-arrow-right"></i>　<strong>では、ページの設定をやってみましょう！</strong>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　edit.html.erb</strong>
        <br>
        <small>
        ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        <br>
        <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を編集する&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;場所&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"変更する"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span>&gt;投稿に戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        今回の設定もなんとなく見覚えはありませんか？
        <br>
        この章の始めで説明した「<a href="/mugcups/6#title1-3-1" target="_blank"><strong>new.html.erb</strong></a>」と似ている内容になっていますね。
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　new.html.erb</strong>
        <br>
        <small>
        ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        <br>
        <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を作る&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;場所&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"登録する"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class='word-red'>end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-question-circle color-green"></i><strong>　復習をしましょう。この<u>「new.html.erb」ファイルの中で、「name」の入力欄とボタンを設定している部分</u>はどこでしょうか？</strong>
        <br><br>
        <i class="fa fa-play-circle color-red"></i>　<strong>「name」の入力欄</strong>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-play-circle color-red"></i>　<strong>ボタン</strong>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= f.submit <span class='word-yellow'>"登録する"</span> %&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <strong>「<u>new.html.erb</u>」</strong>ファイルでは、
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
        <p style="margin-top:10px;">と</p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>12
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        の間に<strong><u>入力欄とボタンの表示</u></strong>をしました。
        <br><br>
        <i class="fa fa-play-circle color-red"></i><strong>　「<u>edit.html.erb</u>」</strong>ファイルでもやっていることは全く同じです。
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
        <p style="margin-top:10px;">と</p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
        <p style="margin-top:10px;">の間にある</p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>4
5
6
7
8
9
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;場所&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"変更する"</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        で、ページを表示させています。
        <br>
        ここでは、<strong><u>「content」と「place」を入力する設定</u></strong>をしています。
        <hr class="red-hr">
        加えて
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>edit.html.erb（3行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
        <br>
        にある「@post」が<strong>「<u>posts_controller.rb</u>」</strong>で設定した
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（20行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>20
</td>
<td class='code-content'><span class='code-line'>@post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
</td>
</tr>
</table>
        <br>
        で選択した「posts」データベースのデータになっていて、<strong><u>変更するデータの選択</u></strong>を行っています。
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i><strong>　下のデータ操作をした「<u>@user</u>」の<u>名字「family_name（短い文字列）」</u>と<u>名前「first_name（長い文字列）」</u>と<u>年齢「age（数字）」</u>を記入するページを設定してみましょう。</strong>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　users_controller.rb</strong>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <textarea class="input-code form-control" placeholder="答えを入力して下さい" rows="10"></textarea>
        <br>
        <i class="fa fa-file color-red"></i><strong>　edit.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center small-code'>1
2
3
4
5
6
7
8
9
10
11
12
13
</td>
<td class='code-content answer-code small-code'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を編集する&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @user <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:family_name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:first_name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;年齢&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.number_field <span class='word-purple'>:age</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"変更する"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span>&gt;投稿に戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        では、ページを表示させてみましょう！
        <br>
        <small>※　一回<strong>「<u>rails s</u>」</strong>で動かしたサーバーを<strong><u>「Command」と「c」</u></strong>を一緒に押して止めてから、もう一度<strong>「<u>rails s</u>」</strong>を入力して下さい。</small>
        <br><br><br>
        <p class="alert alert-success">
          <i class="fa fa-windows color-blue"></i>　<strong>Windowsをご利用の方は、
          <br>
          　「<u>rails s</u>」で動かしたサーバーを<u>「ctrl」と「c」を一緒に押して</u>止めてから、もう一度「<u>rails s</u>」を入力して下さい。</strong>
        </p>
        <br>
        ブラウザで、「<a href="http://0.0.0.0:3000/posts/1/edit" target="_blank"><strong>0.0.0.0:3000/posts/1/edit</strong></a>」を入力して下さい。
        <br><br>
        <small>
            <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「<a href="http://localhost:3000/posts/1/edit" target="_blank"><strong>localhost:3000/posts/1/edit</strong></a>」を開いてみて下さい。
        </small>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                    :target => ["_blank"] %>
        上のような入力欄のあるページが出てきたでしょうか？
        <hr class="red-hr">
        上のような<strong>「<u>0.0.0.0:3000/データベース名/idの番号/edit</u>」</strong>で、<strong>「<u>編集するデータの入力（edit）</u>」</strong>をするページをブラウザで開きます。
        <br><br>
        今回は「posts」データベースの「idが1」のデータベースの内容を記入するページだったので、
        <br><br>
        <i class="fa fa-chrome color-red"></i>　<strong>ブラウザ</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>0.0.0.0:3000/posts/1/edit</span>
</td>
</tr>
</table>
        <br>
        で開きました。
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　<u>「videos」データベースの「編集するデータの入力」をするページ</u>をブラウザで開くにはどのように入力すればいいのでしょうか？</strong>
        <br><br>
        <input type="input" class="input-code form-control" placeholder="答えを入力して下さい">
        <br>
        <i class="fa fa-chrome color-red"></i><strong>　ブラウザ</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>0.0.0.0:3000/videos/1/edit</span>
</td>
</tr>
</table>
</h4>