<h4 id="chapter6-1-3-1">
          <p id="title1-3-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : ページを設定する</strong></p>
          <br>
          <i class="fa fa-question-circle color-green"></i><strong>　まずは前回の復習です。<u>ページを設定するには３つのことを設定する必要がありました。</u>その設定はなんでしょうか？</strong>
          <br><br>
          その設定は、
          <strong>
          <ul class="number_ul">
            <li><a href="/mugcups/5#title1" target="_blank"><u>７つのページ</u></a>のうちどのページを使うかの設定</li>
            →「config > <u>route.rb</u>」の内容を設定
            <br><br>
            <li><u>データの操作</u>の方法を設定</li>
            →「app > controllers > <u>データベース名_controller.rb</u>」の内容を設定
            <br><br>
            <li><u>ページの内容</u>を設定</li>
            →「app > views > <u>ページ名.html.erb</u>」の内容を設定
          </ul>
          </strong>
          の３つになります。
          <% # ７つのページの設定（new） %>
          <hr class="red-hr">
          「新しいデータの記入（new）」をするページでは、<u>なにも入っていないデータを作り、そこに内容をいれるためのページの入力欄を作ります。</u>
          <br><br>
          具体的には、
          <strong>
          <ul class="number_ul">
            <li>空のデータの作成（<u>posts_controller.rb</u>）</li>
            <li>データの記入欄・送信ボタンの設定（<u>new.html.erb</u>）</li>
            <li>空のデータと記入欄を関連させる（<u>new.html.erb</u>）</li>
          </ul>
          </strong>
          をやっていきます。
          <hr class="red-hr">
          <i class="fa fa-play-circle"></i>　<strong>まず「７つのページの設定」からやってみましょう！</strong>
          <br><br>
          <strong>「<u>config</u>」フォルダ</strong>にある、７つのページのうちどのページを使うかを決める<strong>「<u>route.rb</u>」ファイル</strong>を見てみましょう。
                 <br><br>
        <i class="fa fa-file color-red"></i>　<strong>route.rb（3行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<span class="color-red"><strong>3</strong></span>
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        内容は前に変更しましたよね。
        <br><br>
        <strong><u>上のように３行目に「new」は追加されていますか？</u></strong>
        <br>
        追加されていれば「新しいデータの記入（new）」をするページを使うことを設定できています。
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>では「<u>データ操作</u>」の設定をしましょう。</strong>
        <br><br>
        まずは、Sublime Textで<strong>「<u>app > controllers</u>」</strong>フォルダにある、<strong>「<u>posts_controller.rb</u>」</strong>ファイルを開きましょう。
        <br>
        <small>※　Sublime Textの開き方は<a href="/mugcups/how_to_open" target="_blank"><strong>こちら</strong></a></small>
        <br><br>
        開けたら、<strong><u>「def new」と「end」の間</u></strong>を下のように設定しましょう。
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb（12行目を追加）</strong>
        <br>
        <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>11
<span class="color-red"><strong>12</strong></span>
13
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>new</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class="word-blue">Post</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        これで「新しいデータの記入（new）」をするページのデータ操作の設定が完了しました。
        <br><br>
        「new」のデータ操作はこのように、
<pre>
@設定する標識 = データベース名（１文字目大文字の単数形）.new
</pre>
        で設定します。
        <br><br>
        <strong>「<i>Post.new</i>」</strong>では、<u>中になにも入っていないデータを作成</u>しています。
        <br><br>
        流れとしては、<strong>ここで作った空のデータに<u>ページで入力させた情報を入れて</u>、それを「データの作成（create）」をするページでデータベースに保存</strong>させます。
        <br>
        <small>※　設定する標識は、htmlファイルで同じものを指定できればなんでも大丈夫です。</small>
        <br><br>
        ページでは、この空のデータに内容を入力させる入力欄を作ります。
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　「foods」データベースの「新しいデータの記入（new）」をするためのデータ操作を書いてみましょう。</strong>
        <br><br>
        <textarea class="form-control input-code" placeholder="答えを入力して下さい" rows="3"></textarea>
        <br>
        <i class="fa fa-file color-red"></i><strong>　foods_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content answer-code'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>new</span></span>
<span class='code-line'>    @food = <span class="word-blue">Food</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>では、ページの設定をしましょう。</strong>
        <br><br>
        ここでは下のような内容を記入させる画面を設定します。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_1.png",
                    :target => ["_blank"] %>
        まずは、Sublime Textで開いた「myapp」で<strong>「<i>app > views > posts</i>」</strong>を開いてみましょう。
        <br>
        その中に<strong>「<u>new.html.erb</u>」</strong>ファイルはあるでしょうか？あったら開きましょう！
        <br><br>
        <strong>このファイルに「新しいデータの記入（new）」をするページを表示する設定を、追加していきます。</strong>
        <br><br>
        <u>では、ページの設定をやってみましょう！</u>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　new.html.erb</strong>
        <br>
        <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を作る&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;場所&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"登録する"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class='word-red'>end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        では、ページを表示させてみましょう！
        <br>
        <small>※　一回「rails s」で動かしたサーバーを「Command」と「c」を一緒に押して止めてから、もう一度「rails s」を入力して下さい。</small>
        <br><br>
        ブラウザで「<a href="http://0.0.0.0:3000/posts/new" target="_blank"><strong>0.0.0.0:3000/posts/new</strong></a>」を開いてみて下さい。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_new_1.png",
                    :target => ["_blank"] %>
        上のような入力欄があるページはでてきたでしょうか？
        <hr class="red-hr">
        上のような<strong>「<u>0.0.0.0:3000/データベース名/new</u>」</strong>が、<strong>「<u>新しいデータの記入（new）</u>」</strong>をするページになります。
        <br><br>
        今回は「posts」データベースの「新しいデータの記入（new）」をするページなので、
        <br><br>
        <i class="fa fa-chrome color-red"></i><strong>　ブラウザ</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>0.0.0.0:3000/posts/new</span>
</td>
</tr>
</table>
        <br>
        のようにブラウザで入力しました。
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　では、<u>「tweets」データベースの「新しいデータの記入（new）」をするページ</u>をブラウザで開くにはどのように入力すればいいのでしょうか？</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="答えを入力して下さい">
        <br>
        <i class="fa fa-chrome color-red"></i><strong>　ブラウザ</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>0.0.0.0:3000/tweets/new</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        では、ページを設定したファイルの中身を説明しましょう。
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　new.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を作る&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;場所&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"登録する"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class='word-red'>end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        入力欄が実際に表示されたので、
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　new.html.erb（4〜11行目）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>4
5
6
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line remarkable-code'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>p</span>&gt;場所&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line remarkable-code'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;%= f.submit <span class='word-yellow'>"登録する"</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        で、<u>入力欄３つとボタン１つが設定された</u>のはなんとなく推測できるのではないかと思います。
        <br><br>
        実際その通りで、例えば中にある
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        で<strong><u>「name」をデータベースに保存するための入力欄</u></strong>を作っています。
        <br>
        これと比べると、「content」の入力欄を作っている
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        は少し内容が違いますね。
        <br><br>
        これは入力欄の表示は、データベースの枠組みの設定をした時（<a href="/mugcups/4#title1-2" target="_blank"><strong>こちら</strong></a>を参照）の<u>データの種類に応じた表記になっている</u>からです。
        <br><br>
        この<strong><u>「posts」のデータベースでは「name」は短い文字列・「content」は長い文字列・「place」は短い文字列を入れる設定</u></strong>をしました。
        <br>
        <small>※　内容は<a href="/mugcups/4#title1-2" target="_blank"><strong>こちら</strong></a>を参考</small>
        <br><br>
        <i class="fa fa-arrow-right color-red"></i>　入力欄もそれに応じた設定をしていきます。
        <br><br>
        短い文字列を入れる入力欄は、
<pre>
&lt;%= f.text_field :枠組みの名前 %&gt;
</pre>
        長い文字列を入れる入力欄は、
<pre>
&lt;%= f.text_area :枠組みの名前 %&gt;
</pre>
        数字を入れる入力欄は、
<pre>
&lt;%= f.number_field :枠組みの名前 %&gt;
</pre>
        で設定します。
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　<u>数字を入力する「price」の入力欄</u>はどのように設定すればいいのでしょうか？</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="答えを入力してください">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>  &lt;%= f.number_field <span class='word-purple'>:price</span> %&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        ここまでで、表示された３つの入力欄について説明しました。
        <br>
        <u>もう１つ表示された「登録する」ボタンについて説明します。</u>
        <br>
        このボタンは、
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"登録する"</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        で表示させています。
        <br>
        <strong>このボタンをクリックすると「データの作成（create）」をするページに移動して、入力された情報をデータベースに保存します。</strong>
        <br>
        <small>※　まだ「データの作成（create）」をするページのデータ操作を設定していないので、データベースにデータは保存されません（実際にやってみて、<a href="/mugcups/how_to_open#title2" target="_blank"><strong>Sequel Pro</strong></a>で確認してみてください）</small>
        <hr class="red-hr">
        ここまでで、入力欄とボタンの表示の説明をしました。
        <br>
        ではまだ説明していない<u>3、12行目はなにをしているのでしょうか？</u>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　new.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<span class="color-red"><strong>3</strong></span>
4
5
6
7
8
9
10
11
<span class="color-red"><strong>12</strong></span>
13
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿を作る&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;場所&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"登録する"</span> %&gt;</span>
<span class='code-line remarkable-code'>&lt;% <span class='word-red'>end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>new</span></span>
<span class='code-line'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong>この３行目は、「<u>posts_controller.rb</u>」の「<u>Post.new</u>」で新しく作った空のデータ「<u>@post</u>」を受け取って、「<u>&lt;% end %&gt;</u>」の間にある入力欄と空のデータ「<u>@post</u>」を対応づけています。</strong>
        <br><br>
        この対応づけのために、「@post」を一回「f」という標識に置き換えています。
        <br>
        <small>※　対応づけるだけなら「@post」をそのまま使ってもいいような気もしますが、ここは仕様なので覚えて下さい</small>
        <br>
        <small>※　対応づけのための標識に「f」を使っていますが、これは<strong><u>「form」の頭文字をとった</u></strong>ものだけのことなので他の好きな名前にしても構いません。</small>
        <hr class="red-hr">
        では、設定の方法を説明しましょう。
        <br>
        <strong>「新しいデータの記入（new）」をするページでは、「<u>posts_controller.rb</u>」で作った「<u>Post.new</u>」の空のデータをページに対応づける必要があります。</strong>
        <br><br>
        この空のデータのページへの対応づけは、
<pre>
&lt;%= form_for @設定した標識 do |好きな名前| %&gt;
</pre>
        で行います。
        <br>
        <small>※　「&lt;%=」で「&lt;%」でないので注意</small>
        <br><br>
        対応づけしたデータは、
<pre>
&lt;% end %&gt;
</pre>
        までの間で入力欄と作成をするためのボタンを設定します。
        <hr class="red-hr">
        中に設定する入力欄は、例えば短い文字列だったら、
<pre>
&lt;%= 名前.text_field :枠組みの名前 %&gt;
</pre>
        で設定します。
        <br>
        <small>※　長い文字列の場合は<strong>「<u>f.text_area</u>」</strong>で、数字の場合は<strong>「<u>f.number_field</u>」</strong>で設定します。</small>
        <br><br>
        「データを作成（create）」するページへ移動するためのボタンは、
<pre>
&lt;%= f.submit "文字列" %&gt;
</pre>
        で設定します。
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>下のようにデータ操作をした「<u>@stock</u>」の<u>名前「name（短い文字列）」</u>と<u>持ち主「user（短い文字列）」</u>と<u>価格「price（数字）」</u>を記入するページを設定してみましょう。</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>stocks_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>new</span></span>
<span class='code-line'>    @stock = <span class="word-blue">Stock</span>.<span class='word-red'>new</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <textarea class="form-control input-code" placeholder="答えを入力して下さい" rows="10"></textarea>
        <br>
        <i class="fa fa-file color-red"></i>　<strong>new.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= form_for @stock <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名前&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;持ち主&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:user</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;値段&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.number_field <span class='word-purple'>:price</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
</h4>