<h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
        <h4 id="chapter5-0">
        <i class="fa fa-bookmark color-red"></i>　<strong>理解 Ruby on Rails 上可以作怎么样子的网页，然后作作看网页。</strong>
        <hr>
        在上章，<strong><u>我們用 Ruby on Rails 新增资料之后，做资料的编辑跟删除。</u></strong>
        <br><br>
        到这里，有沒有了解了一点关于网站上做的事情了吗？
        <hr class="red-hr">
        在上章我們用Facebook的例子解释资料库。<u>如果是网络聊天的网站的话，</u>
        <br><br>
        <strong>messages</strong>
        <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>id</th>
                <th>user</th>
                <th>send_to</th>
                <th>content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>82903</td>
                <td>山田太郎</td>
                <td>田中一郎</td>
                <td>可不可以拿第一堂课的资料吗？</td>
              </tr>
              <tr>
                <td>82904</td>
                <td>張張</td>
                <td>Tom</td>
                <td>明天有考试</td>
              </tr>
              <tr>
                <td>80905</td>
                <td>A</td>
                <td>Green</td>
                <td>差不多可以还给我上次给的100万元吧</td>
              </tr>
            </tbody>
          </table>
          <br>
          作这样子的资料库保存资料，之后从这个资料库显示资料。
          <br><br>
          这样子应给简单的理解怎么样做资料库了吧。
          <br>
          <strong>在这个章里不用「<i>rails c</i>」，想用用看<u>浏览器上的网站做资料的显示・新增・编辑・删除。</u></strong>
          <br>
          <small>※　网页的显示会用html，所以看看<a href="/zh-CN/mugcups/3#title1" target="_blank"><strong>html的內容</strong></a>吧。</small>
  <br><br><br>
  <strong>
    <p class="alert alert-success">
      <i class="fa fa-windows color-blue"></i>　使用Windows的话，确认有沒有追加<a href="/zh-CN/mugcups/windows_tips#title1-3" target="_blank">这个设定</a>。
    </p>
  </strong>
  <br>
</h4>