<h4 id="chapter5-1-2">
        <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">②
         : 显示全部的资料（index）</strong></p>
         <br>
         那么作作看<strong><u>显示全部的资料的像推特的网页吧</u></strong>。
         显示全部的资料，用<a href="/zh-CN/mugcups/4#title2-4" target="_blank"><strong>上章</strong></a>的內容解释的话，可以说在设定
         <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.all</span>
</td>
</tr>
</table>
         <br>
         的內容，作
         <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page5/Chrome_posts_all_2.png",
                               :width => "90%",
                               :class => "hover_img textbook-title-img"),
                     "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page5/Chrome_posts_all_2.png",
                     :target =>["_blank"] %>
         上面画面一样的，会显示全部的投稿资料的网页。
         <br><br>
         设定有<strong><u>「用哪一个网页的设定」「操作资料的设定」「网页的內容的设定」的三个</u></strong>。在这里设定一个一个吧。
</h4>
         <hr>
         <%= render "page5/zh-CN/title1_2_1" %>
         <hr class="red-hr">
         <%= render "page5/zh-CN/title1_2_2" %>
         <hr>
         <%= render "page5/zh-CN/title1_2_3" %>