<h4 id="chapter5-1-1-4">
        <p id="title1-1-4"><i class="fa fa-check-square color-red"></i>　<strong>⑷ : 总结</strong></p>用Ruby on Rails显示网页的时候，要设定<strong><u>三个设定</u></strong>。
        <strong>
          <ul class="number_ul">
            <li>七种网页中，使用哪一个资料的设定</li>
            <li>操作资料的设定</li>
            <li>网页內容的设定</li>
          </ul>
          <small>※　七个网页的设定是设定<strong>「<u> index/ show/ new/ create/ edit/ update/ destroy</u>」</strong>这些七个网页</small>
        </strong>
        <br><br>
        设定完了之后，在terminal打入<strong>「<i>rails s</i>」</strong>启动服务器，之后用浏览器打入<strong>「<u>0.0.0.0:3000/...</u>」</strong>可以显示网页。
        <br><br>
        <strong>设定的內容，<a href="/zh-CN/codes/5" target="_blank">可以从这里看</a></strong>
        <hr class="red-hr">
        <p id="title1-1-4-route" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>七个网页的设定</strong></p>
        <br>
        <strong>编辑「config」文件夾里的「<u>routes.rb</u>」文件</strong>，设定要用哪一个网页。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong><u>在「:only =>」后面的「[]」里设定喜欢的网页</u></strong>。
        <hr class="red-hr">
        <p id="title1-1-4-data" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>资料操作的设定</strong></p>
        <br>
        <strong>在「app > controllers」文件夾里的「<u>资料库的名字_controller.rb</u>」文件</strong>，设定各个网页上怎么样操作资料。
        <br><br>
        这一次，说明了<strong>「<u>显示一个资料（show）</u>」</strong>的网页。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(<span class='word-purple'>:params</span>[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong>「<u>显示一个资料（show）</u>」</strong>的网页上，用<strong>「<u>find(:params[:id])</u>」</strong>各个id上选择资料。
        <br>
        用<strong>「<u>@喜欢的名前</u>」</strong>，设定<strong><u>显示在网页上的html文件的标记</u></strong>。
        <hr class="red-hr">
        <p id="title1-1-4-view" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>网页內容的设定</strong></p>
        <br>
        <strong>在「app > views」文件夾里的「资料库的名字」的文件夾，作显示网页的html文件。</strong>
        <br>
        <u>随着要用的网页，作</u>
        <strong>
        <ul class="number_ul" style="font-height:2.5; margin:20px 0">
          <li>index.html.erb</li>
          <li>show.html.erb</li>
          <li>new.html.erb</li>
          <li>create.html.erb</li>
          <li>edit.html.erb</li>
          <li>update.html.erb</li>
          <li>destroy.html.erb</li>
        </ul>
        </strong>
        <hr class="red-hr">
        这一次<strong>「<u>显示一个资料（show）</u>」</strong>的网页中设定<strong>「<u>show.html.erb</u>」</strong>。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <strong>从资料库选择的资料要设定在<u>「&lt;%=」跟「%&gt;」之间。</u></strong>
        <br>
        选择的资料，在html上打入<strong>「<u>@设定的标记.框子的名字</u>」</strong>显示。
        <hr class="red-hr">
        <p id="title1-1-4-chrome" class="fix-link-nav"><i class="fa fa-chrome color-red"></i>　<strong>在浏览器显示网页</strong></p>
        <br>
        设定完了之后，<strong>在terminal上打入「<u>rails s</u>」之后</strong>，用浏览器打开网页。
        <br>
        「显示一个资料（show）」的网页，从<strong>「<u>0.0.0.0:3000/资料库的名字/要显示的id</u>」</strong>打开。
        <br><br>
        <small>
        <i class="fa fa-windows color-blue"></i>　使用Windows的话，从<strong>「<u>localhost:3000/资料库的名字/要显示的id号码</u>」</strong>打开。
        </small>
        <hr class="red-hr">
        到这里显示了一个一个的资料。
        <br>
        <strong>接着作显示全部的资料的，像推特的主页一样子的网页吧。
        <br><br>
        设定的內容<a href="/zh-CN/codes/5" target="_blank">可以从这里看</a></strong>
</h4>