<h4 id="chapter5-1-2-3">
        <p id="title1-2-3"><i class="fa fa-check-square color-red"></i><strong>　⑶ : 总结</strong></p>
        先解释<strong>「显示全部的资料（index）」</strong>上设定的三个设定。
        <br><br>
        <strong>设定的內容<a href="/zh-CN/codes/5" target="_blank">请参考这里</a></strong>
        <hr class="red-hr">
        <p id="title1-2-3-route" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>七个网页的设定</strong></p>
        <br>
        <strong>「config」文件夾里的「routes.rb」文件里设定「<u>index</u>」</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple remarkable-code'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <p id="title1-2-3-data" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>资料操作的设定</strong></p>
        <br>
        <strong>设定「app > controllers」文件夾里的「资料库的名字_controller.rb」文件的「<u>index</u>」</strong>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line remarkable-code'>    @posts <span class="word-red">=</span> <span class='word-blue'>Post</span>.all</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong>设定<u>选择全部的资料的「.all」跟html上显示的标记</u></strong>
        <hr class="red-hr">
        <p id="title1-2-3-view" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>网页的设定</strong></p>
        <br>
        <strong>设定「app > views > 资料库的名字」文件夾里的「<u>index.html.erb</u>」。</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>index.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;message一览&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% @message.each <span class="word-red">do</span> |m| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;寄信者 ： &lt;%= m.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;收信者 ： &lt;%= m.send_to %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;%= m.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        在网页上，<strong>显示<u>「controller」文件上设定的资料</u>。</strong>
        <br><br>
        用<strong>「<u>&lt;% @设定的标记.each do |名字| %&gt;</u>」</strong>，把复数的资料分成一个一个的资料，
        <br>
        到<strong>「<u>&lt;% end %&gt;</u>」</strong>之间，设定各个资料的显示方法。
        <br><br>
        用<strong>「<u>&lt;%= 资料库的名字.框子的名字 &gt;</u>」</strong>显示各个资料。
        <hr class="red-hr">
        <p id="title1-2-3-chrome" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>浏览器上的显示</strong></p>
        <br>
        设定完了之后<strong>用terminal打入「rails s」</strong>，可以在浏览器打开网页。
        <br>
        显示全部的资料（index）的网页，从<strong>「<u>0.0.0.0:3000/资料库的名字</u>」</strong>打开。
        <br>
        <small><i class="fa fa-windows color-blue"></i>　使用Windows的话，从<strong>「<u>localhost:3000/资料库的名字</u>」</strong>打开。</small>
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>网页的移动（连接）</strong>
        <br><br>
        网页的移动，
<pre>
&lt;a href="想移动的网页"&gt;文字&lt;/a&gt;
</pre>
        做。
        <br><br>
        想移动到「index」网页的话，
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;按这里&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        想移动到「show」网页的话，
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= p.id %&gt;"</span>&gt;按這裡&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        这样子设定。
        <br><br>
        <strong>设定的內容<a href="/zh-CN/codes/5" target="_blank">请参考这里</a>。</strong>
        <hr class="red-hr">
        <strong>
        <i class="fa fa-star color-blue"></i>　到这里我們作了显示全部的资料的网页。
        <br>
        还剩的「在网页上，新增・编辑・删除资料」的方法，在下章解释！
        <br><br>
        到这里设定的內容<a href="/zh-CN/codes/5" target="_blank">参考这里</a>。
        <hr>
        </strong>
</h4>