<% provide :title, "運営会社" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center">運営会社</h2>
            <table class="info-table">
              <tbody>
                <tr>
                  <th>会社名</th>
                  <td>Coffee-Cup株式会社</td>
                </tr>
                <tr>
                  <th>代表者</th>
                  <td>代表取締役 栗原和也</td>
                </tr>
                <tr>
                  <th>所在地</th>
                  <td>東京都文京区春日1-5-4</td>
                </tr>
                <tr>
                  <th>事業内容</th>
                  <td>プログラミング教育事業</td>
                </tr>
                <tr>
                  <th>設立</th>
                  <td></td>
                </tr>
                <tr>
                  <th>資本金</th>
                  <td>500000円</td>
                </tr>
                <tr>
                  <th>URL</th>
                  <td><a href="http://coffee-cup.co.jp" target="_blank">http://coffee-cup.co.jp</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/company" class="list-group-item">運営会社</a>
          <a href="/term" class="list-group-item">利用規約</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/tokusho" class="list-group-item">特定商取引法に基づく表記</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>