<% provide :title, "プライバシーポリシー" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center privacy-word">プライバシーポリシー</h2>
            <h4>目的</h4>
            <p>
              coffee-cup.net（以下、当ホームページ）が、本サービスを運営するにあたって、本サービスを利用する全ての方（以下、「利用者」といいます。）のプライバシーに関する情報を取り扱う理由を示し、またプライバシーに対する当ホームページの取り組みについてご理解をいただくために、ここでプライバシーポリシーについて明文化します。
            </p>
            <h4>個人情報の定義</h4>
            <p>
              個人情報とは、本サービスを通じて利用者から取得する利用者個人を特定できない情報（IPアドレス・端末情報など）のことを示します。
            </p>
            <h4>個人情報を取り扱う理由</h4>
            <p>
              ここで当ホームページが利用者の個人情報を取り扱う理由を示します。その理由は以下のものになります。
              <ul class="number_ul">
                <li>利用者により適したサービスの提供を実現し、サービスの向上に役立てるため</li>
                <li>個人の情報が特定されない範囲での統計データの作成のため</li>
                <li>本サービスの改善や新規開発に必要なデータの解析や分析のため</li>
                <li>契約や法律等に基づく権利の行使や義務の履行</li>
                <li>アフターサービス、各種問い合わせ対応のため</li>
                <li>学術的な研究のため</li>
                <li>上記の利用目的に付随する目的</li>
              </ul>
            </p>
            <h4>個人情報の共有ならび利用制限について</h4>
            <p>
              当ホームページは、以下に定める場合、個人情報を第三者に提供します。
              <br>
              以下を除いて、事前に利用者本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を利用または共有することはありません。
              <ul class="number_ul">
                <li>個人に適したサービスの提供のため、社内での個人情報の提供が必要とされる場合</li>
                <li>合併、会社分割、事業譲渡その他の事由による事業の承継に伴って個人情報が提供される場合</li>
                <li>国の機関もしくは地方公共団体の定める法令に基づき、ユーザー・利用者の同意が取れずとも公共の福祉のために情報の公開が必要であると考えられる場合</li>
                <li>人の生命、身体または財産の保護のために必要があり、さらに利用者の同意を得るのが困難な場合</li>
                <li>ユーザーの事前の同意があった場合</li>
                <li>その他、個人情報保護法その他の法令で認められる場合</li>
              </ul>
            </p>
            <h4>個人情報の安全管理について</h4>
            <p>
              <ul class="number_ul">
                <li>当ホームページでは、個人情報の漏洩または毀損の防止ならびにその他個人情報の安全管理が行われるよう、個人情報の適切な管理を行います。</li>
                <li>当ホームページでは、業務遂行に必要な範囲内で、権限を与えられた者のみが個人情報を取り扱います。</li>
              </ul>
            </p>
            <h4>プライバシーポリシーの変更</h4>
            <p>
              本プライバシーポリシーは事前のユーザーへの通知なく、変更することができます。変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/warning" class="list-group-item">使用時の注意</a>
          <a href="/teaching" class="list-group-item">本教材の教え方について</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>