<% provide :title, "プライバシーポリシー" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center privacy-word">プライバシーポリシー</h2>
            <h4>目的</h4>
            <p>
              当社が、本サービスを運営するにあたって、本サービスを利用する全ての方（以下の「利用者」といいます。）のプライバシーに関する情報を取り扱う理由を示し、またプライバシーに対する当社の取り組みについてご理解をいただくために、ここでプライバシーポリシーについて明文化します。
            </p>
            <h4>個人情報の定義</h4>
            <p>
              個人情報とは、本サービスを通じて利用者から取得する氏名、メールアドレス、電話番号その他の利用者個人を特定できる情報のことを示します。収集する個人情報は、ご登録時の登録情報に限られます。
            </p>
            <h4>個人情報を取り扱う理由</h4>
            <p>
              ここで当社が利用者の個人情報を取り扱う理由を示します。その理由は以下のものになります。
              <ul class="number_ul">
                <li>登録したユーザーが本当にいるかどうかの確認のため</li>
                <li>それぞれのユーザーに適したサービスの提供を実現し、サービスの向上に役立てるため</li>
                <li>当社の情報を電子メールなどで発信していくため</li>
                <li>ユーザーが簡便にデータの入力をできるようにするために、当社に登録されている情報を入力画面に表示するため</li>
                <li>個人の情報が特定されない範囲での統計データの作成のため</li>
                <li>本サービスの改善や新規開発に必要なデータの解析や分析のため</li>
                <li>契約や法律等に基づく権利の行使や義務の履行</li>
                <li>アフターサービス、各種問い合わせ対応のため</li>
                <li>学術的な研究のため</li>
                <li>上記の利用目的に付随する目的</li>
              </ul>
            </p>
            <h4>個人情報の共有ならび利用制限について</h4>
            <p>
              当社は、以下に定める場合、個人情報を第三者に提供します。
              <br>
              以下を除いて、事前に利用者本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を利用または共有することはありません。
              <ul class="number_ul">
                <li>個人に適したサービスの提供のため、社内での個人情報の提供が必要とされる場合</li>
                <li>合併、会社分割、事業譲渡その他の事由による事業の承継に伴って個人情報が提供される場合</li>
                <li>国の機関もしくは地方公共団体の定める法令に基づき、ユーザー・利用者の同意が取れずとも公共の福祉のために情報の公開が必要であると考えられる場合</li>
                <li>人の生命、身体または財産の保護のために必要があり、さらに利用者の同意を得るのが困難な場合</li>
                <li>ユーザーの事前の同意があった場合</li>
                <li>その他、個人情報保護法その他の法令で認められる場合</li>
              </ul>
            </p>
            <h4>個人情報の安全管理について</h4>
            <p>
              <ul class="number_ul">
                <li>当社では、個人情報の漏洩または毀損の防止ならびにその他個人情報の安全管理が行われるよう、個人情報の適切な管理を行います。</li>
                <li>当社では、業務遂行に必要な範囲内で、権限を与えられた者のみが個人情報を取り扱います。</li>
              </ul>
            </p>
            <h4>個人情報の開示</h4>
            <p>
              当社では、本人から個人情報の開示が求められた時に、本人に対し遅延なくこれを開示いたします。開示等の請求に関する手数料として１回の申請ごとに500円を頂戴いたします。500円分の郵便切手を請求書類に同封して下さい。（利用停止・訂正等については手数料は不要です。）
              <br>
              ただし、以下のいずれかに該当すると当社が判断した場合は、開示を拒否することがあります。
              <ul class="number_ul">
                <li>本人または第三者の生命，身体，財産その他の権利利益を害するおそれがある場合</li>
                <li>当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
                <li>その他法令に違反することとなる場合</li>
              </ul>
            </p>
            <h4>プライバシーポリシーの変更</h4>
            <p>
              本プライバシーポリシーは事前のユーザーへの通知なく、変更することができます。変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。
            </p>
            <h4>プライバシーポリシーに関するお問い合わせ</h4>
            <p>
              本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。
              <ul style="list-style-type:none">
                <li>112-0003</li>
                <li>東京都文京区春日1-5-4</li>
                <li>コーヒーカップ株式会社　個人情報管理責任者宛</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/company" class="list-group-item">運営会社</a>
          <a href="/term" class="list-group-item">利用規約</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/tokusho" class="list-group-item">特定商取引法に基づく表記</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>