<% provide :title, "利用規約" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center">利用規約</h2>
            <p>
              当社は、当社が提供する「プログラミング学習教材 CoffeeCup」の利用に関して、以下の利用規約（以下「本規約」といいます）を定めます。本規約の内容に関しては、ユーザーが会員登録をした時点で同意したものとさせていただきますので、ご利用に前に必ずお読み下さい。
            </p>
            <h4>第1条</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/company" class="list-group-item">運営会社</a>
          <a href="/term" class="list-group-item">利用規約</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/tokusho" class="list-group-item">特定商取引法に基づく表記</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>