<% provide :title, "利用規約" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center">利用規約</h2>
            <p>
              この規約では、株式会社Coffee-Cup（以下「当社」といいます。）が提供する「プログラミング学習教材 Coffee-Cup」（以下「当社教材」といいます。）の利用に関して、以下の利用規約（以下「本規約」といいます）を定めます。本規約の内容に関しては、ユーザーがユーザー登録をした時点で同意したものとみなされます。ご利用に前に必ずお読み下さい。
            </p>
            <h4>第1条（本規約の目的）</h4>
              <p>
                本規約は、ユーザーの皆様の当社教材のご利用に際して、
                <ul class="number_ul">
                  <li>当サービス利用方法の説明</li>
                  <li>規定の明文化によるトラブルの回避</li>
                </ul>
                のために作成したものです。
                <br>
                2つ目の目的はともかく、1つ目の目的を達成するために、本規約では、
                <ul class="number_ul">
                  <li>第2条〜第5条において、サービスの概要を説明し、</li>
                  <li>それ以降において、本規約を掲載します。</li>
                </ul>
                を掲載する。
                <br>
                本規約は、この目的に沿って作成されたことをご理解いただいた上で、規約をお読みいただけると幸いである。
              </p>
            <br>
            <h3 class="text-center"><strong><u>以下、説明規約</u></strong></h3>
            <br>
            <h4>第2条（サービス概要：説明）</h4>
              <p>
                当サービスは、
                <ul class="number_ul">
                  <li>有料での当社教材の閲覧使用</li>
                  <li>当社教材の閲覧使用者対する、Facebookを使用したアフターサービス</li>
                </ul>
                の2つを提供するサービスです。
              </p>
            <h4>第3条（当教材について：説明）</h4>
              <p>
                当社教材は、「ウェブサイトフレームワーク Ruby on Railを使ったウェブサイトの作成を解説する」教材です。
                <br>
                以下において、概略を示します。
                <ul class="number_ul">
                  <li>構成</li>
                  <p>基礎編・応用編の2編によって構成されています</p>
                  <li>料金</li>
                  <p>
                  初回購入（1か月の閲覧使用料）：10800円
                  <br>
                  毎1か月の延長料金：2160円
                  </p>
                  <li>使用ノートパソコン・ブラウザ</li>
                  <p>
                  Mac（OSX 10.7以上を必須 / OSX 10.9以上を推奨）
                  <br>
                  Windows（Windows7以上必須 / Windows10以上を推奨）
                  <br>
                  Google Chrome（バージョン40以上）
                  </p>
                  <li>実行環境</li>
                  <p>Ruby 2.1.3 / Rails 4.2.6 を推奨（バージョン違いにつきましては、メンタリングでのご相談を受け付けますが、解決に至る保証は致しません。）</p>
                </ul>
                また、当社教材の効果は、以下の点にあります。
                <ul class="number_ul">
                  <li>標準時間４０時間で基礎編を学習し、さらに標準時間４０時間で応用編を学習することによって、基本的なウェブサイトの作り方を学ぶことができます。</li>
                  <li>ウェブサイトの基本的な仕組みを理解することができます。</li>
                </ul>
                <p>
                  <small>
                    ※　上記で示したのは標準的な学習時間の目安です。当社は全ての人に同じ効果があることは保証しません。
                  </small>
                  <br>
                  <small>
                    ※　Windowsでは、機種の関係上、「応用編」の「7 : 画像のアップロード」の内容を学ぶことはできません。
                  </small>
                </p>
              </p>
            <h4>第4条（メンタリング：説明）</h4>
              <p>
                当社教材の閲覧使用に加え、当サービスに含まれるメンタリングは、当社メンター又は当社業務の受託者が、当社教材の閲覧使用者の当社教材に関する質問を回答するものです。当社によるメンタリングは、Facebookページを通じたものになります。
              </p>
            <h4>第5条（購入方法：説明）</h4>
              <p>
                当社教材の閲覧希望者は、当ページでユーザー登録の上で、当社の指定する銀行口座に当社が定めた料金を送金することによって、当社教材を閲覧することができます。
                <p>
                  <small>
                    ※　当社が料金の振込みを確認後に当社教材の閲覧使用が可能になります。
                    <br><br>
                    閲覧期間は、購入日から起算して32日後の24時までです。 
                    <br>
                    閲覧期間の経過後も、1か月（32日）2160円の料金で、閲覧期間を延長することができます。
                  </small>
                </p>
              </p>
            <br>
            <h3 class="text-center"><strong><u>以下、本規約</u></strong></h3>
            <br>
            <h4>第6条（総則・適用範囲）</h4>
              <p>
                <ul class="number_ul">
                  <li>本規約は、ユーザーと当社の間の本サービスの利用に関わる一切の関係に適用されます。</li>
                  <br>
                  <li>ユーザーは、本規約が改訂され、内容に不一致が生じた場合は、改訂後の規約に従うことにします。</li>
                  <br>
                  <li>本サービス又は当社ウェブサイトの提供に際してリンクされた他のウェブサイトその他のサービス（以下、本サービスの提供に際してリンクされた他のウェブサイト、アプリケーションその他のサービスを総称して「外部サービス等」といいます。）については、外部サービス等に定められた利用規則等に従ってご利用下さい。</li>
                </ul>
              </p>
            <h4>第7条（登録）</h4>
              <p>
                <ul class="number_ul">
                  <li>登録希望者は、本規約に同意し、かつ登録情報を当社の定める方法で当社に提供することにより、当社に対し、本サービスの利用の登録を申請することができます。</li>
                  <br>
                  <li>登録希望者は、前項に基づく登録の申請に当たり、以下の各号の事由を確認の上で、申請しなければならないものとします。なお、外部サービスやアプリケーションについては、それらのサービスやアプリケーションの利用規約等に従って利用するものとします。当社は本サービスに関連して登録希望者が利用する外部サービスの安全性について一切責任を負いません。</li>
                  <br>
                  <p>⑴ 当社「Coffee-Cup」にてアカウントを作成し、登録すること</p>
                  <p>⑵ 当社が推奨する「Google Chrome」をインストールすること</p>
                  <p>⑶ 通信環境が本サービスの利用に支障がないことを確認すること</p>
                  <br>
                  <li>前項に定める登録完了後、ユーザーと当社との間で、本規約の諸規定に従ったサービス利用契約が成立し、当社がユーザーによる当社の定めた利用料金の支払いを確認した場合、ユーザーは本サービスを当社の定める方法に従って利用することができるようになります。</li>
                  <br>
                  <li>当社は、第1項に基づき登録を申請した者が、以下の各号のいずれかの事由に該当する場合は、登録を拒否することがあります。</li>
                  <br>
                  <p>⑴ 提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合</p>
                  <p>⑵ 第2項各号に定めた事由を遵守しない場合</p>
                  <p>⑶ 当該登録希望者が、本サービス利用に際し、過去にアカウント削除等の本サービス利用停止措置を受けたことがあり又は現在受けている場合</p>
                  <p>⑷ 反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。）であるか、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等、反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合</p>
                  <p>⑸ その他、当社が登録を適当でないと判断した場合</p>
                  <br>
                  <li>登録希望者は、登録情報の登録に当たっては、真実かつ正確な情報を提供するものとします。当社は、ユーザー自身が登録した登録情報を前提として、本サービスを提供いたします。登録情報の内容に虚偽、誤り又は記載漏れがあったことによりユーザーに生じた損害については、当社は一切責任を負いません。</li>
                  <br>
                  <li>ユーザー登録は、ユーザーに一身専属的に帰属します。ユーザーは、アクセス情報を第三者に使用させまたは共有してはならず、また、第三者への譲渡、貸与、名義変更、売買等も行ってはならず、相続等させることはできません。</li>
                </ul>
              </p>
            <h4>第8条（アカウント及びパスワードの管理）</h4>
              <p>
                <ul class="number_ul">
                  <li>ユーザーは、自己の責任においてアカウント及びパスワードを管理及び保管するものとし、これを第三者に利用させ、又は貸与、譲渡、名義変更、売買等をしてはならないものとします。当社は、当該アカウント及びパスワードの一致を確認した場合、当該アカウント及びパスワードを保有するものとして登録されたユーザーが本サービスを利用したものとみなします。</li>
                  <br>
                  <li>アカウント又はパスワードの管理不十分、使用上の過誤、第三者の使用等による損害の責任はユーザーが負うものとし、当社は一切の責任を負いません。</li>
                  <br>
                  <li>ユーザーは、アカウント又はパスワードが盗用され又は第三者に使用されていることが判明した場合には、直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。</li>
                </ul>
              </p>
            <h4>第9条（閲覧料金・支払い方法）</h4>
              <p>
                <ul class="number_ul">
                  <li>本サービスにおいて、ユーザーは、下記の料金を支払うことにより、当社教材を閲覧できるものとします。料金は下のようになります。</li>
                  <table class="table table-striped table-hover table-bordered" style="margin:10px 0; width:100%">
                    <thead>
                      <th>料金（税込）</th>
                      <th>初回（1か月）</th>
                      <th>延長（1か月毎）</th>
                    </thead>
                    <tbody>
                      <tr>
                        <th></th>
                        <td>10800円</td>
                        <td>2160円</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <li>前項の定める利用料金につき、ユーザーは当社の指定する銀行口座に銀行振込みにより支払うものとします。振替手数料はユーザーの負担となります。</li>
                </ul>
              </p>
            <h4>第10条（閲覧期間）</h4>
              <p>
                <ul class="number_ul">
                  <li>当社教材の閲覧をするためには、当社の指定する銀行口座に指定の料金を入金する必要があります。</li>
                  <br>
                  <li>閲覧期間は、閲覧が可能になった日から起算して32日後の24時までとします。当該閲覧期間を超えると当社教材の閲覧はできなくなります。</li>
                  <br>
                  <li>閲覧期間を超えた場合、ユーザーは当社に電子メールにより閲覧期間の延長を希望する旨の連絡をすれば、当社は閲覧期間延長に係るご案内をいたします。なお、閲覧期間の延長は、1か月（32日）につき、2160円の料金になります。</li>
                </ul>
              </p>
            <h4>第11条（返品特約）</h4>
              <p>
                <ul class="number_ul">
                  <li>本サービスにつき、当社銀行口座への料金のお振り込み後の返品及び返金はございません。</li>
                </ul>
              </p>
            <h4>第12条（メンタリング）</h4>
              <p>
                <ul class="number_ul">
                  <li>ユーザーは、当社に対し、当社教材の閲覧期間内において、Facebookページを通じて、当社教材の疑問点につき、質問することができます。</li>
                  <br>
                  <li>当社は、上記ユーザーの質問に対し、当社教材に関する回答をすることにします。ただし、ユーザーの疑問点を解決することまでを保証するものではありません。質問に回答が来なかったとしても、当社は一切の責任は負わないものとします。</li>
                  <br>
                  <li>万が一、Facebookページでのによるメンタリングのみでは解決できない問題が出てきて、それによって著しい勉強の支障になる場合は、当社社員の直接対面によるメンタリングもできるものとする。</li>
                  <br>
                  <li>直接対面のメンタリングにおいて、ユーザーは当社社員の指定をできないものとします。</li>
                </ul>
              </p>
            <h4>第13条（禁止事項）</h4>
              <p>
                ユーザーは、本サービスの利用に際して、以下に定めることを行ってはなりません。
                <br>
                <ul class="number_ul">
                  <li>本サービスを利用する権利を第三者に譲渡、使用、売買、名義変更、質権の設定、担保に供すること</li>
                  <li>コンテンツを、本サービスが予定している利用形態を超えて利用（複製、送信、転載、改変などの行為を含む）する行為</li>
                  <li>当社が定める一定のデータ容量以上のデータを本サービスを通じて送信する行為</li>
                  <li>アクセス情報を第三者に譲渡、貸与等することまたは第三者に使用させること</li>
                  <li>当社の営業、名誉、信用、著作権・特許権・実用新案権・商標権及びその他の知的財産権、肖像権、プライバシーなどを侵害すること</li>
                  <li>違法行為、公序良俗に反すること</li>
                  <li>本サービスの運営を妨げること</li>
                  <li>本サービスを直接自己または第三者の営業行為として利用すること</li>
                  <li>本サービスにて利用する第三者の外部サービスに関する質問等、本サービスとは直接関連しない内容に関する質問・相談を当社メンターに対し行うこと。</li>
                  <li>他のユーザー、当社メンター及び当社従業員に違法行為を勧誘または助長すること</li>
                  <li>他のユーザー、当社メンター及び当社従業員が経済的・精神的損害、不利益を被ること</li>
                  <li>犯罪行為及び犯罪行為に結びつく行為</li>
                  <li>当社メンターへの嫌がらせや、不良行為などレッスンの進行を妨げる等のハラスメント行為</li>
                  <li>当社メンターの雇用条件など一般に開示していない当社の機密情報を詮索すること</li>
                  <li>当社メンターに対する一切の勧誘行為</li>
                  <li>手段の如何を問わず、本サービス以外の機会に当社メンターに接触しようとすること</li>
                  <li>当社の従業員への暴言・脅迫行為及びその他当社の業務を妨げること</li>
                  <li>１つのアクセス情報をユーザー本人以外の者と共有しユーザー本人以外の者に本サービスを利用させる行為及び１人のユーザーが複数のユーザー登録をすること</li>
                  <li>本サービスにおいて利用するチャット上で、当社または本サービスに対する誹謗中傷や他のユーザーへの嫌がらせの書き込みなどを行う等、本サービスの健全な運営を妨げること。</li>
                  <li>本サービスの全部または一部を基にしたサービスを提供すること</li>
                  <li>その他、本サービス運営上、当社が不適当と判断すること</li>
                </ul>
                ユーザーまたは利用者は、前項に違反する行為に起因して当社または第三者に損害が生じた場合、本サービスからの退会後であっても、すべての法的責任を負うものとし、いかなる場合も当社を免責するものとします。
              </p>
            <h4>第14章（退会）</h4>
              <p>
                <ul class="number_ul">
                  <li>ユーザーは当社指定の方法によって退会をすることができます。退会後は一切のユーザー復旧の手段はなく、またご利用いただくには、再度の会員登録が必要になります。</li>
                  <br>
                  <li>当社は、ユーザーが本規約の各規定に反した場合、ユーザーを退会させることができるものとします。この場合、当社がユーザーに退会処分をした旨を電子メール等で通知した時点で退会手続きの完了とします。この場合、退会手続きの完了以降本サービスを利用することはできなくなります。</li>
                  <br>
                  <li>ユーザーは退会後、本サービスに関する一切の権利を失うものとし、当社に対するいかなる請求（利用料金の返還を含みます。）も行うことができないものとします。</li>
                  <br>
                  <li>ユーザーは、自身の行為等に起因して当社または第三者に損害が生じた場合、退会後であっても、すべての法的責任を負うものとし、いかなる場合も当社を免責し又は免責させるものとします。</li>
                  <br>
                  <li>当社は、ユーザーが、以下の各号のいずれかに該当する場合は、事前に通知・催告することなく、当該ユーザーの本サービスの利用を一時的に停止し、またはユーザー登録を削除することができるものとます。その場合、利用停止および削除等関する質問・苦情は一切受け付けておりません。</li>
                  <br>
                    <ul style="list-style-type:lower-latin">
                      <li>本規約に違反したと当社が判断した場合</li>
                      <li>登録した情報が真実かつ正確ではないと判明した場合</li>
                      <li>支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合</li>
                      <li>ユーザーが死亡し又は後見開始、保佐開始若しくは補助開始の審判を受けた場合</li>
                      <li>本サービスの利用に際して、過去に本サービス利用停止又はアカウント削除等の措置を受けたことがあり又は現在受けている場合</li>
                      <li>反社会的勢力等（暴力団、暴力団員、暴力団準構成員、総会屋、社会運動等標榜ゴロ、特殊知能暴力集団、反社会的勢力、その他これに準ずる者をいいます。）であると当社が判断した場合、または資金提供等を通じて反社会的勢力等の維持、運営または経営に協力または関与する等反社会的勢力等と何らかの交流・関与を行っていると当社が判断した場合</li>
                      <li>本サービスの運営・保守管理上必要であると当社が判断した場合</li>
                      <li>その他前各号に類する事由があると当社が判断した場合</li>
                    </ul>
                </ul>
              </p>
            <h4>第15条（通知）</h4>
              <p>
                <ul class="number_ul">
                  <li>ユーザーは事前に当社のメールを受信できるようにしなければなりません。</li>
                  <br>
                  <li>ユーザーが受信を拒否していた場合でも、当社がユーザーのメール宛にメールを送信した時点で通知は完了したものとみなします。</li>
                  <br>
                  <li>当社は、会員が会員登録したメールアドレスに不備があったこと、会員がメールアドレスの変更を当社に通知しなかったことまたは会員が適切に受信設定しなかったことに起因して当社からの電子メールが会員に届かなかった場合、同不到達に対して、一切責任を負わないものとします。なお、会員は、同不到達に起因して生じるすべての損害等について責任を負うものとし、いかなる場合も当社を免責するものとします。</li>
                </ul>
              </p>
            <h4>第16条（本サービスの中断及び休止）</h4>
              <p>
                <ul class="number_ul">
                  <li>当社は、通信設備等のメンテナンスなど本サービスを適切に提供するために必要がある場合は、事前に会員に通知することによりシステムを休止することができるものとし、この場合会員は本サービスを利用できないことに同意するものとします。</li>
                  <br>
                  <li>当社は、以下の事由により本サービスの提供が困難な場合、予告なしに本サービスを中断・休止することができるものとし、この場合、会員は本サービスを利用できないことに同意するものとします。</li>
                  <br>
                  <ul style="list-style-type:lower-latin">
                    <li>本サービス用のハード・ソフト・通信機器設備等に関わるメンテナンスや修理を定期的又は緊急に行う場合</li>
                    <li>アクセス過多、その他予期せぬ要因でシステムに負荷が集中した場合</li>
                    <li>ユーザーのセキュリティを確保する必要が生じた場合</li>
                    <li>電気通信事業者の役務が提供されない場合</li>
                    <li>天災等の不可抗力により本サービスの提供が困難な場合</li>
                    <li>火災、停電、その他の不慮の事故又は戦争、紛争、動乱、暴動、労働争議等により本サービスの提供が困難な場合</li>
                    <li>法令又はこれらに基づく措置により本サービスの運営が不能となった場合</li>
                    <li>その他前各号に準じ当社が必要と判断した場合またはその他やむを得ない事由による場合</li>
                  </ul>
                </ul>
              </p>
            <h4>第17条（免責事項）</h4>
              <p>
                会員または利用者は、下記の各条項に定める事項に起因または関連して生じた一切の損害について、当社がいかなる賠償責任も負わないことに予め同意します。
                <ul class="number_ul">
                  <li>本サービスの利用に際し、満足な利用ができなかった場合（以下の状況を含みますが、これらに限定されません）</li>
                  <br>
                  <li>受講コースの学習内容に直接関連しない質問等に対して、メンターによる指導や回答が受けられなかった場合</li>
                  <br>
                  <li>第三者による会員登録した情報への不正アクセス及び改変など</li>
                  <br>
                  <li>本サービスの学習効果や有効性、正確性、真実性等</li>
                  <br>
                  <li>本サービスに関連して当社が紹介・推奨する他社の教材等の効果及び有効性ならびに安全性及び正確性等</li>
                  <br>
                  <li>本サービスに関連して受信したファイル等が原因となりウィルス感染などの損害が発生した場合</li>
                  <br>
                  <li>パスワード等の紛失または使用不能により本サービスが利用できなかった場合</li>
                  <br>
                  <li>本サービス上で提供するすべての情報、リンク先等の完全性、正確性、最新性、安全性等</li>
                  <br>
                  <li>本サービス上で利用した第三者のサービスの完全性、正確性、最新性、安全性等</li>
                  <br>
                  <li>会員が作成したプログラムの有効性ならびに安全性及び正確性等</li>
                  <br>
                  <li>本サービスの利用に関して、会員または利用者がサービスを利用したことまたは利用できなかったことに起因する一切の事由</li>
                </ul>
              </p>
            <h4>第18条（権利の帰属）</h4>
              <p>
                <ul class="number_ul">
                  <li>本サービスにおいて、ユーザーの閲覧に供するテキスト、ファイル・データ等の著作権、商標権等の一切の権利は当社に帰属します。これらの一部または全部を許可なく複製、上演、公衆送信（自動公衆送信の場合にあっては送信可能化を含みます）、譲渡、貸与、改変等することは禁止されています。</li>
                  <br>
                  <li>前項に反した場合、民事上の措置（損害賠償等）及び刑事上の措置をとらせていただくことがあります。</li>
                </ul>
              </p>
            <h4>第19条 （ユーザーに関する情報の収集、解析及び取扱い）</h4>
              <p>
                <ul class="number_ul">
                  <li>当社による登録情報、端末情報等その他ユーザーに関する情報の取扱いについては、別途定めるプライバシーポリシーによるものとし、ユーザーは、プライバシーポリシーに従って当社が当該情報を取り扱うことについて同意するものとします。</li>
                  <br>
                  <li>当社は、ユーザーが当社に提供した登録情報、端末情報等及びその他の情報及びデータ等を、当社の裁量で、本サービスの提供及び運用、サービス内容の改良及び向上等の目的のために利用し、又は個人を特定できない形での統計的な情報として公開することができるものとし、ユーザーはこれに同意するものとします。</li>
                </ul>
              </p>
            <h4>第20条（秘密保持）</h4>
              <p>
                <ul class="number_ul">
                  <li>本規約において「秘密情報」とは、本サービスに関連して、ユーザーが、当社より書面、口頭若しくは記録媒体等により提供若しくは開示されたか、又は知り得た、当社の技術、営業、業務、財務、組織、その他の事項に関する全ての情報を意味します。</li>
                  <br>
                  <li>ユーザーは、秘密情報を本サービスの利用目的以外の目的で使用してはならず、当社の事前の書面による承諾なしに、第三者に対し秘密情報を提供、開示又は漏洩してはならないものとします。</li>
                  <br>
                  <li>前項の定めにかかわらず、ユーザーは、法律、裁判所又は政府機関の命令、要求又は要請に基づき、秘密情報を開示することができます。ただし、当該命令、要求又は要請があった場合、速やかにその旨を当社に通知しなければなりません。</li>
                  <br>
                  <li>ユーザーは、秘密情報を複製、複写、翻案等する場合には、事前に当社の書面による承諾を得るものとし、複製物等の管理については第2項に準じて厳重に行うものとします。</li>
                  <br>
                  <li>ユーザーは、当社から求められた場合はいつでも、遅滞なく、当社の指示に従い、秘密情報及び秘密情報を記載又は包含した書面その他の記録媒体物並びにその全ての複製物等を返却又は廃棄しなければなりません。</li>
                </ul>
              </p>
            <h4>第21条（損害賠償）</h4>
              <p>
                <ul class="number_ul">
                  <li>ユーザーは、本規約に違反することにより、又は本サービスの利用に関連して当社に損害を与えた場合、当社に対しその全ての損害（弁護士等専門家費用及び当社人件費相当額を含みます。）を賠償しなければなりません。</li>
                  <br>
                  <li>当社は、当社による本サービスの提供の停止、終了または変更、退会処分、本サービスの利用によるデータの消失または機器の故障等、その他本サービスに関連して会員が被った損害につき、賠償する責任を一切負わないものとします。</li>
                </ul>
              </p>
            <h4>第22条（有効期限）</h4>
              <p>
                サービス利用契約は、本サービスの提供期間中であって、別途当社が定めるコースに応じて定められた受講期間の満了日までの間、当社とユーザーとの間で有効に存続するものとします。
              </p>
            <h4>第23条（規約改訂）</h4>
              <p>
                当社は、本規約及び本サービスに関する個別利用規約の内容を変更又は追加できるものとします。当社は、本規約又は個別利用規約を変更した場合には、次条に定める方法により、ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、ユーザーが本サービスを利用した場合又は当社の定める期間内に利用終了の手続をとらなかった場合には、ユーザーは、本規約及び本サービスに関する個別利用規約の変更に同意したものとみなします。
              </p>
            <h4>第24条（準拠法及び合意管轄）</h4>
              <p>
                本規約は日本法に準拠するものとし、本規約に起因し又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
              </p>
            <h4>第25条 （協議解決）</h4>
              <p>
                当社及びユーザーは、本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上速やかに解決を図るものとします。
              </p>
            <h5 class="text-right" style="margin:50px auto">2016年5月20日制定</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/company" class="list-group-item">運営会社</a>
          <a href="/term" class="list-group-item">利用規約</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/tokusho" class="list-group-item">特定商取引法に基づく表記</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>