<% provide :title, "特定商取引法に基づく表記" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center privacy-word">特定商取引法に基づく表記</h2>
            <h4>サービス名</h4>
            <p>
            Coffee-Cup（コーヒーカップ）
            </p>
            <h4>商品の引渡</h4>
            <p>
            ユーザーの登録後、本教材を閲覧できるようにいたします。
            </p>
            <h4>商品引渡し後の返品について</h4>
              <p>
              商品引渡し後の返品につきましては、お受けすることができません。
              </p>
            <h4>ソフトフェアの動作環境</h4>
              <p id="software-environment" style="display: block; padding-top: 140px; margin-top: -140px;">
              MacOSX 10.9以上
              <br>
              Windows7以上
              <br>
              Chrome 40以上
              <br>
              Ruby 2.1.3 / Rails 4.2.6
              </p>
            <h4>免責事項</h4>
              <p>
              弊社は、サーバトラブル、ネットワークトラブルその他不可抗力により生じたサービス・商品の提供不能、中断等については一切その責任を負わないものとします。
              </p>
            <h4>事業者の氏名、住所、電話番号</h4>
            <p>
              氏名：株式会社Coffee-Cup
              <br>
              住所：〒112-0003 東京都文京区春日1-5-4
              <br>
              運営統括責任：代表取締役　栗原和也
            </p>
            <h4>お問い合わせ</h4>
            <p>
              宛て先：株式会社Coffee-Cup　運営事務局
              <br>
              メールアドレス：support@coffee-cup.info
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/company" class="list-group-item">運営会社</a>
          <a href="/term" class="list-group-item">利用規約</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/tokusho" class="list-group-item">特定商取引法に基づく表記</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>