<% provide :title, "特定商取引法に基づく表記" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center privacy-word">特定商取引法に基づく表記</h2>
            <h4>サービス名</h4>
            <p>
            CoffeeCup（コーヒーカップ）
            </p>
            <h4>お申し込み</h4>
            <p>
            教材を閲覧したい場合は、<a href="users/sign_up" target="_blank"><strong>会員登録</strong></a>をした上、<a href="mailto:coffeecupjapan@gmail.com "><strong>メール</strong></a>もしくは<a href="https://www.facebook.com/kazuya.kurihara.0218" target="_blank"><strong>Facebook</strong></a>までご連絡をして頂ければ、代金のお支払い方法を連絡致します。
            </p>
            <h4>商品の引渡</h4>
            <p>
            代金をお支払いになった後、当方が入金を確認した日の午前12時〜午後20時の間に、本教材を閲覧できるようにいたします。
            </p>
            <h4>当方の入金確認</h4>
            <p id="tokusho-noukin" style="display: block; padding-top: 140px; margin-top: -140px;">
            銀行の営業時間の関係で、代金をお振り込みいただいた日によって、当方が入金確認をする日にちが変わります。以下の表をご参照下さい。
            <br>
            <small class="text-muted">※　入金後、<a href="mailto:coffeecupjapan@gmail.com"><strong>メール</strong></a>で確認を取っていただきます。</small>
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <th>入金日</th>
                <th>確認日</th>
              </thead>
              <tbody>
                <tr>
                  <td>月〜金（0時〜15時）</td>
                  <td>当日までに確認</td>
                </tr>
                <tr>
                  <td>月〜木（15時〜24時）</td>
                  <td>翌日までに確認</td>
                </tr>
                <tr>
                  <td>金（15時〜24時）</td>
                  <td>次の平日までに確認</td>
                </tr>
                <tr>
                  <td>土・日・祝日</td>
                  <td>次の平日までに確認</td>
                </tr>
              </tbody>
            </table>
            </p>
            <h4>閲覧期間</h4>
              <p id="tokusho-kikan" style="display: block; padding-top: 140px; margin-top: -140px;">
              当方が入金を確認した日の午前12時〜午後20時から、閲覧ができるようになります（この日を「開始日」といいます。）。
              <br>
              内容の閲覧は、開始日から32日後の午後24時まで可能になります。
              <br><br>
              <small class="text-muted">
              例：開始日「1月1日」なら「2月2日午後24時」まで閲覧可能
              <br>
              　　開始日「2月18日」なら「3月21日午後24時」まで閲覧可能
              <br>
              　　開始日「7月11日」なら「8月12日午後24時」まで閲覧可能
              </small>
              <br><br>
              また期間の延長をする場合も、内容の閲覧は1ヶ月につき、振り込みをしてから32日後の午後24時までになります。
              </p>
            <h4>販売価格（全て税込）</h4>
              <p id="tokusho-kingaku" style="display: block; padding-top: 140px; margin-top: -140px;">
              初回購入（1ヶ月使用）：10800円 / 毎1ヶ月延長料金：2160円
              <br>
              <small class="text-muted">※　期間の延長は好きな時に、<a href="mailto:coffeecupjapan@gmail.com"><strong>メール</strong></a>で連絡下されば可能です。</small>
              </p>
            <h4>代金の支払方法、時期</h4>
              <p>
              銀行口座へのお振込：受講開始前となります。（振込み手数料はご負担ください。）
              </p>
            <h4>商品引渡し後の返品について</h4>
              <p>
              商品引渡し後の返品につきましては、お受けすることができません。
              </p>
            <h4>ソフトフェアの動作環境</h4>
              <p>
              MacOSX 10.9以上
              <br>
              Chrome 40以上
              </p>
            <h4>免責事項</h4>
              <p>
              弊社は、サーバトラブル、ネットワークトラブルその他不可抗力により生じたサービス・商品の提供不能、中断等については一切その責任を負わないものとします。
              </p>
            <h4>事業者の氏名、住所、電話番号</h4>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/company" class="list-group-item">運営会社</a>
          <a href="/term" class="list-group-item">利用規約</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/tokusho" class="list-group-item">特定商取引法に基づく表記</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>