<% provide :title, "特定商取引法に基づく表記" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div class="company-info-section">
            <h2 class="text-center privacy-word">特定商取引法に基づく表記</h2>
            <h4>サービス名</h4>
            <p>
            CoffeeCup（コーヒーカップ）
            </p>
            <h4>使用期間</h4>
            <p>
            入金した翌日の12時〜午後20時に閲覧ができるようになります。
            <br>
            内容の閲覧は入金した翌日から32日後の午後24時まで可能になります。
            </p>
            <h4>販売価格（全て税込）</h4>
            <p>
            初回購入（1ヶ月使用）：10800円 / 1ヶ月延長料金：2160円
            <br>
            <small class="text-muted">※　使用期間終了日午後23時59分00秒から、168時間（7日）以内にメール宛に連絡をし振り込みいただければ、期間の延長をいたします。</small>
            </p>
            <h4>代金の支払方法、時期</h4>
            <p>
            銀行口座へのお振込：受講開始前となります。（振込み手数料はご負担ください。）
            </p>
            <h4>商品の引渡時期</h4>
            <p>
            入金した翌日の午前12時〜午後20時の間に、カリキュラムを閲覧できるようにいたします。
            </p>
            <h4>商品引渡し後の返品について</h4>
            <p>
            商品引渡し後の返品につきましては、お受けすることができません。
            </p>
            <h4>免責事項</h4>
            <p>
            弊社は、サーバトラブル、ネットワークトラブルその他不可抗力により生じたサービス・商品の提供不能、中断等については一切その責任を負わないものとします。
            </p>
            <h4>事業者の氏名、住所、電話番号</h4>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">ABOUT US</a>
          <a href="/company" class="list-group-item">運営会社</a>
          <a href="/term" class="list-group-item">利用規約</a>
          <a href="/privacypolicy" class="list-group-item">プライバシーポリシー</a>
          <a href="/tokusho" class="list-group-item">特定商取引法に基づく表記</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>