<div class="container">
  <div class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <h1 class="text-center"><i class="fa fa-exclamation"></i>　<strong>利用之前，請注意</strong></h1>
      <hr>
      <h3 class="alert alert-danger" style="line-height:1.6; padding-bottom:35px">
        <div class="text-center"><i class="fa fa-exclamation-triangle fa-2x" style="margin-bottom:25px"></i></div>
        利用之前，請準備
        <strong>
        <div style="margin:20px 0">
          <i class="fa fa-apple"></i>　Mac的電腦（<u>MacOSX 10.9以上</u>） 跟 AppleID（從<a href="https://support.apple.com/zh-tw/HT203993" target="_blank">這裡可以作</a>）
          <br>
          <i class="fa fa-windows color-blue"></i>　Windows（<u>必須是 Windows7以上，我們推薦 Windows10以上</u>）
        </div>
        </strong>
      </h3>
      <h3 class="alert alert-warning" style="line-height:1.6; padding-bottom:35px">
        <div class="text-center"><i class="fa fa-exclamation-triangle fa-2x" style="margin-bottom:25px"></i></div>
        使用的環境是，<strong><u>Ruby 2.1.3、Rails 4.2.6</u></strong> 。
      </h3>
      <h3 class="alert alert-info" style="line-height:1.6; padding-bottom:35px">
        <div class="text-center"><i class="fa fa-exclamation-triangle fa-2x" style="margin-bottom:25px"></i></div>
        <i class="fa fa-windows"></i>　<strong><u>使用 Windows 的話</u></strong>、因為機種的關係，不能學<strong>「Coffee（應用編）」「<u>7 : 上載圖像</u>」</strong>的內容。
      </h3>
      <br><br>
      <div class="row text-center">
        <div class="col-xs-6">
          <a href="/zh-TW/mugcups" class="btn btn-primary" target="_blank">
          <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/mugcup_logo_link.png",
                        :class => "nav-img") %>
          Mugcups(基礎編)
          </a>
        </div>
        <div class="col-xs-6">
          <a href="/zh-TW/coffee_cups" class="btn btn-danger" target="_blank">
          <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/coffee_logo_link.png",
                        :class => "nav-img") %>
          Coffee(應用編)
          </a>
        </div>
      </div>
      <br>
      <hr>
    </div>
  </div>
</div>