<h2 class="textbook-section-title" id="title1"><strong>1 : deviseの導入</strong></h2>
<h4 id="chapter9-1">
deviseの導入は、
<strong>
<ul class="number_ul">
  <li><u>gem "devise"</u>のインストール</li>
  <li><u>usersデータベース</u>の作成</li>
  <li><u>deviseの表示・views</u>（登録ログイン画面など）の作成</li>
</ul>
</strong>
の３つになります。それぞれやってみましょう！
<hr>
<%= render "page9/title1_1" %>
<hr>
<%= render "page9/title1_2" %>
<hr>
<%= render "page9/title1_3" %>
<hr>
<%= render "page9/title1_4" %>
</h4>