<h4 id="chapter9-2-2-3">
  <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : ログインする</strong></p>
  <br>
  「posts」ページ表示の制限も通知もできたので、ログインしてみましょう！
  <br>
  <strong>登録ページ「<a href="http://0.0.0.0:3000/users/sign_up" target="_blank">0.0.0.0:3000/users/sign_up</a>」</strong>を開いて登録をしましょう。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_bootstrap.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_bootstrap.png",
              :target => ["_blank"] %>
  登録ができたら下の画面が出てくると思います。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_root_after_sign_up.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_root_after_sign_up.png",
              :target => ["_blank"] %>
  これで会員登録ができました。
  <br>
  <strong>「<a href="/mugcups/6#title1-3" target="_blank">new</a>」ページ「<a href="http://0.0.0.0:3000/posts/new" target="_blank">0.0.0.0:3000/posts/new</a>」</strong>を開いてみましょう。ログイン画面に戻らなければ大丈夫です。
  <hr class="red-hr">
  会員登録もできたの<u>「users」データベース</u>にも内容が保存されました。<strong>Sequel Proで会員データが保存されたかを確認しましょう。</strong>
  <br>
  <small>※　Sequel Proの開き方は<a href="/mugcups/how_to_open#title2" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br>
  <br>
  下のように保存したデータは追加されているでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Sequel_Pro_users_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Sequel_Pro_users_1.png",
              :target => ["_blank"] %>
</h4>