<%= provide :title, "購入情報" %>
<div class="container">
  <div class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <h3 class="alert alert-warning" style="line-height:1.6"><i class="fa fa-exclamation-triangle"></i>　MacPCおよびAppleIDをお持ちでない方は、ご利用できませんのでご注意下さい。</h3>
    </div>
  </div>
</div>