<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <h1 class="text-center color-coffee" style="font-size:65px">
            <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_grains_logo.png" %>
            <strong>購買方法</strong>
          </h1>
          <hr>
          <ul class="number_ul">
            <h1 class="fix-link-nav color-green" id="title1"><strong><li>確認銀行帳號</li></strong></h1>
            <h4>
            事先，按照下面的內容發郵件到我們的郵箱：<a href="mailto:support@coffee-cup.info"><strong>support@coffee-cup.info</strong></a>
            <br>
<pre style="margin:15px 0">
件名 ： Coffee-Cup購買，您的名字
本文 ： 您帳號的ID，名字，電話號碼
</pre>
            <small>※　帳號資料<a href="/zh-TW/dashboard#title0" target="_blank"><strong>在這裡</strong></a></small>
            <br><br>
            我們受到之後，連絡敝公司的銀行帳號（我們使用日本的銀行）。
            </h4>
            <hr>
            <h1 id="title2" class="fix-link-nav color-green"><strong><li>使用方法</li></strong></h1>
            <br>
            <ul class="number_ul" style="list-style-type: lower-latin">
            <h3 id="title2-1" class="fix-link-nav"><strong><li>價錢</li></strong></h3>
            <h4>
            <i class="fa fa-arrow-right"></i>　價錢，參考下面的表。
              <table class="table table-striped table-hover table-bordered" style="margin:10px 0; width:100%">
                <thead>
                  <th>#</th>
                  <th>第1次（1個月）</th>
                  <th>延長（毎1個月）</th>
                </thead>
                <tbody>
                  <tr>
                    <th>收費</th>
                    <td>10800日圓</td>
                    <td>2160日圓</td>
                  </tr>
                </tbody>
              </table>
            </h4>
            <hr class="red-hr">
            <h3 id="title2-2" class="fix-link-nav"><strong><li>交錢的方法</li></strong></h3>
            <h4>
              <p id="title2-2-1" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>第1次交錢</strong></p>
              <br>
              請您付指定的錢到敝公司的銀行帳號（花銷請您負擔）。
              <br>
              <small>※ 敝公司的銀行帳號，<a href="#title1"><strong>請在這裡</strong></a>參考</small>
              <br><br>
              <i class="fa fa-arrow-right"></i>　為了確認您有没有交錢，交錢之後按照下面的內容發郵件到我們的郵箱：<a href="mailto:support@coffee-cup.info"><strong>support@coffee-cup.info</strong></a>
<pre style="margin:15px 0">
件名 ： Coffee-Cup購買交錢，您的名字
本文 ： 您帳號的ID，名字，電話號碼
</pre>
              <small>※　帳號資料<a href="/zh-TW/dashboard#title0" target="_blank"><strong>在這裡</strong></a></small>
              <br><br>
              <i class="fa fa-arrow-right"></i>　<strong><u>閱覽期間，<a href="#title2-3">請在這裡</a>參考。</u></strong>
              <br><br><br>
              <i class="fa fa-exclamation color-red"></i>　<strong><u>如果您沒有發郵件或者交錯錢</u>，我們也不能還錢。</strong>
            <br><br>
            <i class="fa fa-arrow-right color-red"></i>　<strong><u>關於購買的教材的閱覽</u>、請事先確認<a href="#title2-3">閱覽的期間</a>。</strong>
            <hr class="red-hr">
            <p id="title2-2-2" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>延長閱覽期間</strong></p>
            <br>
            您想延長期間的時候，按照下面的內容發郵件到我們的郵箱：<a href="mailto:support@coffee-cup.info"><strong>support@coffee-cup.info</strong></a>
<pre style="margin:15px 0">
件名 ： Coffee-Cup延長，您的名字
本文 ： 您帳號的ID，名字，電話號碼，想延長的期間（月單位）
</pre>
            <small>※　帳號資料<a href="/zh-TW/dashboard#title0" target="_blank"><strong>在這裡</strong></a></small>
            <br><br>
            我們受到之後、會連絡交錢的方法。確認我們的郵件之後在交錢。
            <br><br>
            <i class="fa fa-exclamation color-red"></i>　<strong><u>如果您沒有連絡去交錢、或者交錯錢</u>等等時、我們不能還錢。</strong>
            </h4>
            <hr class="red-hr">
            <h3 id="title2-3" class="fix-link-nav"><strong><li>教材的閱覽</li></strong></h3>
            <h4>
            <strong class="color-red"><i class="fa fa-arrow-right"></i> <u>內容的閱覽</u>是</strong>
            <br>
            從交錢後，<strong><u>敝公司確認您的入錢跟郵件的天的上午12点〜下午20点</u></strong>開始可以閱覽教材。
            <br><br>
            <strong>敝公司的入錢確認時間</strong>
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <th>入錢的日子</th>
                <th>確認的日子</th>
              </thead>
              <tbody>
                <tr>
                  <td>星期1～天</td>
                  <td>一星期左右</td>
                </tr>
              </tbody>
            </table>
            <small>※　詳細的內容<a href="/zh-TW/tokusho#tokusho-noukin" target="_blank"><strong>請參考這裡</strong></a></small>
            <br><br>
            <strong class="color-blue"><i class="fa fa-arrow-right"></i> <u>內容閱覽的期間</u>是</strong>
            <br>
            從開始閱覽的天數起到<strong><u>32天後的24点</u></strong>。
            <br>
            如果是延長的話、從開始閱覽的天數起到<strong><u>延長月數×32日後的24時</u></strong>。
            <br>
            <small>※　閱覽期間的閱覽，<a href="/zh-TW/tokusho#tokusho-kikan" target="_blank"><strong>請從參考這裡</strong></a>。</small>
            <br><br>
            <i class="fa fa-thumbs-o-up color-blue"></i>　這個期間內如果是本人的話，在<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank"><strong>FaceBook主頁</strong></a>上、可以問不知道的地方。我們會回答。
            <br>
            <small>※　問問題的方法請參考<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank"><strong>Facebook主頁</strong></a>。</small>
            </h4>
            </ul>
            <hr>
            <div class="text-center">
              <a href="/zh-TW/dashboard" class="btn btn-green">返回主頁</a>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">購買方法</a>
          <a href="#title1" class="list-group-item">1 : 銀行帳號</a>
          <a href="#title2" class="list-group-item">2 : 使用方法</a>
          <a href="#title2-1" class="list-group-item">　<small>a : 收費</small></a>
          <a href="#title2-2" class="list-group-item">　<small>b : 交錢的方法</small></a>
          <a href="#title2-2-1" class="list-group-item">　　<small><i class="fa fa-play-circle"></i>　第1次交錢</small></a>
          <a href="#title2-2-2" class="list-group-item">　　<small><i class="fa fa-play-circle"></i>　閱覽期間的延長</small></a>
          <a href="#title2-3" class="list-group-item">　<small>c : 教材的閱覽</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>