<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <h1 class="text-center color-coffee" style="font-size:65px">
            <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_grains_logo.png" %>
            <strong>購入情報</strong>
          </h1>
          <hr>
          <ul class="number_ul">
            <h1 class="fix-link-nav color-green" id="title1"><strong><li>口座番号の確認</li></strong></h1>
            <h4>
            まずは、<a href="mailto:support@coffee-cup.info"><strong>support@coffee-cup.info</strong></a>宛に、
            <br>
<pre style="margin:15px 0">
件名 ： Coffee-Cup申込み・お名前
本文 ： 会員のID、お名前、電話番号
</pre>
            の形式で、メールを送信してください。
            <br>
            <small>※　会員情報の確認は<a href="/ja/dashboard#title0" target="_blank"><strong>こちら</strong></a>から</small>
            <br><br>
            当方が確認でき次第、口座番号とご案内をお知らせいたします。
            <hr class="red-hr">
            <span style="font-size:20px"><i class="fa fa-exclamation color-red"></i>　<strong>学生の方は学生証の写真を添付した上、<a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a>宛に、</strong></span>
            <br>
<pre style="margin:15px 0">
件名 ： Coffee-Cup申込み・お名前(学生)
本文 ： 会員のID、お名前、電話番号
</pre>
            の形式でメールを送信して下されば、メールをいただいた翌日から<strong><u>100日間無料</u></strong>で閲覧ができるようにいたします。
            <br><br>
            <small>
              ※　会員情報の確認は<a href="/ja/dashboard#title0" target="_blank"><strong>こちら</strong></a>から
              <br>
              ※　期間の延長は<a href="#title2-2-2"><strong>こちら</strong></a>を参考にして下さい。
              <br>
              ※　質問対応もいたします。
            </small>
            </h4>
            <hr>
            <h1 id="title2" class="fix-link-nav color-green"><strong><li>ご利用方法</li></strong></h1>
            <br>
            <ul class="number_ul" style="list-style-type: lower-latin">
            <h3 id="title2-1" class="fix-link-nav"><strong><li>料金</li></strong></h3>
            <h4>
            <i class="fa fa-arrow-right"></i>　料金は全て税込で、
              <table class="table table-striped table-hover table-bordered" style="margin:10px 0; width:100%">
                <thead>
                  <th>#</th>
                  <th>初回（1ヶ月）</th>
                  <th>延長（毎1ヶ月）</th>
                </thead>
                <tbody>
                  <tr>
                    <th>料金（税込）</th>
                    <td>10800円</td>
                    <td>2160円</td>
                  </tr>
                </tbody>
              </table>
              になります。
            </h4>
            <hr class="red-hr">
            <h3 id="title2-2" class="fix-link-nav"><strong><li>料金のお振り込み</li></strong></h3>
            <h4>
              <p id="title2-2-1" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>初回のお支払い</strong></p>
              <br>
              弊社の口座に指定の料金をお振り込み下さい（振込み手数料はご負担ください）。
              <br>
              <small>※ 当方の口座番号は<a href="#title1"><strong>こちら</strong></a>を参考にして下さい</small>
              <br><br>
              <i class="fa fa-arrow-right"></i>　お振り込み後に確認のため、<a href="mailto:support@coffee-cup.info"><strong>support@coffee-cup.info</strong></a>宛に、
<pre style="margin:15px 0">
件名 ： Coffee-Cup購入送金・お名前
本文 ： ID、お名前、電話番号、送金金額
</pre>
              の形式で、送金の旨をご連絡下さい。
              <br>
              <small>※　会員情報の確認は<a href="/ja/dashboard#title0" target="_blank"><strong>こちら</strong></a>から</small>
              <br><br>
              <i class="fa fa-arrow-right"></i>　<strong><u>教材の閲覧時間は、<a href="#title2-3">こちら</a>からご確認して下さい。</u></strong>
              <br><br><br>
              <i class="fa fa-exclamation color-red"></i>　<strong><u>メールを送信しなかった場合、間違った金額を送金した場合など</u>は、お預かりした金額はお返しかねますので、ご了承ください。</strong>
            <br><br>
            <i class="fa fa-arrow-right color-red"></i>　<strong><u>購入した教材の閲覧</u>について、必ず<a href="#title2-3">こちら</a>をご確認下さい。</strong>
            <hr class="red-hr">
            <p id="title2-2-2" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>閲覧期間の延長</strong></p>
            <br>
            お好きな時に、
<pre style="margin:15px 0">
件名 ： Coffee-Cup延長・お名前
本文 ： ID、お名前、電話番号、延長希望期間（月単位）
</pre>
            の形式で、延長の旨を<strong><a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a></strong>宛にメールでご連絡下さい。
            <br>
            <small>※　会員情報の確認は<a href="/ja/dashboard#title0" target="_blank"><strong>こちら</strong></a>から</small>
            <br><br>
            その後、振り込みに関するご案内をいたしますので、それを確認後、送金を行って下さい。
            <br><br>
            <i class="fa fa-exclamation color-red"></i>　<strong><u>メールを送信せずお振り込みをした場合、間違った金額を送信した場合</u>などは、お預かりした金額はお返しかねますので、ご了承ください。</strong>
            </h4>
            <hr class="red-hr">
            <h3 id="title2-3" class="fix-link-nav"><strong><li>教材の閲覧</li></strong></h3>
            <h4>
            <strong class="color-red"><i class="fa fa-arrow-right"></i> <u>内容の閲覧の開始</u>は、</strong>
            <br>
            送金後、<strong>当社が<u>入金の確認をし、メールを確認した日</u>の午前12時〜午後20時</strong>の間からになります。
            <br><br>
            <i class="fa fa-exclamation"></i>　<strong>ですが実際に閲覧できるのは<u>18〜23時の間のみ</u>になりますので、ご注意下さい。</strong>
            <br>
            <small>※　1日の希望閲覧時間（例えば16時〜21時・5時間まで）を、<strong><a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a></strong>まで送ってくだされば、こちらでその時間に変更することもできます。</small>
            <br><br>
            <strong>当方の入金確認日</strong>
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <th>入金日</th>
                <th>確認日</th>
              </thead>
              <tbody>
                <tr>
                  <td>月〜金（0時〜15時）</td>
                  <td>当日までに確認</td>
                </tr>
                <tr>
                  <td>月〜木（15時〜24時）</td>
                  <td>翌日までに確認</td>
                </tr>
                <tr>
                  <td>金（15時〜24時）</td>
                  <td>次の平日までに確認</td>
                </tr>
                <tr>
                  <td>土・日・祝日</td>
                  <td>次の平日までに確認</td>
                </tr>
              </tbody>
            </table>
            <small>※　詳細は、<a href="/ja/tokusho#tokusho-noukin" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
            <br><br>
            <strong class="color-blue"><i class="fa fa-arrow-right"></i> <u>内容の閲覧の期限</u>は、</strong>
            <br>
            閲覧が可能になった日から<strong><u>32日後の24時まで</u></strong>になります。
            <br>
            これは期間を延長した場合は、閲覧が可能になった日から<strong><u>延長月数×32日後の24時まで</u></strong>可能になります。
            <br>
            <small>※　閲覧期間の詳細は、<a href="/ja/tokusho#tokusho-kikan" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
            <br><br>
            <i class="fa fa-thumbs-o-up color-blue"></i>　この期間中は、本人であれば<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank"><strong>FaceBookページ</strong></a>にて、教材の中で分からない部分のご質問にお答えいたします。
            <br>
            <small>※　質問方法は、<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank"><strong>Facebookページ</strong></a>を参考にして下さい。</small>
            </h4>
            </ul>
            <hr>
            <div class="text-center">
              <a href="/ja/dashboard" class="btn btn-green">トップページに戻る</a>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a class="list-group-item list-title">購入情報</a>
          <a href="#title1" class="list-group-item">1 : 口座番号の確認</a>
          <a href="#title2" class="list-group-item">2 : ご利用方法</a>
          <a href="#title2-1" class="list-group-item">　<small>a : 料金</small></a>
          <a href="#title2-2" class="list-group-item">　<small>b : お金のお振り込み</small></a>
          <a href="#title2-2-1" class="list-group-item">　　<small><i class="fa fa-play-circle"></i>　初回のお支払い</small></a>
          <a href="#title2-2-2" class="list-group-item">　　<small><i class="fa fa-play-circle"></i>　閲覧期間の延長</small></a>
          <a href="#title2-3" class="list-group-item">　<small>c : 教材の閲覧</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>