<% provide :title, "SFC生のための自作ホームページ作成説明ページ" %>
<div id="top-page">
  <%= render 'common/header' %>
  <br>
  <p>
  普段使っているけど、実はどうなっているか分からないホームページ。<br>
  そのホームページの作り方を<strong class="font-18">文系プログラマー</strong>が説明します。
  </p>

  <div id="main-section-inner" class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/0">
      <div class="table-content">
        <p>0 : はじめに</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/1">
      <div class="table-content">
        <p>1 : ウェブページとは？</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/2">
      <div class="table-content">
        <p>2 : Ruby on Rails を触ってみよう！</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/3">
      <div class="table-content">
        <p>3 : Ruby on Rails の基本</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/4">
      <div class="table-content">
        <p>4 : ページを作ってみよう！</p>
      </div>
      </a>
    </div>
  </div>
</div>