<% provide :title, "Mugcup" %>
<br>
<header>
  <div class="header-content fadeIn wow">
    <div class="header-content-word">
      <i class="fa fa-diamond color-red" style="font-size:36px;"></i>
      <br>
      <h1 class="text-left">
        <strong>
          テクノロジーを<br><br>あなたのものにしよう！
          <hr class="red-hr">
          <span style="font-size:15px;">
          日頃の生活を支えていると言っても過言でもない<u>ウェブページ</u>。
          <br>
          そのウェブページの作り方について教えます！
          </span>
        </strong>
      </h1>
    </div>
  </div>
</header>
<br>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <br>
      <div id="lesson-section">
        <h2 class="text-center">2つのコース</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/mugcups" target="_blank" class="btn btn-primary">
                  <%= image_tag("logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(基礎編)
            </a>
            <br><br>
            <p class="text-left">「Ruby on Rails」というソフトウェアを使ったウェブページの作り方を説明します。</p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/mugcups" target="_blank" class="btn btn-danger">
                  <%= image_tag("logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（応用編）
            </a>
            <br><br>
            <p class="text-left">「Ruby on Rails」でメッセージアプリケーションを作ります。</p>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div class="service-section">
        <br>
        <h2 class="text-center">サービス内容</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-book fa-4x color-red"></i>
              <h3>どこよりも分かりやすい教材</h3>
              <p class="text-muted">プログラミング塾の教材に不満を持った学生が、わかりやすい説明を心がけて作った内容。これで分からなければ、全額返金いたします。</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-mortar-board fa-4x color-red"></i>
              <h3>直接指導</h3>
              <p class="text-muted">呼べば教えに行きます！</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div id="sales-section">
        <h2 class="text-center">どういう人に使って欲しいか？</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-code fa-4x color-red"></i>
              <h3>サービスを作ってみたい人</h3>
              <p class="text-muted">世界を変えるアイデアはあるけど、プログクトが作れないあなたへ！その夢を実現させるための技術を教えます。</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-wrench fa-4x color-red"></i>
              <h3>Rails習ったけど挫折した人</h3>
              <p class="text-muted">Rails習ったけど挫折した方。是非使ってみて下さい！今度は確実に理解させます！</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-4x fa-thumbs-o-up color-red"></i>
              <h3>なにか新しいことを習いたい人</h3>
              <p class="text-muted">新しいことを習ってみたい方。ウェブサイトの作り方を習ってみましょう！</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-tablet fa-4x color-red"></i>
              <h3>ウェブサイトの仕組みを知りたい人</h3>
              <p class="text-muted">普段使ってるけどなにが行われているか分からないウェブページでなにが起きてるかを解説して、実際にウェブページを作ってみます！</p>
            </div>
          </div>
        </div>
        <br>
      </div>
      <hr>
      <br>
      <div id="pc-type-section">
        <h2 class="text-center">なにが必要になるか？</h2>
        <hr class="red-hr">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <h3 class="text-center"><i class="fa fa-apple color-red"></i>　MacのPC</h3>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <h3 class="text-center"><i class="fa fa-calendar color-red"></i>　時間(??時間)</h3>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>