<% provide :title, "SFC生のための自作ホームページ作成説明ページ" %>
<div id="top-page">
  <%= render 'common/header' %>
  <br>
  <h5>
  普段使っているけど、実はどうなっているか分からないホームページ。そのホームページの作り方を説明します。
  <br>
  本サイトでは、<strong class="color-red font-18">Ruby on Rails</strong> というソフトウェアを使ってホームページを作っていきます。
  <br>
  <small>※なにを隠そう、このサイトもRuby on Railsで作られています</small>
  </h5>

  <div id="main-section-inner" class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/0">
      <div class="table-content">
        <p>0 : はじめに</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/1">
      <div class="table-content">
        <p>1 : ホームページとは？</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/2">
      <div class="table-content">
        <p>2 : Ruby on Rails の基本</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/3">
      <div class="table-content">
        <p>3 : ホームページの雛形を作ろう！</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/4">
      <div class="table-content">
        <p>4 : ページを作ってみよう！</p>
      </div>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <a href="/pages/5">
      <div class="table-content">
        <p>5 : データを云々</p>
      </div>
      </a>
    </div>
  </div>
</div>