<% provide :title, "Coffee-Cup" %>
<header class="text-center header-img-desk">
  <div class="header-content fadeIn wow">
  <%= render "common/alert" %>
    <div class="header-content-word">
      <h1>
        <strong>
          <span style="line-height:1.6; font-size:50px">テクノロジーを<br>あなたのものにしよう！</span>
          <br>
          <span style="font-size:16px;">
          日頃の生活を支えている<u>ウェブページ</u>。
          <br>
          そのウェブページの作り方を学んでみましょう！
          </span>
        </strong>
      </h1>
      <hr class="red-hr">
      <p><a href="#service-title" class="btn btn-green">詳しく見る</a>　<a href="/users/sign_up" class="btn btn-warning">始めてみる</a></p>
    </div>
  </div>
</header>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <br>
      <div class="service-section">
        <br>
        <h2 class="text-center fix-link-nav" id="service-title">サービス内容</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="service-box">
              <i class="fa fa-clock-o fa-4x color-green" style="margin-bottom:4px"></i>
              <h3 style="margin-top:16px">80時間で身につく教材</h3>
              <p class="text-muted">
              <strong><u>80時間の勉強</u></strong>でアイデアを形にする基礎体力をつけます！
              <br>
              <small>※　時間は目安になります</small>
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="service-box">
              <i class="fa fa-mortar-board fa-4x color-green" style="margin-bottom:2px"></i>
              <h3 style="margin-top:16px">直接指導</h3>
              <p class="text-muted">メッセンジャーなどのアプリケーションで分からない部分にお答えします。
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="service-box">
              <i class="fa fa-yen fa-4x color-green" style="margin-top:3px"></i>
              <h3 style="margin-top:17px">10800円(税込)</h3>
              <p class="text-muted">
              <strong><u>1ヶ月10800円 / 1ヶ月延長2160円</u></strong>でサービスを提供いたします。
              </p>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="#lesson-section" class="btn btn-success" style="margin:20px auto 10px auto">なにを勉強するのか？</a>
        </div>
      </div>
      <hr>
      <br>
      <div id="lesson-section">
        <h2 id="lesson-title" class="text-center fix-link-nav">2つのコース</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/mugcups" target="_blank" class="btn btn-primary">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                                :class => "nav-img") %>
                  Mugcup(基礎編)
            </a>
            <br><br>
            <p class="text-left text-muted">
            「Ruby on Rails」というソフトウェアを使ったウェブページの作り方を説明します。
            <br>
            </p>
            <h5 class="text-left">
              <small>
              <i class="fa fa-arrow-right"></i>　デモページは<a href="https://gentle-cove-48435.herokuapp.com/" target="_blank"><strong>こちら</strong></a>
              </small>
            </h5>
            <br>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <a href="/coffee_cups" target="_blank" class="btn btn-danger">
                  <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                                :class => "nav-img") %>
                  Coffee（応用編）
            </a>
            <br><br>
            <p class="text-left text-muted">
            解説した「Ruby on Rails」の実践として、メッセージアプリケーションを作ります。
            <br>
            </p>
            <h5 class="text-left">
            <small>
            <i class="fa fa-arrow-right"></i>　デモページは<a href="https://guarded-gorge-84479.herokuapp.com/" target="_blank"><strong>こちら</strong></a>
            </small>
            </h5>
            <br>
          </div>
          <a href="/users/sign_up" class="btn btn-warning" style="margin:5px auto 10px auto">始めてみる！</a>
        </div>
      </div>
      <hr>
      <br>
      <div id="sales-section">
        <h2 class="text-center">どういう人に使って欲しいか？</h2>
        <hr class="red-hr">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-wrench fa-4x color-green"></i>
              <h3>Rails習ったけど挫折した人</h3>
              <p class="text-muted text-left">Rails習ったけど挫折した方。是非使ってみて下さい！今度は確実に理解させます！</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-code fa-4x color-green"></i>
              <h3>サービスを作ってみたい人</h3>
              <p class="text-muted text-left">世界を変えるアイデアはあるけど、プログクトが作れないあなたへ！その夢を実現させるための技術を教えます。</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-4x fa-thumbs-o-up color-green"></i>
              <h3>なにか新しいことを習いたい人</h3>
              <p class="text-muted text-left">新しいことを習ってみたい方。ウェブサイトの作り方を習ってみましょう！</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box">
              <i class="fa fa-tablet fa-4x color-green"></i>
              <h3>ウェブサイトの仕組みを知りたい人</h3>
              <p class="text-muted text-left">ウェブページでなにが起きてるかを理解して、実際にウェブページを作ってみましょう！</p>
            </div>
          </div>
        </div>
        <br>
      </div>
      <hr>
      <br>
      <div id="pc-type-section">
        <h2 class="text-center">なにが必要になるか？</h2>
        <hr class="red-hr">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box text-left">
              <h3><i class="fa fa-desktop color-green"></i>　<u>MacのPC</u> と <u>Apple ID</u></h3>
              <p class="text-muted">
              <br>
              <i class="fa fa-apple"></i> Macをご利用の方（推奨）　MacとAppleIDをご用意下さい。
              <br>
              <i class="fa fa-windows"></i> Windowsをご利用の方　　 Windowsをご用意下さい。
              <br><br>
              <i class="fa fa-arrow-right"></i>　動作環境は<a href="/tokusho#software-environment" target="_blank"><strong>こちら</strong></a>を参考にして下さい
              <br><br>
              すでに開発環境がある方には、Ruby 2.1.3・Rails 4.2.6 を推奨しています。
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="service-box text-left">
              <h3><i class="fa fa-calendar color-green"></i>　時間</h3>
              <p class="text-muted">
              <br>
              基礎編：20〜40時間（目安）
              <br>
              応用編：20〜40時間（目安）
              <br><br>
              を目安にしております。
              <br><br>
              <small>※　初回10800円の他、月2160円から期間の延長も承っております。</small>
              </p>
            </div>
          </div>
        </div>
        <br>
      </div>
      <hr>
      <br>
      <div id="contact-section">
        <div class="row text-center">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Let's Get In Touch!</h2>
            <hr class="red-hr">
            <h4>質問などがあればご連絡下さい。</h4>
          </div>
          <div class="col-lg-offset-2 col-lg-4">
            <div class="service-box">
              <h2><i class="fa fa-facebook-official"></i></h2>
              <h4 class="contact-detail"><a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Coffee-Cup</a></h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-box">
              <h2><i class="fa fa-envelope"></i></h2>
              <h4 class="contact-detail"><a href="mailto:support@coffee-cup.info">support@coffee-cup.info</a></h4>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div id="recommend-section" class="text-center">
        <h1><img src="https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png">　<strong>テクノロジーをあなたのものにしよう！</strong></h1>
        <a href="/users/sign_up" class="btn btn-success" style="margin:20px auto 10px auto"><strong>始めてみる！</strong></a>
      </div>
      <br>
    </div>
  </div>
</div>