<h4 id="chapter6-1-6-1">
        <p id="title1-6-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 设定网页</strong></p>
        <br>
        <i class="fa fa-play-circle"></i>　<strong>首先，设定<u>七个网页中使用哪一个网页的设定吧</u>。</strong>
         <br><br>
        那么打开，设定七个网页的文件<strong>「<u>config > routes.rb</u>」</strong>吧！
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<span class="color-red"><strong>3</strong></span>
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        內容已经有编辑过了吧。
        <br><br>
        应该<strong><u>跟上面的內容一样子已经追加了「update」</u></strong>吧。这样子设定好「编辑资料（update）」的网页了。
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>那么设定看「<u>操作资料</u>」的网页吧。</strong>
        <br><br>
        在设定「posts」资料库的资料操作的<strong>「posts_controller.rb」</strong>文件上追加设定。
        <br><br>
        用Sublime Text打开<strong>「<u>app > controllers > posts_controller.rb</u></strong>」文件吧。
        <br>
        <small>
          ※　使用Sublime Text打开文件的方法<a href="/zh-CN/mugcups/how_to_open#title1" target="_blank"><strong>请参考这里</strong></a>
          <br>
          <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打开文件文件夾的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。
        </small>
        <br><br>
        打开之后，在<strong><u>「def update」跟「end」之间</u></strong>设定下面的设定吧。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（追加第24～25行）</strong>
        <br>
        <small>
          ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
          <br>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>23
<span class="color-red"><strong>24
25</strong></span>
26
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line remarkable-code'>    @post.update(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        这一次设定的两行也，應該在哪裡看過的設定吧。
        <br>
        第一行的<strong>「<u>@post = Post.find(params[:id])</u>」</strong>在
        <br>
        <a href="/zh-CN/mugcups/5#title1-1-1" target="_blank"><strong>「顯示一個資料（show）」</strong></a>的網頁，<a href="/zh-CN/mugcups/6#title1-5-1" target="_blank"><strong>「打入編輯的資料（edit）」</strong></a>的網頁上使用過。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>那麽，第二行是在做什麼呢？</strong>
        <br><br>
        在第二行，按着打入的資料「<u>params</u>」，<strong>「<u>変更（update）</u>」</strong>選擇的資料「<u>@post</u>」。
        <br>
        <small>※　詳細<a href="/zh-CN/mugcups/4#title2-2" target="_blank"><strong>請參考這裡</strong></a></small>
        <hr class="red-hr">
        <strong><a href="/zh-CN/mugcups/6#title1-4-1" target="_blank">「新增資料」</a></strong>的時候也設定過，同樣的內容吧。
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
<span class="color-red"><strong>2</strong></span>
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:name</span>, <span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        在這個「params」的部分裡面有，<u>從「打入編輯的資料（edit）」網頁送來的資料。</u>
        <br><br>
        在這個「params」裡面放<strong>「<u>name是'名字'，content是'内容'，place是'地方'</u>」</strong>等等的資料。
        <br>
        然後，為了不要改變指定的資料以外的資料，<strong><u>設定「require」跟「permit」。</u></strong>
        <br><br>
        在這裡設定的內容是，
        <strong>
        <ul class="number_ul">
            <li>「posts」資料庫的「<u>name</u>」的框子</li>
            <li>「posts」資料庫的「<u>content</u>」的框子</li>
            <li>「posts」資料庫的「<u>place</u>」的框子</li>
        </ul>
        以外的框子不要更改</strong>。
        <br><br>
        <i class="fa fa-play-circle color-red"></i>　<strong>「<u>資料的編輯（update）</u>」也一樣。</strong>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>@post.update(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
</td>
</tr>
</table>
        <br>
        在這裡使用「編輯資料」的「update」，所以<strong>設定的「<u>@post</u>」</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>post_controller.rb（第24行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>24
</td>
<td class='code-content'><span class='code-line'>@post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
</td>
</tr>
</table>
        <br>
        裡，只能編輯
        <strong>
            <ul class="number_ul">
                <li>「posts」資料庫的「<u>content</u>」的框子</li>
                <li>「posts」資料庫的「<u>place</u>」的框子</li>
            </ul>
        </strong>
        的內容的操作資料的方法。
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　用從「打入編輯的資料（edit）」的網頁拿來的<u>「books」資料庫的「name」「price」「page」的框子，「編輯資料（update）」</u>的網頁的資料操作是這麼樣設定呢？</strong>
        <br><br>
        <textarea class="input-code form-control" placeholder="打入答案" rows="5"></textarea>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
</td>
<td class='code-content answer-code'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @book <span class="word-red">=</span> <span class='word-blue'>Book</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @book.update(params.<span class="word-red">require</span>(<span class='word-purple'>:book</span>).permit(<span class='word-purple'>:name</span>, <span class='word-purple'>:price</span>, <span class='word-purple'>:page</span>))</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong><u>最後做做看網頁的設定吧！</u></strong>
        <br><br>
        打入編輯的資料點擊<strong>「登錄」</strong>按鈕之後，會顯示下面圖像一樣子的網頁。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_update_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_update_1.png",
                    :target => ["_blank"] %>
        首先，用Sublime Text打開的「myapp」上，打開<strong>「<u>app > views > posts</u>」</strong>吧。
        <br>
        裡面有<strong>「<u>update.html.erb</u>」</strong>文件嗎？如果有的話，打開看看！
        <br><br>
        <strong>在這個文件裡設定，在「<a href="/zh-CN/mugcups/6#title1-5" target="_blank">打入編輯的資料（edit）</a>」的網頁上點擊按鈕之後，顯示的網頁的內容。</strong>
        <br><br>
        那麽，編輯這個<strong>「<u>update.html.erb</u>」</strong>文件吧！
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　update.html.erb</strong>
        <br>
        <small>
          ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
          <br>
          <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿編輯好了。&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;%= @post.name %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;%= @post.content %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;地方&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;%= @post.place %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-question-circle color-green"></i>　<strong>這裡是在設定什麼呢？</strong>
        <br><br>
        在這裡顯示編輯後的資料。
        <br>
        詳細的內容請參考，<a href="/zh-CN/mugcups/5#title1-1" target="_blank"><strong>「顯示一個資料（show）」</strong></a>的網頁，<a href="/zh-CN/mugcups/6#title1-4" target="_blank"><strong>「新增資料（create）」</strong></a>的網頁吧。
        <hr class="red-hr">
        那麽顯示看網頁吧！
        <br>
        <small>
          ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
        </small>
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
        <br>
        　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開服務器之後，再打入「<u>rails s</u>」吧。</strong>
        </p>
        <br>
        做完之後，打開「<a href="http://0.0.0.0:3000/posts/edit/1" target="_blank"><strong>0.0.0.0:3000/posts/1/edit</strong></a>」吧！
        <br>
        <small>
            <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/posts/1/edit" target="_blank"><strong>localhost:3000/posts/1/edit</strong></a>」吧。
        </small>
        <br><br>
        打開後打入自己喜歡的資料之後，點擊<strong>「<u>更新</u>」</strong>的按鈕吧！
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_update_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_update_1.png",
                    :target => ["_blank"] %>
        顯示上面一樣子的網頁嗎？
        <br><br>
        出來了的話，用<a href="/zh-CN/mugcups/how_to_open#title3" target="_blank"><strong>Sequel Pro</strong></a> / <a href="/zh-CN/mugcups/how_to_open#title4" target="_blank"><strong>SqliteBrowser</strong></a>，或者打開「<a href="http://0.0.0.0:3000/posts/1"><strong>0.0.0.0:3000/posts/1</strong></a>」看看內容有沒有更新！
</h4>