<h4 id="coffee-chapter3-2-1-6">
  <p id="title2-1-6" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑹ : update</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>在这里，作作看「<u>rooms</u>」资料库的「<u>update</u>」的网页吧！</strong>
  <hr class="red-hr">
  设定，编辑好<strong>「<u>update</u>」</strong>网页的內容之后，移动到<strong>「<a href="/zh-CN/coffee_cups/4#title2-1-5" target="_blank">edit</a>」网页的內容</strong>。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>redirect_to <span class='word-purple'>:back</span></span>
</td>
</tr>
</table>
  <br>
  <small>※　详细<a href="/zh-CN/coffee_cups/2#title2-2-3" target="_blank"><strong>请参考这里</strong></a></small>
  <br><br>
  所以<strong>「<u>update</u>」</strong>网页上，只设定资料操作，不用作网页显示
  <br><br>
  编辑<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（编辑第26〜29行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>25
26
27
28
29
30
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @room.update(params.<span class="word-red">require</span>(<span class='word-purple'>:room</span>).permit(<span class='word-purple'>:name</span>, <span class='word-purple'>:explain</span>))</span>
<span class='code-line'>    flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"聊天室编辑好了"</span></span>
<span class='code-line'>    redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  这样编辑好文件了。
  <hr class="red-hr">
  那么，显示看网页吧！
  <br><br>
  <strong><u>一起点击「Command」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入<u>「rails s」</u>吧。</strong>
  <br>
  <u>这样编辑好的內容会适用在网页上。</u>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入<u>「rails s」</u>吧。</strong>
  </p>
  <br>
  之后用浏览器打开「<a href="http://0.0.0.0:3000/rooms/1/edit" target="_blank"><strong>0.0.0.0:3000/rooms/1/edit</strong></a>」吧。
  <br>
  <small>
  <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/rooms/1/edit" target="_blank"><strong>localhost:3000/rooms/1/edit</strong></a>」吧。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_edit.png",
              :target => ["_blank"] %>
  网页显示之后编辑聊天室的资料，点击 <a class="btn btn-success">更新</a> 吧！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_update.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_update.png",
              :target => ["_blank"] %>
  有沒有显示这样的画面了吗？
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>设定的內容，<a href="/zh-CN/codes/c_4#title1-2" target="_blank">请参考这里</a>。</strong>
</h4>