// section id
#main-section{
  padding-top:90px;
  /*background-color:rgba(200,150,150,.4);*/
  /*background-color:rgba(153, 102, 51, .6);*/
  /*background-color: #4F2702;*/
  background-color:#eee;
}

#main-section-inner{
  margin:30px 0;
}

// Components

  // navbar
  .coffee-navbar{
    opacity:.98;
    padding:10px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }

  .nav-img{
    display:inline !important;
    width:30px;
  }

  .hover-nav{
    margin:-3px;
    transition: all .5s;
    color:white;
  }

  .hover-nav:hover{
    font-size:1.25em;
  }

  .nav-word{
    margin-top:15px;
    a{
      color:white;
    }
  }

  // header
  header {
      position: relative;
      width: 100%;
      min-height: 300px;
      height:auto;
      text-align: center;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  header.header-img-desk{
    background-image: url("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_header.jpg");
  }

  header.header-img-shop{
    background-image: url("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_header2.jpg");
  }

  header.header-img-pen{
    background-image: url("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_header3.jpg");
  }

  header .header-content {
      position: relative;
      width: 100%;
      padding-top: 40px;
      padding-bottom:40px;
      text-align: center;
      /**/
      overflow: hidden;
      background-color:rgba(255,255,255,.4);
      transition: all .5s;
  }

  header .header-content:hover{
    transition: all .5s;
    background-color:rgba(255,255,255,.5);
  }

  header .header-content .header-content-word{
    color:#1e543e;
    padding:15px 20px;
    margin:0 auto;
    border-radius:10px;

    .header-content-word-form{
      background-color:white;
      width:50%;
      margin:0 auto;
      padding:20px;
      color:#222;
      border-radius:20px;
    }
  }

  header .log-area{
    background-color:rgba(200, 200, 200, .6);
    margin: 0 auto;
    padding:20px 0;
  }

  header .log-area .log-area-inner{
    padding:5px 20px;
    margin:20px auto;
    border-radius:10px;
    color:#351d09;
    input.form-control{
      opacity:.7;
      width:300px;
      margin:0 auto;
    }
    label.log-label{
      background-color:white;
      opacity:.7;
      width:140px;
      border-radius:5px;
      padding:2px 0;
      margin:8px 0 0 0;
      color:rgba(0, 0, 0, .5);
    }
    h2{
      margin-top:10px;
    }
    hr.log-hr{
      box-shadow:1px 1px 1px 1px rgba(0,0,0,0.3);
      border-color:#351d09;
      opacity:.5;
      width:400px;
    }
    a{
      color:#351d09;
      font-weight: 700;
    }
    a:hover{
      color:#4F2702;
    }
  }

  // root_page
  .service-box{
    margin:20px auto 0;
    h4.contact-detail{
      margin-bottom:20px;
      margin-top:5px;
      letter-spacing:1px
    }
  }

  #recommend-section{
    background-color:#222;
    color:#eee;
    padding:10px;
  }


  // company
  .company-info-section{
    h2{
      margin:50px 0 80px 0;
      letter-spacing: 16px;
    }
    h2.privacy-word{
      margin:50px 0 80px 0;
      letter-spacing: 3px;
    }
    h4{
      margin:10px 0;
      font-weight:700;
      border-bottom:1px solid #ddd;
    }
    p{
      letter-spacing: 1.5px;
    }
  }

  // index
  // index の textbook へのリンク
  .table-content{
    transition: all .5s;

    background-color: #fff;
    /*border: 2px solid #47ea7e;*/
    border: 2px solid #008051;
    /*color: #47ea7e;*/
    color: #008051;

    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    width:100%;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 3px 12px;
    text-decoration: none;
    p{
      margin:5px 10px;
      font-weight: 700;
    }
  }
  .table-content:hover{
    /*background-color:#0bda51;*/
    background-color: #1e6439;
    color:white;
    /*border: 2px solid #0bda51;*/
    border: 2px solid #1e6439;
    transition: all .75s;
    letter-spacing: 3px;
    font-size:16px;
  }

  // textbook
  .textbook-title {
    h1{
      position: relative;
      padding: .25em 0 .5em .75em;
      border-left: 8px solid #3498db;
    }
    h1::after{
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ccc;
    }
  }

  .textbook-title-img{
    display:block;
    margin:20px auto;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }
  .textbook-area{
    opacity:.95;
    border-radius:10px;
    margin:20px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }
  .textbook-area-inner{
    border-radius:10px;
    background-color:white;
    padding:10px 30px;
    .textbook-section-title{
      padding-bottom:10px;
      border-bottom:3px solid #FF3300;
    }
    .study-text-section{
      background-color:rgba(255, 192, 203, .5);
      color:#444;
      padding-bottom:20px;
      min-height:610px;
      max-height:650px;
    }
    .teach-text-section{
      background-color:rgba(188, 226, 232, .5);
      color:#444;
      padding-bottom:20px;
      min-height:610px;
      max-height:650px;
    }
    h4{
      margin-top:30px;
      line-height:1.5;
      letter-spacing: 0.2rem;
      font-weight: 1.2;
    }
    .next-page{
      text-align:center;
    }
  }

  .my-info-card{
    position: relative;
    width: 100%;
    min-height: 300px;
    height:auto;
    text-align: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_header3.jpg");
    padding:20px 0;

    .my-info-card-inner{
      margin:0 auto;
      background-color:rgba(240, 240, 240, .6);
      width:75%;
      color:#222;
      padding:10px 40px 40px 10px;
      border-radius:20px;
      h4{
        margin-top:10px;
        padding:0 20px;
      }
    }
  }

  // textbook link
  #title, #title0,
  #title1, #title1-1, #title1-1-1, #title1-1-2, #title1-1-3, #title1-1-4, #title1-2, #title1-2-1,#title1-2-2, #title1-2-3, #title1-3, #title1-3-1, #title1-3-2, #title1-4, #title1-4-1, #title1-4-2, #title1-5, #title1-5-1, #title1-5-2,
  #title1-6, #title1-6-1, #title1-6-2, #title1-7, #title1-7-1, #title1-7-2,
  #title2, #title2-1, #title2-1-1, #title2-1-2, #title2-2, #title2-2-1,#title2-2-2,#title2-2-3, #title2-2-4, #title2-2-5,#title2-3, #title2-4, #title2-5,
  #title3, #title3-1, #title3-1-1, #title3-1-2, #title3-2, #title3-2-1,#title3-2-2, #title3-3, #title3-3-1, #title3-3-2,
  #title4, #title4-1, #title4-2, #title4-2-1, #title4-2-2, #title4-2-3, #title4-3, #title4-3-1, #title4-3-2, #title4-3-3{
    display: block; padding-top: 100px; margin-top: -100px;
  }

  .fix-link-nav{
    display: block; padding-top: 100px; margin-top: -100px;
  }

    // slidebar
    #slide-bar{
      border-radius:10px;
      padding-right:10px;
      max-height:400px;
      overflow-y: scroll;
      background-color:(255, 255, 255, .2);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
      .list-group-item{
        width:300px;
        overflow-x: scroll;
        background-color:rgba(255, 255, 255, .8);
        transition: all .5s;
      }
      .list-group-item:hover{
        color:#7E4D25;
        font-size:16px;
        transition: all .5s;
      }
      .list-group-item.list-title{
        color: #fff;
        background-color: #004714;
        padding:12px 20px;
      }
      a{
        padding:10px 20px;
      }
      .nomargin{
        margin:0;
      }
    }

    .small-slide{
      height:150px;
    }

  // table内のform
  .table-form{
    margin-bottom:0px;
    width:100%;
  }
  .table-title{
    width:300px;
    margin-bottom:5px;
    margin-top:5px;
  }

  // footer

  .footer{
    padding:10px;
    background-color:rgba(40, 40, 40, .9);
    color:#888;
    hr{
      border-color:rgba(150, 150, 150, .8);
    }
    p{
      line-height:1.8;
    }
    a{
      text-decoration: none;
      color:#888;
      border-bottom:1px solid;
      transition: all .4s;
    }
    a:hover{
      color:#91ae69;
      transition: all .4s;
    }
    h4{
      color:#aaa;
      font-weight:700;
      margin-bottom:15px;
    }
  }

// 各アクション

.hover_img{
  transition: all .5s;
}

.hover_img:hover{
  opacity:.8;
  transition: all .5s;
}

.hover_img_reverse{
  opacity:.9;
  transition: all .5s;
}

.hover_img_reverse:hover{
  opacity:1;
  transition: all .5s;
}

// 共通設定

.highlight{
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  white-space: pre;
  padding:20px;
  background-color:#2c2c2c;
  color:white;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  .word-green{
    color:#a6e22e;
  }
  .word-red{
    color:#f92672;
  }
  .word-yellow{
    color:#e6db74;
  }
  .word-blue{
    color:#51CFCF;
  }
  .word-purple{
    color:#AE76E6;
  }
  .word-gray{
    color:#aaa;
  }
  .code-line-no{
    width:50px;
    background-color: #f5f5f5;
    color:black;
    padding:10px 0;
  }
  @media (max-width: 768px){
    .code-content{
      max-width:550px;
      min-width:550px;
      overflow: scroll;
    }
  }
  @media (min-width: 768px){
    .code-content{
      max-width:400px;
      min-width:400px;
      overflow: scroll;
    }
  }
  @media (min-width: 992px){
    .code-content{
      max-width:550px;
      min-width:550px;
      overflow: scroll;
    }
  }
  @media (min-width: 1200px){
    .code-content{
      max-width:700px;
      min-width:700px;
      overflow: scroll;
    }
  }
  .code-line{
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
  }
  .small-code{
    font-size:12px;
  }
  .answer-code{
    opacity:0;
  }
  .answer-code:hover{
    opacity: 1;
  }
  .remarkable-code{
    background-color:#454545;
    padding-top:1px;
    padding-bottom:1px;
  }
}

.input-code{
   color:#00FF00;
   background-color:#404040;
}

.fixed{
  position: fixed;
  top:100px;
  width:20%;
  z-index: 10000;
}

body, td, th, form, h1, h2, h3, h4, h5, p, a, li {
    font-family: SalesforceSansRegular, メイリオ, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', Arial, Helvetica, Verdana, sans-serif;
}

hr{
  border-color:#ddd;
}

.font-18{
    border-bottom:2px solid;
    font-size:18px;
  }

.font-15{
  font-size:15px;
}

.color-orange{
  color:#ffa500;
}

.color-red{
  color:#ff3300;
}

.color-blue{
  color:#1170db;
}

.color-green{
  color:#1e6439;
}

.color-purple{
  color:#9e1e9e;
}

.color-coffee{
  color:#351d09;
}

.btn-green:hover{
  background-color:#1e543e;
  color:#eee;
}

.btn-green{
  background-color:#1e6439;
  color:#eee;
}

.btn-green:link{
  color:#eee;
}

.text-muted{
  color:#777;
}

.remarkable{
  font-size:25px;
  border-bottom:2px solid;
}

.little-remarkable{
  font-size:20px;
}

.red-hr{
  border-color: #FF3300;
  border-width: 3px;
  width:50px;
  opacity:.5;
}

.green-hr{
  border-color: #1e6439;
  border-width: 3px;
  width: 50px;
  opacity:.9;
}

.green-hr-long{
  border-color: #1e6439;
  border-width: 2px;
  opacity:.9;
}

.white-hr{
  border-color:white;
  border-width:3px;
  width:50px;
  opacity:.5;
}

.number_ul{
  list-style-type: decimal;
  margin-top:10px;
}

.pre-terminal{
  margin:10px 0px;
}

.clear-fix{
  display:block;
  clear:both;
}

.alert-coffee{
/*  background-color:rgba(179, 131, 89, .85);
  color:#411C00;*/
  background-color:rgba(107, 191, 63, .85);
  color:#1e6439;
}

.btn{
  transition: all .3s;
}

.btn:hover{
  transition: all .3s;
}

/* table */

table.info-table{
  width:100%;
  margin-bottom:50px;
  tbody{
    tr{
        border-bottom:1px solid #ccc;
        line-height:45px;
      th{
        padding-left:10%;
        width:30%;
        font-size:15px;
      }
      td{
        padding-left:15%;
        width:70%;
        font-size:13px;
      }
    }
  }
}


// demopage

.my-form{
  width:500px;
}
.main-page{
  margin-top:50px;
}