<h4 id="chapter9-2-2-3">
  <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : 登入</strong></p>
  <br>
  到这里做完了限制看「posts」网页的设定跟通知的设定，咱們注册登入吧！
  <br>
  打开<strong>注册的网页「<a href="http://0.0.0.0:3000/users/sign_up" target="_blank">0.0.0.0:3000/users/sign_up</a>」</strong>之后，注册会员吧。
  <br><br>
  <small><i class="fa fa-windows color-blue"></i>　使用Windows的话，打开<strong>「<a href="http://localhost:3000/users/sign_up" target="_blank">localhost:3000/users/sign_up</a>」</strong>之后注册会员吧！</small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_bootstrap.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_sign_up_bootstrap.png",
              :target => ["_blank"] %>
  登入之后会出现下面图像一样的画面吧。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_root_after_sign_up.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_root_after_sign_up.png",
              :target => ["_blank"] %>
  这样子，会员注册好了。
  <br>
  注册完了之后，打开<strong>「<a href="/zh-CN/mugcups/6#title1-3" target="_blank">new</a>」网页「<a href="http://0.0.0.0:3000/posts/new" target="_blank">0.0.0.0:3000/posts/new</a>」</strong>吧。沒有显示登入网页，显示作作投稿的网页的话OK。
  <br><br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开<strong>「<a href="http://localhost:3000/posts/new" target="_blank">localhost:3000/posts/new</a>」</strong>吧。
  </small>
  <hr class="red-hr">
  会员登录也完了，用<strong>Sequel Pro看看保存好的会员资料吧。</strong>
  <br>
  <small>※　打开Sequel Pro的方法<a href="/zh-CN/mugcups/how_to_open#title3" target="_blank"><strong>请参考这里</strong></a>，打开SqliteBrowser的方法<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank"><strong>请参考这里</strong></a>吧</small>
  <br>
  <br>
  像下面的图像一样，有沒有追加了保存的资料了吗？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Sequel_Pro_users_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Sequel_Pro_users_1.png",
              :target => ["_blank"] %>
</h4>