<h2 class="textbook-section-title" id="title1"><strong>1 : 导入devise</strong></h2>
<h4 id="chapter9-1">
导入devise是有，
<strong>
<ul class="number_ul">
  <li>安装<u>gem "devise"</u></li>
  <li>作<u>users资料库</u></li>
  <li><u>devise的显示・作views</u>（登入注册网页等等）</li>
</ul>
</strong>
这个三个设定。那么一个一个做做看吧！
<hr>
<%= render "page9/zh-CN/title1_1" %>
<hr>
<%= render "page9/zh-CN/title1_2" %>
<hr>
<%= render "page9/zh-CN/title1_3" %>
<hr>
<%= render "page9/zh-CN/title1_4" %>
</h4>