<h4 id="coffee-chapter1-2-2">
  <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 操作資料</strong></p>
  <br>
  <strong>接着做操作資料的設定吧！</strong>
  <hr class="red-hr">
  資料操作在<strong><u>「controller」文件夾裡的「welcome_controller.rb」文件</u></strong>設定。
  <br>
  這一次不用在「welocme」的「index」網頁上操作資料，所以要設定下面的內容。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/8#title1-1" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>welcome_controller.rb（追加第3、4行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4</strong>
5
6
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>WelcomeController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line remarkable-code'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  這樣作好操作資料的設定了。
  <br><br>
  接下來，做<strong><u>網頁的設定</u></strong>吧！
</h4>