<h2 class="textbook-section-title" id="title4"><strong>4 : 用戶管理</strong></h2>
<h4 id="coffee-chapter1-4">
  最後用<strong>「<a href="/zh-TW/mugcups/9" target="_blank">devise</a>」</strong>，設定用戶管理。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/9" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <hr class="red-hr">
  在這裡做
  <strong>
    <ul class="number_ul">
      <li>安裝「devise」（詳細<a href="/zh-TW/mugcups/9#title1" target="_blank">請參考這裡</a>）</li>
      <li>作會員資料庫（詳細<a href="/zh-TW/mugcups/9#title1-2" target="_blank">請參考這裡</a>）</li>
      <li>裝飾註冊・登入網頁（詳細<a href="/zh-TW/mugcups/9#title2-1" target="_blank">請參考這裡</a>）</li>
      <li>作會員的網頁（詳細<a href="/zh-TW/mugcups/10" target="_blank">請參考這裡</a>）</li>
    </ul>
  </strong>
  這個四個設定吧。
  <hr>
  <%= render "coffee1/zh-TW/title4_1" %>
  <hr>
  <%= render "coffee1/zh-TW/title4_2" %>
  <hr>
  <%= render "coffee1/zh-TW/title4_3" %>
  <hr>
  <%= render "coffee1/zh-TW/title4_4" %>
</h4>