<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
<h4 id="coffee-chapter1-0">
  <i class="fa fa-bookmark color-red"></i>　
  <strong>
  作網絡聊天的網站會使用，在<a href="/zh-TW/mugcups" target="_blank">Mugcup（基礎編）</a>裡說明的「<a href="/zh-TW/mugcups/3" target="_blank">作作看簡單的網站</a>」「<a href="/zh-TW/mugcups/7#title2" target="_blank">Bootstrap</a>」「<a href="/zh-TW/mugcups/8" target="_blank">主頁</a>」「<a href="/zh-TW/mugcups/9" target="_blank">用戶管理</a>」等等的內容。
  <br><br>
  在這裡複習
  <ul class="number_ul">
    <li><a href="/zh-TW/mugcups/3#title2" target="_blank">作剛開始的網站</a></li>
    <li><a href="/zh-TW/mugcups/8#title" target="_blank">作主頁</a></li>
    <li><a href="/zh-TW/mugcups/7#title2" target="_blank">Bootstrap</a></li>
    <li><a href="/zh-TW/mugcups/9" target="_blank">用戶管理</a></li>
  </ul>
  的內容作作看下面圖像一樣的網站吧。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee1/Chrome_messages_root_add_nav_users_sign_in_up.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee1/Chrome_messages_root_add_nav_users_sign_in_up.png",
              :target => ["_blank"] %>
  </strong>
</h4>