<h4 id="coffee-chapter1-1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : rails new</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>首先作作看剛開始的網站吧！</strong>
  <hr class="red-hr">
  <strong>「<u>Desktop < rails_project</u>」</strong>裡作，網站的設定文件夾<strong>「<u>message-app</u>」</strong>。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>首先移動到「<u>rails_project</u>」吧。</strong>
  <br><br><br>
  <p class="alert alert-success">
  <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移動的方法，<a href="/zh-TW/mugcups/windows_tips#title1-2" target="_blank">請參考這裡</a></strong></span>
  </p>
  <br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  那麽，在這裡作作看<strong>設定「<u>message-app」的網站的文件夾</u></strong>吧！
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/3#title2-1" target="_blank"><strong>請參考這裡</strong></a>吧。</small>
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new message-app -d mysql</span>
</td>
</tr>
</table>
  <br><br>
  <p class="alert alert-success">
  <strong><i class="fa fa-windows color-blue"></i>　使用Windows的話，打入下面的命令。</strong>
  </p>
  <br>
  　<strong>命令提示符</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new message-app</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  在Finder的<strong>「<u>Desktop > rails_project</u>」</strong>裡面，有沒有作好<strong>「<u>message-app</u>」</strong>的文件夾嗎？
  <br>
  這個是設定「message-app」的網站的文件夾。
  <br><br>
  接着做<strong>「<u>導入gem（工具）</u>」</strong>吧！
</h4>