<h2 class="textbook-section-title" id="title1"><strong>1 : 作剛開始的網站吧！</strong></h2>
<h4 id="coffee-chapter1-1">
  首先作剛開始的網站吧！
  <br>
  <small>※　詳細的內容<a href="/zh-TW/mugcups/3#title2" target="_blank"><strong>請參考這裡</strong></a></small>
  <hr class="red-hr">
  在這裡設定
  <ul class="number_ul">
  <strong>
    <li>rails new</li>
    <li>導入Gem</li>
    <li>準備資料庫</li>
  </strong>
  </ul>
  這個三個內容。
  <hr>
  <%= render "coffee1/zh-TW/title1_1" %>
  <hr>
  <%= render "coffee1/zh-TW/title1_2" %>
  <hr>
  <%= render "coffee1/zh-TW/title1_3" %>
</h4>