<h4 id="coffee-chapter1-1-2">
  <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 導入Gem</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>在這裡，導入工具・gem吧！</strong>
  <br><br>
  導入，作網站的時候使用的<strong>「<u>Gem</u>」</strong>。
  <br>
  <small>※　不知道內容的話，<a href="/zh-TW/mugcups/3#title2-2-1" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
  編輯在設定<strong>「<u>gem</u>」</strong>的<strong>「<u>Gemfile</u>」</strong>的內容吧。
  <hr class="red-hr">
  <span style="font-size:30px;"><i class="fa fa-apple color-red"></i>　<strong>使用Mac的話</strong></span>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile（「<u>gem 'sdoc', '~> 0.4.0', group: :doc</u>」的後面追加內容）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
25
27
28
29
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'therubyracer'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'less-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'twitter-bootstrap-rails'</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'devise'</span></span>
</td>
</tr>
</table>
  <br><br>
  設定好之後，打入下面的內容吧。
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不動的話刪除<strong>「Gemfile.lock」</strong>之後，再試試看吧。
  </small>
  <br><br>
  安裝好<strong>「<u>gem</u>」</strong>之後，作<strong><u>Bootstrap</u>的安裝</strong>。
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g bootstrap:install</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-arrow-right"></i>　<strong>這樣子做好了，在Mac上的「<u>gem</u>」的導入了。</strong>
  <hr class="red-hr">
  <span style="font-size:30px"><i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話</strong></span>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile（「<u>gem 'sdoc', '~> 0.4.0', group: :doc</u>」後面追加內容）</strong>
  <br>
<small>
  <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
27
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'coffee-script-source', '1.8.0'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'devise'</span></span>
</td>
</tr>
</table>
  <br>
  設定好了之後，在terminal上打入下面的內容吧。
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不動的話，刪除<strong>「Gemfile.lock」</strong>之後，再試試看吧。
  </small>
  <br><br>
  <strong>安裝好<u>gem</u></strong>之後，<a href="/zh-TW/mugcups/windows_tips#title1-4" target="_blank"><strong>參考這裡</strong></a>安裝<strong><u>Bootstrap</u></strong>吧。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>這樣，使用Windows的「<u>gem</u>」的導入完成了。</strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>這樣做好了「<u>gem</u>」的設定。</strong>
</h4>