<h4 id="coffee-chapter1-1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 準備資料庫</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>準備資料庫吧！</strong>
  <hr class="red-hr">
  為了保存資料，網站裡必須作資料庫。
  <br>
  <small>※　不知道的話，<a href="/zh-TW/mugcups/3#title2-2-2" target="_blank"><strong>請參考這裡</strong></a>吧。</small>
  <br><br>
  那麽作作看資料庫吧。在terminal上打入下面的內容吧！
  <br><br>
  <strong>terminal</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，用「命令提示符」吧。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:create</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不動的話，在前面追加<strong>「bundle exec」</strong>，打入<strong>「bundle exec rake db:create」</strong>吧。
  </small>
  <br><br>
  這樣，資料庫作好了！
  <hr class="red-hr">
  作好之後，在 Sequel Pro / SqliteBrowser 上看看有沒有<strong>「message-app_development」</strong>的資料庫。
  <br>
  <small>
  ※　請參考<a href="/zh-TW/mugcups/how_to_open#title3" target="_blank"><strong>打開Sequel Pro 的方法</strong></a>，<a href="/zh-TW/mugcups/how_to_open#title4" target="_blank"><strong>打開SqliteBrowser 的方法</strong></a>吧。
  </small>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定的內容<a href="/zh-TW/codes/c_1#title1-1" target="_blank">請參考這裡</a>吧。</strong>
</h4>