<h4 id="coffee-chapter1-4-1">
  <p id="title4-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 安裝「devise」</strong></p>
  <br>
  <strong>
  那麽安裝「devise」吧！
  </strong>
  <hr class="red-hr">
  為了安裝用gem導入的<strong><u>「devise」</u></strong>，在terminal上打入下面的命令。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/9#title1-1" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
  <strong>terminal</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，用「命令提示符」吧。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g devise:install</span>
</td>
</tr>
</table>
  <br>
  這樣安裝好「devise」了！
  <br>
  <u>接下作「devise」的會員資料庫吧！</u>
</h4>