<h2 class="textbook-section-title" id="title2"><strong>2 : 设定网页</strong></h2>
<h4 id="coffee-chapter2-2">
  <strong>作好资料库了，接着设定网页吧！</strong>
  <hr>
  在网页的设定里
  <strong>
  <ul class="number_ul">
    <li>七个网页的设定（<u>routes.rb</u>）</li>
    <li>资料操作的设定（<u>controller</u>）</li>
    <li>显示网页的设定（<u>views</u>）</li>
  </ul>
  </strong>
  做这个三个设定。
  <br><br>
  设定开始之前，<strong><u>作资料操作・网页显示的设定文件吧！</u></strong>
  <br>
  <small>※　详细<a href="/zh-CN/mugcups/5#title1-1-2" target="_blank"><strong>请参考这里</strong></a>吧</small>
  <br><br>
  <strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g controller messages</span>
</td>
</tr>
</table>
  <br>
  用这个打入作了
  <br>
  <strong>
    <ul class="number_ul">
      <li>操作资料的文件「<u>app > controllers > messages_controller.rb</u>」</li>
      <li>显示网页的文件夾「<u>app > views > messages</u>」</li>
    </ul>
  </strong>
  这个文件文件夾。
  <hr class="red-hr">
  首先从<strong>「七个网页里使用哪些网页的的设定（<u>routes.rb</u>）」</strong>开始做吧！
  <hr>
  <%= render "coffee2/zh-CN/title2_1" %>
  <hr>
  <%= render "coffee2/zh-CN/title2_2" %>
  <hr>
  <%= render "coffee2/zh-CN/title2_3" %>
</h4>