<% provide :title, "はじめに" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div class="textbook-title">
          <h1><strong>はじめに</strong></h1>
        </div>
        <a href="">
        <%= image_tag "header/header0.jpeg",
                      :width => "75%",
                      :class => "textbook-title-img hover_img" %>
        </a>
        <br>
        <h2 class="textbook-section-title" id="title1"><strong>当サイトの目的</strong></h2>
        <h4>
          ご覧になっていただき、ありがとうございます。
          <br>
          当サイトは友達にホームページの作り方を教えるためのものをついでに公開しようと思い、作ったものです。
          <br>
          ここを上手く活用して、ホームページを作れるようになって下されば幸いです。
          <br><br>
          ※PC は<strong><u>Mac</u></strong>を、ブラウザは<strong><u>Google Chrome</u></strong>を使用しますので、ご承知ください。
          <hr>
          少しお金はかかりますが、<a href="https://tech-camp.in"><strong>Tech::Camp</strong></a> というプログラミングの塾もありますので、興味があればそちらも活用してみることをオススメいたします。
        </h4>
        <br>
        <div class="next-page">
          <a href="/pages/1" class="btn btn-primary">次の章に進む</a>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xl-12">
    <br>
    <div id="slide-bar" class="clear-fix">
      <div class="list-group nomargin">
        <a class="list-group-item disabled">目次</a>
        <a href="#title1" class="list-group-item">当サイトの目的</a>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>