<% provide :title, "はじめに" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>0 : はじめに</strong></h1>
          </div>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header0.jpeg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <br>
          <h2 class="textbook-section-title" id="title1"><strong>当サービスの目的</strong></h2>
          <h4>
            ご覧になっていただき、ありがとうございます。
            <br>
            <br>
            当サービスは友達にウェブページの作り方を教えようと思い作ったものです。
            <br>
            ここを上手く活用して、ウェブページを作れるようになって下されば幸いです。
            <br><br>
            ※ PCは<strong><u>Mac</u></strong>を、ブラウザは<strong><u>Google Chrome</u></strong>を使用しますので、ご了承下さい。
            <hr class="red-hr">
            ここでは<a href="https://gentle-cove-48435.herokuapp.com/" target="_blank"><strong>こんな感じ</strong></a>の簡単な会員制の投稿ページを作ってみます
            <br>
            <small>※　デモページではできませんが、投稿・会員登録ができるページを作ります</small>
            <hr>
            少しお金はかかりますが、<a href="https://tech-camp.in/" target="_blank"><strong>Tech::Camp</strong></a> というプログラミングの塾もありますので、興味があればそちらも活用してみることをオススメいたします。
          </h4>
          <br>
          <div class="next-page">
            <a href="/mugcups/1" class="btn btn-primary">次の章に進む</a>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title">目次</a>
          <a href="#title1" class="list-group-item">当サイトの目的</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>