<% provide :title, "はじめに" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div class="textbook-title">
          <h1><strong>はじめに</strong></h1>
        </div>
        <a href="">
        <%= image_tag "header/header0.jpeg",
                      :width => "75%",
                      :class => "textbook-title-img hover_img" %>
        </a>
        <hr>
        <h2 class="textbook-section-title" id="title1"><strong>当サイトの目的</strong></h2>
        <h4>
          ご覧になっていただき、ありがとうございます。
          <br>
          当サイトは友達にホームページの作り方を教えるためのものを、ついでに公開しようと思いたって作ったものです。
          <br>
          ここを上手く活用して、ホームページを作れるようになって下されば幸いです。
          <br>
          <hr>
          少しお金はかかりますが、<a href="https://tech-camp.in"><strong>Tech::Camp</strong></a> というプログラミングの塾もありますので、興味があればそちらも活用してみることをオススメいたします。
        </h4>
        <hr class="red-hr">
        <div class="next-page">
          <a href="/pages/1" class="btn btn-primary">次の章に進む</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xl-12">
    <div id="slide-bar" class="clear-fix">
      <h3>目次</h3>
      <a href="#title1">当サイトの目的</a>
      <br>
    </div>
  </div>
</div>