<% provide :title, "ホームページとは？" %>
<div class="textbook-area">
  <div class="textbook-area-inner fadeIn wow">
    <div class="textbook-title">
      <h1><strong>ホームページとは？</strong></h1>
    </div>
    <p>前の章：<a href="/pages/0" class="text-left ">はじめに</a></p>
    <a href="">
    <%= image_tag "header/header3.jpg",
                  :size => "480x320",
                  :class => "textbook-title-img hover_img" %>
    </a>
    <hr>
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-xs-12">
          <h2 class="textbook-section-title" id="title1"><strong>ホームページとは？</strong></h2>
          <h4>
          日頃使っているホームページ。それがどのようにして動いているか分かりますか？
          <br>
          </h4>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xl-12">
        <div class="slide-bar">
          <h3>目次</h3>
          <a href="#title1">ホームページとは？</a>
        </div>
      </div>
    </div>
  </div>
</div>