<% provide :title, "ユーザー管理をする③" %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>11 : ユーザー管理をする③</strong></h1>
          </div>
          <h4><u><a href="/mugcups/10" class="text-left ">前の章：ユーザー管理をする②</a></u></h4>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header11.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
            <strong class="remarkable">この章は、前章の「ユーザー管理②」の続きになります。</strong>
            <br>
            <strong>前章の内容がまだ終わっていない方は、<a href="/mugcups/10" target="_blank">こちら</a>からお願いします。</strong>
            <hr>
            <%= render "page11/title4" %>
            <hr>
            <h4>
              <strong>
              ここまでで基礎編は終了です。ここまでお疲れ様でした！
              <br><br>
              <a href="/mugcups/heroku" target="_blank"><u>ウェブ上での公開方法(macのみ)</u></a>と、<a href="/coffee_cups/8" target="_blank"><u>今後の勉強で参考になる教材</u></a>もありますので参考にしてみて下さい！
              <br><br>
              <p class="alert alert-info">
                <strong>
                <i class="fa fa-exclamation"></i>　ここまでの内容が出来ましたら、キャッシュバックを受けることができます（学生も可能）。
                <br>
                <i class="fa fa-arrow-right"></i>　詳細は<a href="/ja/pay_info#title2-4" target="_blank">こちら</a>を参考にして下さい。
                </strong>
              </p>
              <hr class="red-hr">
              次の応用編では簡単なチャットアプリケーションを作ってみます。ここまでの知識を使って、やってみましょう！
              </strong>
            </h4>
          <div class="next-page">
              <a href="/coffee_cups" class="btn btn-danger"><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",:class => "nav-img") %>　応用編に進む</a>
          </div>
            <br>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>ユーザー管理をする③</h4></a>
          <a href="#title4" class="list-group-item">4 : ログインしている会員で投稿する</a>
          <a href="#title4-1" class="list-group-item">　<small>① : 「posts」データベースの変更</small></a>
          <a href="#title4-2" class="list-group-item">　<small>② : データ操作とページ表示の設定</small></a>
          <a href="#title4-2-1" class="list-group-item">　　<small>⑴ : データ操作</small></a>
          <a href="#title4-2-2" class="list-group-item">　　<small>⑵ : ページ表示</small></a>
          <a href="#title4-2-3" class="list-group-item">　　<small>⑶ : まとめ</small></a>
          <a href="#title4-3" class="list-group-item">　<small>③ : 会員のチェック</small></a>
          <a href="#title4-3-1" class="list-group-item">　　<small>⑴ : ページで条件分岐</small></a>
          <a href="#title4-3-2" class="list-group-item">　　<small>⑵ : データ操作で条件分岐</small></a>
          <a href="#title4-3-3" class="list-group-item">　　<small>⑶ : まとめ</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>