<% provide :title, "Ruby on Rails の基本" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div class="textbook-title">
          <h1><strong>Ruby on Rails の基本</strong></h1>
        </div>
        <h4><u><a href="/pages/1" class="text-left ">前の章：ホームページとは？</a></u></h4>
        <a href="">
        <%= image_tag "header/header2.jpg",
                      :width => "90%",
                      :class => "textbook-title-img hover_img" %>
        </a>
        <br>
        <h2 class="textbook-section-title" id="title1"><strong>1 : Ruby on Rails </strong></h2>
        <h4>
        この章から、実際のホームページの作成の方法を説明していきます。
        <br>
        ここでは <strong class="color-red">Ruby on Rails</strong> というソフトウェアを使い、ホームページを作っていきます。
        <br><br>
        前の章で<strong class="little-remarkable">「ホームページはデータの表示と保存」</strong>をしていると説明しましたが、Ruby on Rails ではこの<strong class="little-remarkable">「データの表示と保存」</strong>を自分で設定していくことでホームページを作っていきます。
        <br><br>
        <small>※　以下、「Ruby on Rails」を単に「Rails」と省略して表記します。長いのは面倒なので・・・</small>
        <br>
        <br>
        <i class="fa fa-star color-blue"></i>　Rails ではデータの表示と保存を自分で設定しながら、ホームページを作る。
        <hr>
        <i class="fa fa-question-circle color-green"></i>　<strong>さて、Railsではなにを「自分で設定」しなければならないのでしょうか？</strong>
        <br><br>
        簡単に言うと３つあります。
        <br>
        １つ目は<strong class="little-remarkable color-red">ページ</strong>、２つ目は<strong class="little-remarkable color-blue">データの箱</strong>、そして３つ目は<strong class="little-remarkable color-orange">データの操作</strong>です。
        <hr>
        <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong>Railsのページ</strong></p>
        Railsでは、データの表示と保存の方法で作れるページが決まっています。
        <br>
        ここでは、を例に説明しましょう。
        <br><br>
        <i class="fa fa-check-square color-red"></i>　<strong>データの表示</strong>
        <br>
        データベースに保存されたデータを<strong class="remarkable">表示</strong>させます。
        <br>
        データベース内の<strong class="color-blue">全てのデータを表示するページ</strong>と、データベースから<strong class="color-red">１つのデータを選択して表示するページ</strong>の２つのページからできています。
        <br>
        <strong class="color-blue">タイムライン</strong>と<strong class="color-red">１つの投稿のページ</strong>の違いと考えてもらえれば分かりやすいかと思います。
        <br>
        <small>※　データベースからデータを表示せず、ページだけを表示させることもできます。</small>
        <br><br>
        <i class="fa fa-check-square color-red"></i>　<strong>データの作成</strong>
        <br>
        入力させたデータをデータベースに<strong class="remarkable">保存</strong>します。
        <br>
        データを<strong class="color-blue">入力させるページ</strong>と、入力したデータを<strong class="color-red">送信して保存させるページ</strong>の２つのページからできています。
        <br><br>
        <i class="fa fa-check-square color-red"></i>　<strong>データの編集</strong>
        <br>
        選択されたデータを入力された内容に<strong class="remarkable">変更</strong>します。
        <br>
        これも、データを<strong class="color-blue">入力させるページ</strong>と、入力されたデータを<strong class="color-red">送信して内容を変更させるページ</strong>の２つのページからできています。
        <br><br>
        <i class="fa fa-check-square color-red"></i>　<strong>データの削除</strong>
        <br>
        選択されたデータを<strong class="remarkable">削除</strong>します。
        <hr>
        <p id="title1-2"><i class="fa fa-tags color-blue"></i>　<strong>Railsのデータ</strong></p>
        </h4>
        <br>
        <div class="next-page">
            <a href="/pages/3" class="btn btn-primary">次の章に進む</a>
          </div>
          <br>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xl-12">
    <br>
    <div id="slide-bar" class="clear-fix">
      <div class="list-group nomargin">
        <a class="list-group-item disabled"><h4>Ruby on Rails の基本</h4></a>
        <a href="#title1" class="list-group-item">1 : Ruby on Rails </a>
        <a href="#title1-1" class="list-group-item"><small>　① : Railsのページ</small></a>
        <a href="#title1-2" class="list-group-item"><small>　② : Railsのデータ</small></a>
        <a href="#title2" class="list-group-item"></a>
        <a href="#title3" class="list-group-item"></a>
      </ul>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>