<% provide :title, "ページを作ってみよう！" %>
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="textbook-area">
      <div class="textbook-area-inner fadeIn wow">
        <div class="textbook-title">
          <h1><strong>4 : ページを作ってみよう！</strong></h1>
        </div>
        <h4><u><a href="/pages/3" class="text-left ">前の章：ホームページの雛形を作ろう！</a></u></h4>
        <a href="">
        <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header4.jpg",
                      :width => "90%",
                      :class => "textbook-title-img hover_img" %>
        </a>
        <h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
        <h4>
        <i class="fa fa-bookmark color-red"></i>　HTMLの記述の方法と、Railsの雛形ホームページの作り方を学びRailsの雛形を開いてみる。
        </h4>
        <br>
        <h2 class="textbook-section-title" id="title1"><strong>1 : Ruby on Rails のページ</strong></h2>
        <h4>
        <div class="next-page">
            <a href="/pages/5" class="btn btn-primary">次の章に進む</a>
          </div>
          <br>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xl-12">
    <br>
    <div id="slide-bar" class="clear-fix">
      <div class="list-group nomargin">
        <a class="list-group-item disabled"><h4>ページを作ってみよう！</h4></a>
        <a href="#title1" class="list-group-item">0 : この章の目的</a>
        <a href="#title2" class="list-group-item">1 : Ruby on Rails のページ</a>
        <a href="#title2-1" class="list-group-item"></a>
        <a href="#title2-2" class="list-group-item"></a>
        <a href="#title3" class="list-group-item"></a>
      </ul>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>