<% provide :title, "Mugcup" %>
<header>
  <div class="header-content fadeIn wow">
    <h1 class="text-center">
      <strong>
      <a href="/mugcups" class="btn btn-lg btn-primary" style="font-size:32px">
      <%= image_tag("logo/mugcup_logo_link.png",
                    :class => "nav-img") %>
      Mugcup(基礎編)</a>
      </strong>
    </h1>
  </div>
</header>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <h5>
      普段使っているけど、実はどうなっているか分からないウェブページ。
      <br>
      本サイトでは、そのウェブサイトの仕組みと<strong class="color-red font-18">Ruby on Rails</strong> というソフトウェアを使ったウェブページ制作を説明します。
      <br>
      <small>※　このサイトもRuby on Railsで作られています</small>
      </h5>
      <hr>
      <div id="main-section-inner" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/0">
          <div class="table-content">
            <p>0 : はじめに</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/1">
          <div class="table-content">
            <p>1 : ウェブページとは？</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/2">
          <div class="table-content">
            <p>2 : Ruby on Rails の基本</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/3">
          <div class="table-content">
            <p>3 : ウェブページの雛形を作ろう！</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/4">
          <div class="table-content">
            <p>4 : データベースにデータを保存する。</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/5">
          <div class="table-content">
            <p>5 : ページを作ろう！①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/6">
          <div class="table-content">
            <p>6 : ページを作ろう！②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/7">
          <div class="table-content">
            <p>7 : ページを便利にしよう！</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/8">
          <div class="table-content">
            <p>8 : トップページを作る！</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/9">
          <div class="table-content">
            <p>9 : ユーザー管理をする①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/10">
          <div class="table-content">
            <p>10 : ユーザー管理をする②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/mugcups/11">
          <div class="table-content">
            <p>11 : ユーザー管理をする③</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>