<% provide :title, "Mugcup" %>
<div id="top-page" class="textbook-area">
  <div class="textbook-area-inner fadeIn wow">
    <%= render 'common/header' %>
    <br>
    <h5>
    普段使っているけど、実はどうなっているか分からないウェブページ。
    <br>
    本サイトでは、そのウェブサイトの仕組みと<strong class="color-red font-18">Ruby on Rails</strong> というソフトウェアを使ったウェブページ制作を説明します。
    <br>
    <small>※　このサイトもRuby on Railsで作られています</small>
    </h5>

    <div id="main-section-inner" class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/0">
        <div class="table-content">
          <p>0 : はじめに</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/1">
        <div class="table-content">
          <p>1 : ウェブページとは？</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/2">
        <div class="table-content">
          <p>2 : Ruby on Rails の基本</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/3">
        <div class="table-content">
          <p>3 : ウェブページの雛形を作ろう！</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/4">
        <div class="table-content">
          <p>4 : データベースにデータを保存する。</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/5">
        <div class="table-content">
          <p>5 : ページを作ろう！①</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/6">
        <div class="table-content">
          <p>6 : ページを作ろう！②</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/7">
        <div class="table-content">
          <p>7 : ページを便利にしよう！</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/8">
        <div class="table-content">
          <p>8 : トップページを作る！</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/9">
        <div class="table-content">
          <p>9 : ユーザー管理をする①</p>
        </div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <a href="/pages/10">
        <div class="table-content">
          <p>10 : ユーザー管理をする②</p>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>