<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>资料库里保存资料：设定一览</strong></h1>
          </div>
          <h4><u><a href="/zh-CN/mugcups/4" class="text-left ">资料库里保存资料</a></u></h4>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header4.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <hr>
          <h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
          <h4>
            <i class="fa fa-bookmark color-red"></i>　<strong>看看「资料库里保存资料」里设定的內容</strong>
          </h4>
          <br>
          <h2 class="textbook-section-title" id="title1"><strong>1 : 设定一览</strong></h2>
          <h4 id="code4-1">
          在<strong><a href="/zh-CN/mugcups/4" target="_blank">「资料库里保存资料」</a>，作了「posts」资料库。</strong>
          <hr class="red-hr">
          设定「posts」资料库要打入
          <br><br>
          　<strong>terminal</strong>
          <br>
          <small>
            <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」吧。
          </small>
          <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g model post</span>
</td>
</tr>
</table>
          <br>
          作<strong><u>「posts」资料库的设定文件「2016..._create_posts.rb」</u></strong>。
          <br><br>
          里面就差不多跟下面一样的內容吧。
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong>2016..._create_posts.rb</strong>
          <br><br>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>CreatePosts <span class='word-green'>< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line'>    create_table <span class='word-purple'>:posts</span><span class='word-red'> do</span> |t|</span>
<span class='code-line'></span>
<span class='code-line'>      t.string     <span class='word-purple'>   :name</span></span>
<span class='code-line'>      t.text       <span class='word-purple'>    :content</span></span>
<span class='code-line'>      t.timestamps <span class='word-purple'>null:</span> <span class="word-purple">false</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        如果要追加內容的话，打入
        <br><br>
        　<strong>terminal</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」吧。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g migration addColumnToPost</span>
</td>
</tr>
</table>
        <br>
        <strong><u>作追加的设定文件「2016..._add_column_to_post.rb」</u></strong>。
        <br><br>
        里面就差不多跟下面一样的內容吧。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>2016..._add_column_to_post.rb</strong>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>AddColumnToPost <span class='word-green'>< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line'>    add_column <span class='word-purple'>:posts</span>, <span class='word-purple'>:place</span>, <span class='word-purple'>:string</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        设定文件作好了之后为了适用设定，打入
        <br><br>
        　<strong>terminal</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」吧。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
        <br>
        的內容。
        <br>
        <small>※　如果不动的话，在前面加「bundle exec」，打入「bundle exec rake db:migrate」。</small>
        <hr class="red-hr">
        到这里设定了，
        <br><br>
        <i class="fa fa-th color-red"></i>　<strong>posts</strong>
        <table class="table table-striped">
          <thead>
            <tr class="active">
              <th>id</th>
              <th>name</th>
              <th>content</th>
              <th>created_at</th>
              <th>updated_at</th>
              <th>place</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-size:12px">
              <td>号码</td>
              <td>名字</td>
              <td>内容</td>
              <td>作的时间</td>
              <td>更新的时间</td>
              <td>地方</td>
            </tr>
          </tbody>
        </table>
        的资料库（Excel的表）。
        </h4>
        <hr>
        <div class="next-page">
              <a href="/zh-CN/mugcups/4" class="btn btn-primary">返回第4章</a>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h4>第4章：设定一览</h4></a>
          <a href="#title0" class="list-group-item">0 : 这个章的目的</a>
          <a href="#title1" class="list-group-item">1 : 设定一览</a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>