<% provide :title, "5：設定一覽" %>
<div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="textbook-area">
          <div class="textbook-area-inner fadeIn wow">
            <div id="title" class="textbook-title">
              <h1><strong>作作看網頁！①：設定一覽</strong></h1>
            </div>
            <h4>
            <u>
            <a href="/zh-TW/mugcups/5" class="text-left" target="_blank">作作看網頁！①</a>
            </u>
            </h4>
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header5.jpg",
                          :width => "90%",
                          :class => "textbook-title-img hover_img" %>
            <hr>
            <h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
            <h4>
              <i class="fa fa-bookmark color-red"></i>　<strong>看看在「作作看網頁！①」裡設定的內容</strong>
            </h4>
            <br>
            <h2 class="textbook-section-title" id="title1"><strong>1 : 設定一覽</strong></h2>
            <h4 id="code5-1">
            <strong>「<a href="/zh-TW/mugcups/5" target="_blank">作作看網頁！①</a>」裡設定了「posts」資料庫的網頁<u>「show」「index」</u>的內容。</strong>
            <hr class="red-hr">
            網頁的設定，需要
            <strong>
              <ul class="number_ul">
                <li>七個網頁的設定（route.rb）</li>
                <li>操作資料的設定（controller文件）</li>
                <li>顯示網頁的設定（views文件夾）</li>
              </ul>
            </strong>
            這個三個設定。
            <br><br>
            為了作「controller」文件跟「views」文件及，先必須在terminal上打入
            <br><br>
            　<strong>terminal</strong>
            <br>
            <small>
              <i class="fa fa-windows color-blue"></i>　使用Windows的話，請使用「命令提示符」吧。
            </small>
            <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g controller posts</span>
</td>
</tr>
</table>
            <br>
            這個命令，<strong><u>作「controller」文件（posts_controller.rb）跟「views」文件及（posts）</u></strong>。
            <hr class="red-hr">
            <p id="title1-1"><i class="fa fa-play-circle"></i>　<strong><u>七個網頁的設定（route.rb）</u></strong>是</p>
            <br>
            <i class="fa fa-file color-red"></i>　<strong>route.rb</strong>
            <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># Example of regular route:</span></span>
<span class='code-line'>  <span class='word-gray'>#   get 'products/:id' => 'catalog#view'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
            <hr class="red-hr">
            <p id="title1-2"><i class="fa fa-play-circle"></i>　<strong><u>資料操作的設定（controller文件）</u></strong>是</p>
            <br>
            <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
            <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>PostsController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @post = <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line'>    @posts = <span class='word-blue'>Post</span>.all</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
            <hr class="red-hr">
            <p id="title1-3"><i class="fa fa-play-circle"></i>　<strong>顯示網頁的設定（views文件夾）</strong>是設定</p>
            <br>
            <strong>
              <ul class="number_ul">
                <li>show.html.erb</li>
                <li>index.html.erb</li>
              </ul>
            </strong>
            <br>
            這些文件。各個內容是
            <br><br>
            <ul class="number_ul">
              <strong><li>　<i class="fa fa-file color-red"></i>　show.html.erb</li></strong>
              <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.place %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
            <br>
            <strong><li>　<i class="fa fa-file color-red"></i>　index.html.erb</li></strong>
            <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿一覽&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% @posts.each <span class="word-red">do</span> |p| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/&lt;%= p.id %&gt;"</span>&gt;&lt;%= p.id %&gt;&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;%= p.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;%= p.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
            <br>
            這樣子。
            </ul>
            <hr>
            <div class="next-page">
                <a href="/zh-TW/mugcups/5" class="btn btn-primary">返回第5章</a>
            </div>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
        <br>
        <div id="slide-bar" class="clear-fix">
        <strong>
          <div class="list-group nomargin">
            <a href="#title" class="list-group-item list-title"><h4>5：設定一覧</h4></a>
            <a href="#title0" class="list-group-item">0 : 這個章的目的</a>
            <a href="#title1" class="list-group-item">1 : 設定一覽</a>
            <a href="#title1-1" class="list-group-item">　<small>① : route.rb</small></a>
            <a href="#title1-2" class="list-group-item">　<small>② : posts_controller.rb</small></a>
            <a href="#title1-3" class="list-group-item">　<small>③ : 網頁的顯示</small></a>
          </div>
        </strong>
        </div>
      </div>
    </div>
</div>
<%= render 'pages/fixedjs' %>