<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>设定一览</strong></h1>
        <br>
        <header class="header-img-desk">
        </header>
          <div id="main-section-inner">
          <p class="text-center"><a class="btn btn-success" style="padding:10px"><i class="fa fa-file"></i> 学习的设定</a></p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/how_to_save">
                <div class="table-content">
                  <p>保存文件的方法</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/how_to_open">
                <div class="table-content">
                  <p>打开文件，文件夾的方法</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/html_tags">
                <div class="table-content">
                  <p>HTML</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/css">
                <div class="table-content">
                  <p>CSS</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/windows_rails">
                <div class="table-content">
                  <p>Rails的准备（Windows）</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/windows_bit">
                <div class="table-content">
                  <p>确认Windows的bit</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/windows_tips">
                <div class="table-content">
                  <p>Windows的设定</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/mugcups/heroku">
                <div class="table-content">
                  <p>公开网站(Mac)</p>
                </div>
              </a>
            </div>
          </div>
          <br><br>
          <p class="text-center"><a href="/zh-CN/mugcups" target="_blank" class="btn btn-primary"><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",:class => "nav-img") %> mugcup（基础编）</a></p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/4">
                <div class="table-content">
                  <p>4 : 资料库里保存资料</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/5">
                <div class="table-content">
                  <p>5 : 作作看网页！①</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/6">
                <div class="table-content">
                  <p>6 : 作作看网页！②</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/7">
                <div class="table-content">
                  <p>7 : 把网页设定的更方便吧！</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/8">
                <div class="table-content">
                  <p>8 : 作作看主页！</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/9">
                <div class="table-content">
                  <p>9 : 用户管理①</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/10">
                <div class="table-content">
                  <p>10 : 用户管理②</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/11">
                <div class="table-content">
                  <p>11 : 用户管理③</p>
                </div>
              </a>
            </div>
          </div>
          <br><br>
          <p class="text-center"><a href="/zh-CN/coffee_cups" target="_blank" class="btn btn-danger"><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",:class => "nav-img") %> Coffee(应用编)</a></p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/c_1">
                <div class="table-content">
                  <p>1 : Mugcup（基础遍）的复习</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/c_2">
                <div class="table-content">
                  <p>2 : 作讯息</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/c_3">
                <div class="table-content">
                  <p>3 : 作聊天室①</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/c_4">
                <div class="table-content">
                  <p>4 : 作聊天室②</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/c_5">
                <div class="table-content">
                  <p>5 : 作聊天室③</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-CN/codes/c_7">
                <div class="table-content">
                  <p>7 : 上载图像</p>
                </div>
              </a>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>