<% provide :title, "設定一覧" %>
<div id="top-page" class="textbook-area">
  <div class="textbook-area-inner fadeIn wow">
    <div id="title" class="textbook-title">
      <h1><strong>各章設定一覧</strong></h1>
      <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header.jpg",
                              :width => "90%",
                              :class => "hover_img textbook-title-img")%>
      <h4>
        <hr>
        各章の設定をまとめます
      </h4>
        <div id="main-section-inner" class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <a href="/codes/4">
              <div class="table-content">
                <p>4 : データベースにデータを保存する</p>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <a href="/codes/5">
              <div class="table-content">
                <p>5 : ページを作ろう！①</p>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <a href="/codes/6">
              <div class="table-content">
                <p>6 : ページを作ろう！②</p>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <a href="/codes/7">
              <div class="table-content">
                <p>7 : ページを便利にしよう！</p>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>