<% provide :title, "設定一覽" %>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>設定一覽</strong></h1>
        <br>
        <header class="header-img-desk">
        </header>
          <div id="main-section-inner">
          <p class="text-center"><a class="btn btn-success" style="padding:10px"><i class="fa fa-file"></i> 學習的設定</a></p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/mugcups/how_to_save">
                <div class="table-content">
                  <p>保存文件的方法</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/mugcups/how_to_open">
                <div class="table-content">
                  <p>打開文件，文件夾的方法</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/mugcups/html_tags">
                <div class="table-content">
                  <p>HTML</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/mugcups/css">
                <div class="table-content">
                  <p>CSS</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/mugcups/windows_rails">
                <div class="table-content">
                  <p>Rails的準備（Windows）</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/mugcups/windows_bit">
                <div class="table-content">
                  <p>確認Windows的bit</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/mugcups/windows_tips">
                <div class="table-content">
                  <p>Windows的設定</p>
                </div>
              </a>
            </div>
          </div>
          <br><br>
          <p class="text-center"><a href="/zh-TW/mugcups" target="_blank" class="btn btn-primary"><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",:class => "nav-img") %> mugcup（基礎編）</a></p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/4">
                <div class="table-content">
                  <p>4 : 資料庫裡保存資料</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/5">
                <div class="table-content">
                  <p>5 : 作作看網頁！①</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/6">
                <div class="table-content">
                  <p>6 : 作作看網頁！②</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/7">
                <div class="table-content">
                  <p>7 : 把網頁設定的更方便吧！</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/8">
                <div class="table-content">
                  <p>8 : 作作看主頁！</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/9">
                <div class="table-content">
                  <p>9 : 用戶管理①</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/10">
                <div class="table-content">
                  <p>10 : 用戶管理②</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/11">
                <div class="table-content">
                  <p>11 : 用戶管理③</p>
                </div>
              </a>
            </div>
          </div>
          <br><br>
          <p class="text-center"><a href="/zh-TW/coffee_cups" class="btn btn-danger"><%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",:class => "nav-img") %> Coffee(応用編)</a></p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/c_1">
                <div class="table-content">
                  <p>1 : Mugcup（基礎編）的複習</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/c_2">
                <div class="table-content">
                  <p>2 : 作訊息</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/c_3">
                <div class="table-content">
                  <p>3 : 作聊天室①</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/c_4">
                <div class="table-content">
                  <p>4 : 作聊天室②</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/c_5">
                <div class="table-content">
                  <p>5 : 作聊天室③</p>
                </div>
              </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <a href="/zh-TW/codes/c_7">
                <div class="table-content">
                  <p>7 : 上載圖像</p>
                </div>
              </a>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>