<h2 class="textbook-section-title" id="title1"><strong>1 : 導入devise</strong></h2>
<h4 id="chapter9-1">
導入devise是有，
<strong>
<ul class="number_ul">
  <li>安裝<u>gem "devise"</u></li>
  <li>作<u>users資料庫</u></li>
  <li><u>devise的顯示・作views</u>（登入註冊網頁等等）</li>
</ul>
</strong>
這個三個設定。那麽一個一個做做看吧！
<hr>
<%= render "page9/zh-TW/title1_1" %>
<hr>
<%= render "page9/zh-TW/title1_2" %>
<hr>
<%= render "page9/zh-TW/title1_3" %>
<hr>
<%= render "page9/zh-TW/title1_4" %>
</h4>