<h4 id="chapter9-2-2-2">
  <p id="title2-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : 設定登入的通知</strong></p>
  <br>
  到這裡，用檢查利用者有沒有登入的設定，不讓沒有登入的利用者看「posts」的網頁的內容。
  <br>
  現在註冊會員登入網站也OK。但是註冊登入之前，咱們設定<strong><u>利用者登入之後等等的時候顯示的通知</u></strong>吧。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_after.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_users_log_in_after.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_fail_to_sign_in.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_fail_to_sign_in.png",
              :target => ["_blank"] %>
  這個通知也加幾個內容就可以設定，做做看吧。
  <hr class="red-hr">
  首先編輯<strong>「app > views > layouts > application.html.erb」</strong>的<strong>「<u><a href="/zh-TW/mugcups/7#title2-2-1" target="_blank">&lt;div class="container main-page"&gt;</a></u>」</strong>裡的內容吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（&lt;div class="container main-page"&gt;之後追加內容）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>36
37
<strong class="color-red">38
39
40
41
42
43
44
45</strong>
46
47
</td>
<td class='code-content'><span class='code-line'>&lt;/<span class='word-red'>nav</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"container main-page"</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;% <span class="word-red">if</span> notice %&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow'>"alert alert-success"</span>&gt;&lt;%= notice %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line remarkable-code'>  &lt;% <span class="word-red">if</span> alert %&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow'>"alert alert-danger"</span>&gt;&lt;%= alert %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>  &lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開服務器之後，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  編輯好了之後，打開「<a href="http://0.0.0.0:3000/posts/new" target="_blank"><strong>0.0.0.0:3000/posts/new</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/posts/new" target="_blank"><strong>localhost:3000/posts/new</strong></a>」吧。
  </small>
  <br><br>
  有沒有顯示下面圖限一樣的畫面嗎？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_fail_to_sign_in.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_fail_to_sign_in.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <i class="fa fa-play-circle color-red"></i>　<strong>在這裡解釋設定的內容吧。</strong>
  <br><br>
  在這裡的設定中，新追加
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">if</span> notice %&gt;</span>
</td>
</tr>
</table>
  跟
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">if</span> alert %&gt;</span>
</td>
</tr>
</table>
  <br>
  的設定。<u>這個設定在做什麼呢？</u>
  <br><br>
  在這一些跟
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  之間的地方設定條件判別，然後在各個條件上顯示各個顯示的內容。
  <br><br>
  條件用
<pre>
&lt;% if 條件 %&gt;
</pre>
  指定，如果條件對的時候
<pre>
&lt;% end %&gt;
</pre>
  顯示到這裡的內容。
  <br><br>
  這一次，
  <br><br>
<pre>
&lt;% if notice %&gt;
</pre>
  在設定有通知過來的時候的條件，
<pre>
&lt;% if alert %&gt;
</pre>
  在設定有錯誤的通知過來的時候的條件。
  <hr class="red-hr">
  <strong>「<u>&lt;% if notice %&gt;</u>」（通知來的時候:notice）</strong>是，
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow'>"alert alert-success"</span>&gt;&lt;%= notice %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
<br>
<strong>「<u>&lt;% if alert %&gt;</u>」（錯誤的通知來的時候:alert）</strong>是，
<br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow'>"alert alert-danger"</span>&gt;&lt;%= alert %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  顯示各個內容。
  <br><br>
  如果是notice的話顯示
  <p class="alert alert-success" style="margin-bottom:0px">Signed in successfuly.</p>
  <br>
  如果是alert的話顯示
  <p class="alert alert-danger" style="margin-bottom:0px">You need to sign in or sign up before continuing.</p>
  <br>
  這樣的通知的內容，放在
<pre>
&lt;%= notice %&gt;　&lt;%= alert %&gt;
</pre>
  裡面顯示。
  <hr class="red-hr">
  在這裡顯示的有顏色的文字是怎麼設定呢？
  <br>
  這個其實也是「Bootstrap」顯示有顏色文字的設定。在文字<strong>「<a href="/zh-TW/mugcups/3#title1-2-css-class" target="_blank">class</a>」</strong>裡指定<strong><u>「alert」跟「alert-success」「alert-danger」</u></strong>設定裝飾的內容。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>2
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow remarkable-code'>"alert alert-success"</span>&gt;&lt;%= notice %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
<br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>2
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>p</span><span class='word-green'> class</span>=<span class='word-yellow remarkable-code'>"alert alert-danger"</span>&gt;&lt;%= alert %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br><br>
  綠色的通知在顯示
<p class="alert alert-success">&lt;p class="alert alert-success"&gt;顯示的文字&lt;/p&gt;</p>
  紅色的通知在顯示
<p class="alert alert-danger">&lt;p class="alert alert-danger"&gt;顯示的文字&lt;/p&gt;</p>
  各個內容。
  <br><br>
  綜括一下在這裡設定的內容吧。
  <br>
  <strong>
  <ul class="number_ul">
  <li><u>「&lt;% if notice %&gt;」跟「&lt;% end %&gt;」之間設定有通知來的時候</u></li>
  <li><u>「&lt;% if alert %&gt;」跟「&lt;% end %&gt;」之間設定有錯誤的通知來的時候</u></li>
  </ul>
  </strong>
  顯示的內容。
  <br><br>
  各個通知在<strong><u>「&lt;%= notice %&gt;」「&lt;%= alert %&gt;」</u></strong>裡顯示內容。
  <hr class="red-hr">
  <u>
  這個通知是從哪裡來的呢？
  <br>
  <strong>其實說這個通知可以自己作作看，在這裡作作看通知吧。</strong>
  </u>
  <br><br>
  通知在<strong>「<u>controller</u>」文件裡設定</strong>
  <ul class="number_ul">
    <li><strong>通知（notice）</strong>的話</li>
<pre>
flash[:notice] = "顯示的內容"
</pre>
    <li><strong>錯誤的通知（alert）</strong>的話</li>
<pre>
flash[:alert] = "顯示的內容"
</pre>
  </ul>
  各個內容可以在網頁上顯示。
  <br><br>
  在<strong>「<u>controller</u>」文件</strong>裡設定的各個通知的內容會顯示在
<pre>
&lt;%= notice %&gt;  &lt;%= alert %&gt;
</pre>
  裡面。
  <br><br>
  <strong>「<a href="/zh-TW/mugcups/5#title1-1" target="_blank">show</a>」的網頁「<a href="http://0.0.0.0:3000/posts/1" target="_blank">0.0.0.0:3000/posts/1</a>」</strong>裡顯示自己設定的通知吧。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（追加第7行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
<strong class="color-red">7</strong>
8
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>  @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line remarkable-code'>  flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"投稿"</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開服務器之後，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  編輯完了之後，打開「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/posts/1" target="_blank"><strong>localhost:3000/posts/1</strong></a>」吧。
  </small>
  <br><br>
  有沒有顯示下面圖像一樣的畫面嗎？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_1_flash.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page9/Chrome_posts_1_flash.png",
              :target => ["_blank"] %>
  這樣設定好通知了！
  <br>
  <strong><u>這一次設定的通知是試試看的而已，所以這一次設定的內容就除掉吧。</u></strong>
  <hr class="red-hr">
  「devise」的通知也是用這個設定。
  <br>
  通知的內容「devise」會自動作，所以簡單的理解內容就OK。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>「posts_controller.rb」的<u>「<a href="/zh-TW/mugcups/6#title1-5" target="_blank">edit</a>」網頁裡，顯示「@post」的「content」的通知</u>要怎麼樣設定呢？</strong>
  <br>
  <small>※　在上面放鼠標，答案會顯示。</small>
  <br><br>
  <textarea class="input-code form-control" placeholder="打入答案" rows="4"></textarea>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3</strong>
4
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>  @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line remarkable-code answer-code'>  flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> @post.content</span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
</h4>