<h4 id="chapter6-1-4-2">
        <p id="title1-4-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : 總結</strong></p>
        在<strong>「新增資料（create）」</strong>的網頁上要設定三個內容。
        <br><br>
        <strong>設定的內容<a href="/zh-TW/codes/6" target="_blank">請參考這裡</a></strong>
        <hr class="red-hr">
        <p id="title1-4-2-route" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>七個網站的設定</strong></p>
        <br>
        <strong>在「config」文件夾裡的「routes.rb」文件裡，追加「<u>create</u>」的設定</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<span class="color-red"><strong>3</strong></span>
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <p id="title1-4-2-data" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>資料操作的設定</strong></p>
        <br>
        <strong>在「app > controllers > 資料庫的名字_controller」文件夾裡的「<u>create</u>」上，追加設定</strong>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
<span class="color-red"><strong>2</strong></span>
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:name</span>, <span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong><u>新增資料的「create」裡，設定指定資料庫的內容（require）跟指定框子的內容（permit）</u>。</strong>
        <hr class="red-hr">
        <p id="title1-4-2-view" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>網頁的設定</strong></p>
        <br>
        <strong>編輯「app > views > 資料庫的名字」文件夾裡的設定文件「<u>create.html.erb</u>」的內容。</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>create.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿好了&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;%= @post.name %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;%= @post.content %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;地方&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;%= @post.place %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <strong><u>沒設定網頁的顯示也可以保存資料，但是利用的人比較會不方便，所以不要忘記設定網頁的顯示吧！</u></strong>
        <hr class="red-hr">
        <p id="title1-4-2-chrome" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>在瀏覽器上的顯示</strong></p>
        <br>
        <strong>「<u>新增資料（create）</u>」的網頁是，從「<u>打入新的資料（new）</u>」的網頁移動到的，不用在瀏覽器打入url可以打開的網頁。</strong>
        <br>
        <small>※　網頁的url，應該是<strong>「<u>0.0.0.0:3000/posts</u>」</strong>。</small>
        <hr class="red-hr">
        到這裡，作了新增資料的網頁。
        <br>
        <strong>接着，設定「編輯資料」的網頁吧！
        <br><br>
        設定的內容，<a href="/zh-TW/codes/6" target="_blank">請參考這裡</a></strong>
</h4>