<h4 id="chapter6-1-5-1">
        <p id="title1-5-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 設定網頁</strong></p>
        <br>
        <i class="fa fa-question-circle color-green"></i>　<strong>先從複習開始。設定網頁要設定怎麼樣的設定呢？</strong>
        <br><br>
        <strong>
            <ul class="number_ul">
                <li>七個網頁的設定</li>
                <li>操作資料的設定</li>
                <li>網頁內容的設定</li>
            </ul>
        </strong>
        <br>
        這個三個。
        <hr class="red-hr">
        <strong>「<u>打入編輯的資料（edit）</u>」</strong>的網頁上，指定要編輯的資料作輸入框。
        <br><br>
        在這裡設定，
        <strong>
        <ul class="number_ul">
          <li>選擇要編輯的資料</li>
          <li>顯示輸入框跟發信按鈕</li>
        </ul>
        </strong>
        這個兩個設定。
        <hr class="red-hr">
          <i class="fa fa-play-circle"></i>　<strong>剛開始從「七個網頁的設定」開始做吧！</strong>
          <br><br>
          那麽先打開，設定七個網頁的<strong>「<u>config > routes.rb</u>」</strong>文件吧！
          <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<span class="color-red"><strong>3</strong></span>
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        內容已經有編輯過了吧。
        <br><br>
        <strong><u>跟上面一樣，有沒有追加「edit」的網頁嗎？</u></strong>
        <br>
        有追加的話，使用<strong>「<u>打入編輯的資料（edit）</u>」</strong>的網頁的設定是OK。
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>接着做「<u>操作資料</u>」的設定吧。</strong>
        <br><br>
        操作「posts」資料庫的<strong>「posts_controller.rb」</strong>文件上，追加設定吧。
        <br><br>
        用Sublime Text打開，<strong>「<u>app > controllers</u>」</strong>文件夾裡的「<strong><u>posts_controller.rb</u></strong>」文件吧。
        <br>
        <small>
          ※　使用Sublime Text打開文件的方法<a href="/zh-TW/mugcups/how_to_open#title1" target="_blank"><strong>請參考這裡</strong></a>
          <br>
          <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打開文件文件夾的方法<a href="/zh-TW/mugcups/how_to_open#title2" target="_blank"><strong>請參考這裡</strong></a>。
        </small>
        <br><br>
        打開之後，<strong><u>「def edit」跟「end」之間</u></strong>設定下面的設定吧。
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb（追加第20行）</strong>
        <br>
        <small>
          ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
          <br>
          <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>19
<span class="color-red"><strong>20</strong></span>
21
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-question-circle color-green"></i>　<strong>在這個追加的一行，在做什麼呢？</strong>
        <br><br>
        <u>在這個一行，選擇要編輯的資料。</u>
        <br>
        <small>※　詳細<a href="/zh-TW/mugcups/5#title1-1-2" target="_blank"><strong>請參考這裡</strong></a></small>
        <br><br>
        <i class="fa fa-play-circle color-red"></i>　這個跟<strong>「<u>選擇一個資料（show）</u>」</strong>的設定
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        做一樣的設定。
        <br><br>
        要編輯的資料在這裡選擇。
        <br>
        <strong>在「<u>打入選擇的資料（edit）</u>」的網頁上，不要忘記設定這個資料的選擇！</strong>
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　那麽「tweets」資料庫的「<u>打入編輯的資料（edit）</u>」的網頁要怎麼樣設定好呢？</strong>
        <br><br>
        <textarea class="input-code form-control" placeholder="打入答案" rows="3"></textarea>
        <br>
        <i class="fa fa-file color-red"></i><strong>　tweets_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content answer-code'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>    @tweet <span class="word-red">=</span> <span class='word-blue'>Tweet</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>那麽，做做看網頁的內容吧。</strong>
        <br><br>
        在這裡顯示像下面圖像一樣子的畫面。
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page6/Chrome_posts_1_edit_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page6/Chrome_posts_1_edit_1.png",
                    :target => ["_blank"] %>
        首先，用Sublime Text打開<strong>「<i>myapp > app > views > posts</i>」</strong>吧。
        <br>
        裡面有<strong>「<u>edit.html.erb</u>」</strong>文件嗎？有的話打開看看！
        <br><br>
        <strong>在這個文件上追加，顯示「<u>打入編輯的資料（edit）</u>」的網頁的設定。</strong>
        <br><br>
        <i class="fa fa-arrow-right"></i>　<strong>那麽，設定網頁的設定吧！</strong>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　edit.html.erb</strong>
        <br>
        <small>
          ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
          <br>
          <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;編輯投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;地方&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"更新"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        這一次的設定，有沒有好像有看過吧？
        <br>
        這個設定因該跟「<a href="/zh-TW/mugcups/6#title1-3-1" target="_blank"><strong>new.html.erb</strong></a>」很像。
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　new.html.erb</strong>
        <br>
        <small>
          ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
          <br>
          <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
        </small>
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
13
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;作投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;地方&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"登錄"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class='word-red'>end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-question-circle color-green"></i><strong>　複習學習的內容吧。這個<u>「new.html.erb」文件中，設定「name」的輸入框跟按鈕的地方</u>在哪裡呢？</strong>
        <br><br>
        <i class="fa fa-play-circle color-red"></i>　<strong>「name」的輸入框</strong>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= f.text_field <span class='word-purple'>:name</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-play-circle color-red"></i>　<strong>按鈕</strong>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;%= f.submit <span class='word-yellow'>"登錄"</span> %&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        在<strong>「<u>new.html.erb</u>」</strong>文件上，
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
        <p style="margin-top:10px;">跟</p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>12
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        之間<strong><u>顯示輸入框跟按鈕</u></strong>。
        <br><br>
        <i class="fa fa-play-circle color-red"></i><strong>　這個跟「<u>edit.html.erb</u>」</strong>文件做的設定一樣。
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
        <p style="margin-top:10px;">跟</p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
        <p style="margin-top:10px;">之間</p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>4
5
6
7
8
9
</td>
<td class='code-content'><span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_area <span class='word-purple'>:content</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;地方&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:place</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"更新"</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        在顯示網頁。
        <br>
        在這裡，做<strong><u>打入「content」跟「place」的設定</u></strong>。
        <hr class="red-hr">
        加上
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>edit.html.erb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @post <span class="word-red">do</span> |f| %&gt;</span>
</td>
</tr>
</table>
        <br>
        裡面的「@post」是，<strong>在「<u>posts_controller.rb</u>」設定的</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb（第20行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>20
</td>
<td class='code-content'><span class='code-line'>@post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
</td>
</tr>
</table>
        <br>
        選擇「posts」資料庫的資料的標記。在這裡是<strong><u>選擇編輯的資料</u></strong>。
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i><strong>　用下面的資料操作的「<u>@user</u>」，作打入<u>姓氏「family_name（短的文章）」</u>跟<u>名字「first_name（長的文章）」</u>跟<u>年齡「age（數字）」</u>的網頁吧。</strong>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　users_controller.rb</strong>
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <textarea class="input-code form-control" placeholder="打入答案" rows="10"></textarea>
        <br>
        <i class="fa fa-file color-red"></i><strong>　edit.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center small-code'>1
2
3
4
5
6
7
8
9
10
11
12
13
</td>
<td class='code-content answer-code small-code'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;編輯投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @user <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;姓氏&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:family_name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;名字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class='word-purple'>:first_name</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;年齡&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;%= f.number_field <span class='word-purple'>:age</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class='word-yellow'>"更新資料"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span>&gt;返回投稿的資料&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        那麽在網頁上顯示看吧！
        <br>
        <small>
          ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
        </small>
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
        <br>
        　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入「<u>rails s</u>」吧。</strong>
        </p>
        <br>
        起動服務器之後，用瀏覽器打開「<a href="http://0.0.0.0:3000/posts/1/edit" target="_blank"><strong>0.0.0.0:3000/posts/1/edit</strong></a>」吧。
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Window的話，打開看<strong>「<a href="http://localhost:3000/posts/1/edit" target="_blank">localhost:3000/posts/1/edit</a>」</strong>吧。
        </small>
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page6/Chrome_posts_1_edit_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page6/Chrome_posts_1_edit_1.png",
                    :target => ["_blank"] %>
        有沒有顯示像上面圖像一樣有輸入框的網頁嗎？
        <hr class="red-hr">
        打開<strong>「<u>打入編輯的資料（edit）</u>」</strong>的網頁的話，用瀏覽器從<strong>「<u>0.0.0.0:3000/資料庫的名字/id號碼/edit</u>」</strong>打開。
        <br><br>
        這一次是打入「posts」資料庫的「id是1」的資料的網頁，所以從
        <br><br>
        <i class="fa fa-chrome color-red"></i>　<strong>瀏覽器</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>0.0.0.0:3000/posts/1/edit</span>
</td>
</tr>
</table>
        <br>
        打開網頁。
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　<u>在瀏覽器上，打開「videos」資料庫的「打入編輯的資料」的網頁</u>要怎麼打入呢？</strong>
        <br><br>
        <input type="input" class="input-code form-control" placeholder="打入答案">
        <br>
        <i class="fa fa-chrome color-red"></i><strong>　瀏覽器</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>0.0.0.0:3000/videos/1/edit</span>
</td>
</tr>
</table>
</h4>