<h4 id="chapter3-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 总结</strong></p>
        <br>
        <strong>
        网页是，用显示文字跟画面的html文件跟装饰的CSS文件作。
        <hr class="red-hr">
        <ul class="number_ul">
        <li>html文件的话，基本上是<i>&lt;body&gt;</i>と<i>&lt;/body&gt;</i>的內容</li>
        <li>CSS的话，用{}围起來的地方</li>
        </ul>
        设定，网页跟装饰。
</h4>