<h2 class="textbook-section-title" id="title1"><strong>1 : HTML的基础</strong></h2>
<h4 id="chapter3-1">
  <%= render "page3/zh-CN/title1_1" %>
  <hr>
  <%= render "page3/zh-CN/title1_2" %>
  <hr>
  <%= render "page3/zh-CN/title1_3" %>
</h4>