<h4 id="chapter3-2-3">
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 打開網站</strong></p>
        <br>
        這樣子剛開始的網站是完成了，但是還不知道真的是做好沒有。
        <br>
        <strong>那麽，咱們開開看做好的網站！</strong>
        <hr class="red-hr">
        事先<u>用terminal移動到<strong>「myapp」</strong></u>。
        <br>
        <small>※　不知道的話、<a href="/zh-CN/mugcups/2#title2-1" target="_blank"><strong>請參考這裡</strong></a>。</small>
        <br><br>
        <p class="alert alert-success">
            <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、<a href="/mugcups/windows_tips#title1-2" target="_blank">請參考這邊</a>。</strong>
        </p>
        <br>
        完了之後，請打入下面的命令。
<br><br>
<strong>terminal（用半母之母數字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
<br>
        顯示像下面的畫面嗎？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                    :target => ["_blank"] %>
        這個「<u>rails s</u>」的命令，起動在電腦裡的<strong class="little-remarkable"><u>顯示網頁跟保存資料的機器(服務器)</u></strong>。
        <br>
        <small>※　現在起動的服務器只是在電腦裡動的東西、所以網站只能在自己的電腦裡看。</small>
        <hr class="red-hr">
        這樣子，可以顯示網站了！
        <br>
        用遊覽器，打開看看<a href="http://0.0.0.0:3000" target="_blank"><strong class="little-remarkable">0.0.0.0:3000</strong></a>。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話，打開<a href="http://localhost:3000" target="_blank">localhost:3000</a>。</strong>
        </p>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_localhost1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_localhost1.png",
                    :target => ["_blank"] %>
        顯示這樣子的網頁了嗎？這個是用 Ruby on Rails 上做的網站。
        <br>
        以後用Ruby on Rails作的網站、從<a href="http://0.0.0.0:3000" target="_blank"><strong class="little-remarkable">0.0.0.0:3000</strong></a>開。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、打開<a href="http://localhost:3000" target="_blank">localhost:3000</a>。</strong>
        </p>
        <br>
        <hr class="red-hr">
        那麽，停止用「rails s」動的服務器吧。
        <br>
        之後打入「rails s」的terminal的畫面上、<strong><u>請一起打入「Command」跟「c」。</u></strong>
        <br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、一起打入<strong><u>「ctrl」跟「c」</u></strong>。</strong>
        </p>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s_finish.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s_finish.png",
                    :target => ["_blank"] %>
        這樣子<strong><u>停止在顯示網頁保存資料的服務器</u></strong>。
        <br>
        再一次打開看看<a href="http://0.0.0.0:3000" target="_blank"><strong class="little-remarkable">0.0.0.0:3000</strong></a>吧。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話，打開看看<a href="http://localhost:3000" target="_blank">localhost:3000</a></strong>
        </p>
        <br>
        <strong>這一次沒有打開服務器，<u>所以網站應該不會開的</u></strong>
        <hr class="red-hr">
        不用用Rails on Rails打開網站的話、一起點擊「Command」跟「c」關掉服務器。<strong class="little-remarkable"><u>沒有關掉的話，電源會白費。</u></strong>
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話，一起點擊<u>「ctrl」跟「c」</u>。</strong>
        </p>
        <br>
        <hr>
        <i class="fa fa-star color-blue"></i>　<strong>設定完的網站、在terminal上打入「<u>rails s</u>」的狀態，打開「<a href="http://0.0.0.0:3000" target="_blank"><u>0.0.0.0:3000</u></a>」就可以在遊覽器上看。</strong>
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、打開<a href="http://localhost:3000" target="_blank">localhost:3000</a>。</strong>
        </p>
        <br>
</h4>