<h4 id="chapter3-2-1">
        <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : rails new</strong></p>
        <br>
        那麽，用Rails作作看剛開始的網站吧！
        <br>
        打入下面的命令吧！
<br><br>
        <strong>Terminal（用半母字母數字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp -d mysql</span>
</td>
</tr>
</table>
        <br>
        <p class="alert alert-success">
        <strong><i class="fa fa-windows color-blue"></i>　使用Windows的話，打入下面的命令。</strong>
        </p>
        <i class="fa fa-arrow-right"></i>　<strong>命令提示符（用半母之母數字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp</span>
</td>
</tr>
</table>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_2.png",
                    :target => ["_blank"] %>
        像下面的圖像顯示...
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_after.png",
                    :target => ["_blank"] %>
        最後顯示這樣子的畫面嗎？
        <br>
        <strong class="remarkable">這樣，剛開始的簡單的網站做好了！</strong>
        <br><br>
        做完的話，用Finder看看做好的「myapp」好了。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_myapp.png",
                    :target => ["_blank"] %>
        「rails_project」裡，找到<strong>「<u>myapp</u>」</strong>的名字的文件夾嗎？
        <br><br>
        <strong>編輯這個「myapp」裡的設定文件，作自己的網站。</strong>
        <hr class="red-hr">
        那麽，剛才的
<br><br>
<strong>terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 網站的名字 -d mysql</span>
</td>
</tr>
</table>
        <br>
        在做什麼呢？
        <br><br>
        這個是，
        <br>
        <strong class="little-remarkable"><u>「用MySQL的資料庫（-d mysql）作myapp的網站吧！（rails new myapp）」</u></strong>
        <br>
        的電腦的命令。
        <br><br><br>
        <p class="alert alert-success">
            <strong><i class="fa fa-windows color-blue"></i>　使用Windows的話，後面不用加「-d mysql」就可以設定使用「<u>Sqlite</u>」的資料庫。</strong>
        </p>
        <br>
        剛開始作網站的時候，打入
        <br><br>
<strong>　terminal（用半母之母數字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 網頁的名字 -d mysql</span>
</td>
</tr>
</table>
        <br><br>
        <strong><i class="fa fa-windows color-blue"></i>　使用Windows的話、請打入下面的內容。</strong>
        <br><br>
        打入下面的命令。
        <br><br>
        　<strong>命令提示符（用半母之母數字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>剛開始作網站的時候、用Terminal（或者命令提示符）打入「<u>rails new ウェブページ名 -d mysql</u>」。</strong>
</h4>