        <h2 class="textbook-section-title" id="title2"><strong>2 : 用Rails作作看网站</strong></h2>
        <h4 id="chapter3-2">
        到这边，我們解释<u>用html跟CSS显示网页的方法</u>。
        <br><br>
        网页显示的方法基本上是这样。更详细的方法，过一会儿解释。
        <hr class="red-hr">
        <strong class="remarkable">
        从这里，我們用Ruby on Rails作網站。
        </strong>
        <br>
        基础编里作<strong><a href="https://gentle-cove-48435.herokuapp.com/users/sign_in" target="_blank">这样子的网站</a></strong>。
        <br><br>
        Ruby on Rails是，<strong>事先作好的网站上设定网站里面的详细</strong>作网站。
        <br>
        在这个章做做看，<strong><u>用Ruby on Rails作刚开始的网站之后，打开看这个网站！</u></strong>
        <hr>
        Ruby on Rails是用在上章使用的<u>terminal</u>，作刚开始的网站。
        <br>
        点击右上边放大镜，搜索「terminal」打开terminal。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>从这边是复习。事先在terminal上，移动到desktop的位置。</strong>
        <br>
        <small>※　不知道这么移动的话，<a href="/zh-CN/mugcups/2#title2-1" target="_blank"><strong>请参考这里</strong></a>。</small>
        <br><br><br>
        <p class="alert alert-success">
        <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移动的方法，<a href="/zh-CN/mugcups/windows_tips#title1-2" target="_blank">请参考这里</a>。</strong></span>
        </p>
        <br>
        <hr class="red-hr">
        移动到desktop的话，
<br><br>
        <strong>terminal</strong>
        <br>
        <small><i class="fa fa-windows color-blue"></i>　使用Windows的话、请使用「命令提示符」</small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
        <br>
        打入移动到「rails_project」吧。
        <br>
        <small>※　用半母之母数字打入</small>
        </h4>
        <hr>
        <%= render "page3/zh-CN/title2_1" %>
        <hr>
        <%= render "page3/zh-CN/title2_2" %>
        <hr>
        <%= render "page3/zh-CN/title2_3" %>