<h4 id="chapter3-2-1">
        <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : rails new</strong></p>
        <br>
        那麽，用Rails作作看刚开始的网页吧！
        <br>
        打入下面的命令吧！
<br><br>
        <strong>Terminal（用半母字母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp -d mysql</span>
</td>
</tr>
</table>
        <br>
        <p class="alert alert-success">
        <strong><i class="fa fa-windows color-blue"></i>　使用Windows的话，打入下面的命令。</strong>
        </p>
        <i class="fa fa-arrow-right"></i>　<strong>命令提示符（用半母之母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp</span>
</td>
</tr>
</table>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_2.png",
                    :target => ["_blank"] %>
        显示像下面的图像之后...
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Rails_new_myapp_after.png",
                    :target => ["_blank"] %>
        最后显示这样子的画面了吗？
        <br>
        <strong class="remarkable">这样，刚开始的简单的网站作好了！</strong>
        <br><br>
        作完的話，用Finder看看做好的「myapp」吧。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Finder_myapp.png",
                    :target => ["_blank"] %>
        「rails_project」里，找到<strong>「<u>myapp</u>」</strong>的名字的文件夾吗？
        <br><br>
        <strong>编辑这个「myapp」里的设定文件，作自己的网站。</strong>
        <hr class="red-hr">
        那么，刚才的
<br><br>
<strong>terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 网站的名字 -d mysql</span>
</td>
</tr>
</table>
        <br>
        在做什么呢？
        <br><br>
        这个是，
        <br>
        <strong class="little-remarkable"><u>「用MySQL的资料库（-d mysql）作myapp的网站吧！（rails new myapp）」</u></strong>
        <br>
        的电脑的命令。
        <br><br><br>
        <p class="alert alert-success">
            <strong><i class="fa fa-windows color-blue"></i>　使用Windows的话，后面不用加「-d mysql」就可以设定使用「<u>Sqlite</u>」的资料库。</strong>
        </p>
        <br>
        刚开始作网站的时候，打入
        <br><br>
<strong>　terminal（用半母之母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 网页的名字 -d mysql</span>
</td>
</tr>
</table>
        <br><br>
        <strong><i class="fa fa-windows color-blue"></i>　使用Windows的话，请打入下面的內容。</strong>
        <br><br>
        打入下面的命令。
        <br><br>
        　<strong>命令提示符（用半母之母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>刚开始作网站的时候、用Terminal（或者命令提示符）打入「<u>rails new 网站的名字 -d mysql</u>」。</strong>
</h4>