        <h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
        <h4 id="chapter3-0">
        <i class="fa fa-bookmark color-red"></i>　<strong>学习用HTML・Ruby on Rails作网站的方法、用Rails作作看网站。</strong>
        <hr>
        到这里，作好了 Ruby on Rails 的环境，
          <br>
          <strong class="remarkable">咱們用Ruby on Rails作网路吧！</strong>
          <br><br>
          ・・・是想现在就开始作网站，但是开始作网站之前先解释<u>做网页的显示的时候要用的知识</u>。
          <br>
          <br>
          <i class="fa fa-question-circle color-green"></i>　<strong><u>在这里想问一个问题。</u>什么东西在显示网站呢？</strong>
          <br><br>
          在<a href="/zh-CN/mugcups/1#title2-1" target="_blank"><strong>第1章</strong></a>也有解释过了，叫做<strong>HTML文件</strong>的文件在决定怎么显示网页。
          <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                                :width => "90%",
                                :class => "hover_img textbook-title-img"),
                      "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page1/FB_Code.png",
                      :target => ["_blank"] %>
          这个是Facebook主页很长的HTML文件。这个文件在決定这么样显示网页。
          <br>
          <br>
          虽然Facebook主页的HTML文件很长，但是<u>更简单的网页的话可以更简单的作。</u>
          <br>
          <strong>咱們先用HTML，作作看网页吧！</strong>
        </h4>