        <h2 class="textbook-section-title" id="title2"><strong>2 : 用Rails作作看網站</strong></h2>
        <h4 id="chapter3-2">
        到這邊，我們解釋<u>用html跟CSS顯示網頁的方法</u>。
        <br><br>
        網頁顯示的方法基本上是這樣。更詳細的方法，過一會解釋。
        <hr class="red-hr">
        <strong class="remarkable">
        從這個章，用Ruby on Rails作網站。
        </strong>
        <br>
        基礎編裡作<strong><a href="https://gentle-cove-48435.herokuapp.com/users/sign_in" target="_blank">這樣子的網站</a></strong>。
        <br><br>
        Ruby on Rails是，<strong>事先作好的網站上設定這麼網站的詳細</strong>作網站。
        <br>
        在這個章做做看，<strong><u>用Ruby on Rails作剛開始的網站之後，開開看這個網站！</u></strong>
        <hr>
        Ruby on Rails是用在上章使用的<u>terminal</u>，作剛開始的網站。
        <br>
        點擊右上邊放大鏡，搜索「terminal」打開terminal。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>從這邊是複習。事先在terminal上，移動到desktop的位置。</strong>
        <br>
        <small>※　不知道這麼移動的話，<a href="/zh-TW/mugcups/2#title2-1" target="_blank"><strong>參考這裡</strong></a>。</small>
        <br><br><br>
        <p class="alert alert-success">
        <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移動的方法，<a href="/zh-TW/mugcups/windows_tips#title1-2" target="_blank">請參考這裡</a>。</strong></span>
        </p>
        <br>
        <hr class="red-hr">
        移動到desktop的話，
<br><br>
        <strong>terminal</strong>
        <br>
        <small><i class="fa fa-windows color-blue"></i>　使用Windows的話、請使用「命令提示符」</small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
        <br>
        打入移動到「rails_project」吧。
        <br>
        <small>※　用半母之母數字打入</small>
        </h4>
        <hr>
        <%= render "page3/zh-TW/title2_1" %>
        <hr>
        <%= render "page3/zh-TW/title2_2" %>
        <hr>
        <%= render "page3/zh-TW/title2_3" %>