<h4 id="chapter3-2-2">
        <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 网站的各种设定</strong></p>
        <br>
        到这里，打入
<br><br>
<strong>　terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 网站的名字 -d mysql</span>
</td>
</tr>
</table>
        <br>
        　<strong>命令提示符</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 网站的名字</span>
</td>
</tr>
</table>
<br>
        作刚开始的网站。
        <hr class="red-hr">
        可是，这样网站的设定还沒完成。
        <br>
        <strong>terminal（或者命令提示符）上，还必须做几个设定。</strong>
        <br><br>
        那个设定是
        <strong>
        <ul class="number_ul">
        <li>为了作网站的时候需要的工具的导入跟设定</li>
        <li>准备资料库</li>
        </ul>
        </strong>
        的两个。
        <br><br>
        <i class="fa fa-arrow-right"></i>　在这里完成这些设定吧。
</h4>
        <hr>
        <%= render "page3/zh-CN/title2_2_1" %>
        <hr>
        <%= render "page3/zh-CN/title2_2_2" %>
        <hr>
        <%= render "page3/zh-CN/title2_2_3" %>
</h4>