<h4 id="chapter3-2-3">
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 打开网站</strong></p>
        <br>
        这样子刚开始的网站是完成了，但是还不知道真的是做好沒有。
        <br>
        <strong>那么，咱們打开看做好的网站！</strong>
        <hr class="red-hr">
        事先<u>用terminal移动到<strong>「myapp」</strong></u>。
        <br>
        <small>※　不知道的话，<a href="/zh-CN/mugcups/2#title2-1" target="_blank"><strong>请参考这里</strong></a>。</small>
        <br><br>
        <p class="alert alert-success">
            <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，<a href="/mugcups/windows_tips#title1-2" target="_blank">请参考这里</a>。</strong>
        </p>
        <br>
        完了之后，请打入下面的命令。
<br><br>
<strong>terminal（用半母之母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
<br>
        显示像下面的画面了吗？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s.png",
                    :target => ["_blank"] %>
        这个「<u>rails s</u>」的命令，启动在电脑里的<strong class="little-remarkable"><u>显示网页跟保存资料的机器(服务器)</u></strong>。
        <br>
        <small>※　现在起動的服务器只是在电脑里动的东西、所以网站只能在自己的电脑里看。</small>
        <hr class="red-hr">
        这样子，可以显示网站了！
        <br>
        用浏览器，打开看看<a href="http://0.0.0.0:3000" target="_blank"><strong class="little-remarkable">0.0.0.0:3000</strong></a>。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，打开<a href="http://localhost:3000" target="_blank">localhost:3000</a>。</strong>
        </p>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_localhost1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Chrome_localhost1.png",
                    :target => ["_blank"] %>
        显示这样子的网页了吗？这个是用 Ruby on Rails 上作好的网站。
        <br>
        以后用Ruby on Rails作的网站、从<a href="http://0.0.0.0:3000" target="_blank"><strong class="little-remarkable">0.0.0.0:3000</strong></a>打开。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，打开<a href="http://localhost:3000" target="_blank">localhost:3000</a>。</strong>
        </p>
        <br>
        <hr class="red-hr">
        那么，停止用「rails s」动的服务器吧。
        <br>
        之后打入「rails s」的terminal的画面上、<strong><u>请一起打入「Command」跟「c」。</u></strong>
        <br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，一起打入<strong><u>「ctrl」跟「c」</u></strong>。</strong>
        </p>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s_finish.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_rails_s_finish.png",
                    :target => ["_blank"] %>
        这样子<strong><u>停止在显示网页保存资料的服务器</u></strong>。
        <br>
        再一次打开看看<a href="http://0.0.0.0:3000" target="_blank"><strong class="little-remarkable">0.0.0.0:3000</strong></a>吧。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，打开看看<a href="http://localhost:3000" target="_blank">localhost:3000</a></strong>
        </p>
        <br>
        <strong>这一次沒有打开服务器，<u>所以网站应该不会打开的</u></strong>
        <hr class="red-hr">
        不用用Rails on Rails打开网站的话，一起点击「Command」跟「c」关掉服务器。<strong class="little-remarkable"><u>沒有关掉的话，电源会白费。</u></strong>
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，一起点击<u>「ctrl」跟「c」</u>。</strong>
        </p>
        <br>
        <hr>
        <i class="fa fa-star color-blue"></i>　<strong>设定完的网站、在terminal上打入「<u>rails s</u>」的状况，打开「<a href="http://0.0.0.0:3000" target="_blank"><u>0.0.0.0:3000</u></a>」就可以在浏览器上看。</strong>
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，打开<a href="http://localhost:3000" target="_blank">localhost:3000</a>。</strong>
        </p>
        <br>
</h4>