<h4 id="chapter3-2-2-3">
        <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : 總結</strong></p>
        <br>
        <strong>
        打入
        <ul class="number_ul">
          <li>在terminal上，「<u>rails new 網頁的名字 -d mysql</u>」</li>
          <li>在命令提示符上，「<u>rails new 網頁的名字</u>」</li>
        </ul>
        作完網頁之後...
        <hr class="red-hr">
        要做
        <ul class="number_ul">
          <li>
          工具（gem）的設定跟導入
          </li>
          <i class="fa fa-arrow-right"></i>　terminal打入「<u>bundle install</u>」，可以導入工具（gem）。
          <br><br>
          <p class="alert alert-success">
          <span><i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話，<a href="/mugcups/windows_tips#title1-3" target="_blank">請作這裡的操作</a></strong></span>
          </p>
          <br>
          <li>
          資料庫的準備
          </li>
          <i class="fa fa-arrow-right"></i>　打入「<u>rake db:create</u>」可以作資料庫。
        </ul>
        </strong>
</h4>