<h2 class="textbook-section-title" id="title3"><strong>3 : 这个章的总结</strong></h2>
        <h4 id="chapter3-3">
          在这个章学习了
          <br>
          <strong>
          <ul class="number_ul">
            <li>显示网页的设定文件<a href="#title1-1" target="_blank">html</a>跟装饰的设定文件<a href="#title1-2" target="_blank">CSS</a></li>
            <li>使用Rails作刚开始的网站的方法跟打开的方法</li>
          </ul>
          </strong>
          在这里做简简单单的总结。
          <hr>
          <strong>⑴ html跟CSS</strong>
          <br><br>
          <strong>html是在设定网页显示的文件</strong>，然后这个文件在Ruby on Rails上做网页的时候会用。
          <br>
          设定的方法差不多是下面的样子。
          <br><br>
          <i class="fa fa-file color-red"></i>　<strong>sample.html（用半母字母数字打入）</strong>
          <br>
          <small>※　使用CSS的話，加上第5行</small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
</td>
<td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>html</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>meta </span><span class='word-green'>charset</span>=<span class='word-yellow'>"utf-8"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>link </span><span class='word-green'>rel</span>=<span class='word-yellow'>"stylesheet"</span> <span class='word-green'>href</span>=<span class='word-yellow'>"要使用的CSS文件的名字"</span> <span class='word-green'>type</span>=<span class='word-yellow'>"text/css"</span> /&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;内容&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <strong>CSS是装饰html文件</strong>的文件，用Ruby on Rails的时候这个也需要。
        <br>
        设定的方法差不多是下面的样子。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>style.css（用半母字母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.title</span>{</span>
<span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>white</span>;</span>
<span class='code-line'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>30</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>black</span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
        <hr>
        <strong>⑵ 用Rails作网站的方法</strong>
        <br><br>
        用Ruby on Rails 做网站的话，要用<strong class="little-remarkable"><u>terminal</u></strong>做。
        <hr class="red-hr">
        事先作刚开始的网站，
        <br><br>
        　<strong>terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 网页的名字 -d mysql</span>
</td>
</tr>
</table>
        <br>
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，打入</strong>
        <br><br>
        　<strong>命令提示符</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new 网页的名字</span>
</td>
</tr>
</table>
        <br>
        之后，打入
<br><br>
        　<strong>terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd 网页的名字</span>
</td>
</tr>
</table>
        <br>
        移动到做好的网页，之后<strong><u>Rails上使用的工具・gem的导入</u></strong>。
<br><br>
        　<strong>terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
        <br>
        之后<strong><u>准备资料库</u></strong>。
<br><br>
        　<strong>terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:create</span>
</td>
</tr>
</table>
        <br>
        这样子网站的设定完成了。打开网站的时候要打入
<br><br>
<strong>terminal</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
<br>
        启动显示网页保存资料的服务器。
        <br>
        如果服务器在动的话、可以打开<a href="http://0.0.0.0:3000" target="_blank"><strong class="little-remarkable">0.0.0.0:3000</strong></a>看网站。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，打开<a href="http://localhost:3000" target="_blank">localhost:3000</a>。</strong>
        </p>
        <br>
        <hr class="red-hr">
        <strong><u>要关服务器的话</u>，在terminal上一起点击「Command」跟「c」</strong>
        <br>
        如果服务器一直开着的话、会白费电源。
        <br><br><br>
        <p class="alert alert-success">
        <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，一起点击<u>「ctrl」跟「c」</u>。</strong>
        </p>
        <br>
        <hr>
        <i class="fa fa-star color-blue"></i>　<strong>到这里，解释好了用Ruby on Rails作网站的方法。
        <br>
        　　下章，咱們学习网站上面保存资料的方法。</strong>
</h4>