<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
<h4 id="chapter7-0">
  <i class="fa fa-bookmark color-red"></i>　<strong>作ってみたページをもっとウェブページっぽくしてみる！</strong>
  <hr>
   <a href="/pages/5" target="_blank"><strong>第５章</strong></a>と<a href="/pages/6" target="_blank"><strong>第６章</strong></a>で、Ruby on Railsで作れるページの解説をして、ページを使ったデータ操作をやってみました。
   <br>
   <strong><u>でも今のサイトのままでは不便でダサいんで、それを直してみましょう！</u></strong>
   <br><br>
   この章では、
   <strong>
   <ul class="number_ul">
    <li>ページ移動（<a href="/pages/5#title1-2-2" target="_blank"><strong>「<u>&lt;a href=""&gt;</u>」</strong></a>を使う）</li>
    <li>ページの装飾（<a href="/pages/3#title1-2" target="_blank"><strong><u>CSSファイル</u></strong></a>と<a href="/pages/3#title1-1" target="_blank"><strong><u>HTMLファイル</u></strong></a>を設定）</li>
   </ul>
   </strong>
   をやってみましょう！
</h4>
