<h2 class="textbook-section-title" id="title3"><strong>3 : まとめ</strong></h2>
<h4 id="chapter8-1">
  この章では、<strong><u>ページへのリンクの作り方とBootstrapの導入の方法と使い方</u></strong>について触れた。
  <br>
  Bootstrapは簡単にデザインを作れるCSSファイルなので是非とも使ってみましょう！
  <br><br>
  <ul class="number_ul">
    <strong><li>ページのリンク</li></strong>
    <a href="/mugcups/7#title1-3" target="_blank"><strong>ここ</strong></a>を参考
    <br><br>
    <strong><li>Bootstrap</li></strong>
    <a href="/mugcups/7#title2-3" target="_blank"><strong>ここ</strong></a>を参考
  </ul>
  <br>
  <strong>また、変更した内容は<a href="/codes/7" target="_blank">ここ</a>にまとめてあるので参考にして下さい。</strong>
  <br><br>
  ここまでお疲れさまでした。
  <hr>
  <strong>次の章では、
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page8/Chrome_posts_root.png",
              :target => ["_blank"] %>
  を「<a href="http://0.0.0.0:3000" target="_blank">0.0.0.0:3000</a>」に設定して、<u>トップページを作ってみたいと思います。</u>
  </strong>
</h4>