<h4 id="chapter7-1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : editページへのリンクを設定する</strong></p>
  <br>
  <strong>まずは<strong>「<a href="/mugcups/6#title1-5" target="_blank">編集するデータの記入（edit）</a>」</strong>をするページへの移動をするリンクを設定してみましょう！</strong>
  <br><br>
  ページの移動はどのようにして設定するか覚えているでしょうか？
  <br>
  <small>※　覚えていなかったら、<a href="/mugcups/5#title1-2-2" target="_blank"><strong>ここ</strong></a>を参考にしてみて下さい！</small>
  <br><br>
  「<a href="/mugcups/5#title1-1" target="_blank"><strong>１つのデータの表示（show）</strong></a>」をするページに、「<a href="/mugcups/6#title1-5" target="_blank"><strong>編集するデータの記入（edit）</strong></a>」をするページへのリンクを加えましょう。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <strong>「<a href="/mugcups/5#title1-1" target="_blank">１つのデータの表示（show）</a>」</strong>をするページに設定を加えるので、<strong>「<u>show.html.erb</u>」</strong>に設定を加えていきます。
  <br><br>
  <strong>「<u>myapp</u>」</strong>をSublime Textで開いてみて、中の<strong>「<u>app > views > posts</u>」</strong>の中にある<strong>「<a href="/mugcups/5#title1-1-4-view" target="_blank"><u>show.html.erb</u></a>」</strong>を開きましょう。
  <br>
  <small>※　Sublime Textの開き方は<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>を参考にしてみて下さい</small>
  <br><br>
  開けたら下のように内容を編集しましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（2、6、8行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
<span class="color-red"><strong>8</strong></span>
9
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.place %&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span>&gt;投稿を編集する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span>&gt;投稿を削除する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  設定を加えられたら、「myapp」にまで移動して、
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
  <br>
  ページを表示させるための<a href="/mugcups/3#title2-3" target="_blank"><strong>サーバー</strong></a>を立ち上げましょう！
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
  <small>※　すでに立ち上げてたら、<strong><u>「Command」と「c」</u></strong>を押して一回停止させてから、もう一度「rails s」をしましょう！</small>
  <hr class="red-hr">
  できたら、「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」を開いてみましょう！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
              :target => ["_blank"] %>
  リンクは追加されたでしょうか？
  <br>
  リンクが追加されたら、このリンクを開いてみましょう！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
              :target => ["_blank"] %>
  データの編集をするページに移動できたでしょうか？
  <hr class="red-hr">
  では、内容の説明をしましょう！
  <br><br>
  「<a href="/mugcups/6#title1-5" target="_blank"><strong>編集するデータの記入（edit）</strong></a>」をするページには、
  <br><br>
  <i class="fa fa-chrome color-red"></i>　<strong>ブラウザ</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>0.0.0.0:3000/posts/1/edit</span>
</td>
</tr>
</table>
  <br>
  をブラウザで入力して移動しましたね。（詳しくは<a href="/mugcups/6#title1-5-2-chrome" target="_blank"><strong>こちら</strong></a>）
  <br>
  今回のリンクでもそれを設定しています。
  <hr class="red-hr">
  リンクの文字列は、
<pre>
&lt;a href="飛ぶページ"&gt;表示する文字&lt;/a&gt;
</pre>
  で設定します（詳細は<a href="/mugcups/5#title1-2-2" target="_blank"><strong>こちら</strong></a>）。
  <br><br>
  「0.0.0.0:3000」というページ自体は「/」で表示できるので、「<a href="http://0.0.0.0:3000/posts/1/edit" target="_blank"><strong>0.0.0.0:3000/posts/1/edit</strong></a>」のページへのリンク（クリックしたら移動する文字列）は、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/1/edit"</span>&gt;投稿を編集する&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  で設定します。
  <hr class="red-hr">
  上のままだと全ての「１つのデータの表示」をするページで「idが1」の編集画面に移動してしまうので、<strong><u>この設定を「idが1」のページのみならずページのidにそったものに対応づけます。</u></strong>
  <br><br>
  <i class="fa fa-question-circle color-green"></i>
  <strong>
 「１つのデータの表示（show）」をするページのデータ操作は下のようになっています。
  </strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @post = <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong>
  これを参考にして、それぞれの<u>「@post」のidにそった「編集するデータの記入（edit）」をするページへの移動をするリンク</u>を設定してみましょう！
  <br>
  <small>※　分からなかったら<a href="/mugcups/5#title1-2-3-chrome" target="_blank"><strong>ここらへん</strong></a>を参考にしてみましょう</small>
  </strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="答えを入力して下さい">
  <br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span>&gt;投稿を編集する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
</h4>