<h4 id="chapter7-2-3">
  <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : まとめ</strong></p>
  <br>
  <a href="http://getbootstrap.com/" target="_blank"><strong>Bootstrap</strong></a>の使い方についてまとめる。
  <br><br><br>
  <p class="alert alert-success">
    <strong>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<a href="/mugcups/windows_tips#title1-4" target="_blank">こちら</a>からBootstrapの導入をして下さい。
    </strong>
  </p>
  <br>
  <hr class="red-hr">
  <strong>Bootstrap</strong>を使うには、<strong>「<a href="/mugcups/3#title2-2-1" target="_blank">Gemfile</a>」</strong>に設定を加えてそれを導入する必要がある。導入するには下の設定をして、
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
27
28
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'therubyracer'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'less-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'twitter-bootstrap-rails'</span></span>
</td>
</tr>
</table>
  <br>
  設定が終わったらターミナルで、
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  をしてgemをインストールしてから、
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g bootstrap:install</span>
</td>
</tr>
</table>
  <br>
  をすれば<strong>「<u>Bootstrap</u>」</strong>の導入が完了します。
  <hr class="red-hr">
  ここでは「Bootstrap」で作ってくれる４つの設定を説明した。
  <br><br>
  <div class="list-group">
    <a href="/ja/mugcups/7#title2-2-5-container" class="list-group-item" target="_blank"><strong>container</strong></a>
    <a href="/ja/mugcups/7#title2-2-5-btn" class="list-group-item" target="_blank"><strong>btn</strong></a>
    <a href="/ja/mugcups/7#title2-2-5-form" class="list-group-item" target="_blank"><strong>form-control</strong></a>
    <a href="/ja/mugcups/7#title2-2-5-nav" class="list-group-item" target="_blank"><strong>navigation-bar</strong></a>
  </div>
  <strong>Bootstrapにはこの他にも利用の方法があるので、興味があったらググってみて調べてみましょう！</strong>
</h4>