<h4 id="chapter7-2-2-1">
  <p id="title2-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : container</strong></p>
  <br>
  ここで全体的にきつきつになっているページを、
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_bootstrap_container.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_bootstrap_container.png",
              :target => ["_blank"] %>
  のように直してみます！
  <br>
  このページの表示も、<strong><u>Bootstrap</u></strong>でできるのでやってみます！
  <hr class="red-hr">
  まずは、Sublime Textで<strong>「<u>myapp</u>」</strong>を開いて下さい。
  <br>
  <small>※　Sublime Textの開き方は<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  開けたら、<strong>「<u>app > views > layouts > application.html.erb</u>」</strong>を開いてみて下さい。
  <br><br>
  <p class="fix-link-nav" id="application-html"><i class="fa fa-file color-red"></i>　<strong>application.html.erb</strong></p>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
12
</td>
<td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>html</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>title</span>&gt;Myapp&lt;/<span class='word-red'>title</span>&gt;</span>
<span class='code-line'>  &lt;%= stylesheet_link_tag    <span class="word-yellow">'application'</span>, <span class='word-purple'>media:</span> <span class="word-yellow">'all'</span>, <span class="word-yellow">'data-turbolinks-track'</span> =&gt; <span class='word-purple'>true</span> %&gt;</span>
<span class='code-line'>  &lt;%= javascript_include_tag <span class="word-yellow">'application'</span>, <span class="word-yellow">'data-turbolinks-track'</span> =&gt; <span class='word-purple'>true</span> %&gt;</span>
<span class='code-line'>  &lt;%= csrf_meta_tags %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>&lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  こんな感じのファイルは出てきたでしょうか？
  <br>
  このファイルには、<a href="/mugcups/3#title1-1" target="_blank"><strong><u>最初に習った「&lt;html&gt;」や「&lt;head&gt;」</u></strong></a>などが入っていますね。
  <hr class="red-hr">
  <i class="fa fa-play-circle color-red"></i>　<strong>簡単に内容について説明します。</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
</td>
<td class='code-content'><span class='code-line'>&lt;%= <span class="word-red">yield</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  に今まで作ってきた<strong>「<u>show.html.erb</u>」</strong>や<strong>「<u>index.html.erb</u>」</strong>などのページを表示させる設定ファイルが、埋め込まれて表示されていました。
  <br><br>
  このファイルに内容が埋め込まれていたので、<strong><u>それぞれのファイルで「&lt;html&gt;」や「&lt;head&gt;」を書く必要がなかったんです。</u></strong>
  <br><br>
  <i class="fa fa-play-circle color-red"></i>　各種の<u>CSSファイル</u>などのページの装飾をする設定ファイルは、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
6
7
</td>
<td class='code-content'><span class='code-line'>  &lt;%= stylesheet_link_tag    <span class="word-yellow">'application'</span>, <span class='word-purple'>media:</span> <span class="word-yellow">'all'</span>, <span class="word-yellow">'data-turbolinks-track'</span> =&gt; <span class='word-purple'>true</span> %&gt;</span>
<span class='code-line'>  &lt;%= javascript_include_tag <span class="word-yellow">'application'</span>, <span class="word-yellow">'data-turbolinks-track'</span> =&gt; <span class='word-purple'>true</span> %&gt;</span>
<span class='code-line'>  &lt;%= csrf_meta_tags %&gt;</span>
</td>
</tr>
</table>
  <br>
  で設定されています。
  <br>
  <small>※　「stylesheet_link_tag」でCSSファイルの設定、「javascript_include_tag」はjavascriptという動くページの作るための設定ファイル、「csrf_meta_tags」はセキュリティー対策をしていますが、覚える必要はありません。</small>
  <hr class="red-hr">
  ではこの<strong>「<u>application.html.erb</u>」</strong>を設定して、ゆとりのあるページに変えましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（10〜12行目）</strong>
  <br>
  <small>
  ※　<strong><u>半角英数字で入力</u></strong>。変更が完了したら<strong><u>「Command」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  <br>
  <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、<strong><u>「ctrl」と「s」</u></strong>を一緒に押して内容を保存して下さい。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
<span class="color-red"><strong>10</strong></span>
<span class="color-red"><strong>11</strong></span>
<span class="color-red"><strong>12</strong></span>
13
14
</td>
<td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>html</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>title</span>&gt;Myapp&lt;/<span class='word-red'>title</span>&gt;</span>
<span class='code-line'>  &lt;%= stylesheet_link_tag    <span class="word-yellow">'application'</span>, <span class='word-purple'>media:</span> <span class="word-yellow">'all'</span>, <span class='word-yellow'>'data-turbolinks-track'</span> =&gt; <span class='word-purple'>true</span> %&gt;</span>
<span class='code-line'>  &lt;%= javascript_include_tag <span class='word-yellow'>'application'</span>, <span class='word-yellow'>'data-turbolinks-track'</span> =&gt; <span class='word-purple'>true</span> %&gt;</span>
<span class='code-line'>  &lt;%= csrf_meta_tags %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>body</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>div </span><span class='word-green'>class</span>=<span class='word-yellow'>"container"</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line remarkable-code'>&lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <small>※　一回<strong>「<u>rails s</u>」</strong>で動かしたサーバーを<strong><u>「Command」と「c」</u></strong>を一緒に押して止めてから、もう一度<strong>「<u>rails s</u>」</strong>を入力して下さい。</small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>Windowsをご利用の方は、
  <br>
  　「<u>rails s</u>」で動かしたサーバーを<u>「ctrl」と「c」を一緒に押して</u>止めてから、もう一度「<u>rails s</u>」を入力して下さい。</strong>
  </p>
  <br>
  できたら、「<a href="http://0.0.0.0:3000/posts" target="_blank"><strong>0.0.0.0:3000/posts</strong></a>」を開いてみましょう！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「<a href="http://localhost:3000/posts" target="_blank"><strong>localhost:3000/posts</strong></a>」を開いてみて下さい。
  </small>
  <br><br>
  下のように表示されたでしょうか？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_bootstrap_container.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page7/Chrome_bootstrap_container.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <p id="title2-2-1-css-div" class="fix-link-nav"><i class="fa fa-play-circle color-red"></i>　<strong>内容の説明をします。</strong></p>
  <br>
  今回はhtmlの新しいタグの<strong>「<u>&lt;div&gt;</u>」</strong>というものが出てきましたね。
  <br>
  この<strong>「<u>&lt;div&gt;</u>」</strong>についての説明をしましょう！
  <br>
  例えば下のようなhtmlファイルで、
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;RED&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;GREEN&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>small</span>&gt;BLUE&lt;/<span class='word-red'>small</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong>「&lt;h1&gt;」「&lt;p&gt;」「&lt;small&gt;」</strong>の各文字列に、
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>style.css</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.mysyle</span>{</span>
<span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>white</span>;</span>
<span class='code-line'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>black</span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <br>
  を適用させたいとします。
  <br>
  そうするには、、、
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1 </span><span class='word-green'>class</span>=<span class='word-yellow'>"mystyle"</span>&gt;RED&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p </span><span class='word-green'>class</span>=<span class='word-yellow'>"mystyle"</span>&gt;GREEN&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>small </span><span class='word-green'>class</span>=<span class='word-yellow'>"mystyle"</span>&gt;BLUE&lt;/<span class='word-red'>small</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  のように各文字列の設定に<strong>「<a href="/mugcups/3#title1-2-css-class" target="_blank">class</a>」</strong>を加えることもできます。
  <br>
  ただこのように書くのは<strong><u>「class="mystyle"」が３回も入っていて</u></strong>、重複が多いですよね。
  <hr class="red-hr">
  このように重複したCSSをまとめて書くのが「<strong><u>&lt;div&gt;</u></strong>」です。
  <br>
  「<strong><u>&lt;div&gt;</u></strong>」を使えば、上の設定を下のように書くことができます。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>sample.html</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div </span><span class='word-green'>class</span>=<span class='word-yellow'>"mystyle"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>h1</span>&gt;RED&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;GREEN&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>small</span>&gt;BLUE&lt;/<span class='word-red'>small</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <strong><u>この「&lt;div&gt;」と「&lt;/div&gt;」で囲われた部分に、「&lt;div&gt;」で設定した「<a href="/mugcups/3#title1-2-css-class" target="_blank">class</a>」が適用されます。</u></strong>
  <hr class="red-hr">
  なので今回のファイルで設定した、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>10
11
12
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div </span><span class='word-green'>class</span>=<span class='word-yellow'>"container"</span>&gt;</span>
<span class='code-line'>  &lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  で<strong>「yield」で埋め込まれた「show.html.erb」などのファイルに、「class="container"」の設定を適用させています。</strong>
  <br><br>
  <u>この<strong>「class="container"」</strong>の設定は<strong>Bootstrapの設定</strong>で、ページに余白をいれています。</u>
  <br><br>
  <i class="fa fa-star color-blue"></i>　<strong>Bootstrapを導入したら「<u>application.html.erb</u>」に下の設定を加える。</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
<span class="color-red"><strong>10</strong></span>
<span class="color-red"><strong>11</strong></span>
<span class="color-red"><strong>12</strong></span>
13
14
</td>
<td class='code-content'><span class='code-line'>&lt;!DOCTYPE html&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>html</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>title</span>&gt;Myapp&lt;/<span class='word-red'>title</span>&gt;</span>
<span class='code-line'>  &lt;%= stylesheet_link_tag    <span class="word-yellow">'application'</span>, <span class='word-purple'>media:</span> <span class="word-yellow">'all'</span>, <span class='word-yellow'>'data-turbolinks-track'</span> =&gt; <span class="word-purple">true</span> %&gt;</span>
<span class='code-line'>  &lt;%= javascript_include_tag <span class="word-yellow">'application'</span>, <span class='word-yellow'>'data-turbolinks-track'</span> =&gt; <span class="word-purple">true</span> %&gt;</span>
<span class='code-line'>  &lt;%= csrf_meta_tags %&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>head</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>body</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>div </span><span class='word-green'>class</span>=<span class='word-yellow'>"container"</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;%= <span class="word-red">yield</span> %&gt;</span>
<span class='code-line remarkable-code'>&lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>body</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>html</span>&gt;</span>
</td>
</tr>
</table>
</h4>