<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
<h4 id="coffee-chapter4-0">
  <strong>
  <i class="fa fa-bookmark color-red"></i>　<a href="/coffee_cups/6" target="_blank">前章</a>までで、チャットルームの作成をした。
  <br><br>
  ユーザー情報に画像を加え、画像を表示させる。
  </strong>
</h4>