<h2 class="textbook-section-title" id="title1"><strong>1 : Paperclipを導入する</strong></h2>
<h4 id="coffee-chapter4-1">
  <strong>まずは「<u>Paperclip</u>」を導入してみましょう！</strong>
  <hr class="red-hr">
  <strong>「<u>Paperclip</u>」</strong>を導入する前に、
  <br>
  これを使うための<strong>「<u>imageMagick</u>」</strong>というツールをインストールします。
  <br><br>
  ターミナルで下の入力をして下さい。
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>brew install imagemagick</span>
</td>
</tr>
</table>
  <br>
  これで<strong>「<u>imageMagick</u>」</strong>を導入することができました！
  <hr class="red-hr">
  では、<strong>「<u>Paperclip</u>」</strong>をインストールしましょう！
  <br><br>
  <strong>「<u>Sublime Text</u>」</strong>を開いて、<strong>「<u>Gemfile</u>」</strong>に下の内容を加えて下さい。
  <br>
  <small>※　Sublime Textの開き方は<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>32
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'paperclip'</span></span>
</td>
</tr>
</table>
  <br>
  大体、32行目らへんに追加します。
  <hr class="red-hr">
  これが終わったら設定を導入します。ターミナルで下の入力をして下さい
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>
  これで「<u>Paperclip</u>」の導入ができました！
  <br><br>
  この「<u>Paperclip</u>」を使って、画像のアップロードをしてみましょう！
  </strong>
</h4>