<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
<h4 id="coffee-chapter4-0">
  <strong>
  <i class="fa fa-bookmark color-red"></i>　<a href="/coffee_cups/6" target="_blank">前章</a>までで、チャットルームの作成をした。
  <br><br>
  この章では、ユーザー情報に画像を加え画像を表示させる。
  <br><br><br>
  <p class="alert alert-danger">
    <i class="fa fa-windows color-red"></i>　Windowsをご利用の方は、機種の関係でこの章の内容を学ぶことはできません。
    <br><br>
    <i class="fa fa-arrow-right"></i>　ご了承の上、<a href="/coffee_cups/8" target="_blank">次の章</a>に進んで下さい。
  </p>
  <br>
  </strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>具体的な流れを説明しましょう！</strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　まずは変更するユーザー情報を記入するページ、<strong>「<u>users</u>」データベースの「<u>edit</u>」ページ</strong>に
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
              :target => ["_blank"] %>
  のような
  <input type="file" style="margin:20px 0" class="form-control my-form">
  ファイルを選択する入力欄を設定します。
  <br><br>
  ファイルを選択して <a class="btn btn-primary">登録する</a> をクリックすると、
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_upload_image.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_upload_image.png",
              :target => ["_blank"] %>
  のようにアップロードした画像が表示されます。
  <br><br>
  アップロードした画像は、
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
              :target => ["_blank"] %>
  のように別のページでも表示させます。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>
  具体的には、「<u>paperclip</u>」という「<a href="/mugcups/3#title2-2-1" target="_blank">gem</a>」を使って、画像のアップロードをします。
  <br><br>
  ではやってみましょう！
  </strong>
  <hr class="red-hr">
  <strong>
    <i class="fa fa-arrow-right"></i>　画像は、<u>河出書房新社様の『トーニオ・クレーガー』（トーマス・マン著・平野卿子訳）の表紙</u>からいただきました。河出書房新社様、ありがとうございました。
  </strong>
</h4>