<h4 id="coffee-chapter4-2-2-1">
  <p id="title2-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : データベースの変更</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>まずは、データベースに画像の枠組みを加えます。</strong>
  <br><br>
  画像のデータベースの枠組みを追加するには、ターミナルで
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g paperclip user image</span>
</td>
</tr>
</table>
  <br>
  を入力します。
  <br>
  これで<strong>「<u>users</u>」データベースに「<u>image</u>」の枠組みを追加する設定ファイル「<u>日時_add_attachment_image_to_users.rb</u>」</strong>を作成しました。
  <br>
  <small>※　「image」の枠組みは、「photo」のように好きな名前にもできます。</small>
  <hr class="red-hr">
  作成された設定ファイルの内容を確認します。
  <br>
  <strong>「<u>db > migrate > 日時_add_attachment_image_to_users.rb</u>」</strong>を開いて、内容を確認しましょう！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>日時_add_attachment_image_to_users.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>AddAttachmentImageToUsers <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>self.up</span></span>
<span class='code-line'>    change_table <span class='word-purple'>:users</span><span class='word-red'> do</span> |t|</span>
<span class='code-line'>      t.attachment <span class='word-purple'>:image</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>self.down</span></span>
<span class='code-line'>    remove_attachment <span class='word-purple'>:users</span>, <span class='word-purple'>:image</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  この設定ファイルを適用させるためにターミナルで、
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
  <br>
  を入力しましょう！
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　動かない場合は、<strong>「bundle exec」</strong>を前につけ、<strong>「bundle exec rake ...」</strong>で入力して下さい。
  </small>
  <br><br>
  これでデータベースの設定を適用できました！
  <br>
  <strong><u>Sequel Pro</u></strong>でデータベースができているかを確認しましょう！
  <br>
  <small>※　Sequel Proの開き方は<a href="/mugcups/how_to_open#title1" target="_blank"><strong>こちら</strong></a>を参考</small>
  <br><br>
  <strong>「created_at」「updated_at」</strong>の後ろに、
  <br>
  <strong>「<u>image</u>」の枠組み</strong>が追加されているのを確認できたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Sequel_Pro_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Sequel_Pro_images.png",
              :target => ["_blank"] %>
</h4>