<h2 class="textbook-section-title" id="title1"><strong>1 : オススメの勉強場所</strong></h2>
<h4 id="coffee-chapter5-1">
  <strong>
  「Ruby on Rails」を習える場所はたくさんあります。その中で個人的にオススメできるものを紹介します。
  </strong>
</h4>
<hr class="red-hr">
<ul class="number_ul">
  <h3 id="title1-1"><strong><li><u>Tech::Camp</u></li></strong>
  <small>
  <i class="fa fa-arrow-circle-right"></i>　サイトリンク：<strong>「<a href="tech-camp.in" target="_blank">Tech::Camp</a>」</strong>
  </small>
  </h3>
  <h4>
  「Ruby on Rails」を教えるプログラミング塾になります。高度な内容も教えていて、<strong><u>より現場レベルに近い技術を学べます。</u></strong>
  </h4>
  <hr class="red-hr">
  <h3 id="title1-2"><strong><li><u>Dive into code</u></li></strong>
  <small>
  <i class="fa fa-arrow-circle-right"></i>　サイトリンク：<strong>「<a href="diveintocode.jp" target="_blank">Dive into code</a>」</strong>
  </small>
  </h3>
  <h4>
  こちらも「Ruby on Rails」を教えるプログラミング塾になります。こちらは現場のエンジニアになるためのカリキュラムを教えていて、<strong><u>カリキュラム終了後には現場での経験も積むことができます。</u></strong>
  </h4>
  <hr class="red-hr">
  <h3 id="title1-3"><strong><li><u>Ruby on Rails チュートリアル</u></li></strong>
  <small>
  <i class="fa fa-arrow-circle-right"></i>　サイトリンク：<strong>「<a href="http://railstutorial.jp/" target="_blank">Ruby on Rails チュートリアル：実例を使って Rails を学ぼう</a>」</strong>
  </small>
  </h3>
  <h4>
  少し内容は難しいですが、<strong>「<u>実際の公開</u>」</strong>から「自作ログイン機能」までを教えてくれます。<strong><u>無料です！</u></strong>
  </h4>
  <hr class="red-hr">
  <h3 id="title1-4"><strong><li><u>Progate</u></li></strong>
  <small><i class="fa fa-arrow-circle-right"></i>　サイトリンク：<strong>「<a href="https://prog-8.com/" target="_blank">Progate</a>」</strong></small>
  </h3>
  <h4>
  「Ruby on Rails」を実際に触りながら学べます。
  </h4>
  <hr class="red-hr">
  <h3 id="title1-5"><strong><li><u>ドットインストール</u></li></strong>
  <small>
  <i class="fa fa-arrow-circle-right"></i>　サイトリンク：<strong>「<a href="http://dotinstall.com/lessons/basic_rails_v2" target="_blank">ドットインストール　Ruby on Rails4入門</a>」</strong>
  </small>
  </h3>
  <h4>
  「Ruby on Rails」を1つ1つの知識から理解できます。
  </h4>
  <hr class="red-hr">
  <h3 id="title1-6"><strong><li><u>パーフェクト Ruby on Rails</u></li></strong>
  <small>
  <i class="fa fa-arrow-circle-right"></i>　Amazonのリンク：<strong>「<a href="http://www.amazon.co.jp/%E3%83%91%E3%83%BC%E3%83%95%E3%82%A7%E3%82%AF%E3%83%88-Ruby-Rails-%E3%81%99%E3%81%8C%E3%82%8F%E3%82%89-%E3%81%BE%E3%81%95%E3%81%AE%E3%82%8A/dp/4774165166" target="_blank">パーフェクト-Ruby-Rails-すがわら-まさのり</a>」</strong>
  </small>
  </h3>
  <h4>
  もっと専門的な「Ruby on Rails」の知識を学べる書籍になります。
  </h4>
</ul>