<h4 id="chapter1-2-1">
  <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 資料的顯示</strong></p>
  <br>
  網站在顯示資料。在這裡，看看網站是怎麼樣顯示畫面吧！
  <br><br>
  首先打開看Facebook吧！<strong><u>Facebook的主頁，大概是這樣吧。</u></strong>
  <br>
  <%= link_to (image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB1.png",
                         :width => "90%",
                         :class => "textbook-title-img hover_img"),
               "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB1.png",
               :target=>["_blank"] %>
  <br>
  那麼，我們看看什麼東西在顯示這網站！
  <hr>
  如果你在使用 Chrome 瀏覽器 的話，
  <br>
  選擇在上面的<strong class="little-remarkable color-blue">「View > Developer > ViewSource」</strong>(參考下面的圖像)。
  <%= link_to (image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/Chrome_View_Developer_ViewSource.png",
                         :width => "90%",
                         :class => "textbook-title-img hover_img"),
               "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/Chrome_View_Developer_ViewSource.png",
               :target=>["_blank"] %>
  <br>
  會顯示像下面的網頁。
          <%= link_to (image_tag "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB_Code.png",
                                 :width => "90%",
                                 :class => "textbook-title-img hover_img"),
                      "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page1/FB_Code.png",
                      :target=>["_blank"] %>
  這個長長的文章在決定網站裡顯示的文章，圖畫，動畫 等等。
  <br>
  <small>※ 如果一個一個找的話，您可以找到您的名字。</small>
          <br><br>
          在顯示文章，圖畫，動畫的東西叫<strong class="little-remarkable"><u>HTML文件</strong></u>。
          <hr>
          </h4>