<h2 class="textbook-section-title" id="title2"><strong>2 : Facebook的裡面</strong></h2>
  <h4 id="chapter1-2">
  <i class="fa fa-star color-blue"></i>　先用Facebook解釋<strong class="little-remarkable"><u>資料的顯示跟保存</u></strong>吧
  <hr>
  </h4>
  <%= render "page1/zh-TW/title2_1" %>
  <%= render "page1/zh-TW/title2_2" %>