          <h2 class="textbook-section-title" id="title3"><strong>3 : 總結</strong></h2>
          <h4 id="chapter1-3">
          <i class="fa fa-star color-blue"></i>　<strong>網路上做的事情只有<u>資料的顯示跟保存</u></strong>
          <br><br>
          <i class="fa fa-star color-blue"></i>　<strong><u>顯示提供者的資料跟保存利用者的資料</u>這個兩個資料的往還，在做提供者跟利用者的交流。</strong>
          </h4>
          <hr>
          <h4 class="little-remarkable">
          <strong>
            在下章，解釋作網站的軟件「Ruby on Rails」。
          </strong>
          </h4>