<h2 class="textbook-section-title" id="title3"><strong>3 : 总结</strong></h2>
        <h4 id="chapter4-3">
          网站在，<strong><u>保存利用者发信的资料到资料库里，之后显示这些保存的资料。</u></strong>
          <br><br>
          所以要做网站的话，<strong class="little-remarkable"><u>先作资料库之后，在保存资料。</u></strong>
          <hr class="red-hr">
          框子的详细的设定<a href="/zh-CN/mugcups/4#title1-4" target="_blank"><strong>请参考这里</strong></a>、
          <br>
          內容的操作<a href="/zh-CN/mugcups/4#title2-4" target="_blank"><strong>请参考这里</strong></a>。
          <hr>
          <i class="fa fa-star color-blue"></i>
          <strong>
          　到这里，关于资料的保存的內容大概做完了。
          <br>
          　　 下章，咱們显示网页把！
          <br><br>
          　　设定的內容<a href="/zh-CN/codes/4" target="_blank">可以从这里看</a>。
          </strong>
        </h4>