<h4 id="chapter4-2-4">
        <p id="title2-4"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : 总结</strong></p>
        <br>
        <u>保存资料等等的操作，要用「rails c」的命令做。</u>
        <br>
        <small>※　在这里学习的命令下章会用、记得一下。</small>
        <hr class="red-hr">
        操作资料的方法有，<strong>「<u>资料的新增・编辑・删除</u>」</strong>这个三种。
        <br><br>
        <ul class="number_ul">
          <strong><li>资料的新增</li></strong>
          <br>
<pre>
资料库的名字.create(:框子 => "内容", :框子 => "内容", ...)
</pre>
<small>※　资料库的名字要用第一字是大写的单数</small>
<hr class="red-hr">
<small>例子：新增「name」是「山田太郎」，「content」是「你好」的资料</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.create(:name =&gt; "山田太郎", :content =&gt; "你好")</span>
</td>
</tr>
</table>
        <br>
        <strong><li>资料的选择</li></strong>
        <br>
<pre>
资料库的名字.find(要编辑的资料的id号码)
</pre>
<small>※　资料库的名字要用第一字是大写的单数</small>
<hr class="red-hr">
<small>例子：选择「id」是「2018」的资料</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.find(2018)</span>
</td>
</tr>
</table>
        <br>
        <strong><li>资料的编辑</li></strong>
        <br>
<pre>
资料库的名字.find(要编辑的资料的id).update(:框子 => "内容", :框子 => "内容", ...)
</pre>
<small>※　资料库的名字要用第一字是大写的单数</small>
<hr class="red-hr">
<small>例子：编辑「id」是「29」的资料，「content」改成「晚安」・「place」改成「上海」。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.find(29).(:content =&gt; "晚安", :place =&gt; "上海")</span>
</td>
</tr>
</table>
        <br>
        <strong><li>资料的编辑</li></strong>
        <br>
<pre>
资料库的名字.find(要编辑的资料的id号码).destroy
</pre>
<small>※　资料库的名字要用第一字是大写的单数</small>
<hr class="red-hr">
<small>例：删除「id」是「1900」的资料</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.find(1900).destroy</span>
</td>
</tr>
</table>
        <br>
        <strong><li>选择全部的资料</li></strong>
        <br>
<pre>
资料库的名字.all
</pre>
<small>※　资料库的名字要用第一字是大写的单数</small>
<hr class="red-hr">
<small>例：选择全部的资料</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.all</span>
</td>
</tr>
</table>
        </ul>
        <hr>
        <i class="fa fa-star color-blue"></i><strong>
        　网站上，也用这些资料的操作保存资料。
        <br>
        <u>在下一章，在网页上设定这些资料的保存。</u>
        </strong>
</h4>