<h4 id="chapter4-2-2">
        <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 编辑资料</strong></p>
        <br>
        到这里解释新增资料的方法。但是资料的新增以外还有两个资料保存的方法。那个是<strong class="little-remarkable"><u>资料的编辑跟删除</u></strong>。
        <br><br>
        在这里做做看资料的编辑吧。<strong><u>用新增的资料，编辑资料的內容吧。</u></strong>
        <br><br>
        作资料的编辑跟删除的话，首先要<strong><u>选择更改的资料</u></strong>。
        <br>
        <strong class="little-remarkable">资料的编辑之前，说明这个资料的选择。</strong>
        <hr class="red-hr">
        资料的选择有两种。
        <br>
        <strong>
          <ul class="number_ul">
            <li>用id选择资料的方法（<u>find</u>）</li>
            <li>用框子的內容搜索资料的方法（<u>where</u>）</li>
          </ul>
        </strong>
        这个两种。
        <br><br>
        <i class="fa fa-play-circle color-red"></i>　先做做看<strong><u>第一种方法・用id选择资料的方法</u></strong>。
        <br><br>
        事先打入<strong>「<i>rails c</i>」</strong>之后，打入下面的命令。
        <br><br>
        <strong>　terminal（用半母字母数字打入）</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，用「命令提示符」。
        </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.find(1)</span>
</td>
</tr>
</table>
        <br>
        显示像下面的图像一样的资料了吗？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_find_1.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_find_1.png",
                    :target => ["_blank"] %>
        这一次的打入「<strong>Post.find(1)</strong>」是，「<u>從posts选择id是1的资料</u>」的命令。
        <br><br>
        用id选择资料的方法是、要打入
<pre>
资料库的名字.find(數字)
</pre>
        （资料的名字要用第一字是大写的单数。）
        <hr class="red-hr">
        <i class="fa fa-play-circle color-red"></i>　接着看看<strong><u>第二个方法・用id以外的框子搜索选择资料的方法</u></strong>。
        <br><br>
        用<strong>「<u>rails c</u>」</strong>打入下面的內容。
        <br><br>
        <strong>　terminal（汉字以外用半母字母数字打入）</strong>
        <br>
        <small>
        　<i class="fa fa-windows color-blue"></i>　Windows的「命令提示符」的话会出现乱码，所以<strong><u>全部都用半母字母数字打入</u></strong>。
        </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.where(:name =&gt; "山田太郎")</span>
</td>
</tr>
</table>
        <br>
        显示像下面的图像一样的画面了吗？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_where_name.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_where_name.png",
                    :target => ["_blank"] %>
        这一次的命令「<strong><u>Post.where(:name => "山田太郎")</u></strong>」是，「选择name的框子是山田太郎的资料」的命令。
        <br><br>
        用id以外搜索的话，要打入
<pre>
资料库的名字.where(:框子 => "内容", ...)
</pre>
        （资料库的名字要用第一字是大写的单数）
        <br><br>
        所以搜索「<u>名字是湘南花子・地方是藤沢</u>」的资料的话，要打入
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.where(:name =&gt; "湘南花子", :place =&gt; "藤沢")</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        到这里选择资料了，下次做做看內容的编辑吧！
        <br><br>
        內容的编辑要打入
<pre>
用find选择的资料.update(:框子 => "内容", ...)
</pre>
        <small>※　用where的编辑等一下会再说明。</small>
        <br><br>
        打入下面的內容吧！
        <br><br>
        <strong>　terminal（汉字以外用半母字母数字打入）</strong>
        <br>
        <small>
        　<i class="fa fa-windows color-blue"></i>　Windows的「命令提示符」的话会出现乱码，所以<strong><u>全部都用半母字母数字打入</u></strong>。
        </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.find(1).update(:content =&gt; "晚安")</span>
</td>
</tr>
</table>
        <br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_find_1_update.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_find_1_update.png",
                    :target => ["_blank"] %>
        打入完了之后用Sequel Pro打开资料库，看看资料库的內容有沒有变化。
        <br><br>
        <small>※　用Sequel Pro打开资料库的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。</small>
        <br><br><br>
        <p class="alert alert-success">
          <strong>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，要用SqliteBrowser。
          <br>
          <i class="fa fa-arrow-right"></i>　<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank">参考这里</a>打开「<u>db > development.sqlite3</u>」，确认「posts」资料库的內容。
          </strong>
        </p>
        <br>
        <i class="fa fa-arrow-right"></i>　如果Sequel Pro的內容沒变的话，<u>必须要更新Sequel Pro的內容。</u>內容的更新，请参考下面的图像。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_Update.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Sequel_Pro_Update.png",
                    :target => ["_blank"] %>
        content的部分有沒有更新成「晚安」吗？
        <br><br>
        那么改改看的资料吧！
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>再更新刚才的资料的「content」。現在的里面的內容「晚安」，改成「你好」吧。（上面放鼠标可以看答案）</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="打入答案吧">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>Post.find(1).update(:content =&gt; "你好")</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>用刚才的资料，「name」的框子改成「楊先生」吧！（上面放鼠标可以看答案）</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="打入答案吧">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>Post.find(1).update(:name =&gt; "楊先生")</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>用刚才的资料，「place」的框子改成「高雄」，「content」的框子改成「吃饭」吧！（上面放鼠标可以看答案）</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="打入答案吧">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>Post.find(1).update(:place =&gt; "高雄", :content =&gt; "吃飯")</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        最后，用<strong><u>Sequel Pro</u></strong>确认內容有沒有改变！
        <br>
        <small>※　使用Sequel Pro的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a></small>
        <br><br><br>
        <p class="alert alert-success">
          <strong>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank">参考这里</a>打开「<u>db > development.sqlite3</u>」之后，确认「posts」资料库的內容。
          </strong>
        </p>
        <br>
        <strong><u>不要忘记Sequel Pro资料库的更新</u></strong>
        <br><br>
        <i class="fa fa-star color-blue"></i>　<strong>资料的更新要打入「<u>资料库的名字.find(id的号码).update(:框子 => "内容")</u>」</strong>
        <br>
        <small>※　资料库的名字要用第一字是大写的单数。</small>
</h4>