<h2 class="textbook-section-title" id="title1"><strong>1 : 作資料庫的構造</strong></h2>
<h4 id="chapter4-1"></h4>
          <%= render "page4/zh-TW/title1_1" %>
          <hr>
          <%= render "page4/zh-TW/title1_2" %>
          <hr>
          <%= render "page4/zh-TW/title1_3" %>
          <hr>
          <%= render "page4/zh-TW/title1_4" %>