<h4 id="chapter4-1-1">
          <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 決定资料库的构造</strong></p>
          <br>
          <strong>利用者发信的资料会<u>保存</u>在资料库（像Excel的表）里，这个资料会<u>显示</u>在网页。</strong>
          <br><br>
          在这里解释，用Rails作的网站上<strong><u>作资料库的构造的方法</u></strong>。
          <hr class="red-hr">
          保存资料之前，必须要先作资料库。在这边作作看简单的资料库。
          <br><br>
          <strong>下面是Facebook的投稿的资料库的例子</strong>
          <br><br>
          <i class="fa fa-facebook color-blue"></i>　<strong>Facebook的投稿的资料库的例子</strong>
          <br><br>
          <strong>投稿的资料</strong>
          <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>投稿号码</th>
                <th>投稿者</th>
                <th>投稿内容</th>
                <th>投稿时间</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>１</td>
                <td>山田太郎</td>
                <td>你好</td>
                <td>2016/03/02 16:26</td>
              </tr>
            </tbody>
          </table>
          <br>
          参考Facebook的资料表，在下面的框子里作作看资料库的构造跟內容。
          <br>
          <strong>內容可以是「商品」「推特」「饭」什么都可以。</strong>
          <br>
          <small>※　如果沒有想做的资料库的话，不用打入也沒关系。</small>
          <hr class="red-hr">
          <i class="fa fa-user color-red"></i>　<strong>打入看看！</strong>
          <br><br>
          <strong><input type="input" class="form-control table-title" placeholder="资料库的名字"></strong>
          <table class="table table-striped">
            <thead>
              <tr class="active">
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="input" class="form-control table-form" placeholder="内容"></td>
                <td><input type="input" class="form-control table-form" placeholder="内容"></td>
                <td><input type="input" class="form-control table-form" placeholder="内容"></td>
                <td><input type="input" class="form-control table-form" placeholder="内容"></td>
              </tr>
            </tbody>
          </table>
          <u>我們用「资料库的构造」这个有一点难的单词</u>，但是咱們要做的事情都差不多是这个设定。
          <br>
          <strong><u>这一次咱們要做的资料库的设定是，</u></strong>
          <br><br>
          <strong><input type="input" class="form-control table-title" placeholder="资料库的名字"></strong>
          <table class="table table-striped">
            <thead>
              <tr class="active">
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
                <th><input type="input" class="form-control table-form" placeholder="框"></th>
              </tr>
            </thead>
          </table>
          在网站的资料库里设定「资料库的名字」跟「框子」。
          <br>
          <small>※　资料的操作是做「內容的新增，编辑，删除」。</small>
          <br><br>
          <strong>
          <u>简单的解释到这边，咱們作作看这个资料库吧！</u>
          <br>
          在这里，咱們作<a href="https://gentle-cove-48435.herokuapp.com/users/sign_in" target="_blank">这个网站</a>的资料库吧。
          </strong>
</h4>