<h4 id="chapter4-2-3">
        <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 删除资料</strong></p>
        <br>
        资料的编辑好了，<strong><u>接着做资料的删除吧！</u></strong>
        <br>
        首先打入<strong>「<i>rails c</i>」</strong>吧。
        <hr class="red-hr">
        <i class="fa fa-question-circle color-green"></i>　<strong>先复习上一個內容吧。作作看<u>『你在硅谷投稿的「我生病了」的投稿』</u>吧！<br>（上面放鼠标可以看答案）</strong>
        <br>
        <small><i class="fa fa-windows"></i>　汉字会乱骂、所以使用Windows的话，<strong><u>请使用半母字母数字打入自己喜欢的內容。</u></strong></small>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="打入答案吧">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line answer-code small-code'>Post.create(:name =&gt; "你個名字", :content =&gt; "我生病了", :place =&gt; "硅谷")</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <strong class="little-remarkable"><u>那么删除这个「我生病了」的资料吧！</u></strong>
        <br><br>
        资料的删除也跟编辑一样，用<strong>「<u>find</u>」选择资料后删除资料。</strong>
        <br>
        那么，先查查看这个资料的号码吧。
        <br>
        打入下面的命令。
        <br><br>
        <strong>　terminal（用半母字母数字打入）</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请用「命令提示符」。
        </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.all</span>
</td>
</tr>
</table>
        <br>
        有沒有显示下面图像一样的画面了吗？
        <br>
        <strong>里面有沒有「<u>我生病了</u>」的资料吗？</strong>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_all.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_all.png",
                    :target => ["_blank"] %>
        这个打入在做<strong>「<u>显示posts资料库里全部的资料</u>」</strong>。
        <br><br>
        用
<pre>
资料库的名字.all
</pre>
        显示资料库里保存的全部的资料。
        <br>
        <small>※　资料库的名字要用第一字是大写的单数</small>
        <br><br>
        不用这个命令，使用<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>Sequel Pro</strong></a>也可以确认资料库的內容。
        <br>
        <small><i class="fa fa-windows color-blue"></i>　使用Windows的话，请用<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank"><strong>SqliteBrowser</strong></a>。</small>
        <hr class="red-hr">
        <strong><u>确认好资料了的话，开始删除吧！</u></strong>
        <br>
        跟资料的编辑一样，资料库的删除也從资料的选择开始。
        <br><br>
        <i class="fa fa-question-circle color-green"></i><strong>　咱們做复习吧。选择新增的「我生病了」的资料吧。</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="打入答案吧">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>Post.find(3)</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        资料的删除要打入
<pre>
选择的资料.destroy
</pre>
        做。
        <br>
        那么做做看吧。
        <br><br>
        <strong>　terminal（用半母字母数字打入）</strong>
        <br>
        <small>
        　※　数字的地方指定，自己想删除的资料号码。
        <br>
        　<i class="fa fa-windows color-blue"></i>　使用Windows的话，请用「命令提示符」。
        </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.find(3).destroy</span>
</td>
</tr>
</table>
        <br>有显示下面图像一样的画面了吗？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_find_3_destroy.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page4/Rails_c_post_find_3_destroy.png",
                    :target => ["_blank"] %>
        做好了之后，用<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>Sequel Pro</strong></a>确认內容吧。
        <br>
        <small><i class="fa fa-windows color-blue"></i>　用Windows的话，请使用<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank"><strong>SqliteBrowser</strong></a>。</small>
        <br><br>
        新增的资料有沒有删除了吗？
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>那么「删除id是5的资料」的话要怎么打入呢？</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="打入答案">
        <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line small-code'>Post.find(5).destroy</span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <i class="fa fa-exclamation color-red"></i>　<u>完成之后，请打入<strong>「<i>exit</i>」</strong>。这样可以关<strong>「<i>rails c</i>」</strong>。</u>
        <br><br>
        <i class="fa fa-star color-blue"></i>　<strong>资料的删除用「<u>资料库的名字.find(id的号码).destroy</u>」做 </strong>
        <br>
        <small>※　资料库的名字要用第一字是大写的单数。</small>
</h4>