<h4 id="chapter4-1-3-1">
        <p id="title1-3-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 追加框子</strong></p>
        <br>
        作资料库的时候，刚开始就作好不用修改的资料库不容易。
        <br>
        作资料库的时候，常常会<strong><u>后来在追加框子</u></strong>。在这里解释这个框子的追加。
        <br><br>
        刚开始，<strong>用terminal移动到「<u>myapp</u>」</strong>。
        <br><br><br>
        <p class="alert alert-success">
        <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移动的方法<a href="/zh-CN/mugcups/windows_tips#title1-2" target="_blank">请参考这里</a></strong></span>
        </p>
        <br>
        　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
        <br>
        移动完了之后，打入下面的命令。
        <br><br>
        <strong>　terminal（用半母字母数字打入）</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」。
        </small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g migration addColumnToPost</span>
</td>
</tr>
</table>
        <br>
        显示像下面的图像一样的画面了吗？
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rails_g_migration_add_column_to_post.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rails_g_migration_add_column_to_post.png",
                    :target => ["_blank"] %>
        这是，<strong>作编辑构造的设定文件「add_column_to_post」</strong>的命令。
        <br><br>
        所以打入
<pre>
rails g migration 设定文件名
</pre>
        <strong><u>可以作指定的名字的编辑构造的设定文件</u></strong>。
        <br>
        设定文件的名字是什么样都可以，<u>但是到了一会儿去看的时候可以知道意思的名字比較好。</u>
        <hr class="red-hr">
        那么看看这个设定文件吧！
        <br>
        <strong>首先用「Sublime Text」打开「myapp」！</strong>
        <br>
        <small>
        ※　打开文件，文件夾的方法<a href="/zh-CN/mugcups/how_to_open" target="_blank"><strong>请参考这里</strong></a>。
        <br>
        <i class="fa fa-windows"></i>　用Windows打开文件，文件夾的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a>。
        </small>
        <br><br>
        打开之后，按照下面的图像打开文件。
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sublime_Text_Open_migration_add_column_to_post.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Sublime_Text_Open_migration_add_column_to_post.png",
                    :target => ["_blank"] %>
        <i class="fa fa-file color-red"></i><strong>　2016..._add_column_to_post.rb</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>AddColumnToPost <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        显示这样子的文件了吗？
        <br>
        这个文件里面的<strong>「<u><i>def change</i></u>」跟下一个「<u><i>end</i></u>」之间</strong>追加编辑框子的设定。
        <br><br>
        框子的编辑有、<strong class="little-remarkable">框子的追加，更改，删除</strong>。
        <br>
        首先在这里做做看<u>框子的追加</u>。
        <hr class="red-hr">
        用<strong>「rails g migration 设定文件的名字」</strong>做的文件的框子的编辑、必须要有三个设定。
        <br>
        <ul class="number_ul">
          <strong><li>要编辑那一个资料库</li></strong>
          指定要编辑哪一个资料库。<strong><u>这一次是「posts」。</u></strong>
          <strong><li>编辑的框子</li></strong>
          要追加的话、设定追加的框子。更改，删除的话，指定已经有的框子。
          <strong><li>编辑的框子上放的资料的种类</li></strong>
          这个是跟作框子的时候一样，有<strong><u>数字，短的文章，長的文章，时间</u></strong>等等。
        </ul>
        <br>
        追加框子的话，
<pre>
add_column :资料库的名字, :框子的名字, :资料的种类
</pre>
        这样子设定。
        <br><br>
        用已经作好的<strong><u>「posts」的资料库上追加「place」</u></strong>的例子看看！
        <br><br>
        <strong>posts</strong>
          <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>id</th>
                <th>name</th>
                <th>content</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th style="background-color: #f2dede;">place</th>
              </tr>
            </thead>
            <tbody>
              <tr style="font-size:12px">
                <td>１</td>
                <td>山田太郎</td>
                <td>晚安！</td>
                <td>2016/03/02 16:26</td>
                <td>2016/03/02 16:26</td>
                <td style="background-color: #f2dede;">台北</td>
              </tr>
            </tbody>
          </table>
          <hr class="red-hr">
          <i class="fa fa-file color-red"></i>　<strong>2016..._add_column_to_post.rb（用半母字母数字打入。追加第3行）</strong>
          <br>
          <small>
          ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>保存內容。
          <br>
          ※　空格不用怎么多也沒问题。
          <br>
          <i class="fa fa-windows"></i>　使用Windows的话，一起点击<strong><u>「ctrl」跟「s」</u></strong>保存內容。
          </small>
          <br><br>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>AddColumnToPost <span class="word-green">< ActiveRecord::Migration</span></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>change</span></span>
<span class='code-line remarkable-code'>    add_column <span class='word-purple'>:posts</span>, <span class='word-purple'>:place</span>, <span class='word-purple'>:string</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        这个是，<strong>「<u>posts的资料库追加、place的名字的string・短的文章的框子</u>」</strong>的设定。这样子的设定可以加几个也可以。
        <br><br>
        资料的种类是有一点难，但是如果资料的种类是长的文章的话<strong><u>把string换成text</u></strong>，数字的话<strong><u>把string换成integer</u></strong>。
        <br>
        <small>※　里面为什么不知道有「:」，但是这个是资料库设定文件的方法。请原谅它...</small>
        <hr class="red-hr">
        <p><i class="fa fa-question-circle color-green"></i>　 <strong>那麽比如說「<u>posts资料库里追加放数字的框子reputation</u>」的话要怎么样设定好呢？（上面放鼠标可以看答案）</strong></p>
        <br>
        <i class="fa fa-file color-red"></i>　<strong>2016..._add_column_to_post.rb（第3行）</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="打入答案吧！">
        <br>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>3
</td>
<td class='code-content answer-code'><span class='code-line'>  add_column <span class='word-purple'>:posts</span>, <span class='word-purple'>:reputation</span>, <span class='word-purple'>:integer</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        到这边解释了资料库的框子的追加了。在这里简单的解释另外两个<strong><u>资料库的更改，删除</u>。</strong>
        <br><br>
        更改，删除也是跟追加一样，设定<strong><u>资料库的名字・框子・资料的种类</u></strong>的3个。
        <br>
        这个是应为是编辑內容的设定，所以跟追加的时候不同，<strong>框子跟资料的种类必须要指定。</strong>
        <br><br>
        如果要删除的话，在设定文件上追加
<pre>
remove_column :资料库的名字, :框子的名字, :资料的种类
</pre>
        要更改的话，在设定文件上追加
<pre>
change_column :资料库的名字, :框子的名字, :资料的种类
</pre>
        （更改也只能更改资料的种类）
        <hr class="red-hr">
        所以<strong><u>從资料库「posts」想删除，放「string（短的文章）」的框子「name」的话</u></strong>，要设定
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>设定文件</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  remove_column <span class='word-purple'>:posts</span>, <span class='word-purple'>:name</span>, <span class='word-purple'>:string</span></span>
</td>
</tr>
</table>
        <br>
        这样子的內容。
        <br>
        <strong><u>從资料库「posts」想把放「string（短的文章）」的框子「name」，改成放「text（長的文章）」的框子的话</u></strong>，要设定
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>设定文件</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>  change_column <span class='word-purple'>:posts</span>, <span class='word-purple'>:name</span>, <span class='word-purple'>:text</span></span>
</td>
</tr>
</table>
        <br>
        这样子的內容。
        <hr class="red-hr">
        到这里、解释了构造设定文件的设定方法。
        <br>
        虽然设定是完成了，<u>但是设定的內容还沒反映</u>。
        <br>
        <strong class="little-remarkable">在这里反映设定文件的內容吧！</strong>
        <br><br>
        设定的反映要用terminal做。首先移动到「myapp」。
        <br><br><br>
          <p class="alert alert-success">
          <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移动的方法，<a href="/zh-CN/mugcups/windows_tips#title1-2" target="_blank">请参考这里</a></strong></span>
          </p>
        <br>
        <strong>　terminal（用半母字母数字打入）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
        <br>
        移动到「myapp」的話，打入下面的命令。
        <br><br>
        <strong>　terminal（用半母字母数字打入）</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」。
        </small>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:migrate</span>
</td>
</tr>
</table>
        <br>
<small>
  <i class="fa fa-arrow-right"></i>　不动的话，前面加<strong>「bundle exec」</strong>，打入<strong>「bundle exec rake db:migrate」</strong>。
</small>
        <br><br>
        有显示下面呢图像一样的画面了吗？
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rake_db_migrate2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page4/Terminal_rake_db_migrate2.png",
                    :target => ["_blank"] %>
        <u>这样子框子的编辑完成了！</u>
        <hr class="red-hr">
        用<strong>「Sequel Pro」</strong>确认，资料库有沒有更新！
        <br>
        <small>※　打开的方法<a href="/zh-CN/mugcups/how_to_open#title2" target="_blank"><strong>请参考这里</strong></a></small>
        <br><br><br>
        <p class="alert alert-success">
          <strong>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，要用SqliteBrowser。
          <br>
          <i class="fa fa-arrow-right"></i>　<a href="/zh-CN/mugcups/how_to_open#title4" target="_blank">参考这里</a>，打开「<u>db > development.sqlite3</u>」确认「posts」资料库的內容。
          </strong>
        </p>
        <br>
        <u>框子裡有沒有追加<strong>「place」</strong>吗？</u>
        <br><br>
        <i class="fa fa-star color-blue"></i>　<strong>在terminal（命令提示符）上打入「<u><i>rails g migration 设定文件的名字</i></u>」作更改框子的设定文件。设定文件编辑完了之后，terminal（命令提示符）上打入「<u><i>rake db:migrate</i></u>」反映设定文件的內容。</strong>
</h4>