        <h4 id="chapter4-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 编辑资料库的构造</strong></p>
        <br>
        到这里、解释了作资料库的方法。
        <br><br>
        但是，刚开始就作好完成的资料库是有一点难。<u>弄错设定想追加或者删除框子的时候</u>要怎么办呢？
        <br>
        <strong class="little-remarkable"><u>在这里，解释编辑框子的方法。</u></strong>
        </h4>
        <hr class="red-hr">
        <%= render "page4/zh-CN/title1_3_1" %>
        <hr>
        <%= render "page4/zh-CN/title1_3_2" %>