<h4 id="chapter4-1-3-2">
        <p id="title1-3-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : 修正资料构造的设定</strong></p>
        用terminal打入<strong>「<u>rake db:migrate</u>」</strong>之后，设定文件的內容会反映到资料库。
        <br>
        可是，用「<strong><u>rake db:migrate</u></strong>」反映错的设定的话要怎么办呢？
        <br><br>
        比如说，<strong><u>放「text・長的文章」的「content」框子、设定成「string・短的文章」的时候等等</u></strong>
        <br><br>
        再作一個设定文件、更改內容吗？
        <br>
        （用「<strong><u>rails g migration 设定文件的名字</u></strong>」作设定文件之后，在设定文件里设定「<strong>change_column :posts, :content, :text</strong>」）
        <hr class="red-hr">
        当然这样也可以更改框子的设定，但是还有更简单的方法。
        <br><br>
        在Ruby on Rails上，可以取消上一个设定。
        <br>
        使用这个机能，<strong class="little-remarkable"><u>取消后可以再改正错的內容，再反映內容</u></strong>。
        <br><br>
        在terminal上打入下面的命令，可以返回设定。
        <br><br>
        <strong>　terminal（用半母字母数字打入）</strong>
        <br>
        <small>
          <i class="fa fa-windows color-blue"></i>　使用Windows的话，请使用「命令提示符」。
        </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:rollback</span>
</td>
</tr>
</table>
        <br>
        <small>
          <i class="fa fa-arrow-right"></i>　不动的话，前面加<strong>「bundle exec」</strong>、打入<strong>「bundle exec rake db:rollback」</strong>
        </small>
        <br><br>
        打入这个，上一个反映的內容会取消。取消之后，再改修设定文件后，在terminal上打入<strong>「<u><i>rake db:migrate</i></u>」</strong>可以修改错的设定。
        <br><br>
        这个命令<strong><u>只能一个一个的取消</u></strong>。设定错的时候可以用用看。
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>在terminal上用「<u>rake db:rollback</u>」，可以把上一個资料库的反映取消。<br><br>取消之后改设定文件，打入「<u>rake db:migrate</u>」可以改正错的设定。</strong>
</h4>