<h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
        <h4 id="chapter4-0">
        <i class="fa fa-bookmark color-red"></i>　<strong>學習，在资料库里保存资料的方法。</strong>
        <hr>
        到这里咱們学习了用Ruby on Rails作网站跟打开网站的方法。從这个章开始学习<strong><u>怎么设定网站的详细</u></strong>。
          <br><br>
          <i class="fa fa-question-circle color-green"></i>　<strong><u>咱們复习一下吧。</u>用Ruby on Rails做网站的时候，要设定什么呢？</strong>
          <br><br>
          那个是<a href="/zh-CN/mugcups/2#title1-1" target="_blank"><strong>网页的显示</strong></a>跟<a href="/zh-CN/mugcups/2#title1-2" target="_blank"><strong>资料的保存</strong></a>。（<a href="/zh-CN/mugcups/2#title1" target="_blank"><strong>请参考第二章</strong></a>）
          <br><br>
          这个可以换成说，要设定
          <strong>
          <ul class="number_ul">
            <li>网站提供者的网页的显示</li>
            <li>利用者的资料的发信</li>
          </ul>
          </strong>
          这个两个。
          <br>
          <small>※　內容<a href="/zh-CN/mugcups/1#title2" target="_blank"><strong>请参考第一章</strong></a>。</small>
          <hr class="red-hr">
          <strong><u>在这里，详细的说明这个网页的显示跟资料的保存</u></strong>，
          <br><br>
          <ul class="number_ul">
            <strong class="color-red"><li>网页的显示</li></strong>
            随着操作资料的方法，<strong><u>设定「资料的显示・新增・编辑・删除」四种网页</u></strong>。
            <br><br>
            <strong class="color-blue"><li>资料的保存</li></strong>
            <strong><u>先设定资料的构造之后，在各个网页上设定资料的操作「资料的显示・新增・编辑・删除」</u></strong>
            <br><br>
            这个资料的保存的设定里有
            <br>
            <strong><u>⑴ : 资料库的构造的设定　⑵ : 保存资料方法的设定</u></strong>
            <br>
            这个两种。
            <br><br>
            <strong class="color-red">在「资料库构造的设定」</strong>，決定资料库要保存怎么样子的资料(決定Excel表的第一行)，
            <br>
            <strong class="color-blue">在「保存资料方法的设定」</strong>，決定资料的显示跟保存的方法「资料的显示・新增・编辑・删除」。
          </ul>
          <small>※　详细的內容<a href="/zh-CN/mugcups/2" target="_blank"><strong>请参考第二章</strong></a></small>
          <hr class="red-hr">
          在这个章解释<strong>「<u>资料的保存</u>」</strong>。
          <br><br>
          <strong>那么先开始学习「<u>作资料库构造的方法</u>」吧！</strong>
</h4>