<h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
<h4 id="coffee-chapter5-0">
  <strong>
  <i class="fa fa-bookmark color-red"></i>　这个网站教学的內容到这里了。辛苦你了！
  <br><br>
  在这里，为了继续学「Ruby on Rails」的人，介绍推荐可以学习Rails的地方。
  </strong>
</h4>