<h4 id="chapter3-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : まとめ</strong></p>
        <br>
        <strong>
        ページは文字や画像を表示させるhtmlファイルと、装飾をするCSSファイルでできている。<br>htmlファイルは基本的に<i>&lt;body&gt;</i>と<i>&lt;/body&gt;</i>の中身を、CSSファイルは装飾をする部分を{}で囲った部分を変更することでページ表示の設定をしていく。
        <hr class="red-hr">
        もっと興味がある人は、
        <br>
        <a href="http://dotinstall.com/lessons/basic_css_v3" target="_blank">CSS入門(全23回)</a>とか
        <br>
        <a href="http://techacademy.jp/magazine/4857" target="_blank">今さら聞けない！CSSとは【初心者向け】</a>とか
        <br>
        <a href="http://techacademy.jp/magazine/4872" target="_blank">スタイルシート（CSS）の基本的な書き方【初心者向け】</a>などを参考にしてみて下さい
        </strong>
</h4>