<h4 id="chapter3-2-2-3">
        <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : まとめ</strong></p>
        <br>
        <strong>
        <ul class="number_ul">
          <li>ターミナルで、「<u>rails new ページ名 -d mysql</u>」</li>
          <li>コマンドプロンプトで、「<u>rails new ページ名</u>」</li>
        </ul>
        を入力してページを作ったら・・・
        <hr class="red-hr">
        <ul class="number_ul">
          <li>
          ツール（gem）の設定と導入
          </li>
          <i class="fa fa-arrow-right"></i>　ターミナルで「<u>bundle install</u>」を入力して、ツール（gem）を導入する。
          <br><br>
          <p class="alert alert-success">
          <span><i class="fa fa-windows color-blue"></i>　<strong>Windowsをお使いの方は、<a href="/mugcups/windows_tips#title1-3" target="_blank">こちらの作業</a>も行なって下さい！</strong></span>
          </p>
          <br>
          <li>
          データベースの用意
          </li>
          <i class="fa fa-arrow-right"></i>　「<u>rake db:create</u>」でデータベースを作成する
        </ul>
        を行う
        </strong>
</h4>