        <h2 class="textbook-section-title" id="title2"><strong>2 : Railsでウェブページの雛形を作ろう！</strong></h2>
        <h4 id="chapter3-2">
        ここまでで、<u>htmlとCSSを使ったページの表示</u>の方法を説明しました。
        <br>
        実際のウェブページの表示は、この二つの設定ファイルを設定しながらやっていきます。細かい手法などの内容は適宜内容を付け加えていきます。
        <hr class="red-hr">
        <strong class="remarkable">
        この章から実際にRuby on Railsでウェブページを作っていきます。
        </strong>
        <br>
        Ruby on Railsでは、<strong>出来上がっている雛形に自分で設定を加えていく</strong>ことでウェブページを作っていきます。
        <br>
        この章では、<strong><u>Ruby on Railsでウェブページの雛形を作り、それを開いてみる</u></strong>部分までをやってみましょう！
        <hr>
        Railsでは、前の章で使った<u>ターミナル</u>を使ってウェブページの雛形を作ります。
        <br>
        右上にある虫眼鏡マークを押して、「ターミナル」を検索して開きましょう。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>前章の復習です。まずはターミナル内でデスクトップの位置に行きましょう。</strong>
        <br>
        　（分からなかったら<a href="/pages/2#title2-1" target="_blank"><strong>こちら</strong></a>を参考にして下さい）
        <hr class="red-hr">
        デスクトップまで行けたら、
<br><br>
        <strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
        <br>
        と入力して「rails_project」に移動しましょう。
        <br>
        <small>※　半角英数字で入力して下さい</small>
        </h4>
        <hr>
        <%= render "page3/title2_1" %>
        <hr>
        <%= render "page3/title2_2" %>
        <hr>
        <%= render "page3/title2_3" %>