        <h2 class="textbook-section-title" id="title1"><strong>1 : HTMLの基本</strong></h2>
        <h4 id="chapter3-1">
        </h4>
          <%= render "page3/title1_1" %>
          <hr>
          <%= render "page3/title1_2" %>
        <hr>
        <%= render "page3/title1_3" %>