<h4 id="chapter3-2-2-3">
        <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : まとめ</strong></p>
        <strong>
        「<u>rails new ページ名 -d mysql</u>」でページを作ったら・・・
        <ul class="number_ul">
          <li class="color-red">
          ツール（gem）の設定と導入
          </li>
          →「Gemfile」の「<u>gem 'mysql2'</u>」を「<u>gem 'mysql2', '0.3.18'</u>」に変更して、ターミナルで「<u>bundle install</u>」を入力して、<span class="color-red">ツール（gem）を導入する。</span>
          <li class="color-blue">
          データベースの用意
          </li>
          →「<u>rake db:create</u>」で<span class="color-blue">データベースを作成する</span>
        </ul>
        </strong>
</h4>