<h4 id="chapter3-2-2-3">
        <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : まとめ</strong></p>
        <strong>
        「<u>rails new ページ名 -d mysql</u>」でページを作ったら・・・
        <hr class="red-hr">
        <ul class="number_ul">
          <li>
          ツール（gem）の設定と導入
          </li>
          →「Gemfile」の「<u>gem 'mysql2'</u>」を「<u>gem 'mysql2', '0.3.18'</u>」に変更して、ターミナルで「<u>bundle install</u>」を入力して、ツール（gem）を導入する。
          <br><br>
          <li>
          データベースの用意
          </li>
          →「<u>rake db:create</u>」でデータベースを作成する
        </ul>
        <br>
        を行う
        </strong>
</h4>