<h4 id="chapter3-1-3">
        <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : まとめ</strong></p>
        <br>
        <strong>
        ページは文字や画像を表示させるhtmlファイルと、装飾をするCSSファイルでできている。
        <hr class="red-hr">
        <ul class="number_ul">
        <li>htmlファイルは基本的に<i>&lt;body&gt;</i>と<i>&lt;/body&gt;</i>の中身を</li>
        <li>CSSファイルは装飾をする部分を{}で囲った部分を</li>
        </ul>
        変更することでページ表示の設定をしていく。
</h4>