<h4 id="chapter3-2-2-1">
        <p id="title2-2-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : ツールの導入と設定</strong></p>
        Railsでは、<strong><u>インターネット上に公開されているウェブページを作る際のツール（gemといいます）</u></strong>を使いながらウェブページを作っていきます。
        <br><br>
        これらツールをウェブページに導入していくことで、例えば自分で作るとなると手間がかかる<u><strong>ユーザー管理や画像の保存</strong>などを自動的に作ってくれます</u>。

        <br><br>
        <i class="fa fa-star color-red"></i>　<strong class="little-remarkable">ここではこのgemの導入と設定をしましょう！</strong>
        <hr class="red-hr">
        まずはSublime Textで、先ほど作った「myapp」を選択して開いてみましょう。
        <br>
        <small>
        ※　ファイル・フォルダの開き方は<strong><a href="/mugcups/how_to_open#title1" target="_blank">こちら</a></strong>を参考にして下さい
        <br>
        <i class="fa fa-windows"></i>　Windowsでのファイル・フォルダの開き方は<a href="/mugcups/how_to_open#title2" target="_blank"><strong>こちら</strong></a>を参考にして下さい
        </small>
        <br><br>
        下のようなウィンドウはでてきましたでしょうか？
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Window_Sublime_Text_myapp.png",
                    :target => ["_blank"] %>
        開けたら下の手順に従って、「<strong>Gemfile</strong>」というファイルを開いてください。
        下のような文字列が出て来れば、大丈夫です。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_Gemfile.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Sublime_Text_Open_Gemfile.png",
                    :target => ["_blank"] %>
        この<strong>「<u>Gemfile</u>」というファイル</strong>で、ツールの設定をしています。
        <br>
        内容がすでに書いてあるのは、初期設定で必要なツールがすでに設定されているからです。
        <br><br>
        中身を見ると、「<strong><u>gem '〜'</u></strong>」とか「<strong><u>gem '〜','〜'</u></strong>」という感じで表示されているのが分かると思います。
        <br><br>
        ツールを使いたければ、
<pre>
gem 'ツール名'
</pre>
        を「<strong>Gemfile</strong>」に追加して設定します。（必要なら「<u>, 'バージョン名'</u>」を加える）
        <hr>
        ここまでで「Gemfile」というツールの設定ファイルについて説明しました。
        <br><br>
        これで設定は終わりましたが、<strong><u>まだツールの導入ができていません。</u></strong>導入ができていないので、まだツールを使うことはできません。
        <br><br>
        <i class="fa fa-star color-red"></i>　<strong class="little-remarkable">ここで設定したツールの導入をしてみましょう！</strong>
        <hr class="red-hr">
        ツールの設定は「Gemfile」の設定を変更することで行いましたが、<strong>ツールの導入はターミナルで行います。</strong>
        <br><br>
        まずはターミナルを開いて（分からなかったら<a href="/mugcups/2#title2-1" target="_blank"><strong>こちら</strong></a>を参照）、デスクトップ内の「<u>rails_project</u>」にまで移動して下さい。
        <br><br>
        <p class="alert alert-success">
        <span><i class="fa fa-windows color-blue"></i>　<strong>Windowsでの「rails_projects」での移動は、<a href="/mugcups/windows_tips#title1-2" target="_blank">こちら</a>を参考</strong></span>
        </p>
        <br>
　<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
<br>
        ここまでできたら、さっき作った「myapp」に移動しましょう。
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
<br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_cd_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_cd_myapp.png",
                    :target => ["_blank"] %>
        <strong>では、ツールを導入してみましょう！下の文字を入力して下さい。</strong>
        <br>
        <small>※　半角英数字で入力して下さい。</small>
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
<br>
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_Bundle_install_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page3/Terminal_Bundle_install_after.png",
                    :target => ["_blank"] %>
        入力すると、このような画面は表示されたでしょうか？
        <br>
        よく見ると、設定ファイルに入っていたツールが表示されていると思います。
        <br><br>
        <strong><u>これからは設定を決めている「Gemfile」にツールを追加する度に、ターミナルで「bundle install」を入力します。</u></strong>
        <br><br>
        <strong class="remarkable">これでツールの導入は完了しました。</strong>
        <br>
        <small>※　ここではツールと書き続けてきましたが、正確に言えば「<strong class="color-red"><i><u>gem</u></i></strong>」です。余力があれば覚えて下さい。</small>
        <br><br><br>
        <p class="alert alert-success">
        <span><i class="fa fa-windows color-blue"></i>　<strong>Windowsをお使いの方は、<a href="/mugcups/windows_tips#title1-3" target="_blank">こちらの作業</a>も行なって下さい！</strong></span>
        </p>
        <br>
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>ツールの設定は「Gemfile」ファイルの中身を変更して、ツールの導入はターミナルで「<u>bundle install</u>」を入力して行う。</strong>
</h4>