<h4 id="chapter3-2-1">
        <p id="title2-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : rails new</strong></p>
        <br>
        では、Railsでウェブページの雛形を作りましょう！
<br><br>
        <strong>ターミナル（半角英数字で入力）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp -d mysql</span>
</td>
</tr>
</table>
        <br>
        と入力して下さい！
        <br><br>
        <p class="alert alert-success">
        <strong><i class="fa fa-windows color-blue"></i>　Windowsをお使いの方は、下の入力をして下さい。</strong>
        </p>
        <i class="fa fa-arrow-right"></i>　<strong>コマンドプロンプト（半角英数字で入力）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp</span>
</td>
</tr>
</table>
        <br>
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Rails_new_myapp_2.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Rails_new_myapp_2.png",
                    :target => ["_blank"] %>
        こんな感じに表示されて、
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Rails_new_myapp_after.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Rails_new_myapp_after.png",
                    :target => ["_blank"] %>
        こんな感じに表示されましたでしょうか？
        <br>
        <strong class="remarkable">これでウェブページの雛形は完成しました！</strong>
        <br><br>
        Finderで確認してみましょう。
        <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Finder_myapp.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page3/Finder_myapp.png",
                    :target => ["_blank"] %>
        「rails_project」に<strong>「<u>myapp</u>」</strong>というフォルダができているのが確認できますか？
        <br><br>
        <strong>この「myapp」がウェブページの雛形の中にある設定ファイルを、
        <br>
        自分の好きな設定に変更していくことでウェブページを作っていきます。</strong>
        <hr class="red-hr">
        では、さっきの
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new ページ名 -d mysql</span>
</td>
</tr>
</table>
        <br>
        はなにをしたのでしょうか？
        <br><br>
        これは
        <br>
        <strong class="little-remarkable"><u>「myappという名前のウェブページの雛形を作れ！（rails new myapp）MySQLというデータベースを使って（-d mysql）」</u></strong>
        <br>
        というコンピューターへの命令になります。
        <br><br><br>
        <p class="alert alert-success">
            <strong><i class="fa fa-windows color-blue"></i>　Windowsでは、後ろになんの入力もなく「<u>Sqlite</u>」というデータベースを使う設定をしています。</strong>
        </p>
        <br>
        これ以上は説明のしようがないので次にウェブページの雛形を作る時は、
        <br><br>
<strong>　ターミナル（半角英数字で入力）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new ページ名 -d mysql</span>
</td>
</tr>
</table>
        <br><br>
        <strong><i class="fa fa-windows color-blue"></i>　Windowsをお使いの方は、下の入力をして下さい。</strong>
        <br><br>
        　<strong>コマンドプロンプト（半角英数字で入力）</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new myapp</span>
</td>
</tr>
</table>
        <br>
        をターミナルに入力して下さい。
        <hr class="red-hr">
        <i class="fa fa-star color-blue"></i>　<strong>ウェブページの雛形を作る時は、ターミナルで「<u>rails new ウェブページ名 -d mysql</u>」と入力する。</strong>
</h4>