<h4 id="chapter3-2-2">
        <p id="title2-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 雛形の諸設定</strong></p>
        <br>
        前章では
<br><br>
<strong>ターミナル</strong>
<table class="highlight">
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new ページ名 -d mysql</span>
</td>
</tr>
</table>
<br>
        でウェブページの雛形を作りました。
        <hr class="red-hr">
        でもこれだけではウェブページの雛形はまだ完成していません。ターミナルで行う、まだ終わっていない設定があります。
        <br><br>
        その設定は、<strong><u>⑴ウェブページを作るのに必要になるツールの設定と導入 ⑵データベースの用意</u></strong>になります。
        <br>
        ここではその設定を完了させましょう。
</h4>
        <hr>
        <%= render "page3/title2_2_1" %>
        <hr>
        <%= render "page3/title2_2_2" %>
        <hr>
        <%= render "page3/title2_2_3" %>
</h4>