<% provide :title, 'チャットルームの作成③' %>
<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="textbook-area">
        <div class="textbook-area-inner fadeIn wow">
          <div id="title" class="textbook-title">
            <h1><strong>5 : チャットルームの作成③</strong></h1>
          </div>
          <h4><u><a href="/coffee_cups/4" class="text-left ">前の章 : チャットルームの作成②</a></u></h4>
          <%= image_tag "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header5.jpg",
                        :width => "90%",
                        :class => "textbook-title-img hover_img" %>
          <strong class="remarkable">この章は、前章の「チャットルームの作成②」の続きになります。</strong>
          <br>
          <strong>前章の内容がまだ終わっていない方は、<a href="/coffee_cups/4" target="_blank">こちら</a>からお願いします。</strong>
          <hr>
          <%= render "coffee3/title2_2" %>
          <div class="next-page">
              <a href="/coffee_cups/6" class="btn btn-primary">次の章に進む</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs">
      <br>
      <div id="slide-bar" class="clear-fix">
      <strong>
        <div class="list-group nomargin">
          <a href="#title" class="list-group-item list-title"><h5>チャットルームの作成③</h5></a>
          <a href="#title2-2" class="list-group-item">　<small>② : データの作成・表示</small></a>
          <a href="#title2-2-1" class="list-group-item">　　<small>⑴ : データの作成</small></a>
          <a href="#title2-2-2" class="list-group-item">　　<small>⑵ : データの表示</small></a>
        </div>
      </strong>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/fixedjs' %>