<% provide :title, "Coffee" %>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>Coffee(應用編)</strong></h1>
      </div>
      <br>
      <header class="header-img-desk">
        <div class="header-content hover_img_reverse" style="padding:100px 0">
          <h1 class="text-center" style="margin:20px auto;">
            <strong>
            <a href="/zh-TW/coffee_cups" class="btn btn-lg btn-danger" style="font-size:32px;">
            <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                          :class => "nav-img") %>
            Coffee(應用編)</a>
            </strong>
          </h1>
        </div>
      </header>
      <br>
      <h2 class="textbook-section-title" id="title1"><strong>目錄</strong></h2>
      <h4>
      這個是「<a href="/zh-TW/mugcups" target="_blank"><strong>基礎編</strong></a>」繼續的內容。
      <br>
      在這個章，作<a href="https://guarded-gorge-84479.herokuapp.com/users/sign_in" target="_blank"><strong>這樣子</strong></a>可以作訊息的網絡聊天的網站吧。
      <br>
      <small>
      ※　基礎邊<a href="/zh-TW/mugcups" target="_blank"><strong>請參考這裡</strong></a>
      </small>
      <br><br><br>
      <strong>
      <p class="alert alert-danger">
        <i class="fa fa-windows color-blue"></i>　使用Windows的話，不能學習「7 : 画像のアップロード」的內容。
      </p>
      </strong>
      <br>
      </h4>
      <hr>
      <div id="main-section-inner" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/1">
          <div class="table-content">
            <p>1 : Mugcup（基礎邊）的複習</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/2">
          <div class="table-content">
            <p>2 : 作訊息</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/3">
          <div class="table-content">
            <p>3 : 作聊天室①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/4">
          <div class="table-content">
            <p>4 : 作聊天室②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/5">
          <div class="table-content">
            <p>5 : 作聊天室③</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/6">
          <div class="table-content">
            <p>6 : 作聊天室:總結</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/7">
          <div class="table-content">
            <p>7 : 上載圖像</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-TW/coffee_cups/8">
          <div class="table-content">
            <p>8 : 推薦的教材</p>
          </div>
          </a>
        </div>
    </div>
  </div>
</div>
</div>