<% provide :title, "Coffee" %>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <h1 class="text-center" style="margin:20px auto;">
        <strong>
        <a href="/coffee_cups" class="btn btn-lg btn-danger" style="font-size:32px">
        <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                      :class => "nav-img") %>
        Coffee(応用編)</a>
        </strong>
      </h1>
      <header>
        <div class="header-content">
        </div>
      </header>
      <br>
      <h5>
      ウェブページ作成の続きになります（基礎編は<a href="/mugcups" target="_blank"><strong>こちら</strong></a>）。
      <br><br>
      この章では、<a href="https://guarded-gorge-84479.herokuapp.com" target="_blank"><strong>こんな感じ</strong></a>のメッセージができる会員制のウェブページを作ってみたいと思います。
      <br>
      </h5>
      <hr>
      <div id="main-section-inner" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/1">
          <div class="table-content">
            <p>1 : Mugcup（基礎編）の復習</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/2">
          <div class="table-content">
            <p>2 : メッセージを作る</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/3">
          <div class="table-content">
            <p>3 : チャットルームの作成①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/4">
          <div class="table-content">
            <p>4 : チャットルームの作成②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/5">
          <div class="table-content">
            <p>5 : チャットルームの作成③</p>
          </div>
          </a>
        </div>
    </div>
  </div>
</div>
</div>