<% provide :title, "Coffee" %>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>Coffee(応用編)</strong></h1>
      </div>
      <br>
      <header class="header-img-desk">
        <div class="header-content hover_img_reverse" style="padding:100px 0">
          <h1 class="text-center" style="margin:20px auto;">
            <strong>
            <a href="/coffee_cups" class="btn btn-lg btn-danger" style="font-size:32px;">
            <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/logo/coffee_logo_link.png",
                          :class => "nav-img") %>
            Coffee(応用編)</a>
            </strong>
          </h1>
        </div>
      </header>
      <br>
      <h2 class="textbook-section-title" id="title1"><strong>目次</strong></h2>
      <h4>
      ウェブページ作成の続きになります。
      <br>
      この章では、<a href="https://guarded-gorge-84479.herokuapp.com" target="_blank"><strong>このような</strong></a>のメッセージができる会員制のウェブページを作ってみたいと思います。
      <br><br>
      <small>
      ※　基礎編は<a href="/mugcups" target="_blank"><strong>こちら</strong></a>を参考にして下さい
      </small>
      <br>
      <small>※　キャッシュバックは、<a href="/ja/pay_info#title2-4" target="_blank"><strong>こちら</strong></a>を参考にして下さい。</small>
      <br><br><br>
      <strong>
      <p class="alert alert-danger">
        <i class="fa fa-windows color-blue"></i>　Windowsをご利用の方は、「7 : 画像のアップロード」をご利用できません。ご了承下さい。
      </p>
      </strong>
      <br>
      </h4>
      <hr>
      <div id="main-section-inner" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/1">
          <div class="table-content">
            <p>1 : Mugcup（基礎編）の復習</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/2">
          <div class="table-content">
            <p>2 : メッセージを作る</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/3">
          <div class="table-content">
            <p>3 : チャットルームの作成①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/4">
          <div class="table-content">
            <p>4 : チャットルームの作成②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/5">
          <div class="table-content">
            <p>5 : チャットルームの作成③</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/6">
          <div class="table-content">
            <p>6 : チャットルームの作成:まとめ</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/7">
          <div class="table-content">
            <p>7 : 画像のアップロード</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/coffee_cups/8">
          <div class="table-content">
            <p>8 : 今後も勉強したい人のために</p>
          </div>
          </a>
        </div>
    </div>
  </div>
</div>
</div>