<% provide :title, "Coffee" %>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <div id="title" class="textbook-title">
        <h1><strong>Coffee(应用编)</strong></h1>
      </div>
      <br>
      <header class="header-img-desk">
        <div class="header-content hover_img_reverse" style="padding:100px 0">
          <h1 class="text-center" style="margin:20px auto;">
            <strong>
            <a href="/zh-CN/coffee_cups" class="btn btn-lg btn-danger" style="font-size:32px;">
            <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                          :class => "nav-img") %>
            Coffee(应用编)</a>
            </strong>
          </h1>
        </div>
      </header>
      <br>
      <h2 class="textbook-section-title" id="title1"><strong>目录</strong></h2>
      <h4>
      这个是「<a href="/zh-CN/mugcups" target="_blank"><strong>基础遍</strong></a>」继续的內容。
      <br>
      在这个章，作<a href="https://guarded-gorge-84479.herokuapp.com/users/sign_in" target="_blank"><strong>这样子</strong></a>可以作讯息的网络聊天的网站吧。
      <br>
      <small>
      ※　基础遍<a href="/zh-CN/mugcups" target="_blank"><strong>请参考这里</strong></a>
      </small>
      <br><br><br>
      <strong>
      <p class="alert alert-danger">
        <i class="fa fa-windows color-blue"></i>　使用Windows的话，不能学习「7 : 上载图像」的內容。
      </p>
      <p class="alert alert-warning">
        <i class="fa fa-arrow-right"></i>　利用之前，<a href="/zh-CN/warning" target="_blank"><strong>请确认这里</strong></a>
      </p>
      </strong>
      <br>
      </h4>
      <hr>
      <div id="main-section-inner" class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/1">
          <div class="table-content">
            <p>1 : Mugcup（基础遍）的复习</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/2">
          <div class="table-content">
            <p>2 : 作讯息</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/3">
          <div class="table-content">
            <p>3 : 作聊天室①</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/4">
          <div class="table-content">
            <p>4 : 作聊天室②</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/5">
          <div class="table-content">
            <p>5 : 作聊天室③</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/6">
          <div class="table-content">
            <p>6 : 作聊天室:总结</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/7">
          <div class="table-content">
            <p>7 : 上载图像</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <a href="/zh-CN/coffee_cups/8">
          <div class="table-content">
            <p>8 : 为了还想继续学习的人</p>
          </div>
          </a>
        </div>
    </div>
  </div>
</div>
</div>