<% provide :title, "Coffee" %>
<header>
  <div class="header-content fadeIn wow">
    <h1 class="text-center">
      <strong>
      <a href="/coffee_cups" class="btn btn-lg btn-danger" style="font-size:32px">
      <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/coffee_logo_link.png",
                    :class => "nav-img") %>
      Coffee(応用編)</a>
      </strong>
    </h1>
  </div>
</header>
<div class="container">
  <div id="top-page" class="textbook-area">
    <div class="textbook-area-inner fadeIn wow">
      <h5>
      ウェブページ作成の続きになります（基礎編は<a href="/mugcups" target="_blank"><strong>こちら</strong></a>）。
      <br>
      この章では、メッセージができる会員制のウェブページを作ってみたいと思います。
      <br>
      </h5>
      <hr>
      <h1 class="text-center" style="font-size:40px;">作成中です...</h1>
      <h1 class="text-center">しばらくお待ち下さい</h1>
    </div>
  </div>
</div>