<h2 class="textbook-section-title" id="title2"><strong>2 : Facebookの仕組み</strong></h2>
          <h4 id="chapter1-2">
          <i class="fa fa-star color-blue"></i>　Facebookを例に<strong class="little-remarkable"><u>データの表示と保存</u></strong>を説明していきます。
          <hr>
          </h4>
          <%= render "page1/title2_1" %>
          <%= render "page1/title2_2" %>