<h2 class="textbook-section-title" id="title1"><strong>1 : ウェブページの謎</strong></h2>
<h4 id="chapter1-1">
  日頃使っているウェブページ。それがどのようにして動いているか分かりますか？
  <hr>
  <ul>
    <li>投稿した文章はどのようにして表示されているのか？</li>
    <li>メッセージアプリで送った画像はどこにあるのか？</li>
    <li>そもそもウェブページを作ることでなにができるのか？</li>
  </ul>
  <hr>
  分からないことは山のようにあると思います。
  <br>
  <br>
  ですが、ウェブページでやっていることは<strong class="remarkable">２つ</strong>しかありません。
  <br>
  それは、<strong class="remarkable">データの表示・保存</strong>です。
</h4>