          <h2 class="textbook-section-title" id="title3"><strong>3 : まとめ</strong></h2>
          <h4 id="chapter1-3">
          <i class="fa fa-star color-blue"></i>　<strong>ウェブページが行っていることはデータの表示と保存だけ</strong>
          <br><br>
          <i class="fa fa-star color-blue"></i>　<strong>提供者のデータ表示と利用者が発信した情報の保存によって、提供者・利用者の双方間のデータのやりとりが行われている。</strong>
          </h4>
          <hr>
          <h4 class="little-remarkable">
          <strong>
            次の章でウェブページを作るのに使うソフトウェア、Ruby on Rails を説明していきます。
          </strong>
          </h4>