<h4 id="chapter10-3-2-5">
  <p id="title3-2-5" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑸ : 登入机能</strong></p>
  <br>
  最后追加检查利用者有沒有登入的设定。
  <br>
  追加下面的设定吧。
  <br>
  <small>※　详细的说明，请参考<strong><u><a href="/zh-CN/mugcups/9#title2" target="_blank">登入机能</a></u></strong>吧</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（追加第3行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3</strong>
4
5
6
7
8
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>UsersController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  before_action <span class='word-purple'>:authenticate_user!</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>]</span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class="code-line"><span class="word-gray"># 省略</span></span>
</td>
</tr>
</table>
  <br>
  这一次设定<strong>「users」资料库的「<u>show</u>」「<u>index</u>」「<u>edit</u>」「<u>update</u>」网页上，<u>检查利用者有沒有登入</u></strong>的设定。
</h4>