<h4 id="chapter10-3-4">
  <p id="title3-4" class="fix-link-nav"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : 总结</strong></p>
  <br>
  在这个章，使用在<a href="/zh-CN/mugcups/9" target="_blank"><strong>上章</strong></a>设定的「devise」的「users」资料库作网页。
  <br><br>
  <strong>设定的內容<a href="/zh-CN/codes/10" target="_blank">请参考这里</a>吧</strong>
  <hr class="red-hr">
  为了设定「users」网页的內容、首先做<a href="/zh-CN/mugcups/10#title3-1" target="_blank"><strong>用哪一个网页的设定</strong></a>。
  <br>
  之后在各个网页上，做<a href="/zh-CN/mugcups/10#title3-2" target="_blank"><strong>显示网页・操作资料的设定</strong></a>。
  <br><br>
  网页的设定也做好了之后，用
  <strong>
  <ul class="number_ul">
    <li>current_user</li>
    <li>user_signed_in?</li>
    <li>&lt;% else %&gt;</li>
  </ul>
  </strong>
  设定游览列（详细的內容<a href="/zh-CN/mugcups/10#title3-3-3" target="_blank"><strong>请参考这里</strong></a>）。
  <hr class="red-hr">
  到这里，可以看会员资料了。
  <br><br>
  <strong>接着<u>在投稿的「posts」资料库里加会员资料</u>，<u>从投稿的资料看会员的资料</u>吧。</strong>
</h4>