<h2 class="textbook-section-title" id="title3"><strong>3 : 作「users」网页</strong></h2>
<h4 id="chapter10-3">
到这里作了，<u>沒有登入的利用者不能看全部的「posts」网页的网站</u>了。
<br>
<strong><u>用作好的「users」资料库，接着作「users」资料库的网页吧。</u></strong>
<hr class="red-hr">
<strong>
在这个章作的「users」资料库的网页的设定是，
  <ul class="number_ul">
    <li><a href="/zh-CN/mugcups/5#title1-1" target="_blank">show</a></li>
    显示会员的资料
    <li><a href="/zh-CN/mugcups/5#title1-2" target="_blank">index</a></li>
    显示全部的会员的资料
    <li><a href="/zh-CN/mugcups/6#title1-5" target="_blank">edit</a></li>
    打入编辑的会员的资料
    <li><a href="/zh-CN/mugcups/6#title1-6" target="_blank">update</a></li>
    用「edit」网页打入的內容，更新会员的资料
  </ul>
这个四个內容。
</strong>
<hr class="red-hr">
<strong>
在这里，在「users」资料库上设定
  <ul class="number_ul">
    <li><a href="/zh-CN/mugcups/6#title2-route" target="_blank">七个网页的设定</a></li>
    <li><a href="/zh-CN/mugcups/6#title2-data-view" target="_blank">操作资料的设定</a></li>
    <li><a href="/zh-CN/mugcups/6#title2-data-view" target="_blank">显示网页的设定</a></li>
  </ul>
这个三个內容。
<hr class="red-hr">
首先从<u>「七个网页的设定」</u>开始做吧！
</strong>
<hr>
<%= render "page10/zh-CN/title3_1" %>
<hr>
<%= render "page10/zh-CN/title3_2" %>
<hr>
<%= render "page10/zh-CN/title3_3" %>
<hr>
<%= render "page10/zh-CN/title3_4" %>
</h4>