<h4 id="chapter10-3-2-4">
  <p id="title3-2-4" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑷ : update网页</strong></p>
  <br>
  <strong>「<u>update</u>」网页的资料操作</strong>是，用在「edit」网页打入的资料更新资料。
  <br>
  参考下面，设定內容吧。
  <br>
  <small>※　详细的內容，请参考<strong><u>「posts」资料库的「<a href="/zh-CN/mugcups/6#title1-6" target="_blank">update</a>」</u></strong>网页吧。</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>15
<strong class="color-red">16
17</strong>
18
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line remarkable-code'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line remarkable-code'>    @user.update(params.<span class="word-red">require</span>(<span class='word-purple'>:user</span>).permit(<span class='word-purple'>:first_name</span>, <span class='word-purple'>:family_name</span>, <span class='word-purple'>:self_introduction</span>))</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  选择更新的资料之后，<strong>用「edit」网页打入的资料更新资料。</strong>
  <br><br>
  为了不让別的框子的资料（id或者email等等）更新，<strong>设定只让「users」资料库的
    <ul class="number_ul">
      <li>「<u>family_name</u>」</li>
      <li>「<u>first_name</u>」</li>
      <li>「<u>self_introduction</u>」</li>
    </ul>
  这个三个框子更新。
  </strong>
  <hr class="red-hr">
  接着在<strong>「<u>app > views > users > update.html.erb</u>」</strong>上设定內容吧。编辑<strong>「<u>update.html.erb</u>」</strong>的內容吧。
  <br>
  <small>※　详细的內容，请参考<strong><u>「posts」资料库的「<a href="/zh-CN/mugcups/6#title1-6" target="_blank">update</a>」</u></strong>网页吧。</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>update.html.erb</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，点击<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;会员资料编辑好了。&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;自我介绍：&lt;%= @user.self_introduction %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= @user.id %&gt;"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;返回会员资料&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= @user.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;编辑会员资料&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;返回主页&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<u>一起点击<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打开的服务器之后，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的话，
  <br>
  　<u>一起点击「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打开的服务器之后，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  编辑好之后，打开「<a href="http://0.0.0.0:3000/users/1/edit" target="_blank"><strong>0.0.0.0:3000/users/1/edit</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/users/1/edit" target="_blank"><strong>localhost:3000/users/1/edit</strong></a>」吧。
  </small>
  <br><br>
  <i class="fa fa-arrow-right"></i>　打开之后，点击<strong>「更新」</strong>的按钮吧。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page10/Chrome_users_1_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page10/Chrome_users_1_edit.png",
              :target => ["_blank"] %>
  有沒有移动到编辑完成的网页了吗？
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page10/Chrome_users_1_update.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page10/Chrome_users_1_update.png",
              :target => ["_blank"] %>
  出现网页之后，打开<strong>「<a href="http://0.0.0.0:3000/users/1" target="_blank">0.0.0.0:3000/users/1</a>」</strong>吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的话，打开「<a href="http://localhost:3000/users/1" target="_blank"><strong>localhost:3000/users/1</strong></a>」吧。
  </small>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_users_1_after.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page9/Chrome_users_1_after.png",
              :target => ["_blank"] %>
  在「show」网页上，有沒有显示编辑的资料了吗？
</h4>