// section id
#main-section{
  padding-top:90px;
  /*background-color:rgba(200,150,150,.4);*/
  /*background-color:rgba(153, 102, 51, .6);*/
  /*background-color: #4F2702;*/
  background-color:#eee;
}

#main-section-inner{
  margin:30px 0;
}

// Components

  // navbar
  .coffee-navbar{
    opacity:.98;
    padding:10px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }

  .nav-img{
    display:inline !important;
    width:30px;
  }

  .hover-nav{
    margin:-3px;
    transition: all .5s;
  }

  .hover-nav:hover{
    font-size:1.25em;
  }

  // header
  header {
      position: relative;
      width: 100%;
      min-height: 300px;
      height:auto;
      text-align: center;
      background-image: url("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/coffee_header.jpg");
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  header .header-content {
      position: relative;
      width: 100%;
      padding-top: 50px;
      padding-bottom:40px;
      text-align: center;
      /**/
      overflow: hidden;
      background-color:rgba(255,255,255,.4);
      transition: all .5s;
  }

  header .header-content:hover{
    transition: all .5s;
    background-color:rgba(255,255,255,.5);
  }

  header .header-content .header-content-word{
    color:#1e543e;
    padding:15px 20px;
    margin:0 auto;
    border-radius:10px;
  }

  // root_page
  .service-box{
    margin:20px auto 0;
  }

  // index
  // index の textbook へのリンク
  .table-content{
    transition: all .5s;

    background-color: #fff;
    /*border: 2px solid #47ea7e;*/
    border: 2px solid #008051;
    /*color: #47ea7e;*/
    color: #008051;

    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    width:100%;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 3px 12px;
    text-decoration: none;
    p{
      margin:5px 10px;
      font-weight: 700;
    }
  }
  .table-content:hover{
    /*background-color:#0bda51;*/
    background-color: #1e6439;
    color:white;
    /*border: 2px solid #0bda51;*/
    border: 2px solid #1e6439;
    transition: all .75s;
    letter-spacing: 3px;
    font-size:16px;
  }

  // textbook
  .textbook-title {
    h1{
      position: relative;
      padding: .25em 0 .5em .75em;
      border-left: 8px solid #3498db;
    }
    h1::after{
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ccc;
    }
  }

  .textbook-title-img{
    display:block;
    margin:20px auto;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }
  .textbook-area{
    opacity:.95;
    border-radius:10px;
    margin:20px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }
  .textbook-area-inner{
    border-radius:10px;
    background-color:white;
    padding:10px 30px;
    .textbook-section-title{
      padding-bottom:10px;
      border-bottom:3px solid #FF3300;
    }
    h4{
      margin-top:30px;
      line-height:1.5;
      letter-spacing: 0.2rem;
      font-weight: 1.2;
    }
    .next-page{
      text-align:center;
    }
  }

  // textbook link
  #title, #title0,
  #title1, #title1-1, #title1-1-1, #title1-1-2, #title1-1-3, #title1-1-4, #title1-2, #title1-2-1,#title1-2-2, #title1-2-3, #title1-3, #title1-3-1, #title1-3-2, #title1-4, #title1-4-1, #title1-4-2, #title1-5, #title1-5-1, #title1-5-2,
  #title1-6, #title1-6-1, #title1-6-2, #title1-7, #title1-7-1, #title1-7-2,
  #title2, #title2-1, #title2-1-1, #title2-1-2, #title2-2, #title2-2-1,#title2-2-2,#title2-2-3, #title2-2-4, #title2-2-5,#title2-3, #title2-4, #title2-5,
  #title3, #title3-1, #title3-1-1, #title3-1-2, #title3-2, #title3-2-1,#title3-2-2, #title3-3, #title3-3-1, #title3-3-2,
  #title4, #title4-1, #title4-2, #title4-2-1, #title4-2-2, #title4-2-3, #title4-3, #title4-3-1, #title4-3-2, #title4-3-3{
    display: block; padding-top: 100px; margin-top: -100px;
  }

  .fix-link-nav{
    display: block; padding-top: 100px; margin-top: -100px;
  }

    // slidebar
    #slide-bar{
      border-radius:10px;
      padding-right:10px;
      max-height:400px;
      overflow-y: scroll;
      background-color:white;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
      .list-title{
        color: #818a91;
        background-color: #eceeef;
      }
      a{
        padding:10px 20px;
      }
      .nomargin{
        margin:0;
      }
    }

  // table内のform
  .table-form{
    margin-bottom:0px;
    width:100%;
  }
  .table-title{
    width:300px;
    margin-bottom:5px;
    margin-top:5px;
  }

  // footer
  .footer{
    padding:10px;
  }

// 各アクション

.hover_img{
  transition: all .5s;
}

.hover_img:hover{
  opacity:.8;
  transition: all .5s;
}

.hover_img_reverse{
  opacity:.9;
  transition: all .5s;
}

.hover_img_reverse:hover{
  opacity:1;
  transition: all .5s;
}

// 共通設定

.highlight{
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  white-space: pre;
  padding:20px;
  background-color:#2c2c2c;
  color:white;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  .word-green{
    color:#a6e22e;
  }
  .word-red{
    color:#f92672;
  }
  .word-yellow{
    color:#e6db74;
  }
  .word-blue{
    color:#51CFCF;
  }
  .word-purple{
    color:#AE76E6;
  }
  .word-gray{
    color:#aaa;
  }
  .code-line-no{
    width:50px;
    background-color: #f5f5f5;
    color:black;
    padding:10px 0;
  }
  @media (max-width: 768px){
    .code-content{
      max-width:550px;
      min-width:550px;
      overflow: scroll;
    }
  }
  @media (min-width: 768px){
    .code-content{
      max-width:400px;
      min-width:400px;
      overflow: scroll;
    }
  }
  @media (min-width: 992px){
    .code-content{
      max-width:550px;
      min-width:550px;
      overflow: scroll;
    }
  }
  @media (min-width: 1200px){
    .code-content{
      max-width:700px;
      min-width:700px;
      overflow: scroll;
    }
  }
  .code-line{
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
  }
  .small-code{
    font-size:12px;
  }
  .answer-code{
    opacity:0;
  }
  .answer-code:hover{
    opacity: 1;
  }
  .remarkable-code{
    background-color:#454545;
    padding-top:1px;
    padding-bottom:1px;
  }
}

.input-code{
   color:#00FF00;
   background-color:#404040;
}

.fixed{
  position: fixed;
  top:100px;
  width:20%;
  z-index: 10000;
}

body, td, th, form, h1, h2, h3, h4, h5, p, a, li {
    font-family: SalesforceSansRegular, メイリオ, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', Arial, Helvetica, Verdana, sans-serif;
}

hr{
  border-color:#ddd;
}

.font-18{
    border-bottom:2px solid;
    font-size:18px;
  }

.font-15{
  font-size:15px;
}

.color-orange{
  color:#ffa500;
}

.color-red{
  color:#ff3300;
}

.color-blue{
  color:#1170db;
}

.color-green{
  color:#1e6439;
}

.color-purple{
  color:#9e1e9e;
}

.color-coffee{
  color:#351d09;
}

.text-mured{
  color:#777;
}

.remarkable{
  font-size:25px;
  border-bottom:2px solid;
}

.little-remarkable{
  font-size:20px;
}

.red-hr{
  border-color: #FF3300;
  border-width: 3px;
  width:50px;
  opacity:.5;
}

.green-hr{
  border-color: #1e6439;
  border-width: 3px;
  width: 50px;
  opacity:.9;
}

.white-hr{
  border-color:white;
  border-width:3px;
  width:50px;
  opacity:.5;
}

.number_ul{
  list-style-type: decimal;
  margin-top:10px;
}

.pre-terminal{
  margin:10px 0px;
}

.clear-fix{
  display:block;
  clear:both;
}

// demopage

.my-form{
  width:500px;
}
.main-page{
  margin-top:50px;
}