// section id
#main-section{
  margin-top:70px;
  background-color:#f9f9f9;
}

#main-section-inner{
  margin:30px 0;
}

// Components

  // navbar
  .kbc-navbar{
    opacity:.9;
    padding:10px;
  }

  // header
  header {
      position: relative;
      width: 100%;
      min-height: auto;
      text-align: center;
      color: #fff;
      background-image: url("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/header/header.jpg");
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

  header .header-content {
      position: relative;
      width: 100%;
      padding: 100px 15px;
      text-align: center;
      /**/
      overflow: hidden;
  }

  // index
  // index の textbook へのリンク
  .table-content{
    border:1px solid;
    border-color:rgba(90, 90, 90, .6);
    border-radius:10px;
    margin-bottom:20px;
    p{
      margin:10px;
    }
  }
  .table-content:hover{
    background-color:#e0e0e0;
  }

  // textbook
  .textbook-title {
    h1{
      position: relative;
      padding: .25em 0 .5em .75em;
      border-left: 8px solid #3498db;
    }
    h1::after{
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ccc;
    }
  }

  .textbook-title-img{
    display:block;
    margin:20px auto;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }
  .textbook-area{
    margin:10px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  }
  .textbook-area-inner{
    background-color:white;
    padding:10px 30px;
    .textbook-section-title{
      padding-bottom:10px;
      border-bottom:3px solid #FF3300;
    }
    h4{
      margin-top:30px;
      line-height:1.5;
      letter-spacing: 0.2rem;
      font-weight: 1.2;
    }
    .next-page{
      text-align:center;
    }
  }

  // textbook link
  #title, #title0,
  #title1, #title1-1, #title1-1-1, #title1-1-2, #title1-2, #title1-2-1,#title1-2-2, #title3, #title1-3-1, #title1-3-2,
  #title2, #title2-1, #title2-1-1, #title2-1-2, #title2-2, #title2-2-1,#title2-2-2,#title2-2-3, #title2-2-4, #title2-2-5,
  #title3, #title3-1, #title3-1-1, #title3-1-2, #title3-2, #title3-2-1,#title3-2-2, #title3, #title3-3-1, #title3-3-2{
    display: block; padding-top: 80px; margin-top: -80px;
  }

    // slidebar
    #slide-bar{
      padding-right:10px;
      max-height:500px;
      border-radius:5px;
      overflow-y: scroll;
      background-color:white;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
      .list-title{
        color: #818a91;
        background-color: #eceeef;
      }
      a{
        padding:10px 20px;
      }
      .nomargin{
        margin:0;
      }
    }

  // footer
  .footer{
    padding:10px;
  }

// 各アクション
.hover_img:hover{
  opacity:.7;
}

// 共通設定

.fail_to_highlight{
  background-color:black;
  color:white;
}

.fixed{
  position: fixed;
  top:100px;
  width:20%;
  z-index: 10000;
}

body, td, th, form, h1, h2, h3, h4, h5, p, a, li {
    font-family: SalesforceSansRegular, メイリオ, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', Arial, Helvetica, Verdana, sans-serif;
}

.font-18{
    border-bottom:2px solid;
    font-size:18px;
  }

.font-15{
  font-size:15px;
}

.color-orange{
  color:#ffa500;
}

.color-red{
  color:#ff3300;
}

.color-blue{
  color:#1170db;
}

.color-green{
  color:#009944;
}

.color-purple{
  color:#9e1e9e;
}

.remarkable{
  font-size:25px;
  border-bottom:2px solid;
}

.little-remarkable{
  font-size:20px;
}

.red-hr{
  border-color: #FF3300;
  border-width: 3px;
  width:50px;
  opacity:.5;
}

.pre-terminal{
  margin:10px 0px;
}

.clear-fix{
  display:block;
  clear:both;
}