<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
<h4 id="coffee-chapter5-0">
  <strong>
  <i class="fa fa-bookmark color-red"></i>　這個網站教學的內容到這裡。辛苦你了！
  <br><br>
  在這裡，為了繼續學「Ruby on Rails」的人，介紹推薦可以學Rails的地方。
  </strong>
</h4>