<h2 class="textbook-section-title" id="title1"><strong>1 : 推薦學習的地方</strong></h2>
<h4 id="coffee-chapter5-1">
  <strong>
  在這裡介紹，可以學習更難的內容的地方。
  </strong>
</h4>
<hr class="red-hr">
<ul class="number_ul">
  <h3 id="title1-1"><strong><li><u>AlphaCamp</u></li></strong>
  <small>
  <i class="fa fa-arrow-circle-right"></i>　網站：<strong>「<a href="https://www.alphacamp.co/" target="_blank">AlphaCamp</a>」</strong>
  </small>
  </h3>
  <h4>
  「Ruby on Rails」以外教學iOS APP等等的地方。可以學到<strong><u>學習網路 Startup 人才需要的實戰技能與心態。</u></strong>
  </h4>
  <hr class="red-hr">
  <h3 id="title1-2"><strong><li><u>Rails 101</u></li></strong>
  <small>
  <i class="fa fa-arrow-circle-right"></i>　網站：<strong>「<a href="http://courses.growthschool.com/courses/rails-101" target="_blank">Rails 101</a>」</strong>
  </small>
  </h3>
  <h4>
  可以免費學Rails的教材。
  </h4>
  <hr class="red-hr">
  <h3 id="title1-3"><strong><li><u>Rails 實戰聖經</u></li></strong>
  <small><i class="fa fa-arrow-circle-right"></i>　網站：<strong>「<a href="https://ihower.tw/rails4/" target="_blank">Rails 實戰聖經</a>」</strong></small>
  </h3>
  <h4>
  可以學習Rails裡面的專門的知識。
  </h4>
  <hr class="red-hr">
  <h3 id="title1-4"><strong><li><u>Ruby on Rails 教程</u></li></strong>
  <small><i class="fa fa-arrow-circle-right"></i>　網站：<strong>「<a href="http://railstutorial-china.org/" target="_blank">Ruby on Rails 教程</a>」</strong></small>
  </h3>
  <h4>
  雖讓內容有一點難，但是可以學習更專門的內容。
  </h4>
</ul>