<h4 id="chapter5-1-1-1">
        <p id="title1-1-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : <u>七個網頁的設定</u></strong></p>
        <br>
        <i class="fa fa-play-circle"></i><strong>　那麽剛開始設定「七個網頁的設定」吧！</strong>
        <br><br>
        要編輯設定文件，<strong>所以用 Sublime Text 打開看看在<a href="/zh-TW/mugcups/3" target="_blank">第三章</a>作的網站「myapp」吧！</strong>
        <br>
        <small>
        ※　用Sublime Text打開文件的方法<a href="/zh-TW/mugcups/how_to_open#title1" target="_blank"><strong>請參考這裡</strong></a>。
        <br>
        <i class="fa fa-windows color-blue"></i>　用Windows的 Sublime Text 打開文件文件夾的方法<a href="/zh-TW/mugcups/how_to_open#title2" target="_blank"><strong>請參考這裡</strong></a>。
        </small>
        <br><br>
        打開之後，參考下面的圖像打開<strong>「<u>routes.rb</u>」</strong>吧。
        <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_Open_route_rb.png",
                              :width => "90%",
                              :class => "hover_img textbook-title-img"),
                    "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page5/Sublime_Text_Open_route_rb.png",
                    :target => ["_blank"] %>
        這個<strong>「<u>routes.rb</u>」</strong>的文件在設定，七個網頁中使用哪一個網頁的設定文件。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
...
56
57
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># Example of regular route:</span></span>
<span class='code-line'>  <span class='word-gray'>#   get 'products/:id' => 'catalog#view'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
<br>
在這個設定文件上設定<u>用資料庫作哪些七個網頁。</u>
<br><br>
看起來是很長，但是<strong><u>從「#」開始的行不會適用</u></strong>，所以文件上沒有內容在設定。
<br>
<strong><u>文件的內容從「<i>do</i>」到「<i>end</i>」的行裡面設定。</u></strong>
<hr class="red-hr">
那麽追加下一個行，設定内容吧！
<br><br>
<i class="fa fa-file color-red"></i>　<strong>routes.rb（追加第2行）</strong>
<br>
<small>
※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
<br>
<i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
</small>
<br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
11
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># Example of regular route:</span></span>
<span class='code-line'>  <span class='word-gray'>#   get 'products/:id' => 'catalog#view'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        上面的內容在設定，用「posts」資料庫作
        <br><br>
        <strong>
        顯示全部的資料（<i><u>index</u></i>）・顯示一個資料（<i><u>show</u></i>）
        <br>
        打入新的資料（<i><u>new</u></i>）・新增資料（<i><u>create</u></i>）
        <br>
        打入編輯的資料（<i><u>edit</u></i>）・編輯資料（<i><u>update</u></i>）
        <br>
        刪除資料（<i><u>destroy</u></i>）
        </strong>
        <br><br>
        這個七種網頁。
        <hr class="red-hr">
        如果不想刪除資料的話，
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第二行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>2
</td>
<td class='code-content'><span class='code-line'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>]</span>
</td>
</tr>
</table>
        <br>
        <strong>像上面這樣子「<i>:only =></i>」後面指定「<i>destroy</i>」以外六個網頁。</strong>
        <br>
        <small>※　「:」是在Ruby on Rails 作網頁時的規則。請記住。</small>
        <br><br>
        所以網頁的設定是在<strong>「<i>routes.rb</i>」</strong>上追加
<pre>
resources :資料庫的名字, :only => [:想加的網頁...]
</pre>
        這些內容。
        <br><br>
        <i class="fa fa-question-circle color-green"></i>　<strong>如果用「<u>messages</u>」的資料庫作
        <ul class="number_ul">
            <li><u>顯示全部的資料（index）</u></li>
            <li><u>新增資料（create）</u></li>
            <li><u>刪除資料（destroy）</u></li>
        </ul>
        這個三種資料操作的話，「routes.rb」上要設定什麼樣的資料呢？</strong>
        <br><br>
        <input type="input" class="form-control input-code" placeholder="答えを入力しよう！">
        <br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第2行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>  resources <span class='word-purple'>:messages</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:index</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:destroy</span>]</span>
</td>
</tr>
</table>
        <br>
</h4>