<h2 class="textbook-section-title" id="title1"><strong>1 : 設定網頁</strong></h2>
        <h4 id="chapter5-1">
        在<a href="/zh-TW/mugcups/2#title1-1" target="_blank"><strong>第二章</strong></a>解釋過，Ruby on Rails 是隨着保存資料的方法設定各個網頁。
        <br><br>
        設定的網頁可以分類成<strong>「<u>資料的顯示・新增・編輯・刪除</u>」</strong>這個四種網頁，但正確分類的話有<strong><u>七個</u></strong>（操作的資料的操作是只有4種）。
        <br>
        <small>※　現在就記住這個七種就OK</small>
        <br><br>
        <ul class="number_ul">
          <strong><li>顯示全部的資料　　　<u>index</u></li></strong>
          <small>例：推特的主頁<br>→顯示的資料用<strong>「<i>Post.all</i>」</strong>設定</small>
          <strong><li>顯示一個資料　　　　<u>show</u></li></strong>
          <small>例：一個推特<br>→顯示的資料用<strong>「<i>Post.find(id號碼)</i>」</strong>設定</small>
          <strong><li>打入新的資料　　　　<u>new</u></li></strong>
          <strong><li>新增資料　　　　　　<u>create</u></li></strong>
          <small>例：作推特的畫面<br>→資料用<strong>「<i>Post.create</i>」</strong>設定</small>
          <strong><li>打入編輯的資料　　　<u>edit</u></li></strong>
          <strong><li>編輯資料　　　　　　<u>update</u></li></strong>
          <small>例：編輯帳號的畫面<br>→資料用<strong>「<i>Post.find(id號碼).update</i>」</strong>設定</small>
          <strong><li>刪除資料　　　　　　<u>destroy</u></li></strong>
          <small>例：刪除推特的畫面<br>→資料用<strong>「<i>Post.find(id號碼).destroy</i>」</strong>設定</small>
        </ul>
        <br>
        這樣看來，可以看出用設定<a href="/zh-TW/mugcups/4" target="_blank"><strong>在上章</strong></a>學習的操作資料的方法顯示內容。
        <br>
        這些七個設定要在<u><strong>設定資料操作的文件</strong></u>上設定。
        <br><br>
        <i class="fa fa-star color-red"></i>　在這個章，<u><strong>用「posts」資料庫</strong>作作看這個七個網頁吧</u>。
        <br><br>
        各個設定中必須要有<strong><u>三個設定</u></strong>。
        <ul class="number_ul">
          <strong><li>七個網頁中，使用哪一個網頁的設定</li></strong>
          <strong><li>資料操作的設定</li></strong>
          <strong><li>網頁內容的設定（html）</li></strong>
        </ul>
        做了<strong><u>這個三個設定</u></strong>後，網頁會顯示。
        <hr class="red-hr">
        <strong class="little-remarkable">剛開始，作作看「顯示一個資料（show）」的網頁吧！</strong>
        </h4>