<h4 id="chapter5-1-2">
        <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">②
         : 顯示全部的資料（index）</strong></p>
         <br>
         那麽作作看<strong><u>顯示全部的資料的像推特的網頁吧</u></strong>。
         顯示全部的資料，用<a href="/zh-TW/mugcups/4#title2-4" target="_blank"><strong>上章</strong></a>的內容解釋的話，可以說設定
         <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>Post.all</span>
</td>
</tr>
</table>
         <br>
         的內容，作
         <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page5/Chrome_posts_all_2.png",
                               :width => "90%",
                               :class => "hover_img textbook-title-img"),
                     "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/page5/Chrome_posts_all_2.png",
                     :target =>["_blank"] %>
         上面圖像一樣的，會顯示全部的投稿資料的網頁。
         <br><br>
         設定有<strong><u>「用哪一個網頁的設定」「操作資料的設定」「網頁的內容的設定」的三個</u></strong>。在這裡一個一個設定吧。
</h4>
         <hr>
         <%= render "page5/zh-TW/title1_2_1" %>
         <hr class="red-hr">
         <%= render "page5/zh-TW/title1_2_2" %>
         <hr>
         <%= render "page5/zh-TW/title1_2_3" %>