<h4 id="chapter5-1-2-3">
        <p id="title1-2-3"><i class="fa fa-check-square color-red"></i><strong>　⑶ : 總結</strong></p>
        先解釋<strong>「顯示全部的資料（index）」</strong>上設定的三個設定。
        <br><br>
        <strong>設定的內容<a href="/zh-TW/codes/5" target="_blank">請參考這裡</a></strong>
        <hr class="red-hr">
        <p id="title1-2-3-route" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>七個網頁的設定</strong></p>
        <br>
        <strong>「config」文件夾裡的「routes.rb」文件裡設定「<u>index</u>」</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple remarkable-code'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <hr class="red-hr">
        <p id="title1-2-3-data" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>資料操作的設定</strong></p>
        <br>
        <strong>設定「app > controllers」文件夾裡的「資料庫的名字_controller.rb」文件的「<u>index</u>」</strong>
        <br><br>
        <i class="fa fa-file color-red"></i><strong>　posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line remarkable-code'>    @posts <span class="word-red">=</span> <span class='word-blue'>Post</span>.all</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong>設定<u>選擇全部的資料的「.all」跟html上顯示的標記</u></strong>
        <hr class="red-hr">
        <p id="title1-2-3-view" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>網頁的設定</strong></p>
        <br>
        <strong>設定「app > views > 資料庫的名字」文件夾裡的「<u>index.html.erb</u>」。</strong>
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>index.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;message一覽&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% @message.each <span class="word-red">do</span> |m| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;寄信者 ： &lt;%= m.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;收信者 ： &lt;%= m.send_to %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;%= m.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
        <br>
        在網頁上，<strong>顯示<u>「controller」文件上設定的資料</u>。</strong>
        <br><br>
        用<strong>「<u>&lt;% @設定的標記.each do |名字| %&gt;</u>」</strong>，把複數的資料分成一個一個的資料，
        <br>
        到<strong>「<u>&lt;% end %&gt;</u>」</strong>之間，設定各個資料的顯示方法。
        <br><br>
        用<strong>「<u>&lt;%= 資料庫的名字.框子的名字 &gt;</u>」</strong>顯示各個資料。
        <hr class="red-hr">
        <p id="title1-2-3-chrome" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>瀏覽器上的顯示</strong></p>
        <br>
        設定完了之後<strong>用terminal打入「rails s」</strong>、可以在瀏覽器打開網頁。
        <br>
        顯示全部的資料（index）的網頁，從<strong>「<u>0.0.0.0:3000/資料庫的名字</u>」</strong>打開。
        <br>
        <small><i class="fa fa-windows color-blue"></i>　使用Windows的話，從<strong>「<u>localhost:3000/資料庫的名字</u>」</strong>打開。</small>
        <hr class="red-hr">
        <i class="fa fa-play-circle"></i>　<strong>網頁的移動（連結）</strong>
        <br><br>
        網頁的移動，
<pre>
&lt;a href="想移動的網頁"&gt;文字&lt;/a&gt;
</pre>
        做。
        <br><br>
        想移動到「index」網頁的話，
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;按這裡&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        想移動到「show」網頁的話，
        <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= p.id %&gt;"</span>&gt;按這裡&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        這樣子設定。
        <br><br>
        <strong>設定的內容<a href="/zh-TW/codes/5" target="_blank">請參考這裡</a>。</strong>
        <hr class="red-hr">
        <strong>
        <i class="fa fa-star color-blue"></i>　到這裡我們作了顯示全部的資料的網頁。
        <br>
        還剩的「在網頁上，新增・編輯・刪除資料」的方法，在下章解釋！
        <br><br>
        到這裡設定的內容<a href="/zh-TW/codes/5" target="_blank">參考這裡</a>。
        <hr>
        </strong>
</h4>