<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
        <h4 id="chapter5-0">
        <i class="fa fa-bookmark color-red"></i>　<strong>理解 Ruby on Rails 上可以作這麼樣的網頁、然後作作看網頁。</strong>
        <hr>
        在上章，<strong><u>我們用 Ruby on Rails新增資料之後，做資料的編輯跟刪除。</u></strong>
        <br><br>
        到這裡，有沒有了解了一點關於網站上做的事情嗎？
        <hr class="red-hr">
        在上章我們用Facebook的例子解釋資料庫。<u>如果是網絡聊天的網站的話，</u>
        <br><br>
        <strong>messages</strong>
        <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>id</th>
                <th>user</th>
                <th>send_to</th>
                <th>content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>82903</td>
                <td>山田太郎</td>
                <td>田中一郎</td>
                <td>１限の資料取ってくれない？</td>
              </tr>
              <tr>
                <td>82904</td>
                <td>張張</td>
                <td>Tom</td>
                <td>明天有考試</td>
              </tr>
              <tr>
                <td>80905</td>
                <td>A</td>
                <td>Green</td>
                <td>差不多可以還給我上次給的100万元</td>
              </tr>
            </tbody>
          </table>
          <br>
          作這樣子的資料庫保存資料，之後從這個資料庫顯示資料。
          <br><br>
          這樣子應該簡單的理解這麼做資料庫了吧。
          <br>
          <strong>在這個章裡不用「<i>rails c</i>」，想用用看<u>瀏覽器上的網站做資料的顯示・新增・編輯・刪除。</u></strong>
          <br>
          <small>※　網頁的顯示會用html，所以看看<a href="/zh-TW/mugcups/3#title1" target="_blank"><strong>html的內容</strong></a>吧。</small>
  <br><br><br>
  <strong>
    <p class="alert alert-success">
      <i class="fa fa-windows color-blue"></i>　使用Windows的話，確認有沒有加<a href="/zh-TW/mugcups/windows_tips#title1-3" target="_blank">這個設定</a>。
    </p>
  </strong>
  <br>
</h4>