<h4 id="chapter5-1-1-4">
        <p id="title1-1-4"><i class="fa fa-check-square color-red"></i>　<strong>⑷ : 總結</strong></p>用Ruby on Rails顯示網頁的時候，要設定<strong><u>三個設定</u></strong>。
        <strong>
          <ul class="number_ul">
            <li>七種網頁中，使用哪一個資料的設定</li>
            <li>操作資料的設定</li>
            <li>網頁內容的設定</li>
          </ul>
          <small>※　七個網頁的設定是設定<strong>「<u> index/ show/ new/ create/ edit/ update/ destroy</u>」</strong>這個七個</small>
        </strong>
        <br><br>
        設定完了之後，在terminal打入<strong>「<i>rails s</i>」</strong>起動服務器，之後用瀏覽器打入<strong>「<u>0.0.0.0:3000/...</u>」</strong>可以顯示網頁。
        <br><br>
        <strong>設定的內容，<a href="/zh-TW/codes/5" target="_blank">可以從這裡看</a></strong>
        <hr class="red-hr">
        <p id="title1-1-4-route" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>七個網頁的設定</strong></p>
        <br>
        <strong>編輯「config」文件夾裡的「<u>routes.rb</u>」文件</strong>，設定要用哪一個網頁。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>routes.rb（第3行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
...
57
58
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Rails</span>.application.routes.draw<span class='word-red'> do</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'>  resources <span class='word-purple'>:posts</span> , <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:new</span>, <span class='word-purple'>:create</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>, <span class='word-purple'>:destroy</span>]</span>
<span class='code-line'>  <span class='word-gray'># The priority is based upon order of creation: first created -> highest priority.</span></span>
<span class='code-line'>  <span class='word-gray'># See how all your routes lay out with "rake routes".</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># You can have the root of your site routed with "root"</span></span>
<span class='code-line'>  <span class='word-gray'># root 'welcome#index'</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-gray'># 省略</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong><u>在「:only =>」後面的「[]」裡設定喜歡的網頁</u></strong>。
        <hr class="red-hr">
        <p id="title1-1-4-data" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>資料操作的設定</strong></p>
        <br>
        <strong>在「app > controllers」文件夾裡的「<u>資料庫的名字_controller.rb</u>」文件</strong>，設定各個網頁上這麼樣操作資料。
        <br><br>
        這一次，說明了<strong>「<u>顯示一個資料（show）</u>」</strong>的網頁。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line remarkable-code'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(<span class='word-purple'>:params</span>[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
        <br>
        <strong>「<u>顯示一個資料（show）</u>」</strong>的網頁上，用<strong>「<u>find(:params[:id])</u>」</strong>各個id上選擇資料。
        <br>
        用<strong>「<u>@喜歡的名前</u>」</strong>，設定<strong><u>顯示在網頁上的html文件的標記</u></strong>。
        <hr class="red-hr">
        <p id="title1-1-4-view" class="fix-link-nav"><i class="fa fa-play-circle"></i>　<strong>網頁內容的設定</strong></p>
        <br>
        <strong>在「app > views」文件夾裡的「資料庫的名字」的文件夾，作顯示網頁的html文件。</strong>
        <br>
        <u>隨着要用的網頁，作</u>
        <strong>
        <ul class="number_ul" style="font-height:2.5; margin:20px 0">
          <li>index.html.erb</li>
          <li>show.html.erb</li>
          <li>new.html.erb</li>
          <li>create.html.erb</li>
          <li>edit.html.erb</li>
          <li>update.html.erb</li>
          <li>destroy.html.erb</li>
        </ul>
        </strong>
        <hr class="red-hr">
        這一次<strong>「<u>顯示一個資料（show）</u>」</strong>的網頁中設定<strong>「<u>show.html.erb</u>」</strong>。
        <br><br>
        <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line remarkable-code'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
        <br>
        <strong>從資料庫選擇的資料要設定在<u>「&lt;%=」跟「%&gt;」之間。</u></strong>
        <br>
        選擇的資料，在html上打入<strong>「<u>@設定的標記.框子的名字</u>」</strong>顯示。
        <hr class="red-hr">
        <p id="title1-1-4-chrome" class="fix-link-nav"><i class="fa fa-chrome color-red"></i>　<strong>在瀏覽器顯示網頁</strong></p>
        <br>
        設定完了之後，<strong>在terminal上打入「<u>rails s</u>」之後</strong>，瀏覽器中打開網頁。
        <br>
        「顯示一個資料（show）」的網頁，從<strong>「<u>0.0.0.0:3000/資料庫的名字/要顯示的id</u>」</strong>打開。
        <br><br>
        <small>
        <i class="fa fa-windows color-blue"></i>　使用Windows的話，從<strong>「<u>localhost:3000/資料庫的名字/要顯示的id號碼</u>」</strong>打開。
        </small>
        <hr class="red-hr">
        到這裡顯示了一個一個的資料。
        <br>
        <strong>接着作顯示全部的資料的，像推特的主頁一樣子的網頁吧。
        <br><br>
        設定的內容<a href="/zh-TW/codes/5" target="_blank">可以從這裡看</a></strong>
</h4>