<% provide :title, "エラーが発生しました" %>
<div class="container">
  <div class="textbook-area text-center">
    <div class="textbook-area-inner fadeIn wow">
      <h1 style="font-size:100px">500</h1>
      <hr class="red-hr">
      <p class="color-red"><strong>We're sorry,but something went wrong!</strong></p>
      <br>
      <p><a href="javascript:history.back()" class="btn btn-danger">戻る</a></p>
    </div>
  </div>
</div>