<div class="container">
  <div class="textbook-area text-center">
    <div class="textbook-area-inner fadeIn wow">
      <h1 style="font-size:100px">404</h1>
      <hr class="red-hr">
      <p class="color-red"><strong>this page you were looking for doesn't exist.</strong></p>
      <br>
      <p><a href="javascript:history.back()" class="btn btn-danger">戻る</a></p>
    </div>
  </div>
</div>