<h4 id="chapter1-1">
      <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 命令提示符</strong></p>
      <br>
      事先打开「命令提示符」。
      <br>
      <ul class="number_ul">
        <li>使用<strong><u>Windows10</u></strong>的话，用<strong>「<u>Cortana</u>」</strong>上</li>
        <li>使用<strong><u>Windows8以下</u></strong>的话、用<strong>「<u>搜索框</u>」</strong>上</li>
      </ul>
      打入<strong>「<u>命令提示符</u>」</strong>之后，打开这个。
      <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal1.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal1.png",
                  :target => ["_blank"] %>
      <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal2.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal2.png",
                  :target => ["_blank"] %>
      <i class="fa fa-arrow-right"></i>　这个叫做<strong>「<u>命令提示符</u>」</strong>的应用程序，给电脑命令的程序。
      <hr class="red-hr">
      <i class="fa fa-question-circle color-red"></i>　<strong>呢么使用命令提示符，移动Desktop內吧！</strong>
      <br><br>
      用半母字母数字打入<strong>「cd Desktop」</strong>之后，点击「Enter」按键。
      <br>
      像下面一样，显示新的一行了嗎？
      <br>
      下面图像的红线在表示现在的位置。现在在<strong class="color-red">Desktop</strong>。
      <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal3.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal3.png",
                  :target => ["_blank"] %>
      用「cd」的话，可以移动到<strong><u>指定的文件夾</u></strong>
      <br><br>
      <i class="fa fa-folder color-red"></i>　<strong>用「cd」，移动到「Desktop」里的自己喜欢的文件夾。
      <br>
      　　打入「open 文件的名字」，可以打开指定的文件。</strong>
      <br>
      <small>
      ※　打入「cd ..」可以移动到前面的文件夾、打入「cd ~/Desktop」可以移动到「Desktop」。
      <br>
      ※　请使用半母字母数字打入。
      </small>
      <br><br>
      <strong class="little-remarkable"><i class="fa fa-arrow-right"></i>　之后有<span class="color-red">「terminal」</span>的单词的话、换成<span class="color-blue">「命令提示符」</span>吧。</strong>
</h4>