<h4 id="chapter1-2">
  <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : 打开「rails_project」的方法</strong></p>
  <br>
  解释使用Windows的命令提示符打开「rails_projects」的方法。
  <br><br>
  <ul class="number_ul">
    <li>使用<strong><u>Windows10</u></strong>的话，打開<strong>「<u>Cortana</u>」</strong></li>
    <li>使用<strong><u>Windows8以下</u></strong>的话，打開<strong>「<u>搜索框</u>」</strong></li>
  </ul>
  打入「命令提示符」，点击搜索的结果。
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal1.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/terminal2.png",
              :target => ["_blank"] %>
  打开了之后，在命令提示符上打入下面的命令。
<br>
  <small>※　如果使用<strong>「railsproject」</strong>的名字的话，就打入<strong>「<u>cd /railsproject</u>」</strong>。</small>
  <br><br>
  <strong>　命令提示符（用半母字母数字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd /rails_projects</span>
</td>
</tr>
</table>
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_rails_projects.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/windows_rails/open_rails_projects.png",
              :target => ["_blank"] %>
  <i class="fa fa-arrow-right"></i>　<strong>这样用命令提示符打开「rails_projects」了。</strong>
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>如果要移动到「myapp」的话，打入</strong>
  <br><br>
  <strong>　命令提示符（用半母字母数字打入）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
</h4>