<h4 id="chapter1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 作文件夾</strong></p>
  <br>
  解释用Windows作「rails_project」文件夾的方法。
  <br><br>
  <ul class="number_ul">
    <li>使用<strong><u>Windows10</u></strong>的话，点击<strong>「<u>Cortana</u>」</strong></li>
    <li>使用<strong><u>Windows8以下</u></strong>的话，点击<strong>「<u>搜索框</u>」</strong></li>
  </ul>
  打入「文件资源管理器」，之后选择结果。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder1.png",
              :target => ["_blank"] %>
  打开之后，從左边选择<strong>「<u>此电脑</u>」</strong>，打开下面的<strong>「<u>〜（C:）</u>」</strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder2.png",
              :target => ["_blank"] %>
  打开之后，点击<strong>「<u>新建文件夾</u>」</strong>。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder3.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder3.png",
              :target => ["_blank"] %>
  点击之后会出现沒有名字的文件夾，打入<strong>「rails_projects」</strong>之后保存。
<br>
  <small>※　如果不能打入<strong>「_」</strong>的话，使用<strong>「<u>railsproject</u>」</strong>的名字。</small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder4.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/windows_rails/make_folder4.png",
              :target => ["_blank"] %>
  <strong><i class="fa fa-arrow-right"></i>　这样作好「rails_projects」的文件夾！</strong>
</h4>