<h4 id="chapter1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : Gemfile</strong></p>
  <br>
  在Windows上作Ruby on Rails的网站的之前，<strong><u>Gemfile上必须加一個设定。</u></strong>
  <br><br>
  <i class="fa fa-exclamation color-red"></i>　<strong>在这里解释这个设定。</strong>
  <hr class="red-hr">
  打开<strong>「<u>Gemfile</u>」</strong>之后，追加下面的设定。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile（第24〜26行）</strong>
  <br>
  <small>※　用半母字母数字打入。编辑好了之后，一起点击「ctrl」跟「s」保存文件的內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>24
25
<strong class="color-red">26</strong>
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'sdoc', '~> 0.4.0'</span>, <span class='word-purple'>group:</span> <span class='word-purple'>:doc</span></span>
<span class='code-line'></span>
<span class='code-line remarkable-code'><span class='word-red'>gem </span><span class='word-yellow'>'coffee-script-source', '1.8.0'</span></span>
</td>
</tr>
</table>
  <br>
  编辑完了之后，在命令提示符打入下面的命令。
  <br><br>
  　<strong>命令提示符</strong>
  <br>
  <small>※　用半母字母数字打入</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle update coffee-script-source</span>
</td>
</tr>
</table>
  <br>
  <i class="fa fa-arrow-right"></i>　<strong>到这里，需要的设定都做好了。</strong>
</h4>