<h4 id="chapter7-1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 設定移動到edit網頁的連結</strong></p>
  <br>
  <strong>首先，設定移動到<strong>「<a href="/zh-TW/mugcups/6#title1-5" target="_blank">打入編輯的資料（edit）</a>」</strong>的網頁的連結吧！</strong>
  <br><br>
  還記得網頁的移動要這麼設定呢？
  <br>
  <small>※　不記得的話，<a href="/zh-TW/mugcups/5#title1-2-2" target="_blank"><strong>請參考這裡</strong></a>。</small>
  <br><br>
  在這裡設定的是「<a href="/zh-TW/mugcups/5#title1-1" target="_blank"><strong>顯示一個資料（show）</strong></a>」的網頁上，追加移動到「<a href="/zh-TW/mugcups/6#title1-5" target="_blank"><strong>打入編輯的資料（edit）</strong></a>」的連結。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  這一次要在<strong>「<a href="/zh-TW/mugcups/5#title1-1" target="_blank">顯示一個資料（show）</a>」</strong>的網頁上設定網頁的顯示，所以在<strong>「<u>show.html.erb</u>」</strong>上追加設定。
  <br><br>
  用 Sublime Text 打開的<strong>「<u>myapp</u>」</strong>裡的<strong>「<u>app > views > posts</u>」</strong>文件夾哩，打開<strong>「<a href="/zh-TW/mugcups/5#title1-1-4-view" target="_blank"><u>show.html.erb</u></a>」</strong>吧。
  <br>
  <small>
    ※　使用Sublime Text打開文件的方法<a href="/zh-TW/mugcups/how_to_open#title1" target="_blank"><strong>請參考這裡</strong></a>
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的Sublime Text打開文件文件夾的方法<a href="/zh-TW/mugcups/how_to_open#title2" target="_blank"><strong>請參考這裡</strong></a>。
  </small>
  <br><br>
  打開之後，按照下面的內容，編輯內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（追加第2、6、8行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
<span class="color-red"><strong>8</strong></span>
9
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;投稿&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.content %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= @post.place %&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;返回主頁&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span>&gt;編輯投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span>&gt;刪除投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  設定好了之後，移動到「myapp」，
  <br><br><br>
  <p class="alert alert-success">
  <span><strong><i class="fa fa-windows color-blue"></i>　使用Windows移動的方法，<a href="/zh-TW/mugcups/windows_tips#title1-2" target="_blank">請參考這裡</a>。</strong></span>
  </p>
  <br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
<span class='code-line'>cd myapp</span>
</td>
</tr>
</table>
  <br>
  那麽打開要顯示網頁的<a href="/zh-TW/mugcups/3#title2-3" target="_blank"><strong>服務器</strong></a>吧！
  <br><br>
  　<strong>terminal</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，請使用「命令提示符」吧。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails s</span>
</td>
</tr>
</table>
  <br>
  <small>
    ※　<u>一起點擊<strong>「Command」跟「c」</strong></u>停止，用<strong>「<u>rails s</u>」</strong>打開的服務器之後，再打入<strong><u>「rails s」</u></strong>吧。
  </small>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開服務器之後，再打入「<u>rails s</u>」吧。</strong>
  </p>
  <br>
  <hr class="red-hr">
  完了之後，打開看「<a href="http://0.0.0.0:3000/posts/1" target="_blank"><strong>0.0.0.0:3000/posts/1</strong></a>」吧！
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開看「<a href="http://localhost:3000/posts/1" target="_blank"><strong>localhost:3000/posts/1</strong></a>」吧。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page7/Chrome_posts_1_add_edit.png",
              :target => ["_blank"] %>
  畫面上有顯示連結嗎？
  <br>
  連結追加之後，打開看這個連結吧！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page6/Chrome_posts_1_edit_1.png",
              :target => ["_blank"] %>
  移動到「打入編輯的資料」的網頁了嗎？
  <hr class="red-hr">
  那麽，解釋內容吧！
  <br><br>
  「<a href="/zh-TW/mugcups/6#title1-5" target="_blank"><strong>打入編輯的資料（edit）</strong></a>」的網頁，從
  <br><br>
  <i class="fa fa-chrome color-red"></i>　<strong>瀏覽器</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line small-code'>0.0.0.0:3000/posts/1/edit</span>
</td>
</tr>
</table>
  <br>
  <small><i class="fa fa-windows color-blue"></i>　使用Windows的話，打開<strong>「<a href="http://localhost:3000/posts/1/edit" target="_blank">localhost:3000/posts/1/edit</a>」</strong>。</small>
  <br><br>
  打開。（詳細<a href="/zh-TW/mugcups/6#title1-5-2-chrome" target="_blank"><strong>請參考這裡</strong></a>）
  <br>
  在這裡的連結上也設定這個url。
  <hr class="red-hr">
  連結是
<pre>
&lt;a href="移動到的url"&gt;顯示的文字&lt;/a&gt;
</pre>
  設定（詳細<a href="/zh-TW/mugcups/5#title1-2-2" target="_blank"><strong>請參考這裡</strong></a>）。
  <br><br>
  「0.0.0.0:3000」的網頁可以用「/」省略，所以移動到「<a href="http://0.0.0.0:3000/posts/1/edit" target="_blank"><strong>0.0.0.0:3000/posts/1/edit</strong></a>」的連結（點擊後會移動的文字）要
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/1/edit"</span>&gt;編輯投稿&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  這樣子設定。
  <hr class="red-hr">
  在現在的狀況，全部的<strong>「顯示一個資料（show）」的網頁</strong>會移動到「id是1」的「打入編輯的資料」的網頁。<strong>可是在「id是2」的網頁的連結也<u>只能移動到「id是1」的「打入編輯的資料」的網頁</u>。</strong>
  <br><br>
  <strong><u>所以把這個設定，改成可以移動到在打開的網頁id的「打入編輯的資料（edit）」的網頁吧。</u></strong>
  <br><br>
  那麽，設定移動到各個網頁id的「打入編輯的資料（edit）」的網頁吧。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>
  <strong>
 「顯示一個資料（show）」的網頁的資料操作，用下面的內容。
  </strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>posts_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @post <span class="word-red">=</span> <span class='word-blue'>Post</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  <strong>
  參考這個，設定看<u>用「@post」移動到各個網頁id的「打入編輯的資料（edit）」的網頁的連結</u>吧！
  <br>
  <small>※　如果不知道的話，<a href="/zh-TW/mugcups/5#title1-2-3-chrome" target="_blank"><strong>參考這裡吧</strong></a>。</small>
  </strong>
  <br><br>
  <input type="input" class="input-code form-control" placeholder="打入答案">
  <br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/&lt;%= @post.id %&gt;/edit"</span>&gt;編輯投稿&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
</h4>