<h2 class="textbook-section-title" id="title0"><strong>0 : 這個章的目的</strong></h2>
<h4 id="chapter7-0">
  <i class="fa fa-bookmark color-red"></i>　<strong>把作的網頁設定的更方便更好看吧！</strong>
  <hr>
   在<a href="/zh-TW/mugcups/5" target="_blank"><strong>第5章</strong></a>跟<a href="/zh-TW/mugcups/6" target="_blank"><strong>第6章</strong></a>，解釋了用Ruby on Rails作網頁的方法，使用各個資料的操作作了網頁。
   <br>
   <strong><u>可是現在的網頁又不方便又不好看。在這裡修修這些設定吧！</u></strong>
   <br><br>
   在這個章設定
   <strong>
   <ul class="number_ul">
    <li>網頁的移動（使用<a href="/zh-TW/mugcups/5#title1-2-2" target="_blank"><strong>「<u>&lt;a href=""&gt;</u>」</strong></a>）</li>
    <li>網頁的裝飾（使用<a href="/zh-TW/mugcups/3#title1-2" target="_blank"><strong><u>CSS文件</u></strong></a>跟<a href="/zh-TW/mugcups/3#title1-1" target="_blank"><strong><u>HTML文件</u></strong></a>設定）</li>
   </ul>
   </strong>
   那麽，開始設定吧！
</h4>