<h4 id="chapter7-2-3">
  <p id="title2-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 總結</strong></p>
  <br>
  在這裡解釋了<a href="http://getbootstrap.com/" target="_blank"><strong>Bootstrap</strong></a>的用法。
  <br><br><br>
  <p class="alert alert-success">
    <strong>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，<a href="/zh-TW/mugcups/windows_tips#title1-4" target="_blank">請參考這裡</a>導入Bootstrap吧。
    </strong>
  </p>
  <br>
  <hr class="red-hr">使用
  <strong>Bootstrap</strong>的時候，先在<strong>「<a href="/zh-TW/mugcups/3#title2-2-1" target="_blank">Gemfile</a>」</strong>裡設定內容之後，導入工具的內容。要導入的時候，現在「Gemfile」設定下面的內容。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>26
27
28
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'therubyracer'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'less-rails'</span></span>
<span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'twitter-bootstrap-rails'</span></span>
</td>
</tr>
</table>
  <br>
  設定好了之後，打入
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  安裝gem之後，打入
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g bootstrap:install</span>
</td>
</tr>
</table>
  <br>
  這樣子<strong>「<u>Bootstrap</u>」</strong>的導入完成了。
  <hr class="red-hr">
  另外還解釋了用「Bootstrap」作的四個顯示的設定。
  <br><br>
  <div class="list-group">
    <a href="/zh-TW/mugcups/7#title2-2-5-container" class="list-group-item" target="_blank"><strong>container</strong></a>
    <a href="/zh-TW/mugcups/7#title2-2-5-btn" class="list-group-item" target="_blank"><strong>btn</strong></a>
    <a href="/zh-TW/mugcups/7#title2-2-5-form" class="list-group-item" target="_blank"><strong>form-control</strong></a>
    <a href="/zh-TW/mugcups/7#title2-2-5-nav" class="list-group-item" target="_blank"><strong>navigation-bar</strong></a>
  </div>
  <strong>Bootstrap裡還有別的用法，有興趣的話自己查查看吧！</strong>
</h4>