<h2 class="textbook-section-title" id="title2"><strong>2 : 用Bootstrap裝飾網頁</strong></h2>
<h4 id="chapter7-2">
  連結的設定好了，<strong><u>接下把網站顯示的更漂亮吧！</u></strong>
  <br>
  用html作的網頁的裝飾是，
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>style.css</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'><span class='word-green'>.title</span>{</span>
<span class='code-line'>  <span class='word-blue'>color</span>:<span class='word-blue'>white</span>;</span>
<span class='code-line'>  <span class='word-blue'>font-size</span>:<span class='word-blue'><span class='word-purple'>30</span><span class='word-red'>px</span></span>;</span>
<span class='code-line'>  <span class='word-blue'>background-color</span>:<span class='word-blue'>black</span>;</span>
<span class='code-line'>}</span>
</td>
</tr>
</table>
  <br>
  跟上面一樣，使用<a href="/zh-TW/mugcups/3#title1-2" target="_blank"><strong>CSS文件</strong></a>設定內容。
  <hr class="red-hr">
  用 Ruby on Rails作的網頁也跟這個一樣設定。
  <br><br>
  <u>可是，從頭到尾設定這個CSS文件有一點難。</u>
  <br>
  為了省略作CSS文件的工夫，<strong>做網站的時候有時候會用已經作好的CSS文件。</strong>
  <br><br>
  在這個章使用<strong>Twitter社開發的「<a href="http://getbootstrap.com/" target="_blank"><u>Bootstrap</u></a>」</strong>，裝飾網頁的內容。
  <br><br>
  在這個章使用<strong><u>Bootstrap</u></strong>設定的CSS的裝飾，設定網頁的內容吧！
  <hr>
  <%= render "page7/zh-TW/title2_1" %>
  <hr>
  <%= render "page7/zh-TW/title2_2" %>
  <hr>
  <%= render "page7/zh-TW/title2_3" %>
</h4>