<h4 id="chapter7-1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : 總結</strong></p>
  <br>
  在這裡解釋了作連結的方法，在這裡複習連結的內容。
  <br><br>
  <strong>設定的內容<a href="/zh-TW/codes/7" target="_blank">請參考這裡</a></strong>
  <hr class="red-hr">
  在這裡複習
  <br>
  <strong>
  <ul class="number_ul">
  <li><a href="/zh-TW/mugcups/5#title1-1" target="_blank">「顯示一個網頁（show）」</a></li>
  <li><a href="/zh-TW/pages5#title1-2" target="_blank">「顯示全部的網頁（index）」</a></li>
  <li><a href="/zh-TW/mugcups/6#title1-3" target="_blank">「打入新的資料（new）」</a></li>
  <li><a href="/zh-TW/mugcups/6#title1-5" target="_blank">「打入編輯的資料（edit）」</a></li>
  <li><a href="/zh-TW/mugcups/6#title1-7" target="_blank">「刪除資料（destroy）」</a></li>
  </ul>
  <br>
  這個五個網頁的連結。
  </strong>
  <hr class="red-hr">
  <ul class="number_ul">
    <strong><li>移動到「<a href="/zh-TW/mugcups/5#title1-1" target="_blank"><strong>顯示一個資料（show）</strong></a>」的網頁的連結</li></strong>
    <br>
    例如說
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/1"</span>&gt;投稿１&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <br>
    這樣子
<pre>
&lt;a href="/資料庫的名字/id號碼"&gt;顯示的文字&lt;/a&gt;
</pre>
    顯示連結（<a href="/zh-TW/mugcups/5#title1-2-3-chrome" target="_blank"><strong>請參考這裡</strong></a>）。
    <hr class="red-hr">
    <strong><li>移動到「<a href="/zh-TW/mugcups/5#title1-2" target="_blank">顯示全部的資料（index）</a>」的連結</li></strong>
    <br>
    例如說
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts"</span>&gt;看投稿一覽&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <br>
    這樣子
<pre>
&lt;a href="/資料庫的名字" &gt;顯示的名字&lt;/a&gt;
</pre>
    顯示連結（<a href="/zh-TW/mugcups/5#title1-2-3-chrome" target="_blank"><strong>請參考這裡</strong></a>）
    <hr class="red-hr">
    <strong><li>「<a href="/zh-TW/mugcups/6#title1-3" target="_blank">打入新的資料（new）</a>」</li></strong>
    <br>
    例如說
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/new"</span>&gt;新增投稿&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <br>
    這樣子
<pre>
&lt;a href="/資料庫的名字/new"&gt;顯示的名字&lt;/a&gt;
</pre>
    顯示連結。
    <hr class="red-hr">
    <strong><li>「<a href="/zh-TW/mugcups/6#title1-5" target="_blank">打入編輯的資料（edit）</a>」</li></strong>
    <br>
    例如說
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/1/edit"</span>&gt;編輯投稿&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
    <br>
    這樣子
<pre>
&lt;a href="/資料庫的名字/id號碼/edit"&gt;顯示的文字&lt;/a&gt;
</pre>
    顯示連結。
    <hr class="red-hr">
    <strong><li>「<a href="/zh-TW/mugcups/6#title1-7" target="_blank">刪除資料（destroy）</a>」</li></strong>
    <br>
    例如說
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>a </span><span class='word-green'>href</span>=<span class='word-yellow'>"/posts/1"</span> <span class="word-green">data-method</span>=<span class="word-yellow">"delete"</span>&gt;刪除投稿１&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  這樣子
<pre>
&lt;a href="/資料庫的名字/id號碼" data-method="delete"&gt;顯示的文字&lt;/a&gt;
</pre>
  顯示內容（詳細的內容<a href="/zh-TW/mugcups/6#title1-7-2-chrome" target="_blank"><strong>請參考這裡</strong></a>）
  </ul>
  <hr class="red-hr">
  到這裡解釋了移動到網頁的連結的設定方法。
  <br>
  <strong>接着做網頁的裝飾吧！</strong>
  <br><br>
  <strong>設定的內容，<a href="/zh-TW/codes/7" target="_blank">請參考這裡</a>。</strong>
</h4>