<h2 class="textbook-section-title" id="title3"><strong>3 : 總結</strong></h2>
<h4 id="chapter8-1">
  在這個章，說明了<strong><u>作網頁的連結，Bootstrap的導入跟使用方法</u></strong>。
  <br>
  使用Bootstrap的CSS文件可以簡單的設定網頁的內容，試試看吧！
  <br><br>
  <ul class="number_ul">
    <strong><li>網頁的連結</li></strong>
    <a href="/zh-TW/mugcups/7#title1-3" target="_blank"><strong>請參考這裡</strong></a>
    <br><br>
    <strong><li>Bootstrap</li></strong>
    <a href="/zh-TW/mugcups/7#title2-3" target="_blank"><strong>請參考這裡</strong></a>を参考
  </ul>
  <br>
  <strong>在這個章設定的內容<a href="/zh-TW/codes/7" target="_blank">請參考這裡</a>吧。</strong>
  <br><br>
  到這裡辛苦了。
  <hr>
  <strong>在下章
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page8/Chrome_posts_root.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page8/Chrome_posts_root.png",
              :target => ["_blank"] %>
  「<a href="http://0.0.0.0:3000" target="_blank">0.0.0.0:3000</a>」上設定，<u>這樣子的主頁。</u>
  </strong>
</h4>