<h4 id="chapter10-3-3-1">
  <p id="title3-3-1"><i class="fa fa-check-square color-red"></i>　<strong>⑴ : 「users」ページへのリンクを加える</strong></p>
  <br>
  まずは<a href="/mugcups/css#title2-3" target="_blank"><strong>上のバー・navigation-bar</strong></a>に、「users」ページへのリンクを追加したいと思います。
  <br><br>
  <i class="fa fa-question-circle color-green"></i>　<strong>リンクを設定するにあたって、<u>まず「users」の「index」ページへのリンク「ユーザー一覧」</u>はどの設定すればいいでしょうか？</strong>
  <br><br>
  <input type="input" class="form-control input-code" placeholder="答えを入力して下さい">
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content answer-code'><span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span>&gt;ユーザー一覧&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <hr class="red-hr">
  まずは、この<strong>「<u>users</u>」の「index」ページへのリンクを<a href="/mugcups/7#title2-2-4" target="_blank">navigation-bar</a></strong>に設定しましょう。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（27行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>23
24
25
26
<strong class="color-red">27</strong>
28
29
30
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"collapse navbar-collapse"</span> <span class="word-green">id</span>=<span class="word-yellow">"bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_up"</span>&gt;登録する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_in"</span>&gt;ログインする&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span>&gt;ユーザー一覧&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span>&gt;新しく投稿する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>ul</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  これで好きなページを開いてみてください。<u>上のバーに<strong>「ユーザー一覧」へのリンク</strong>が追加されたでしょうか？</u>
  <br><br>
  <strong>次は「<u>users</u>」の「<u>show</u>」ページへのリンク</strong>を追加してみましょう！
  <hr class="red-hr">
  この「users」の「show」ページへのリンクは、<strong><u>ログインしている会員の情報ページに移動させる必要があります。</u></strong>
  <br>
  では、ログインしている会員の情報はどのように取得すればいいのでしょうか？
  <br><br>
  これは「devise」が作ってくれる設定で、
<pre>
current_user
</pre>
  を<u>「&lt;% %&gt;」（もしくは「&lt;%= %&gt;」）タグの中に設定</u>することで、現在ログインしているユーザーの情報を取得することができます。
  <br><br>
  これを使えば、例えば現在ログインしている会員の「first_name」を表示させるなら、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;%= current_user.first_name %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  で設定することができます。
  <br><br>
  <strong>この「current_user」を使って、navigation-barに<u>現在ログインしている会員ページへのリンク</u>を追加してみましょう。</strong>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（28行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>23
24
25
26
27
<strong class="color-red">28</strong>
29
30
31
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"collapse navbar-collapse"</span> <span class="word-green">id</span>=<span class="word-yellow">"bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_up"</span>&gt;登録する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_in"</span>&gt;ログインする&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span>&gt;ユーザー一覧&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= current_user.id %&gt;"</span>&gt;ユーザー情報&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span>&gt;新しく投稿する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>ul</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  変更ができたら、好きなページを開いてみましょう。上のバーに「ユーザー情報」のリンクが追加されたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_all_nav_add_users.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_all_nav_add_users.png",
              :target => ["_blank"] %>
  追加されていたらリンクをクリックしてみましょう。会員の情報ページ（<a href="http://0.0.0.0:3000/users/1" target="_blank"><strong>0.0.0.0:3000/users/1</strong></a>）に移動できたでしょうか？
  <br><br>
  今回は、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>28
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow remarkable-code'>"/users/&lt;%= current_user.id %&gt;"</span>&gt;ユーザー情報&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  で、会員に応じたリンクの設定をしています。
  <br><br>
  <i class="fa fa-play-circle color-red"></i>　このように現在ログインしている会員の情報は
<pre>
current_user
</pre>
  で取得することができます。
  <hr class="red-hr">
  最後に<strong>「<u>ログアウト</u>」のリンク</strong>を設定してみましょう。
  <br>
  ログアウトの設定は、
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>&lt;%= link_to <span class='word-yellow'>"表示する文字列"</span>, destroy_user_session_path, <span class="word-purple">:method</span> =&gt; <span class='word-purple'>:delete</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  で設定します。
  <br>
  とりあえずコピペで追加してみましょう。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>application.html.erb（30行目に追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>23
24
25
26
27
28
29
<strong class="color-red">30</strong>
31
32
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"collapse navbar-collapse"</span> <span class="word-green">id</span>=<span class="word-yellow">"bs-example-navbar-collapse-1"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>ul</span><span class='word-green'> class</span>=<span class='word-yellow'>"nav navbar-nav navbar-right"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_up"</span>&gt;登録する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/sign_in"</span>&gt;ログインする&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span>&gt;ユーザー一覧&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= current_user.id %&gt;"</span>&gt;ユーザー情報&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>li</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts/new"</span>&gt;新しく投稿する&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;<span class='word-red'>li</span>&gt;&lt;%= link_to <span class='word-yellow'>"ログアウト"</span>, destroy_user_session_path, <span class="word-purple">:method</span> =&gt; <span class='word-purple'>:delete</span> %&gt;&lt;/<span class='word-red'>li</span>&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>ul</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  変更が完了したら、好きなページで<strong>上のバー（<u>navigation-bar</u>）</strong>を確認してみましょう。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_1_nav_add_logout.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_posts_1_nav_add_logout.png",
              :target => ["_blank"] %>
  これでとりあえず、全ての設定できるリンクは設定できました。
</h4>