<h4 id="chapter10-3-4">
  <p id="title3-4" class="fix-link-nav"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">④ : まとめ</strong></p>
  <br>
  この章では、<a href="/pages/9" target="_blank"><strong>前章</strong></a>までで設定をした「devise」の「users」データベースを使ってページを作りました。
  <br><br>
  <strong>設定した内容は<a href="/codes/10" target="_blank">こちら</a>を参考にしてみて下さい</strong>
  <hr class="red-hr">
  「users」ページの設定のために、まず<a href="/pages/10#title3-1" target="_blank"><strong>どのページを使うかの設定</strong></a>をした。
  <br>
  次にそれぞれのページで<a href="/pages/10#title3-2" target="_blank"><strong>ページ表示・データ操作の設定</strong></a>をした。
  <br><br>
  ページの設定も終わったところで、
  <strong>
  <ul class="number_ul">
    <li>current_user</li>
    <li>user_signed_in?</li>
    <li>&lt;% else %&gt;</li>
  </ul>
  </strong>
  を使って（詳細は<a href="/pages/10#title3-3-3" target="_blank"><strong>こちら</strong></a>）を使って、上のバーを設定した。
  <hr class="red-hr">
  ここまで会員情報も見ることができるようになりました。
  <br><br>
  <strong>次は<u>投稿の「posts」データベースに会員情報の枠組みを追加</u>して、<u>ログインしている会員の情報で新しい投稿ができる</u>ようにしましょう。</strong>
</h4>