<h4 id="chapter10-3-2-2">
  <p id="title3-2-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : indexページ</strong></p>
  <br>
  「index」ページのデータ操作は、「users」データベースから全てのデータを取り出すデータ操作になります。
  <br>
  <small>※　詳しい説明は<strong><u>「posts」データベースの「<a href="/mugcups/5#title1-2" target="_blank">index</a>」ページ</u></strong>を参考にして下さい</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（8行目を追加）</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
<strong class="color-red">8</strong>
9
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line remarkable-code'>    @users = <span class='word-blue'>User</span>.all</span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  「users」データベースの全てのデータ「@users」をページに表示させます。
  <hr class="red-hr">
  次に<strong>「<u>app > views > users > index.html.erb</u>」</strong>に表示の設定を加えます。<strong>「<u>index.html.erb</u>」</strong>を下のように変更しましょう。
  <br>
  <small>※　詳しい説明は<strong><u>「posts」データベースの「<a href="/mugcups/5#title1-2" target="_blank">index</a>」ページ</u></strong>を参考にして下さい</small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>index.html.erb</strong>
  <br>
  <small>※　半角英数字で入力。変更が完了したら「Command」と「s」を一緒に押して内容を保存して下さい。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;ユーザー一覧&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% @users.each <span class="word-red">do</span> |u| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= u.id %&gt;"</span>&gt;&lt;%= u.family_name %&gt;&lt;%= u.first_name %&gt;さん&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/posts"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-info"</span>&gt;トップに戻る&lt;/<span class='word-red'>a</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  変更ができたら、「Command」と「c」を一緒に押してサーバーを停止させて「rails s」でサーバーを再起動して、
  <br>
  <strong>「<a href="http://0.0.0.0:3000/users" target="_blank">0.0.0.0:3000/users</a>」</strong>を開きましょう！
  <br>
  下のようなページが表示されたでしょうか？
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_users.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/page10/Chrome_users.png",
              :target => ["_blank"] %>
  こっちでも「family_name」と「first_name」に内容が入っていないので、「さん」としか表示されていませんね。
</h4>