<h2 class="textbook-section-title" id="title3"><strong>3 : 「users」ページの作成</strong></h2>
<h4 id="chapter10-3">
ここまででログインしないと、<u>「posts」ページの一部が見れないような会員制ホームページはできました。</u>
<br>
<strong><u>せっかく「users」データベースも作ったので、次はこの「users」データベースのページを作りたいと思います。</u></strong>
<hr class="red-hr">
<strong>
この章で作る「users」データベースのページは、
  <ul class="number_ul">
    <li><a href="/pages/5#title1-1" target="_blank">show</a></li>
    ユーザーの情報を表示
    <li><a href="/pages/5#title1-2" target="_blank">index</a></li>
    全てのユーザーの情報を表示
    <li><a href="/pages/6#title1-5" target="_blank">edit</a></li>
    編集するユーザー情報の記入
    <li><a href="/pages/6#title1-6" target="_blank">update</a></li>
    「edit」ページから受け取ったデータ通りに、ユーザー情報の更新
  </ul>
の４つになります。
</strong>
<hr class="red-hr">
<strong>
この「users」データベースでも
  <ul class="number_ul">
    <li><a href="/pages/6#title2-route" target="_blank">７つのページの設定</a></li>
    <li><a href="/pages/6#title2-data-view" target="_blank">データ操作の設定</a></li>
    <li><a href="/pages/6#title2-data-view" target="_blank">ページ表示の設定</a></li>
  </ul>
をやっていきます。
<hr class="red-hr">
まずは<u>「７つのページの設定」</u>からやってみましょう！
</strong>
<hr>
<%= render "page10/title3_1" %>
<hr>
<%= render "page10/title3_2" %>
<hr>
<%= render "page10/title3_3" %>
<hr>
<%= render "page10/title3_4" %>
</h4>