<div id="alert-area">
<strong>
  <% if notice %>
    <br>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <br>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</strong>
</div>