<footer class="footer" id="footer-section">
  <br>
  <div class="row">
    <div class="col-xs-6">
      <h4>OUTLINE</h4>
      <p>
        <a href="/mugcups" target="_blank"><i class="fa fa-bookmark"></i>　Mugcup（基礎編）</a>
        <br>
        <a href="/coffee_cups/" target="_blank"><i class="fa fa-bookmark-o"></i>　Coffee（応用編）</a>
      </p>
    </div>
    <div class="col-xs-6">
      <h4>ABOUT US</h4>
      <p>
        <a href="/company" target="_blank">運営会社</a>
        <br>
        <a href="/term" target="_blank">利用規約</a>
        <br>
        <a href="/privacypolicy" target="_blank">プライバシーポリシー</a>
        <br>
        <a href="/tokusho" target="_blank">特定商取引法に基づく表記</a>
      </p>
    </div>
  </div>
  <br>
  <div>
    <h4>CONTACT US</h4>
    <p>
    <i class="fa fa-envelope"></i>　メールアドレス：<a href="mailto:info@coffee-cup.jp">info@coffee-cup.jp</a>
    <br>
    <i class="fa fa-facebook-official"></i>　フェイスブック：<a href="https://www.facebook.com/CoffeeCupJapan/" target="_blank">Coffee-Cup</a></p>
    <hr>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Copyright © 2016 <a href="http://www.coffee-cup.co.jp" target="_blank">株式会社Coffee-Cup</a> All Rights Reserved.</div>
    <br>
  </div>
</footer>