<br>
<header>
  <div class="header-content fadeIn wow">
    <div class="header-content-word hover_img">
      <h1 class="text-center">
        <strong>
        Mugcap
        </strong>
      </h1>
      <h3>
        <u>テクノロジーをあなたのものに</u>
      </h3>
    </div>
  </div>
</header>