<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top coffee-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="margin-top:10px;font-size:33px;">
      <p class="hover-nav">
      <%= image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/logo/mugcup_logo_link.png",
                    :class => "nav-img") %>
      <strong style="color:white">CoffeeCup</strong>
<!--         <% image_tag "logo/KBC_logo_tpt.png",
                      :size => "110x45" %> -->
      </p>
      </a>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <strong>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if user_studiable? %>
              <li class="hover-nav">
                <a href="/codes" target="_blank" class="nav-word"><i class="fa fa-hashtag"></i> 設定一覧</a>
              </li>
              <li class="hover-nav">
                <a href="/mugcups/html_tags" target="_blank" class="nav-word"><i class="fa fa-code"></i> html</a>
              </li>
              <li class="hover-nav">
                <a href="/mugcups/css" target="_blank" class="nav-word"><i class="fa fa-file"></i> css</a>
              </li>
            <% end %>
            <li class="hover-nav">
              <a href="/dashboard" class="nav-word"><i class="fa fa-user"></i> トップページ</a>
            </li>
            <li class="hover-nav">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "nav-word" %>
            </li>
          <% else %>
            <li class="hover-nav">
              <a href="/users/sign_up" class="nav-word">登録する</a>
            </li>
            <li class="hover-nav">
              <a href="/users/sign_in" class="nav-word">ログインする</a>
            </li>
          <% end %>
            <li style="margin-top:5px;">
              <a><input type="submit" value="文字小" onclick="smaller();" class="btn btn-primary"></a>
            </li>
            <li style="margin-top:5px;">
              <a><input type="submit" value="文字大" onclick="larger();" class="btn btn-danger"></a>
            </li>
        </ul>
        </strong>
      </div>
  </div>
</nav>