<h2 class="textbook-section-title" id="title2"><strong>2 : 上载图像</strong></h2>
<h4 id="coffee-chapter4-2">
  <strong>使用「<u>Paperclip</u>」，上载图像吧！</strong>
  <hr>
  <%= render "coffee4/zh-CN/title2_1" %>
  <hr>
  <%= render "coffee4/zh-CN/title2_2" %>
  <hr>
  <%= render "coffee4/zh-CN/title2_3" %>
</h4>