<h2 class="textbook-section-title" id="title1"><strong>1 : 导入Paperclip</strong></h2>
<h4 id="coffee-chapter4-1">
  <strong>首先导入「<u>Paperclip</u>」吧！</strong>
  <hr class="red-hr">
  导入<strong>「<u>Paperclip</u>」</strong>之前，
  <br>
  为了使用这个，安装<strong>「<u>imageMagick</u>」</strong>的环境。
  <br><br>
  在terminal上打入下面的內容吧
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>brew install imagemagick</span>
</td>
</tr>
</table>
  <br>
  这样导入<strong>「<u>imageMagick</u>」</strong>了！
  <br>
  <small>※　这样安装好了，以后不用打入这个命令了</small>
  <hr class="red-hr">
  那么，安装<strong>「<u>Paperclip</u>」</strong>吧！
  <br><br>
  打开<strong>「<u>Sublime Text</u>」</strong>之后，编辑<strong>「<u>Gemfile</u>」</strong>的內容吧。
  <br>
  <small>
    ※　使用Sublime Text打开文件的方法<a href="/zh-CN/mugcups/how_to_open#title1" target="_blank"><strong>请参考这里</strong></a>
  </small>
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>Gemfile</strong>
  <br>
  <small>※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>32
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>gem </span><span class='word-yellow'>'paperclip'</span></span>
</td>
</tr>
</table>
  <br>
  大概在第32行，追加內容。
  <hr class="red-hr">
  编辑好了之后，导入设定的內容。在terminal上打入下面的命令吧。
  <br><br>
  　<strong>terminal</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>bundle install</span>
</td>
</tr>
</table>
  <br>
  <small>
    <i class="fa fa-arrow-right"></i>　不动的话，删除<strong>「Gemfile.lock」</strong>之后再试试看吧。
  </small>
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>
  这样「<u>Paperclip</u>」的导入好了！
  <br><br>
  使用这个「<u>Paperclip</u>」，上载图像吧！
  </strong>
</h4>