<h2 class="textbook-section-title" id="title3"><strong>3 : 图像的判别</strong></h2>
<h4 id="coffee-chapter7-3">
  <strong>使用条件判別，设定图像的显示吧！</strong>
  <hr class="red-hr">
  要判别会员资料里有沒有图像的条件，要使用<strong>「<u>present?</u>」跟「if/else」</strong>。
  <br>
  <small>※　详细<a href="/zh-CN/coffee_cups/6#title3-3" target="_blank"><strong>请参考这里</strong></a>。</small>
  <br><br>
  所以在这里，大概设定下面的內容。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">if</span> @user.image.present? %&gt;</span>
<span class='code-line'>  &lt;%= image_tag @user.image.url(<span class='word-purple'>:medium</span>) %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>h4</span>&gt;沒有图像&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  那么在
  <strong>
  <ul class="number_ul">
    <li>「<u>users</u>」资料库的「<u>show</u>」网页</li>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee4/Chrome_messages_users_2_no_image.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee4/Chrome_messages_users_2_no_image.png",
                :target => ["_blank"] %>
    <li>「<u>users</u>」资料库的「<u>edit</u>」网页</li>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
                :target => ["_blank"] %>
  </ul>
  </strong>
  这个两个网页上设定內容。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>首先在「<u>users</u>」资料库的「<u>show</u>」网页追加设定。</strong>
  <br><br>
  编辑<strong>「<u>app > views > users > show.html.erb</u>」</strong>的內容。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（追加第5、8〜10行）</strong>
  <br>
  <small>※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5</strong>
6
7
<strong class="color-red">8
9
10
11</strong>
12
...
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"row"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-6"</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h1</span>&gt;会员资料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line remarkable-code'>    &lt;% <span class="word-red">if</span> @user.image.present? %&gt;</span>
<span class='code-line'>      &lt;%= image_tag @user.image.url(<span class='word-purple'>:medium</span>) %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>br</span>&gt;&lt;<span class='word-red'>br</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>    &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>h4</span>&gt;沒有头像&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;（&lt;%= @user.age %&gt;岁）&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;自我介绍：&lt;%= @user.self_introduction %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line word-gray'>    &lt;!-- 省略 --&gt;</span>
</td>
</tr>
</table>
  <br>
  这样设定<strong>判別「<u>@user</u>」的「<u>image</u>」有沒有的条件判別</strong>了。
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着在「<u>users</u>」资料库的「<u>edit</u>」网页上追加设定。</strong>
  <br><br>
  编辑<strong>「<u>app > views > users > edit.html.erb</u>」</strong>的內容。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>edit.html.erb（追加第5、8〜10行）</strong>
  <br>
  <small>※　<strong><u>用半母字母数字打入</u></strong>。一起点击<strong><u>「Command」跟「s」</u></strong>可以保存內容。</small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
<strong class="color-red">5</strong>
6
7
<strong class="color-red">8
9
10</strong>
11
12
13
14
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>h1</span>&gt;编辑会员资料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;%= form_for @user <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;头像&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line remarkable-code'>  &lt;% <span class="word-red">if</span> @user.image.present? %&gt;</span>
<span class='code-line'>    &lt;%= image_tag @user.image.url(<span class='word-purple'>:medium</span>) %&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>br</span>&gt;&lt;<span class='word-red'>br</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>  &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>h4</span>&gt;头像还沒登录&lt;/<span class='word-red'>h4</span>&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>  &lt;%= f.file_field <span class="word-purple">:image</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"form-control my-form"</span> %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;姓字&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line word-gray'>  &lt;!-- 省略 --&gt;</span>
</td>
</tr>
</table>
  <br>
  到这里条件判別的设定好了。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>使用「<u>Paperclip</u>」的设定到这里。</strong>
</h4>