<h2 class="textbook-section-title" id="title0"><strong>0 : 这个章的目的</strong></h2>
<h4 id="coffee-chapter4-0">
  <strong>
  <i class="fa fa-bookmark color-red"></i>　到<a href="/zh-CN/coffee_cups/6" target="_blank">上章</a>，作了聊天室。
  <br><br>
  在这个章，会员资料上显示图像吧。
  <br><br><br>
  <p class="alert alert-danger">
    <i class="fa fa-windows color-red"></i>　使用Windows的话，不能学习这里的內容。
    <br><br>
    <i class="fa fa-arrow-right"></i>　請看<a href="/zh-CN/coffee_cups/8" target="_blank">下章</a>吧。
  </p>
  <br>
  </strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>解释在这里做的网页吧！</strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　首先在打入编辑的会员资料的<strong>「<u>users</u>」资料库的「<u>edit</u>」网页</strong>里
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_no_image.png",
              :target => ["_blank"] %>
  像上面图像一样，作
  <input type="file" style="margin:20px 0" class="form-control my-form">
  选择文件的输入框。
  <br><br>
  选择文件之后，点击 <a class="btn btn-primary">登录</a> 会显示
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_upload_image.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_edit_upload_image.png",
              :target => ["_blank"] %>
  像上面图像一样上载的图像。
  <br><br>
  在这里上载的图像，可以从別的网页上看。
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_users_1_after_upload_images.png",
              :target => ["_blank"] %>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee4/Chrome_messages_rooms_1_messages_with_images.png",
              :target => ["_blank"] %>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>
  在这里使用「<u>paperclip</u>」的「<a href="/zh-CN/mugcups/3#title2-2-1" target="_blank">gem</a>」，上载图像。
  <br><br>
  那么做做看吧！
  </strong>
  <hr class="red-hr">
  <strong>
    <i class="fa fa-arrow-right"></i>　图像是用<u>河出書房新社的『Tonio Kröger』（トーマス・マン，翻譯 平野卿子）的封面</u>。谢谢！
  </strong>
</h4>