<h2 class="textbook-section-title" id="title4"><strong>4 : ユーザー管理をする</strong></h2>
<h4 id="coffee-chapter1-4">
  最後に<strong>「<a href="/mugcups/9" target="_blank">devise</a>」</strong>を使って、ユーザー管理をしてみます。
  <br>
  <small>※　詳細は<a href="/mugcups/9" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <hr class="red-hr">
  流れとしては、
  <strong>
    <ul class="number_ul">
      <li>設定ファイルの作成（詳細は<a href="/mugcups/9#title1" target="_blank">こちら</a>）</li>
      <li>userデータベースの作成（詳細は<a href="/mugcups/9#title1-2" target="_blank">こちら</a>）</li>
      <li>ページの装飾（詳細はこちら）</li>
    </ul>
  </strong>
  の3つをやってみます。
</h4>