<h2 class="textbook-section-title" id="title3"><strong>3 : Bootstrapを使おう！</strong></h2>
<h4 id="coffee-chapter1-3">
  では最後に「Bootstrap」を使って、<a href="/mugcups/css#title2-3" target="_blank"><strong>上のバー・navigation-bar</strong></a>を設定しましょう！
  <br>
  <small>※　詳細は<a href="/mugcups/7#title2-2-4" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <hr class="red-hr">
  Bootstrapの導入は<strong>「<a href="/coffee_cups/1#title2-3" target="_blank">トップページを作ろう！</a>」</strong>で
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g bootstrap:install</span>
</td>
</tr>
</table>
  <br>
  を入力して行いました。
  <br>
  出来ていなかったら、もう一度やり直してみましょう！
  <br><br>
  次は、
</h4>