<h2 class="textbook-section-title" id="title1"><strong>1 : 雛形を作る</strong></h2>
<h4 id="coffee-chapter1-1">
  まずはメッセージアプリケーションのウェブページの雛形から作っていきましょう！
  <br>
  <small>※　詳しい内容は<a href="/mugcups/3#title2" target="_blank"><strong>こちら</strong></a></small>
  <hr class="red-hr">
  流れとしては、
  <ul class="number_ul">
  <strong>
    <li>雛形を作成</li>
    <li>データベースの用意</li>
  </strong>
  </ul>
  の2つをやってみます。
  <hr>
  <%= render "coffee1/title1_1" %>
  <hr>
  <%= render "coffee1/title1_2" %>
  <hr>
  <%= render "coffee1/title1_3" %>
</h4>