<h4 id="coffee-chapter1-4-1">
  <p id="title4-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 「devise」のインストール</strong></p>
  <br>
  <strong>
  では「devise」のインストールをやってみましょう！
  </strong>
  <hr class="red-hr">
  gemで導入した<strong><u>「devise」をインストール</u></strong>をするには、ターミナルで下の入力をします。
  <br>
  <small>※　詳細は<a href="/mugcups/9#title1-1" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g devise:install</span>
</td>
</tr>
</table>
  <br>
  これで「devise」のインストールが完了しました！
  <br>
  <u>次は「devise」の会員データベースを作ってみましょう！</u>
</h4>