<h4 id="coffee-chapter1-1-1">
  <p id="title1-1"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">① : 雛形を作る</strong></p>
  <br>
  <strong>ウェブページの雛形を作りましょう！</strong>
  <hr class="red-hr">
  ウェブページの雛形<strong>「<u>message-app</u>」</strong>を<strong>「<u>Desktop < rails_project</u>」</strong>に作ります。
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
</td>
<td class='code-content'><span class='code-line'>cd Desktop</span>
<span class='code-line'>cd rails_project</span>
</td>
</tr>
</table>
  <br>
  これで<strong>「<u>rails_project</u>」</strong>に移動できました。
  <hr class="red-hr">
  ではここで<strong>「<u>message-app」のウェブページの雛形</u></strong>を作ってみましょう！
  <br>
  <small>※　詳細は<a href="/mugcups/3#title2-1" target="_blank"><strong>こちら</strong></a>を参考にして下さい</small>
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails new message-app -d mysql</span>
</td>
</tr>
</table>
  <br>
  Finderで<strong>「<u>Desktop > rails_project</u>」</strong>に、<strong>「<u>message-app</u>」</strong>ができていますでしょうか？
  <br>
  これで「message-app」のウェブページの雛形ができました！
  <br><br>
  次は<strong>「<u>gem（ツール）の追加</u>」</strong>をしましょう！
</h4>