<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
<h4 id="chapter1-0">
  <i class="fa fa-bookmark color-red"></i>　
  <strong>
  メッセージアプリケーションのウェブページを作るに当たっては、<a href="/mugcups" target="_blank">Mugcup（基礎編）</a>で説明した「<a href="/mugcups/3" target="_blank">雛形の作り方</a>」「<a href="/mugcups/7#title2" target="_blank">Bootstrap</a>」「<a href="/mugcups/8" target="_blank">トップページ</a>」「<a href="/mugcups/9" target="_blank">ユーザー管理</a>」なども使っていきます。
  <br><br>
  ここではその復習がてら、
  <ul class="number_ul">
    <li><a href="/mugcups/3#title2" target="_blank">雛形の作成</a></li>
    <li><a href="/mugcups/8#title" target="_blank">トップページの作成</a></li>
    <li><a href="/mugcups/7#title2" target="_blank">Bootstrap</a></li>
  </ul>
  までを設定して、
  <%= link_to image_tag("coffee1/Chrome_messages_root_2.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "/assets/coffee1/Chrome_messages_root_2.png",
              :target => ["_blank"] %>
  のようなページを作ってみたいと思います。
  </strong>
</h4>