<h4 id="coffee-chapter1-1-2">
  <p id="title1-2"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">② : データベースの用意</strong></p>
  <br>
  <strong>データベースの用意をしましょう！</strong>
  <hr class="red-hr">
  ウェブページでデータを保存するためにデータベースを用意する必要があります。
  <br>
  <small>※　分からなかったら、<a href="/mugcups/3#title2-2-2" target="_blank"><strong>こちら</strong></a>を参考にしてみて下さい</small>
  <br><br>
  ではそのデータベースを作ってみましょう。ターミナルで下の入力をしてみましょう！
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:create</span>
</td>
</tr>
</table>
  <br>
  で行います。やってみましょう！
  <hr class="red-hr">
  終わったら、Sequel Proで<strong>「message-app_development」</strong>というデータベースがあるかを確認してみましょう！（Sequel Proの開き方は<a href="/mugcups/how_to_open#title2" target="_blank"><strong>こちら</strong></a>）
  <br><br>
  <strong>設定した内容は<a href="/codes/c_1#title1-1" target="_blank">こちら</a>にまとめてあります。</strong>
</h4>