<h4 id="coffee-chapter1-1-3">
  <p id="title1-3"><i class="fa fa-tags color-red"></i>　<strong class="remarkable">③ : データベースの用意</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>データベースの用意をしましょう！</strong>
  <hr class="red-hr">
  ウェブページでデータを保存するためにデータベースを用意する必要があります。
  <br>
  <small>※　分からなかったら、<a href="/mugcups/3#title2-2-2" target="_blank"><strong>こちら</strong></a>を参考にしてみて下さい</small>
  <br><br>
  ではそのデータベースを作ってみましょう。ターミナルで下の入力をしてみましょう！
  <br><br>
  　<strong>ターミナル</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rake db:create</span>
</td>
</tr>
</table>
  <br>
  で行います。やってみましょう！
  <hr class="red-hr">
  終わったら、Sequel Proで<strong>「message-app_development」</strong>というデータベースがあるかを確認してみましょう！
  <br>
  <small>
  ※　<a href="/mugcups/how_to_open#title3" target="_blank"><strong>Sequel Pro の開き方</strong></a>、<a href="/mugcups/how_to_open#title4" target="_blank"><strong>SqliteBrowser の開き方</strong></a> を参考にして下さい
  </small>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定した内容は<a href="/codes/c_1#title1-1" target="_blank">こちら</a>にまとめてあります。</strong>
</h4>