<h2 class="textbook-section-title" id="title0"><strong>0 : この章の目的</strong></h2>
<h4 id="chapter1-0">
  <i class="fa fa-bookmark color-red"></i>　
  <strong>
  メッセージアプリケーションのウェブページを作るに当たっては、<a href="/mugcups" target="_blank">Mugcup（基礎編）</a>で説明した「<a href="/mugcups/3" target="_blank">雛形の作り方</a>」「<a href="/mugcups/7#title2" target="_blank">Bootstrap</a>」「<a href="/mugcups/8" target="_blank">トップページ</a>」「<a href="/mugcups/9" target="_blank">ユーザー管理</a>」なども使っていきます。
  <br><br>
  ここではその復習をしながら、メッセージアプリケーションの<a href="/mugcups/11" target="_blank">ユーザー管理</a>までを設定する。
  </strong>
</h4>