<h4 id="coffee-chapter3-2-1-6">
  <p id="title2-1-6" class="fix-link-nav"><i class="fa fa-check-square color-red"></i>　<strong>⑹ : update</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>在這裡，作作看「<u>rooms</u>」資料庫的「<u>update</u>」的網頁吧！</strong>
  <hr class="red-hr">
  設定，編輯好<strong>「<u>update</u>」</strong>網頁的內容之後，移動到<strong>「<a href="/zh-TW/coffee_cups/4#title2-1-5" target="_blank">edit</a>」網頁的內容</strong>。
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>redirect_to <span class='word-purple'>:back</span></span>
</td>
</tr>
</table>
  <br>
  <small>※　詳細<a href="/zh-TW/coffee_cups/2#title2-2-3" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  所以<strong>「<u>update</u>」</strong>網頁上，只設定資料操作，不用作網頁顯示
  <br><br>
  編輯<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（編輯第26〜29行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>25
26
27
28
29
30
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line'>    @room.update(params.<span class="word-red">require</span>(<span class='word-purple'>:room</span>).permit(<span class='word-purple'>:name</span>, <span class='word-purple'>:explain</span>))</span>
<span class='code-line'>    flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"聊天室編輯好了"</span></span>
<span class='code-line'>    redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  這樣編輯好文件了。
  <hr class="red-hr">
  那麽，顯示看網頁吧！
  <br><br>
  <strong><u>一起點擊「Command」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  <br>
  <u>這樣編輯好的內容會適用在網頁上。</u>
  <br><br><br>
  <p class="alert alert-success">
  <i class="fa fa-windows color-blue"></i>　<strong>使用Windows的話、
  <br>
  　<u>一起點擊「ctrl」跟「c」</u>停止，用「<u>rails s</u>」打開的服務器之後，再打入<u>「rails s」</u>吧。</strong>
  </p>
  <br>
  之後用瀏覽器打開「<a href="http://0.0.0.0:3000/rooms/1/edit" target="_blank"><strong>0.0.0.0:3000/rooms/1/edit</strong></a>」吧。
  <br>
  <small>
  <i class="fa fa-windows color-blue"></i>　使用Windows的話，打開「<a href="http://localhost:3000/rooms/1/edit" target="_blank"><strong>localhost:3000/rooms/1/edit</strong></a>」吧。
  </small>
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_edit.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_edit.png",
              :target => ["_blank"] %>
  網頁顯示之後編輯聊天室的資料，點擊 <a class="btn btn-success">更新</a> 吧！
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_update.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_rooms_1_update.png",
              :target => ["_blank"] %>
  有沒有顯示這樣的畫面嗎？
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定的內容，<a href="/zh-TW/codes/c_4#title1-2" target="_blank">請參考這裡</a>。</strong>
</h4>