<h4 id="coffee-chapter3-2-2-3">
  <p id="title2-2-3"><i class="fa fa-check-square color-red"></i>　<strong>⑶ : 顯示聊天室的閱覽</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>接着設定會員的檢查，讓<u>參加者</u>而已<u>閱覽「rooms」資料庫的網頁・聊天室</u>的內容吧！</strong>
  <hr class="red-hr">
  參加聊天室的會員的資料用<strong>「<u>entries</u>」資料</strong>顯示。
  <br><br>
  <strong>entries</strong>
  <table class="table table-striped" style="width:50%">
    <thead style="font-size:0.8em">
      <tr class="active">
        <th>id</th>
        <th style="background-color: #f2dede;">room_id</th>
        <th style="background-color: #f2dede;">user_id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="background-color: #f2dede;">1</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
        <td style="font-size:11px;">2016-04-12 20:30:21</td>
      </tr>
    </tbody>
  </table>
  使用這個<strong>「<u>entries</u>」資料</strong>，判別聊天室裡有沒有參加<strong>登入的會員（<u>current_user</u>）</strong>。
  <br><br>
  為了這個，搜索<strong>「<u>entries</u>」資料庫</strong>裡有沒有
  <strong>
  <ul class="number_ul">
    <li>「room_id」是，聊天室的「id」</li>
    <li>「user_id」是，「current_user」的「id」</li>
  </ul>
  </strong>
  的資料。
  <br><br>
  為了設定這個，使用
  <strong>
  <ul class="number_ul">
    <li>「if/else」（詳細<a href="/zh-TW/mugcups/11#title4-3-2" target="_blank">請參考這裡</a>）</li>
    <li>使用「where」搜索資料（詳細<a href="/zh-TW/mugcups/4#title2-2" target="_blank">請參考這裡</a>）</li>
    <li>使用「present?」確認資料有沒有</li>
  </ul>
  </strong>
  這個三個設定。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>在「<u>rooms_controller.rb</u>」裡追加這個判別吧！</strong>
  <br><br>
  在這裡，限制閱覽的<strong>「<u>rooms</u>」資料庫的網頁</strong>是，
  <strong>
  <ul class="number_ul">
    <li>show</li>
      <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages.png",
                  :target => ["_blank"] %>
    <li>edit</li>
      <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_edit.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_edit.png",
                  :target => ["_blank"] %>
    <li>update</li>
      <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_update.png",
                            :width => "90%",
                            :class => "hover_img textbook-title-img"),
                  "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_update.png",
                  :target => ["_blank"] %>
  </ul>
  </strong>
  這個三個網頁。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>首先從「show」網頁開始做吧！</strong>
  <br><br>
  打開<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>之後，編輯內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（追加第20、24〜26行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>18
19
<strong class="color-red">20</strong>
21
22
23
<strong class="color-red">24
25
26
27</strong>
28
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line remarkable-code'>    <span class='word-red'>if </span><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => @room.id).present?</span>
<span class='code-line'>      @messages <span class="word-red">=</span> @room.messages</span>
<span class='code-line'>      @message <span class="word-red">=</span> Message.<span class='word-red'>new</span></span>
<span class='code-line'>      @entries <span class="word-red">=</span> @room.entries</span>
<span class="remarkable-code"><span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>      flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"無效的會員"</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>那麽，解釋內容吧！</strong>
  <br><br>
  在這一次的設定，難的地方應該是
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>20
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>if </span><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => @room.id).present?</span>
</td>
</tr>
</table>
  <br>
  這個一行。
  <br><br>
  在這裡使用，
  <strong>
  <ul class="number_ul">
    <li>「if/else」</li>
    <li>「where」搜索資料</li>
    <li>「present?」確認資料有沒有</li>
  </ul>
  </strong>
  這些設定。
  <br>
  第一個應該知道，所以從第二個開始解釋。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>2. 使用「where」搜索資料</strong>
  <br><br>
  在這裡從<strong>「<u>entries</u>」資料</strong>選擇，成立
  <strong>
  <ul class="number_ul">
    <li>「room_id」是<u>「@room」的「id」</u></li>
    <li>「user_id」是<u>「current_user」的「id」</u></li>
  </ul>
  </strong>
  這個兩個條件的資料。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/4#title2-2" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>3 . 使用「present?」確認資料有沒有</strong>
  <br><br>
  在這裡，判別
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => @room.id)</span>
</td>
</tr>
</table>
  <br>
  有沒有，用上面設定選擇的<strong>「<u>entries</u>」資料</strong>。
  <br>
  按着這個判別的結果，適用
  <br><br>
  <ul class="number_ul">
    <strong><li>如果有的話，設定「if」裡面的內容</li></strong>
    <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>21
22
23
</td>
<td class='code-content'><span class='code-line'>@messages <span class="word-red">=</span> @room.messages</span>
<span class='code-line'>@message <span class="word-red">=</span> Message.<span class='word-red'>new</span></span>
<span class='code-line'>@entries <spna class="word-red">=</spna> @room.entries</span>
</td>
</tr>
</table>
    <br>
    <strong><li>如果沒有的話，設定「else」裡面的內容</li></strong>
    <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>25
26
</td>
<td class='code-content'><span class='code-line'>redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"無效的會員"</span></span>
</td>
</tr>
</table>
    <br>
    </ul>
  這些內容。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>總括在這裡說明的的設定。</strong>
  <br><br>
  <strong>判別聊天室「<u>@room</u>」裡有沒有參加登入的會員「<u>current_user</u>」</strong>的話，設定
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>if </span><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => @room.id).present?</span>
</td>
</tr>
</table>
  <br>
  判別條件。
  <br><br>
  <strong>使用跟這個一樣的方法，在「edit」「update」網頁上追加設定。</strong>
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着追加「edit」網頁的設定。</strong>
  <br><br>
  打開<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>之後，編輯裡面的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（追加第36〜40行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>34
35
<strong class="color-red">36
37
38
39
40</strong>
41
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class="remarkable-code"><span class='code-line'>    <span class='word-red'>if </span><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => @room.id).present?</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"無效的會員"</span></span>
<span class='code-line'>      redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  這樣，沒有參加聊天室的會員不能移動到「edit」網頁了。
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>最後做「update」網頁。</strong>
  <br><br>
  打開<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>，編輯裡面的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（追加第39、43〜46行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>37
38
<strong class="color-red">39</strong>
40
41
42
<strong class="color-red">43
44
45
46</strong>
47
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class='code-line remarkable-code'>    <span class='word-red'>if </span><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => @room.id).present?</span>
<span class='code-line'>      @room.update(params.require(<span class='word-purple'>:room</span>).permit(<span class='word-purple'>:name</span>, <span class='word-purple'>:explain</span>))</span>
<span class='code-line'>      flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"更新聊天室了"</span></span>
<span class='code-line'>      redirect_to <span class='word-purple'>:back</span></span>
<span class="remarkable-code"><span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"無效的會員"</span></span>
<span class='code-line'>      redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  這樣對閱覽「rooms」資料庫的
  <strong>
  <ul class="number_ul">
    <li>「show」網頁</li>
    <li>「edit」網頁</li>
    <li>「update」網頁</li>
  </ul>
  </strong>
  會員，設定了檢查了！
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>跟這個一樣在新增「messages」資料的設定裡做，同樣的<u>「有沒有參加聊天室」的判別</u>吧。</strong>
  <br><br>
  新增訊息在，<strong>「<u>app > controllers > messages_controller.rb</u>」</strong>裡面設定。
  <br>
  內容參考下面。
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>messages_controller.rb</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
9
10
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>MessagesController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line'>  before_action <span class='word-purple'>:authenticate_user!</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:create</span>]</span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>    @message <span class="word-red">=</span> <span class='word-blue'>Message</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:message</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:content</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:user_id</span> => current_user.id))</span>
<span class='code-line'>    redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  在這裡追加，剛才設定的
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>if </span><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => @room.id).present?</span>
</td>
</tr>
</table>
  <br>
  這個條件判別。如果不是正確的會員或者聊天室的話，顯示通知吧。
  <hr class="red-hr">
  但是這一次沒有<strong>「<u>@room</u>」</strong>，
  <br>
  所以使用，在顯示「messages」資料的輸入框的<strong>「<u>rooms</u>」資料庫的「<u>show</u>」網頁</strong>的
  <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages_no_entry.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/coffee3/Chrome_messages_rooms_1_no_messages_no_entry.png",
              :target => ["_blank"] %>
  <strong>「<u>app > views > rooms > show.html.erb</u>」</strong>文件的
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb（第36〜43行）</strong>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>36
37
38
39
40
41
42
43
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @message <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;%= f.text_field <span class="word-purple">:content</span>, <span class="word-purple">:class</span> =&gt; <span class="word-yellow">"form-control myform"</span>, <span class='word-purple'>:placeholder</span> =&gt; <span class='word-yellow'>"打入訊息"</span> %&gt;</span>
<span class='code-line'>  &lt;%= f.hidden_field <span class="word-purple">:room_id</span>, <span class='word-purple'>:value</span> =&gt; @room.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"text-center"</span>&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"投稿"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-primary"</span> %&gt;</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  的
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>38
</td>
<td class='code-content'><span class='code-line'>&lt;%= f.hidden_field <span class="word-purple">:room_id</span>, <span class='word-purple'>:value</span> =&gt; @room.id %&gt;</span>
</td>
</tr>
</table>
  <br>
  裡面的<strong>「room_id」的資料</strong>吧。點擊「投稿」的時候，這個「room_id」會發信到<strong>資料操作的「<u>controller</u>」文件</strong>。
  <hr class="red-hr">
  從「controller」文件送過來的資料，都在
<pre>
params
</pre>
  裡面。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/6#title1-4-1" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  使用這個<strong>「<u>params</u>」</strong>，取得聊天室的資料。到這裡的<strong>「<u>params</u>」</strong>是
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@post <span class="word-red">=</span> <span class='word-blue'>Post</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:post</span>).permit(<span class='word-purple'>:name</span>, <span class='word-purple'>:content</span>, <span class='word-purple'>:place</span>))</span>
</td>
</tr>
</table>
  <br>
  這樣子使用。
  <br><br>
  這一次用別的方法，從這個<strong>「<u>params</u>」</strong>取得資料。
  <hr class="red-hr">
  那麽編輯<strong>「<u>app > controllers > messages_controller.rb</u>」</strong>的內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>messages_controller.rb（追加第6、8〜10行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>5
<strong class="color-red">6</strong>
7
<strong class="color-red">8
9
10</strong>
11
12
</td>
<td class='code-content'><span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line remarkable-code'>    <span class='word-red'>if </span><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => params[<span class='word-purple'>:message</span>][<span class='word-purple'>:room_id</span>]).present?</span>
<span class='code-line'>      @message <span class="word-red">=</span> <span class='word-blue'>Message</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:message</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:content</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:user_id</span> => current_user.id))</span>
<span class="remarkable-code"><span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      flash[<span class='word-purple'>:alert</span>] <span class="word-red">=</span> <span class='word-yellow'>"無效的會員"</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>    redirect_to <span class='word-purple'>:back</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  可以看到，在第6行做條件判別吧。設定的條件是
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class='word-blue'>Entry</span>.where(<span class='word-purple'>:user_id</span> => current_user.id, <span class='word-purple'>:room_id</span> => params[<span class='word-purple'>:message</span>][<span class='word-purple'>:room_id</span>]).present?</span>
</td>
</tr>
</table>
  <br>
  這樣子的內容，搜索<strong>成立「user_id」跟「room_id」的條件的資料</strong>。
  <br><br>
  不用解釋<strong>「user_id」</strong>裡放的是<strong>「current_user」的「id」</strong>，
  <br>
  <strong>「room_id」</strong>是，
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'><span class='word-purple'>:room_id</span> => params[<span class='word-purple'>:message</span>][<span class='word-purple'>:room_id</span>]</span>
</td>
</tr>
</table>
  <br>
  這樣設定。裡面的
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>params[<span class='word-purple'>:message</span>][<span class='word-purple'>:room_id</span>]</span>
</td>
</tr>
</table>
  <br>
  在選擇，送過來的資料<strong>「<u>params</u>」</strong>裡面的<strong>「<u>message</u>」資料的「<u>room_id</u>」框子</strong>。
  <hr class="red-hr">
  到這裡的條件判別，
  <ul class="number_ul">
    <strong><li>條件成立的時候，</li></strong>
    <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
</td>
<td class='code-content'><span class='code-line'>@message <span class="word-red">=</span> <span class='word-blue'>Message</span>.create(params.<span class="word-red">require</span>(<span class='word-purple'>:message</span>).permit(<span class='word-purple'>:user_id</span>, <span class='word-purple'>:content</span>, <span class='word-purple'>:room_id</span>).merge(<span class='word-purple'>:user_id</span> => current_user.id))</span>
</td>
</tr>
</table>
  <br>
  這樣新增資料
  <br><br>
  <strong><li>條件不成立的時候，</li></strong>
  <br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>9
</td>
<td class='code-content'><span class='code-line'>flash[<span class='word-purple'>:alert</span>] = <span class='word-yellow'>"無效的會員"</span></span>
</td>
</tr>
</table>
  <br>
  這樣顯示
  <p class="alert alert-danger" style="margin-top:10px;">無效的會員</p>
  </ul>
  <br>
  最後使用
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>11
</td>
<td class='code-content'><span class='code-line'>redirect_to <span class='word-purple'>:back</span></span>
</td>
</tr>
</table>
  <br>
  移動到上頁了。
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定的內容，<a href="/zh-TW/codes/c_5" target="_blank">請參考這裡</a>。</strong>
</h4>