<h4 id="coffee-chapter3-2-1-2">
  <p id="title2-1-2"><i class="fa fa-check-square color-red"></i>　<strong>⑵ : create</strong></p>
  <br>
  <i class="fa fa-play-circle"></i>　<strong>首先從「<u>rooms</u>」資料庫的「<u>create</u>」網頁開始設定吧！</strong>
  <hr class="red-hr">
  先作<strong>「<u>rooms</u>」資料庫的「<u>操作資料</u>」的設定文件跟「<u>顯示網頁</u>」的設定文件夾</strong>吧！
  <br>
  <strong>在terminal上，打入下面的命令吧！</strong>
  <br><br>
  <strong>terminal</strong>
  <br>
  <small>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，用「命令提示符」吧。
  </small>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>rails g controller rooms</span>
</td>
</tr>
</table>
  <br>
  在這個打入作<strong>「<u>rooms</u>」資料庫</strong>的
  <strong>
  <ul class="number_ul">
    <li>操作資料的文件「<u>app > controllers > rooms_controller.rb</u>」</li>
    <li>顯示網頁的文件夾「<u>app > views > rooms</u>」</li>
  </ul>
  </strong>
  這個兩個設定文件文件夾。
  <hr class="red-hr">
  首先在作好的文件文件夾上，追加剛開始的設定！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（追加第3〜18行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
<strong class="color-red">3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18</strong>
19
20
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>RoomsController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class="remarkable-code"><span class='code-line'>  before_action <span class='word-purple'>:authenticate_user!</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:create</span>, <span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>]</span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>index</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>edit</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>update</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span></span>
<span class='code-line'></span>
<span class='code-line'><span class='word-red'>end</span></span>
</td>
</tr>
</table>
  <br>
  在這裡設定好，<strong><u>會員的限制</u>跟<u>裡面沒有設定內容的資料操作</u></strong>了。
  <br>
  <small>※　會員的限制<a href="/zh-TW/mugcups/9#title2" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  接着作顯示網頁的設定文件。
  <br>
  <strong>
  「<u>app > views > rooms</u>」裡保存
  <ul class="number_ul">
    <li>show.html.erb</li>
    <li>index.html.erb</li>
    <li>edit.html</li>
  </ul>
  的文件吧！
  <br>
  <small>
    ※　保存資料的方法，<a href="/zh-TW/mugcups/how_to_save" target="_blank"><strong>請參考這裡</strong></a>
  </small>
  <br><br>
  </strong>
  「create」要在「users」資料庫的「show」網頁上設定顯示，「update」網頁要移動到「edit」網頁，所以不使用顯示網頁的文件。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>那麽做「<u>create</u>」網頁的設定吧！</strong>
  <br><br>
  在<strong>「<u>create</u>」</strong>網頁的設定，
  <ul class="number_ul">
    <strong><li>「users」資料庫的操作資料的設定文件「<u>users_controller.rb</u>」上</li></strong>
    <br>
    <strong>新增「<u>rooms</u>」資料</strong>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@room <span class="word-red">=</span> <span class="word-blue">Room</span>.<span class='word-red'>new</span></span>
</td>
</tr>
</table>
    <br>
    <strong><li>「users」資料的顯示網頁的設定文件「<u>show.html.erb</u>」上</li></strong>
    <br>
    <strong>顯示登入按鈕 <a class="btn btn-warning">開始聊天</a> </strong>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
</td>
<td class='code-content'><span class='code-line'>&lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>  &lt;%= f.submit <span class="word-yellow">"開始聊天"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
    <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_start_chat.png",
                          :width => "90%",
                          :class => "hover_img textbook-title-img"),
                "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_start_chat.png",
                :target => ["_blank"] %>
    <strong><li>「rooms」資料庫的操作資料的設定文件「<u>rooms_controller.rb</u>」上</li></strong>
    <br>
    <strong>保存新的「<u>rooms</u>」資料</strong>
    <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
</td>
<td class='code-content'><span class='code-line'>@room <span class="word-red">=</span> <span class='word-blue'>Room</span>.create</span>
</td>
</tr>
</table>
  <br>
  </ul>
  這個三個內容。
  <br><br>
  <strong>一個一個做做看吧。</strong>
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>首先從「users_controller.rb」設定內容吧。</strong>
  <br><br>
  打開<strong>「<u>app > controllers > users_controller.rb</u>」</strong>之後，編輯內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>users_controller.rb（追加第7〜10行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
<strong class="color-red">7
8
9
10</strong>
11
12
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>UsersController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line'>  before_action <span class='word-purple'>:authenticate_user!</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>]</span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>    @user <span class="word-red">=</span> <span class='word-blue'>User</span>.find(params[<span class='word-purple'>:id</span>])</span>
<span class="remarkable-code"><span class='code-line'>    <span class='word-red'>if </span>@user.id <span class="word-red">==</span> current_user.id</span>
<span class='code-line'>    <span class="word-red">else</span></span>
<span class='code-line'>      @room <span class="word-red">=</span> <span class="word-blue">Room</span>.<span class='word-red'>new</span></span>
<span class='code-line'>    <span class='word-red'>end</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'>  <span class="word-gray"># 省略</span></span>
</td>
</tr>
</table>
  <br>
  這裡是設定怎麼樣的內容呢？
  <br><br>
  在這裡設定<strong>「users」資料庫的「show」網頁的會員跟<u>在登入的會員不一樣</u></strong>的時候，
  <br>
  作新的<strong>「<u>rooms</u>」</strong>資料庫的資料的標記<strong>「<u>@room</u>」</strong>。
  <br>
  <small>※　「if/else」，<a href="/zh-TW/mugcups/11#title4-3-2" target="_blank"><strong>請參考這裡</strong></a>吧</small>
  <br><br>
  使用這個<strong>「<u>@room</u>」</strong>，作 <a class="btn btn-warning">開始聊天</a> 的按鈕。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>在「<u>users</u>」資料庫的「<u>show.html.erb</u>」追加設定吧！</strong>
  <br><br>
  打開<strong>「<u>app > views > users > show.html.erb</u>」</strong>，編輯內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>show.html.erb</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">1
2</strong>
3
4
5
6
7
8
9
<strong class="color-red">10
11
12
13</strong>
14
<strong class="color-red">15
16</strong>
17
18
</td>
<td class='code-content'><span class="remarkable-code"><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"row"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-6"</span>&gt;</span></span>
<span class='code-line'>    &lt;<span class='word-red'>h1</span>&gt;會員資料&lt;/<span class='word-red'>h1</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;名字：&lt;%= @user.family_name %&gt;&lt;%= @user.first_name %&gt;（&lt;%= @user.age %&gt;歲）&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>p</span>&gt;自我介紹：&lt;%= @user.self_introduction %&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class='code-line'>    &lt;<span class='word-red'>br</span>&gt;</span>
<span class='code-line'>    &lt;% <span class="word-red">if</span> @user.id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>      &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= @user.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;編輯會員資料&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>    &lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>      &lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>        &lt;%= f.submit <span class="word-yellow">"開始聊天"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>      &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>    &lt;% <span class="word-red">end</span> %&gt;</span>
<span class="remarkable-code"><span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span></span>
<span class='code-line'>&lt;<span class='word-red'>hr</span>&gt;</span>
<span class='code-line'>&lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-primary"</span>&gt;返回會員一覽&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  說明內容吧！
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>首先從第10〜13行</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>8
9
<strong class="color-red">10
11
12
13</strong>
14
</td>
<td class='code-content'><span class='code-line'>&lt;% <span class="word-red">if</span> @user.id <span class="word-red">==</span> current_user.id %&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>p</span>&gt;&lt;<span class='word-red'>a</span><span class='word-green'> href</span>=<span class='word-yellow'>"/users/&lt;%= @user.id %&gt;/edit"</span> <span class="word-green">class</span>=<span class="word-yellow">"btn btn-success"</span>&gt;編輯會員資料&lt;/<span class='word-red'>a</span>&gt;&lt;/<span class='word-red'>p</span>&gt;</span>
<span class="remarkable-code"><span class='code-line'>&lt;% <span class="word-red">else</span> %&gt;</span>
<span class='code-line'>  &lt;%= form_for @room <span class="word-red">do</span> |f| %&gt;</span>
<span class='code-line'>    &lt;%= f.submit <span class="word-yellow">"開始聊天"</span>, <span class='word-purple'>:class</span> =&gt; <span class='word-yellow'>"btn btn-warning"</span> %&gt;</span>
<span class='code-line'>  &lt;% <span class="word-red">end</span> %&gt;</span></span>
<span class='code-line'>&lt;% <span class="word-red">end</span> %&gt;</span>
</td>
</tr>
</table>
  <br>
  在這裡<strong>使用「users」網頁的會員資料跟在登入的會員資料是不是一樣的條件</strong>，
  <br>
  判別要不要顯示 <a class="btn btn-warning">開始聊天</a> 的按鈕。
  <br>
  <small>※　「if/else」的內容<a href="/zh-TW/mugcups/11#title4-3-1" target="_blank"><strong>請參考這裡</strong></a></small>
  <br><br>
  這裡沒有輸入框，但是這樣也可以新增資料。
  <br>
  在資料庫裡設定了，作好空的資料的時候要在裡面放的資料，所以點擊按鈕之後，資料庫裡會保存<strong><u>「name」裡「新的聊天」</u>・<u>「explain」裡「打入說明」</u>的資料</strong>。
  <br>
  <small>※　default的設定<a href="/zh-TW/coffee_cups/3#title1-2" target="_blank"><strong>請參考這裡</strong></a>。</small>
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着做，第1、2、15、16行</strong>
  <br><br>
  裡面應該是
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'><strong class="color-red">1
2
...
15
16</strong>
</td>
<td class='code-content'><span class="remarkable-code"><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"row"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-6"</span>&gt;</span>
<span class='code-line'>    内容</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span></span>
</td>
</tr>
</table>
  <br>
  這樣的設定。
  <br>
  這個<strong>「<u>row</u>」跟「<u>col-xs-6</u>」</strong>是，在設定畫面左右長度的<strong>「<u>Bootstrap</u>」</strong>的設定。
  <br><br>
  設定<strong>「<u>row</u>」</strong>圍起來的地方的長度是<strong>「<i>12</i>」</strong>，在裡面追加<strong>「<u>col-xs-數字</u>」</strong>分割長度「12」的畫面。
  <hr class="red-hr">
  這一次使用<strong>「<u>col-xs-6</u>」</strong>，設定<strong>「<i>12</i>」</strong>一半的長度「6」，
  <%= link_to image_tag("https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_start_chat.png",
                        :width => "90%",
                        :class => "hover_img textbook-title-img"),
              "https://s3.amazonaws.com/rails-textbook/rails_for_sfc/images/coffee3/Chrome_messages_users_1_start_chat.png",
              :target => ["_blank"] %>
  所以顯示畫面一半的長度。
</h4>
  <h1>會員資料</h1>
<h4>
  的下面的線，應該有變短了吧。
  <hr class="red-hr">
  像這一次一樣，要顯示
  <div class="row">
    <div class="col-xs-3" style="margin-top:20px; padding:0">
      <p class="alert alert-success">内容1(長度3)</p>
    </div>
    <div class="col-xs-9" style="margin-top:20px; padding:0">
      <p class="alert alert-danger">内容2(長度9)</p>
    </div>
  </div>
  一樣的顯示的時候，
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
6
7
8
</td>
<td class='code-content'><span class='code-line'>&lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"row"</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-3"</span>&gt;</span>
<span class='code-line'>    内容1</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>  &lt;<span class='word-red'>div</span><span class='word-green'> class</span>=<span class='word-yellow'>"col-xs-9"</span>&gt;</span>
<span class='code-line'>    内容2</span>
<span class='code-line'>  &lt;/<span class='word-red'>div</span>&gt;</span>
<span class='code-line'>&lt;/<span class='word-red'>div</span>&gt;</span>
</td>
</tr>
</table>
  <br>
  這樣設定。
  <hr class="red-hr">
  <i class="fa fa-play-circle"></i>　<strong>最後在「rooms_controller.rb」裡追加作「rooms」資料的設定吧。</strong>
  <br><br>
  打開<strong>「<u>app > controllers > rooms_controller.rb</u>」</strong>之後，編輯內容吧！
  <br><br>
  <i class="fa fa-file color-red"></i>　<strong>rooms_controller.rb（編輯第6〜8行）</strong>
  <br>
  <small>
    ※　<strong><u>用半母字母數字打入</u></strong>。一起點擊<strong><u>「Command」跟「s」</u></strong>可以保存內容。
    <br>
    <i class="fa fa-windows color-blue"></i>　使用Windows的話，點擊<strong><u>「ctrl」跟「s」</u></strong>可以保存內容。
  </small>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>1
2
3
4
5
<strong class="color-red">6
7
8</strong>
9
10
11
12
13
14
</td>
<td class='code-content'><span class='code-line'><span class='word-red'>class </span>RoomsController <span class="word-green">< ApplicationController</span></span>
<span class='code-line'></span>
<span class='code-line'>  before_action <span class='word-purple'>:authenticate_user!</span>, <span class='word-purple'>:only</span> => [<span class='word-purple'>:create</span>, <span class='word-purple'>:show</span>, <span class='word-purple'>:index</span>, <span class='word-purple'>:edit</span>, <span class='word-purple'>:update</span>]</span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>create</span></span>
<span class="remarkable-code"><span class='code-line'>    @room <span class="word-red">=</span> <span class='word-blue'>Room</span>.create</span>
<span class='code-line'>    redirect_to <span class='word-yellow'>"/rooms/#{@room.id}"</span></span>
<span class='code-line'>    flash[<span class='word-purple'>:notice</span>] <span class="word-red">=</span> <span class='word-yellow'>"作好聊天室了！"</span></span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class='code-line'></span>
<span class='code-line'>  <span class='word-red'>def </span><span class='word-green'>show</span></span>
<span class='code-line'>  <span class='word-red'>end</span></span>
<span class="code-line"></span>
<span class="code-line">  <span class="word-gray"># 以下省略</span></span>
</td>
</tr>
</table>
  <br>
  那麽解釋內容吧！
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>首先從第6行</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>6
</td>
<td class='code-content'><span class='code-line'>@room <span class="word-red">=</span> <span class='word-blue'>Room</span>.create</span>
</td>
</tr>
</table>
  <br>
  在這裡<strong>作「<u>id</u>」「<u>created_at</u>」「<u>updated_at</u>」以外沒有任何資料的「<u>rooms</u>」資料</strong>。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/4#title2-1" target="_blank"><strong>請參考這裡</strong></a></small>
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>接着第7行</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>7
</td>
<td class='code-content'><span class='code-line'>redirect_to <span class='word-yellow'>"/rooms/#{@room.id}"</span></span>
</td>
</tr>
</table>
  <br>
  在這裡，<strong>移動到作好的「<u>rooms</u>」資料的網頁</strong>。
  <br>
  <strong>移動到作好的「<u>@room</u>」的「<u>id</u>」的「<u>rooms</u>」資料庫的「<u>show</u>」網頁。</strong>
  <br>
  <small>※　詳細<a href="/zh-TW/coffee_cups/1#title4-4" target="_blank"><strong>請參考「update」網頁</strong></a>吧。</small>
  <br><br>
  應為在這裡移動「rooms」資料庫的「show」網頁，<strong>所以不用作「<u>create.html.erb</u>」文件。</strong>
  <hr class="red-hr">
  <i class="fa fa-arrow-right"></i>　<strong>最後第8行</strong>
  <br><br>
<table class='highlight'>
<tr>
<td class='code-line-no text-center'>8
</td>
<td class='code-content'><span class='code-line'>flash[<span class='word-purple'>:notice</span>] = <span class='word-yellow'>"作好聊天室了！"</span></span>
</td>
</tr>
</table>
  <br>
  在這裡設定，移動到的網頁上顯示
  <p class="alert alert-success" style="margin:20px 0">作好聊天室了！</p>
  的通知。
  <br>
  <small>※　詳細<a href="/zh-TW/mugcups/9#title2-2-2" target="_blank"><strong>請參考這裡</strong></a>。</small>
  <br><br>
  <strong>
  到這裡設定好了「rooms」資料庫的「create」的設定了。
  <br><br>
  <i class="fa fa-play-circle"></i>　<strong>接着設定「show」網頁的設定吧！</strong>
  <br><br>
  <i class="fa fa-arrow-right"></i>　<strong>設定的內容，<a href="/zh-TW/codes/c_4#title1-2" target="_blank">請參考這裡</a>。</strong>
</h4>